	<tr>
	<!--Left Menu-->
		<td style="padding: 5px;" width="20%;" align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="left" valign="middle" bgcolor="#CAD8E9">
						<table cellpadding="0" cellspacing="0" width="100%" border="0">
						<tr>
							<td style="width:7px; height:20px;"><img src="backend/images/leftmnd.gif" /></td>
							<td width="100%" style="font-weight: bold;">Manage menu</td>
							<td style="width:7px; height:20px;"><img src="backend/images/rightmnd.gif" /></td>
						</tr>
						</table>
					</td>
				</tr>
			{if $roleId eq "0"}
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'auth'}
						<a href="admin.php?hdl=auth/list" class="TextMemud"><span style="color: #424242;">{#MENU_ACCOUNT#}</span></a>
						{else}
						<a href="admin.php?hdl=auth/list" class="TextMemud">{#MENU_ACCOUNT#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'category'}
						<a href="admin.php?hdl=category/list" class="TextMemud"><span style="color: #424242;">{#MENU_CATEGORY#}</span></a>
						{else}
						<a href="admin.php?hdl=category/list" class="TextMemud">{#MENU_CATEGORY#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'child'}
						<a href="admin.php?hdl=child/list" class="TextMemud"><span style="color: #424242;">{#MENU_CHILD#}</span></a>
						{else}
						<a href="admin.php?hdl=child/list" class="TextMemud">{#MENU_CHILD#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'inform'}
						<a href="admin.php?hdl=inform/list" class="TextMemud"><span style="color: #424242;">Quản lý tin dự án</span></a>
						{else}
						<a href="admin.php?hdl=inform/list" class="TextMemud">Quản lý tin dự án</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'promote'}
						<a href="admin.php?hdl=promote/list" class="TextMemud"><span style="color: #424242;">{#MENU_PROMOTE#}</span></a>
						{else}
						<a href="admin.php?hdl=promote/list" class="TextMemud">{#MENU_PROMOTE#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'support'}
						<a href="admin.php?hdl=support/list" class="TextMemud"><span style="color: #424242;">{#MENU_SUPPORT#}</span></a>
						{else}
						<a href="admin.php?hdl=support/list" class="TextMemud">{#MENU_SUPPORT#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'news'}
						<a href="admin.php?hdl=news/list" class="TextMemud"><span style="color: #424242;">{#MENU_NEWS#}</span></a>
						{else}
						<a href="admin.php?hdl=news/list" class="TextMemud">{#MENU_NEWS#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'interior'}
						<a href="admin.php?hdl=interior/list" class="TextMemud"><span style="color: #424242;">{#MENU_INTERIOR#}</span></a>
						{else}
						<a href="admin.php?hdl=interior/list" class="TextMemud">{#MENU_INTERIOR#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'keyword'}
						<a href="admin.php?hdl=keyword/list" class="TextMemud"><span style="color: #424242;">{#MENU_KEYWORD#}</span></a>
						{else}
						<a href="admin.php?hdl=keyword/list" class="TextMemud">{#MENU_KEYWORD#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'province'}
						<a href="admin.php?hdl=province/list" class="TextMemud"><span style="color: #424242;">{#MENU_PROVINCE#}</span></a>
						{else}
						<a href="admin.php?hdl=province/list" class="TextMemud">{#MENU_PROVINCE#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'district'}
						<a href="admin.php?hdl=district/list" class="TextMemud"><span style="color: #424242;">{#MENU_DISTRICT#}</span></a>
						{else}
						<a href="admin.php?hdl=district/list" class="TextMemud">{#MENU_DISTRICT#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'company'}
						<a href="admin.php?hdl=company/list" class="TextMemud"><span style="color: #424242;">{#MENU_COMPANY#}</span></a>
						{else}
						<a href="admin.php?hdl=company/list" class="TextMemud">{#MENU_COMPANY#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'contact'}
						<a href="admin.php?hdl=contact/list" class="TextMemud"><span style="color: #424242;">{#MENU_CONTACT#}</span></a>
						{else}
						<a href="admin.php?hdl=contact/list" class="TextMemud">{#MENU_CONTACT#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'member'}
						<a href="admin.php?hdl=member/list" class="TextMemud"><span style="color: #424242;">{#MENU_MEMBER#}</span></a>
						{else}
						<a href="admin.php?hdl=member/list" class="TextMemud">{#MENU_MEMBER#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'estate'}
						<a href="admin.php?hdl=estate/list" class="TextMemud"><span style="color: #424242;">{#MENU_ESTATE#}</span></a>
						{else}
						<a href="admin.php?hdl=estate/list" class="TextMemud">{#MENU_ESTATE#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'config'}
						<a href="admin.php?hdl=config/config_edit" class="TextMemud"><span style="color: #424242;">Config site</span></a>
						{else}
						<a href="admin.php?hdl=config/config_edit" class="TextMemud">Config site</a>
						{/if}
					</td>
				</tr>
			{elseif $roleId eq "1"}
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'estate'}
						<a href="admin.php?hdl=estate/list" class="TextMemud"><span style="color: #424242;">{#MENU_ESTATE#}</span></a>
						{else}
						<a href="admin.php?hdl=estate/list" class="TextMemud">{#MENU_ESTATE#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'inform'}
						<a href="admin.php?hdl=inform/list" class="TextMemud"><span style="color: #424242;">Quản lý tin dự án</span></a>
						{else}
						<a href="admin.php?hdl=inform/list" class="TextMemud">Quản lý tin dự án</a>
						{/if}
					</td>
				</tr>
			{else $roleId eq "2"}
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'inform'}
						<a href="admin.php?hdl=inform/list" class="TextMemud"><span style="color: #424242;">Quản lý tin dự án</span></a>
						{else}
						<a href="admin.php?hdl=inform/list" class="TextMemud">Quản lý tin dự án</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F5F5F5">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'news'}
						<a href="admin.php?hdl=news/list" class="TextMemud"><span style="color: #424242;">{#MENU_NEWS#}</span></a>
						{else}
						<a href="admin.php?hdl=news/list" class="TextMemud">{#MENU_NEWS#}</a>
						{/if}
					</td>
				</tr>
				<tr>
					<td height="22" align="left" valign="middle" bgcolor="#F9F9F9">
						<img src="backend/images/right.gif" width="8" height="7" />
						{if $mod eq 'interior'}
						<a href="admin.php?hdl=interior/list" class="TextMemud"><span style="color: #424242;">{#MENU_INTERIOR#}</span></a>
						{else}
						<a href="admin.php?hdl=interior/list" class="TextMemud">{#MENU_INTERIOR#}</a>
						{/if}
					</td>
				</tr>
			{/if}
				<tr>
					<td height="22" align="left" valign="middle">&nbsp;</td>
				</tr>
			</table>
		</td>
	<!--/Left Menu-->