<table cellpadding="0" cellspacing="0" border="0" class="hand" style="margin-right: 1px; margin-bottom: 1px;">
<tr>
	<td width="7">
   		<img src="images/tab_left.gif" width="7" height="22" border="0" alt="" id="tab_{$key}_left"></td>
	<td id="tab_{$key}_bg" class="section-inactive-tab-bg" nowrap>{$tab_text}</td>
	<td width="7">
		<img src="images/tab_right.gif" width="7" height="22" border="0" alt="" id="tab_{$key}_right"></td>
</tr>
</table>