body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Tahoma;
	font-size: 11px;
	color: #353535;
}
.border_img_white {
	border: 1px solid #FFFFFF;
}
.border_img {
	border: 1px solid #D3D3D3;
	padding: 1px;
}
.border_img_vip {
	border: 1px solid #FF0033;
	padding: 1px;
}
.border_img_enhance {
	border: 1.5px solid #FF0033;
	padding: 1px;
}

.border_img_new_news {
	border: 1px solid #D3D3D3;
}

A {
	color: #3D3D3D;
	TEXT-DECORATION: none;
}
A:hover {
	color: #CC3333;
	TEXT-DECORATION: none;
}

A:visited {
	color: #353535;
	TEXT-DECORATION: none;
}

#menu A {
	DISPLAY: block;
	COLOR: #135A97;
	TEXT-DECORATION: none;
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	background-image: url(../images/menu_bg.jpg);
	padding-top: 8px;
}
#menu A:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(../images/menu_bg_h.jpg);
	background-repeat: repeat-x;
}

#menu A.selected {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(../images/menu_bg_h.jpg);
	background-repeat: repeat-x;
}
#menu1 A {
	DISPLAY: block;
	COLOR: #484848;
	TEXT-DECORATION: none;
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	background-image: url(../images/c3.jpg);
	padding-top: 8px;
}
#menu1 A:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #CC0303;
	background-image: url(../images/bg_hover.jpg);
	background-repeat: repeat-x;
}
#menu1 A.selected {
	font-family: Tahoma;
	font-size: 11px;
	color: #CC0303;
	background-image: url(../images/bg_hover.jpg);
	background-repeat: repeat-x;
}

.form_search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #737373;
	border: #A5ACB2 1px solid;
	background-color: #FFFFFF;
	width: 155px;
}
.form_search1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-image: url(../images/bg_form_search.jpg);
	background-repeat: repeat-x;
	width: 180px;
	border: 1px solid #AFBADD;
}
.form_search2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-image: url(../images/bg_form_search.jpg);
	background-repeat: repeat-x;
	width: 180px;
	border: 1px solid #AFBADD;
}
.bg_menu {
	background-image: url(../images/menu_bg.jpg);
	background-repeat: repeat-x;
}
.text_white {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 35px;
}
.text_blue {
	font-family: Tahoma;
	font-size: 11px;
	color: #135A97;
	text-decoration: none;
}
.text_red {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #CF242C;
	text-decoration: none;
}
.text_tknc {
	font-family: Tahoma;
	font-size: 11px;
	color: #135A97;
	text-decoration: underline;
}
.dropdown{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #737373;
	border: #A5ACB2 1px solid;
	background-color: #FFFFFF;
	height: 17px;
}
.input_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	border: #E2E2E2 1px solid;
	height: 15px;
	width:250px;
}
.textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	border: #E2E2E2 1px solid;
	height: 100px;
	width:90%;
}
.inputfield {
			BORDER: #808080 1px solid; 
			FONT-FAMILY: Arial,Verdana,Helvetica,sans-serif;
			FONT-WEIGHT: normal; 
			FONT-SIZE: 9pt; 
			COLOR: #2E6AF1; 
			FONT-FAMILY: arial; 
			BACKGROUND-COLOR: #FFFFFF
}

.bnt_search {
	background:transparent url(../images/bt_search.jpg) no-repeat;
	float:left;
	height:22px;
	width:22px;
}
.bnt_search a {
	background:transparent url(../images/bt_search.jpg) no-repeat;
	float:left;
	height:27px;
	width:69px;
}
.bnt_search a:hover {
	background:transparent url(../images/bt_search_hover.jpg) no-repeat;
	float:left;
	height:27px;
	width:69px;
}
.bnt_timkiem {
	background:transparent url(../images/bt_tim.jpg) no-repeat;
	float:left;
	height:21px;
	width:41px;
}
.bnt_timkiem a {
	background:transparent url(../images/bt_tim.jpg) no-repeat;
	float:left;
	height:21px;
	width:41px;
}
.bnt_timkiem a:hover {
	background:transparent url(../images/bt_tim_hover.jpg) no-repeat;
	float:left;
	height:21px;
	width:41px;
}
.bnt_dn {
	background:transparent url(../images/bt_dn.jpg) no-repeat;
	height:22px;
	width:92px;
	float:left;
	}
.bnt_dn a {
	background:transparent url(../images/bt_dn.jpg) no-repeat;
	height:22px;
	width:92px;
	float:left;
}
.bnt_dn a:hover {
	background:transparent url(../images/bt_dn_hover.jpg) no-repeat;
	height:22px;
	width:92px;
	float:left;
}
.addfav {
	background:transparent url(../images/save.gif) no-repeat scroll left center;
	height:22px;
	margin:10px 0;
	padding-left:25px;
	padding-top:5px;
}

.pageLink {
	background: #E5EBF7; 
	border: #C0C9E2 1px solid; 
	padding-left: 5px; 
	padding-right: 5px;
}