.linemenu{
	width:200px;
	display: table-cell;
	text-align: left;
	float:left;
}

.linemenu_un{
	float: left;
	width: 210px;
	margin-left: auto;
	
	margin-left: 15px;
	display:inline
}

.text1{ font-family: Tahoma; font-size: 11px; color:#333;}
.text1 a{ font-family: Tahoma; font-size: 11px; color:#333; text-decoration:none;}
.text1 a:hover{ font-family: Tahoma; font-size: 11px; color:#333; text-decoration: underline;}
