html{
background: #fff !important;
padding:10px;
}
.alert{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.alert p{margin:9px 0}.modal{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.alert-success h4{color:#468847}.alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-danger h4,.alert-error h4{color:#b94a48}.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.alert-info h4{color:#3a87ad}
.top {
background-color: #FF6F28;
float: left;
height: 25px;
width: 5px;
}
/*	Notification Boxes
----------------------------------------------------------------------*/
.notification-box {
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	color:#fff;
	font-size: 14px;
	font-family: Tahoma;
	margin-top:-10px;
}
.notif-anim {
	-webkit-animation: lightSpeedInLeft 1.3s 1;
	-moz-animation: lightSpeedInLeft 1.3s 1;
	-ms-animation: lightSpeedInLeft 1.3s 1;
	-o-animation: lightSpeedInLeft 1.3s 1;
	animation: lightSpeedInLeft 1.3s 1;
}
a.notification-close {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #FFF;
	font-size: 12px;
}
.notification-box p {
	margin: 0;	
}
.notification-box-info {
	background-color: #65cad3;
}
.notification-box-success {
	background-color: #1abc9c;
}
.notification-box-warning {
	background-color: #eed880;
}
.notification-box-error {
	background-color: #e06f6f;
}

.pagedata{min-height: 10px !important;}

.jquery_tab_title img{
vertical-align: middle;
margin-bottom: 3px;
}

.button-unselect{
border:1px solid #ccc;
background:#e9e9e9;
padding:10px;
color:green;
}

.button-unselect:hover{
background: #e5e5e5;
}

.button-select{
border:1px solid #ccc;
background:#f9f9f9;
padding:10px;
border-bottom:0px;
}
.contentArea{
width:600px;
margin:0 auto;
}
#inputSearch
{
width:500px;
padding:5px;
border:1px solid #959595;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
background-color:#eaeaea;
	background-image: url(Images/icon/search.png);
background-repeat: no-repeat;
background-position: 8px 6px;
color:#333;
padding:6px 15px 6px 30px;
}
#divResult
{
position:absolute;
width:500px;
display:none;
margin-top:-1px;
border:solid 1px #dedede;
border-top:0px;
overflow:hidden;
box-shadow: 0px 0px 5px #999;
border-width: 3px 1px 1px;
border-style: solid;
border-color: #333 #DEDEDE #DEDEDE;
background-color: #eaeaea;
margin-left:49px;
}
.display_box
{
padding:4px; border-top:solid 1px #dedede; 
font-size:12px; height:50px;
}
.display_box:hover
{
background:#999;
color:#FFFFFF;
cursor:pointer;
}
/*Small reset*/
img{
border:none;
}
.items
{
padding-left:60px;height:30px;width:80%;
margin-top:3px;
clear:both;
}
.items .label
{
float:left;width:110px;
text-align:right;
}
.items .input
{
float:left;width:400px;padding-left:20px;
}


body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
margin:0;
padding:0;
}

a{
text-decoration:none !important;
}
a:hover{
color:#09C !important;
}

#loading{
border-bottom-left-radius: 10px;
background:#000;
padding:10px;
position: fixed;
top: 0;
right: 0;
text-align:center;
color:#fff;
opacity: 0.9;
z-index:99999;
display: none;
}
/*----------------------------------------

1.) Special Styles for Login Page
2.) Styles for Admin Area
2.1) Head
2.2) Bg_wrapper
2.2.1) Main
2.2.2) Sidebar
2.2.3) Content
2.2.3.1) Dashboard
2.2.3.2) Content Box
2.2.3.3) Input fields, Textareas, Dropdown lists, etc
2.2.3.4) Tables
2.2.3.5) Response Messages
3.) Footer
4.) Fonts, Images basic selectors
5.) Containers and classes created by jquery

----------------------------------------*/

/*----------------------------------------
1.) Special Styles for Login Page
----------------------------------------*/
body.nobackground{ /*Login page doesnt need a background-image*/
background-color:#484848;
background-image:none;
}

#login{
background:#FFFFFF url(../images/scheme1/bg.jpg) repeat-x scroll 0 -20px;
height:360px;
margin:0 auto;
padding:25px;
position:relative;
width:252px;
}

#login .logo a{
left:37px;
top:10px;
}

#login-form{
padding-top:135px;
}

#login-form p{
padding-bottom:10px;
}

.forgot_pw{
display:block;
float:right;
font-size:10px;
padding:4px;
}

.remember{
display:block;
float:left;
}

.icon_login{
background-image:url(../icons/lock.html);
height:32px;
position:absolute;
right:13px;
top:143px;
width:32px;
}

.loginheading {
border:medium none;
color:#3A3A3A;
font-size:15px;
left:25px;
position:absolute;
top:103px;
font-weight: bold;
}

body .login_message{
width:282px;
margin:15px auto;
}

body .login_message p{
padding:10px 20px 10px 52px;
background-position:15px 8px;
}


/*----------------------------------------
2.) Styles for Admin Area
----------------------------------------*/
html{
background:#484848;
}

body{
font-size:12px;
/*font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;*/
font-family: sans-serif;
line-height:1.5em;
color:#484848;
position:relative;
}
.pagedata
{
min-height: 40px;    
}
.pagedata .pageitem
{
float: left;display: table;
}
#top{
position:relative;
min-width:760px;
max-width:1440px;
margin:0 auto;
}

/*----------------------------------------
2.1) Head
----------------------------------------*/

#head{
position:relative;
background:transparent url(../images/bg_head.png) no-repeat;
height:156px;
color:#fff;
}

#head a{color:#eee; text-decoration:none;}
#head a:hover{color:#fff; text-decoration:underline;}

.logo{
width:234px;
height:90px;
position:absolute;
z-index:1;
left:0;
}

.logo a{
width:234px;
height:90px;
display:block;
position:absolute;	
text-indent:-99999px;
background:transparent url(../images/logo.png) no-repeat;
top:30px;
left:30px;
outline:none;
z-index:1;
}

.head_memberinfo{
position:absolute;
right:40px;
top:20px;
z-index:2;
font-size:11px;
line-height:13px;
}

.memberinfo_span{
display:block;
float:left;
padding-right:5px;
margin-right:5px;
border-right:1px solid #eee;
}

.memberinfo_span2{
display:block;
clear:both;
padding-top:5px;
}

#head .memberinfo_span2 a{
color:#999;	
}
.head_memberinfo_logo{
position:absolute;	
left:-40px;
} 

.head_memberinfo_logo img{
position:absolute;
top:0;
z-index:1;
} 

.head_memberinfo_logo span{
font-size:10px;
left:23px;
position:absolute;
top:2px;
z-index:2;
} 

/*----------------------------------------
2.2) Main
----------------------------------------*/
#bg_wrapper{
background:transparent url(../images/bg_main.jpg) repeat-y scroll left top;
border-left:1px solid #C0C0C0;
float:left;
margin:0 0 0 -1px;
position:relative;
width:100%;

}
/*----------------------------------------
2.2.1) Main
----------------------------------------*/
#main{
float:right;
width:100%;
margin-left:-300px;
position:relative;
}



/*----------------------------------------
2.2.2) Sidebar
----------------------------------------*/

#sidebar{
float:left;
width:200px;
position:relative;
}

#sidebar ul{
list-style-type:none;
list-style-position:outside;
}

#sidebar li a{
line-height:32px;
width:156px;
text-decoration:none;
display:block;
padding: 0 20px;
background:transparent url(../images/dotted_line.gif) repeat-x left top;
outline:none;
}
#sidebar li a span img
{
border-width:0px;
}
#sidebar li a:hover{
background-color:#fff;
}

#sidebar .current a{
background-color:#fff;
}


#sidebar .headitem:hover{
color:#555;
}

#sidebar .headitem{
line-height:64px;
width:130px;
padding: 0 10px 0 60px;
font-size:15px;
border-top:1px solid #c0c0c0;
}
			
#top #sidebar .item1{ background:transparent url(../icons/Computer.png) no-repeat 15px center;	}
#top #sidebar .item2{ background:transparent url(../icons/advanced.png) no-repeat 15px center;	}
#top #sidebar .item3{ background:transparent url(../icons/applications.png) no-repeat 15px center;	}
#top #sidebar .item4{ background:transparent url(../icons/edit.png) no-repeat 15px center;	}
#top #sidebar .item5{ background:transparent url(../icons/search.png) no-repeat 15px center;	}
#top #sidebar .item6{ background:transparent url(../icons/trash.png) no-repeat 15px center;	}
#top #sidebar .item7{ background:transparent url(../icons/copy%20doc.png) no-repeat 15px center;	}

/*----------------------------------------
2.2.3) Content
----------------------------------------*/
#content{
margin-left:232px;
margin-right:30px;
padding-top:30px;
position:relative;
}



/*----------------------------------------
2.2.3.1) Dashboard
----------------------------------------*/			
.dashboard_button{
float:left;
width:133px;
height:80px;
overflow:hidden;
border:1px solid #c0c0c0;
padding:15px;
margin:0 10px 10px 0;
background:#eaeaea url(../images/highlight_line.gif) repeat-x top left;
font-size:11px;
line-height:1.4em;
text-decoration:none;
color:#a1a1a1;
}

.dashboard_button span{
display:block;
padding-top:7px;
}

#top .dashboard_button_heading{
display:block;
color:#4a4a4a;
font-size:14px;
padding:0 0 0 40px;
line-height:29px;
height:35px;
}

#top .two_lines.dashboard_button_heading{
line-height:17px;
}


.dashboard_button:hover{
background:#ddd;
border:1px solid #aaa;
padding-top:16px;
height:79px;
}

#top .dashboard_button:hover .dashboard_button_heading{
color:#222;
}


#top .button1 .dashboard_button_heading{ background:transparent url(../icons/Computer.png) no-repeat 0px top;	}
#top .button2 .dashboard_button_heading{ background:transparent url(../icons/advanced.png) no-repeat 0px top;	}
#top .button3 .dashboard_button_heading{ background:transparent url(../icons/applications.png) no-repeat 0px top;	}
#top .button4 .dashboard_button_heading{ background:transparent url(../icons/edit.png) no-repeat 0px top;	}
#top .button5 .dashboard_button_heading{ background:transparent url(../icons/search.png) no-repeat 0px top;	}
#top .button6 .dashboard_button_heading{ background:transparent url(../icons/trash.png) no-repeat 0px top;	}
#top .button7 .dashboard_button_heading{ background:transparent url(../icons/window.png) no-repeat 0px top;	}
#top .button8 .dashboard_button_heading{ background:transparent url(../icons/archive.png) no-repeat 0px top;	}
#top .button9 .dashboard_button_heading{ background:transparent url(../icons/send.png) no-repeat 0px top;	}
#top .button10 .dashboard_button_heading{ background:transparent url(../icons/users.png) no-repeat 0px top;	}
#top .button11 .dashboard_button_heading{ background:transparent url(../icons/picture.png) no-repeat 0px top;	}
#top .button12 .dashboard_button_heading{ background:transparent url(../icons/help.png) no-repeat 0px top;	}

/*----------------------------------------
2.2.3.2) Content Box
----------------------------------------*/

.content-box{
background:#FFF6BF url(../images/highlight_line.gif) repeat-x scroll 0 0;
border:1px solid #FDD845;
float:left;
width:47%;
margin-right:0.6%;
padding:1%;
}

#top .box-grey{
background:#EAEAEA url(../images/highlight_line.gif) repeat-x scroll left top;
border:1px solid #C0C0C0;
}

#top .box2{
margin:0;
clear:none;
}

.content-box h4{
color:#333;
}

/*----------------------------------------
2.2.3.3) Input fields, Textareas, Dropdown lists, etc
----------------------------------------*/
label{
display:block;
padding-bottom:3px;
}
		
label.inline{
display:inline;
}	

.input-small, .input-medium, .input-big, .input-flex, select, textarea{
padding:5px;
border:1px solid #959595;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
background-color:#eaeaea;
color:#333;
}
.input-small{width:120px;}
.input-medium{width:240px;} 
.input-big{width:480px;} 
.input-flex{width:70%;}

textarea, iframe , .wysiwyg{
overflow:auto;
}

.button{
border:1px solid #959595;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
background-color:#18356B;
padding:5px 15px;
color:#fff;
cursor:pointer;

}

.button:hover{
padding:6px 15px 4px;
}

textarea{
line-height:1.5em;
width:70%;
height:200px;
}

/*----------------------------------------
2.2.3.4) Tables
----------------------------------------*/	
.tabledata
{
padding:0px;	
font-size: 12px;	
background: rgba(255,255,255,0.9);
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	font-size: 12px;	
font-family: 'Tahoma', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}	
.tabledata thead
{

}	
.tabledata thead tr 
{
background-color:#F4F4F4;

}
.tabledata thead tr th
{
background-color:#F4F4F4;
border-width:0px;
padding:5px;
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
}	
.tabledata tbody
{

}	
.tabledata tbody tr
{}
.tabledata tbody tr td
{
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
text-align:center;
vertical-align:middle;
padding:5px;
}

.tabledata tbody tr:hover{
background:#EBFCE0;

}

.imageview
{
width:85px;
height:83px;
border:solid 1px #ccc;
padding:4px 3px 4px 3px;
border-radius:5px;
}

.imageview:hover{
box-shadow:0px 0px 8px green;
cursor:pointer;
}

.imageview img
{
width:80px;
height:80px;
border:solid 1px #ccc;
}
.itempage
{
background:#099;
color:#fff;
border: solid 1px #06C;
text-align: center;
vertical-align: middle;
display: table;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
padding:0 5px 0 5px;
border-radius:2px;
font-family:Segoe UI, Tahoma;
}

.itempage:hover{
background:#906;
border: solid 1px #903;
}

.itempage.active
{
background:#C99;
border: solid 1px #C39;
text-align: center;
vertical-align: middle;
display: table;
margin-left: 5px;
text-decoration: none;
float: left;
margin-top: 10px;
margin-bottom: 10px;
padding:0 5px 0 5px;
font-weight:bold;
color:#fff;
border-radius:2px;
}

.actionbutton
{
cursor: pointer;
}
/*	#top table{
margin-bottom:30px;	
}

#table_fixed {
width: 470px;
padding: 0;
margin: 0;
font-size:11px;
}

#table_fixed caption {
padding: 0 0 5px 0;
width: 470px;	 
text-align: right;
}

#table_liquid {
width: 100%;
padding: 0;
margin: 0;
font-size:11px;
clear:both;
}

#table_liquid caption {
padding: 0 0 5px 0;
width: 100%;	 
text-align: right;
}

#table_auto {
width: auto;
padding: 0;
margin: 0;
font-size:11px;
clear:both;
}

#table_auto caption {
padding: 0 0 5px 0;
width:auto;	 
text-align: right;
}

th {
border-color:#959595 #959595 #959595 #FFFFFF;
border-style:solid;
border-width:1px;
color:#fff;
letter-spacing:2px;
padding:6px 6px 6px 12px;
text-align:left;
text-transform:uppercase;
}

th.nobg {
border-top: 0;
border-left: 0;
border-right: 1px solid #959595;
background: none;
color:#484848;
}

td {
border-right: 1px solid #959595;
border-bottom: 1px solid #959595;
background: #fff;
padding: 6px 6px 6px 12px;
color: #484848;
}



th.spec {
border-left: 1px solid #959595;
border-top: 0;
background: #fff url(../images/bullet2.gif) no-repeat;
font-weight:bold;
font-size: 10px;
color:#484848;
}

th.specalt {
border-left: 1px solid #959595;
border-top: 0;
font-weight:bold;
font-size: 10px;
}


*/
/*----------------------------------------
2.2.3.5) Response Messages
----------------------------------------*/
.message {
border:1px solid;
margin:0 10px 20px 0;
}

.message p{
padding:20px 20px 20px 52px;	
}	


.success{
background:#E6EFC2 url(../images/highlight_line.gif) repeat-x scroll 0 0;
border-color:#C6D881;
}

.success p{
background:transparent url(../images/24_tick.png) no-repeat scroll 15px 16px;
}

.warning{
background:#FFF6BF url(../images/highlight_line.gif) repeat-x scroll 0 0;
border-color:#FDD845;
}

.warning p{
background:transparent url(../images/24_alert.png) no-repeat scroll 15px 17px;
}

.error{
background:#FBE3E4 url(../images/highlight_line.gif) repeat-x scroll 0 0;
border-color:#FBC7C9;
}

.error p{
background:transparent url(../images/24_x_false.png) no-repeat scroll 15px 17px;
}

.tip{
background:#A8B2C5 url(../images/highlight_line.gif) repeat-x scroll 0 0;
border-color:#8497BF;
}

.tip p{
background:transparent url(../images/24_information.png) no-repeat scroll 15px 17px;
}


/*----------------------------------------
3.) Footer
----------------------------------------*/
#footer{
clear:both;
height:30px;
background-color:#fff;
border-top: solid 1px #ccc;
}


/*----------------------------------------
4.) Fonts, Images basic selectors
----------------------------------------*/
h1,h2,h3,h4,h5,h6{
line-height:1.8em;
font-weight:normal;
margin:0 0 7px;
color:#c0c0c0;
}

h1{font-size:22px;}
h2{font-size:20px; border-bottom:1px solid #c0c0c0; clear:both; margin-right:10px;}
h3{font-size:18px;}
h4{font-size:17px;}
h5{font-size:16px;}
h6{font-size:14px;}

p{padding:0 0 22px 0}

a{color:#222; text-decoration:underline;}
a:hover{color:#333; text-decoration:none;}

blockquote{
padding:5px 30px 0 15px;
background-repeat:no-repeat;
background-position:top left ;
margin:10px 0 10px 15px;
border-left:3px solid #fff;
color:#fff;
}

blockquote em{
color:#ff0000;
padding:0px 40px  0px 0px;
background-repeat:no-repeat;
background-position:top right;
display:block;
text-align:right;
font-style:italic;
}

#top .noborder, #top .noborder a, #top noborder ima a{
border:none;
padding:0;
}

/*----------------------------------------
5.) Containers and classes created by jquery
----------------------------------------*/	
.closeable{
position:relative;
}

.click_to_close{
right:2px;
top:2px;
position:absolute;
height:16px;
width:16px;
background:transparent url(../images/close.png) no-repeat scroll 0 0;
cursor:pointer;
}

.jquery_tab_container{
left:-30px;
position:absolute;
top:-35px;
z-index:30;
}

.jquery_tab{
width:100%;
float:left;
margin-bottom: 20px;
}

.jquery_tab_container a{
display: block;
float:left;
line-height:34px;
padding:0 15px;
background-color:#d5d5d5;
margin-right:1px;
text-decoration:none;
color:#a1a1a1;
font-size:13px;
outline:none;
border-left:1px solid #d5d5d5;
border-right:1px solid #d5d5d5;
border-bottom:1px solid #999;
}

.jquery_tab_container .active, .jquery_tab_container a:hover{
background:transparent url(../images/bg_tab.png) repeat-x;
padding-bottom:2px;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-bottom:none;
color:#4a4a4a;
}

#top .flexy_datepicker{
font-size:11px;
margin-bottom:25px;
}

#top .flexy_datepicker table{
margin:0;
}

#top .ui-datepicker {
padding:0.2em;
}

#top #sidebar .ui-datepicker{

border-left:medium none;
border-right:medium none;
padding:0.2em;
width:266px;}

#top .wysiwyg{
background-color:#EAEAEA;
border:1px solid #959595;
}

#top div.wysiwyg ul.panel li a {
border:1px solid #959595;
}

#dialog{
display:none;
}

.clearboth{
clear:both;
}

.like-dis-bar{
width: 100px;height: 3px;display: table;margin: 0 auto 0 auto;border: 1px solid #ccc;box-shadow:0px 0px 2px black;
}

.likebar{
float:left;height: 3px;background-color: green;
}

.dislikebar{
float:left;height: 3px;background-color: red;
}
/*-- Header banner --*//*==============================================================*/

#header {    background-color: #fff;    margin-top: 35px;    }#header .inner {    width: 1000px;    margin-right: auto;    margin-left: auto;    position:relative;}#header .inner .logo{    top:0px;            }#header .inner .adsbanner{    top:0px;    right:1px;    position:absolute;    display:block;    overflow: hidden;}

/*-- Top header --*//*===============================================*/.topheader {    font-family: Arial, Helvetica, sans-serif;    font-size: 14px;    text-transform: none;    color: #FFF;    background-color: #464646;    text-align: center;    vertical-align: top;    overflow: hidden;    position: fixed;    top:0px;    left:0px;    z-index: 999;    display:block;    height:40px;    width:100%;}.topheader .inner {    font-family: Arial, Helvetica, sans-serif;    font-size: 14px;    color: #FFF;    width:1000px;    height:40px;    margin-left:auto;    margin-right:auto;}/*-- Top left header --*/.topheader .inner .topleftmenu {    display: inline-block;    float:left;}.topheader .inner .topleftmenu a{    color:#FFF;    text-shadow: 1px 1px 0px #121212;    text-decoration:none;    display:inline-block;    padding:12px;}.topheader .inner .topleftmenu a:hover{    background-color:#292929;}/*-- Top right header --*/.topheader .inner .toprightmenu {    font-family: Arial, Helvetica, sans-serif;    font-size: 14px;    color: #FFF;    text-align: right;    float: right;    /*width:200px;*/}.topheader .inner .toprightmenu .more{    width:40px;    height:40px;    display:inline-block;    background:url(vietitclub/metro/header/icon.png) 0px 0px no-repeat;    float:right;}.topheader .inner .toprightmenu .more:hover{    background-color:#292929;}
.topheader .inner .toprightmenu .username{    height:40px;    display:block;    float:right;    padding-left:5px;    padding-right:5px;    color:#FFF;    text-decoration:none;    text-shadow: 1px 1px 0px #121212;}.topheader .inner .toprightmenu .username .avatar{    height:31px;    width:31px;    -webkit-border-radius: 2px;    -moz-border-radius: 2px;    border-radius: 2px;    border:0px;    border:2px solid #CCC;    float:left;    margin-top:3px;}.topheader .inner .toprightmenu .username span{    padding:12px;    padding-right:5px;    padding-left:5px;    display:inline-block;}.topheader .inner .toprightmenu .username:hover{    background-color:#292929;}
/*-- Top right header menu More --*/ul.dropmore{    background-color:#464646;    color: #FFF;    font-family: Arial, Helvetica, sans-serif;    font-size: 14px;    display: block;    width: 200px;    position: fixed;    z-index:999;    top: 40px;    right: 0px;    text-align: left;}ul.dropmore li{    display: block;}ul.dropmore li:hover{    background-color:#292929;}ul.dropmore li a{    color: #FFF;    font: inherit;    display: block;    padding: 10px;}

.topheader .inner .toprightmenu .notify{    height:40px;    display:block;    float:right;    padding-left:5px;    padding-right:5px;    color:#FFF;    text-decoration:none;    text-shadow: 1px 1px 0px #121212;    position: relative;}.topheader .inner .toprightmenu .notify:hover{    background-color:#292929;}.topheader .inner .toprightmenu .notify span{    padding:12px;    padding-right:5px;    padding-left:5px;    display:inline-block;}
.topheader .inner .toprightmenu .notify .notifynumber{    background-color: #F03D25;    border: 1px solid #D83722;    border-bottom: 1px solid #C0311E;    border-top: 1px solid #E23923;    -webkit-border-radius: 2px;    -moz-border-radius: 2px;    border-radius: 2px;    -webkit-box-shadow: 0 1px 0 rgba(0, 39, 121, .77);    box-shadow: 0 1px 0 rgba(0, 39, 121, .77);    display: inline-block;    padding: 0 1px;    color: white;    font-size: 9px;    font-weight: bold;    position: absolute;    top: 1px;    right: 1px;}
.topheader .inner .toprightmenu .username .avatar {    height: 31px;    width: 31px;    border-radius: 2px 2px 2px 2px;    border: 2px solid rgb(204, 204, 204);    float: left;    margin-top: 3px;} 
body{
background:#fff url() repeat-x;
}
img{
border:none;
}
.boundimga{
padding: 5px;background-color: #fff; border: solid 1px #ccc;
}
.imgthumb
{
border: solid 1px #ccc;width: 80px; height: 80px;
}
.search-ac {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fdfdfd;
  border: 1px solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: linear-gradient(to bottom, #fdfdfd, #eceef4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.search-ac:hover {
  display: block;
}
.search-ac li {
  display: block;
}
.search-ac li:first-child {
  margin-top: -1px;
}
.search-ac li:first-child:before, .search-ac li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 80%;
  margin-left: -5px;
  border: 5px outset transparent;
}
.search-ac li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}
.search-ac li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}
.search-ac li:first-child:hover:before, .search-ac li:first-child:hover:after {
  display: none;
}
.search-ac li:last-child {
  margin-bottom: -1px;
}
.search-ac a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0 1px white;
  border: 1px solid transparent;
  border-radius: 3px;
	font-size:14px;
}
.search-ac a span {
  font-weight: 200;
}
.search-ac a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
}
.search-ac a:hover {
  color: black;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #2380dd #2179d5 #1a60aa;
  background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
  background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}
.search-title{
	padding-left:10px;
	margin-top:10px;
	font-size:13px;
	color:black;
	font-weight:bold;
}
.light {
  background: #f3f3f3;
  overflow: hidden; }

.wrapper {
  margin: 0;
  padding: 4em; }

.doc {
  border-bottom: 1px solid #ccc;
  margin: 1em auto;
  width: 40%; }
  .doc .title {
    text-align: center; }

/*!
 * The important stuffs. The ones that you should copy-paste and use.
 */
.paginate {
  text-align: center; }
  .paginate ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .paginate li {
    display: inline; }
  .paginate a {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
    margin: 1px 2px;
    padding: 5px 10px;
    display: inline-block;
    border-top: 1px solid #fff;
    text-decoration: none;
    color: #717171;
    font-size: smaller;
    font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
    text-shadow: white 0 1px 0;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: linear-gradient(top, #f9f9f9, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); }
    .paginate a:first-child, .paginate a.first {
      margin-left: 0; }
    .paginate a:last-child, .paginate a.last {
      margin-right: 0; }
    .paginate a:hover, .paginate a:focus {
      border-color: #fff;
      background-color: #fdfdfd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
      background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
      background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
      background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
      background-image: -o-linear-gradient(top, #fefefe, #fafafa);
      background-image: linear-gradient(top, #fefefe, #fafafa);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
    .paginate a.more {
      box-shadow: 0 0 0 0 transparent;
      border: 0 none;
      background: transparent;
      margin-left: 0;
      margin-right: 0; }
    .paginate a.active {
      box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
      border-color: #505050;
      color: #f2f2f2;
      text-shadow: black 0 1px 0;
      background-color: #676767;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
      background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
      background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c'); }

.paginate-dark a {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
  border-top: 1px solid #62686d;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  color: #fff;
  background-color: #4e5458;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575e63), to(#3f4347));
  background-image: -webkit-linear-gradient(top, #575e63, #3f4347);
  background-image: -moz-linear-gradient(top, #575e63, #3f4347);
  background-image: -ms-linear-gradient(top, #575e63, #3f4347);
  background-image: -o-linear-gradient(top, #575e63, #3f4347);
  background-image: linear-gradient(top, #575e63, #3f4347);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347'); }
  .paginate-dark a:hover, .paginate-dark a:focus {
    border-color: #61788a;
    background-color: #4d6374;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#566f82), to(#3e505e));
    background-image: -webkit-linear-gradient(top, #566f82, #3e505e);
    background-image: -moz-linear-gradient(top, #566f82, #3e505e);
    background-image: -ms-linear-gradient(top, #566f82, #3e505e);
    background-image: -o-linear-gradient(top, #566f82, #3e505e);
    background-image: linear-gradient(top, #566f82, #3e505e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e'); }
  .paginate-dark a.active {
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
    border-color: #2d3035;
    background-color: #303338;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#303338), to(#2d3034));
    background-image: -webkit-linear-gradient(top, #303338, #2d3034);
    background-image: -moz-linear-gradient(top, #303338, #2d3034);
    background-image: -ms-linear-gradient(top, #303338, #2d3034);
    background-image: -o-linear-gradient(top, #303338, #2d3034);
    background-image: linear-gradient(top, #303338, #2d3034);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034'); }
	

