* {
margin: 0;
padding: 0;
}

/* __________________________________________________ General Tags */
body {
font: 11px/18px Verdana, Sans-Serif;
text-align: center;
color: #999;
background: #fff;
}
:focus { outline: none; }
a {
text-decoration: none;
color: #444;
border-bottom: 1px solid #ccc;
}
	a:hover {
	color: #222;
	border-color: #aaa;
	}
img { border: 0; vertical-align: middle;}
p, ul, ol, form, table { margin: 0 0 20px; }
	ul, ol { margin-left: 20px; }
code, pre {
padding: 4px;
font-family: 'Lucida Console', Monospace;
color: #888;
background: #fff;
}
	pre {
	margin: 0 auto 25px;
	padding: 10px;
	width: 75%;
	border: 1px solid #ddd;
	}
/* Forms */
form p { margin: 0 0 10px; }
label {
display: block;
color: #777;
font: 13px/20px Arial, Sans-Serif;
}
	label span {
	margin: 0 0 0 5px;
	font-size: 10px;
	color: #999;
	}
		label span a { color: #999; }
			label span a:hover { color: #777; }
input, textarea, select {
padding: 7px;
font: 11px/18px Verdana, Sans-Serif;
color: #666;
border: 1px solid #ddd;
background: #fff url(../images/round.png) repeat-x 0 1px;
}
	input.small, select.small { width: 25%; }
	input.medium, select.medium { width: 50%; }
	input.large, select.large { width: 96%; }
		.sidebar input.large, .sidebar select.large, #login input.large { width: 90%; }
	textarea.small { width: 30%; height: 75px; }
	textarea.large { width: 96%; height: 300px; }
	input.button {
	padding: 5px 20px;
	color: #fff;
	font-weight: bold;
	background: #888 url(../images/button.png) repeat-x;
	border: 1px solid #888;
	}
		input.button:hover {
		cursor: pointer;
		border-color: #777;
		}
	/* Messages next to the inputs */
	.formerror {
	padding: 0 0 0 20px;
	font-weight: bold;
	color: #9e1111;
	background: url(../images/icons/error.png) no-repeat left center;
	}
	.formsuccess {
	padding: 0 0 0 20px;
	font-weight: bold;
	color: #11a322;
	background: url(../images/icons/success.png) no-repeat left center;
	}
	.hint {
	font-size: 10px;
	font-style: italic;
	color: #999;
	}
/* Table styles */
table {
width: 100%;
border-collapse: collapse;
}
	th, td { padding: 10px; }
	th {
	padding: 5px 10px;
	font-weight: normal;
	color: #fff;
	background: #ccc url(../images/th.png) repeat-x;
	border-bottom: 1px solid #aeaeae;
	}
	td {
	color: #999;
	background: #fff;
	border-bottom: 1px solid #eee;
	}
		tr:hover td { color: #555; }
		tr.alt td { background: #f9f9f9; }
		td.pagination, td.pagination:hover {
		padding: 5px 10px;
		text-align: right;
		color: #fff;
		background: #ccc url(../images/th.png) repeat-x;
		border-top: 1px solid #aeaeae;
		}
			td.pagination strong { font-weight: normal; }
			td.pagination a { color: #eee; border: 0; }
				td.pagination a:hover { color: #fff; }
		td.options { text-align: center; }
			td.options a { border: 0; }

/* __________________________________________________ Structure */
/* Header */
#headerwrap {
width: 100%;
height: 125px;
border-bottom: 1px solid #4c4c4c;
}
	#header {
	position: relative;
	margin: 0 0 0 20px;
	text-align: left;
	background: url(../images/header.png) no-repeat;
	}
		#header h1 a {
		font: 40px/125px Arial, Sans-Serif;
		letter-spacing: -3px;
		color: #000000;
		border: 0;
		}
		#info {
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -9px;
		color: #aaa;
		}
			#info p { margin: 0; text-align: right; }
			#info a { color: #eee; border: 0; }
				#info a:hover { color: #fff; }
/* Main navigation */
#navigationwrap {
width: 100%;
height: 55px;
background: #999 url(../images/navigation.png) repeat-x;
border-top: 1px solid #b3b3b3;
}
	#navigation { margin: 0 0 0 1.5%; }
	#navigation ul { margin: 0; padding: 0; list-style: none; }
		#navigation ul li {
		display: block;
		float: left;
		padding: 0 12px;
		line-height: 55px;
		}
			#navigation ul li.first { padding-left: 0; }
			#navigation ul li a {
			padding: 5px 16px 5px 32px;
			font: 14px/1 Arial, Sans-Serif;
			color: #666;
			background-repeat: no-repeat;
			background-position: 10px center;
			border: 0;
			}
				#dashboard a { background-image: url(../images/icons/dashboard.png); }
				#pages a { background-image: url(../images/icons/pages.png); }
				#users a { background-image: url(../images/icons/users.png); }
				#settings a { background-image: url(../images/icons/settings.png); }
                                #messages a { background-image: url(../images/icons/comments.png); }
                                #requested a { background-image: url(../images/icons/request.png); }
				#navigation ul li a:hover { color: #fff; background-color: #777; }
/* Subnavigation */
#subnavigationwrap {
width: 100%;
height: 35px;
background: #ccc;
border-top: 1px solid #888;
}
	#subnavigation { margin: 0 0 0 1.5%; }
	#subnavigation ul { margin: 0; padding: 0; list-style: none; }
		#subnavigation ul li {
		display: block;
		float: left;
		}
			#subnavigation ul li a {
			display: block;
			padding: 0 25px;
			line-height: 35px;
			color: #888;
			border: 0;
			}
				#subnavigation ul li a:hover {
				color: #fff;
				background: #aaa;
				}
/* Main Content */
#wrapper {
width: 100%;
text-align: left;
}
	#container {
	position: relative;
	margin: 1.5%;
	}
	.sidebar, #content { float: left; }
	.sidebar, #login form { width: 20%; }
	.sidebar .box { margin: 0 0 7.5%; }
	#content .box { margin: 0 0 4%; }
		.bottom {
		background: #f4f4f4 url(../images/box.png) repeat-x;
		border: 1px solid #ddd;
		border-top: 0;
		}
			.sidebar .bottom, #login .bottom { padding: 4%; }
			#content .bottom { padding: 2.5%; }
		.box h2, .sidebar .box h3 {
		position: relative;
		margin: 0;
		padding: 5px 10px;
		font: 14px/21px Arial, Sans-Serif;
		color: #666;
		background: #ccc url(../images/boxheaders.png) repeat-x;
		}
			.box h2 {
			font-size: 24px;
			line-height: 31px;
			letter-spacing: -1px;
			background-position: 0 -31px;
			}
			.box .collapse {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -7px;
			width: 10px;
			height: 14px;
			text-indent: -9999px;
			background: url(../images/collapse.png) no-repeat 0 -14px;
			}
				.box .collapse.change { background-position: 0 0; }
			#content h3 {
			margin: 0 0 10px;
			font: 18px/25px Arial, Sans-Serif;
			color: #777;
			border-bottom: 1px solid #ddd;
			}
		.sidebar .box ul {
		margin: 0 0 15px;
		padding: 0;
		list-style: none;
		}
			.sidebar .box ul li {
			padding: 7px 5px;
			border-bottom: 1px dotted #ccc;
			}
				.sidebar .box ul li:hover { background-color: #fff; }
				.sidebar .box ul li a { color: #444; }
		#content {
		margin: 0 1.5%;
		width: 57%;
		color: #666;
		}
		#right {
		position: absolute;
		right: 0;
		}
		/* Single sidebar */
		.single #right { display: none; }
		.single #content { margin-right: 0; width: 78.5%; }
/* Login */
#login form {
margin: 2.5% auto;
text-align: left;
}
/* Footer */
#footerwrap {
background: #666;
}
	#footer {
	text-align: left;
	margin: 0 1.5%;
	}
		#footer p {
		margin: 0;
		color: #aaa;
		padding: 1.5% 0;
		}
		#footer a {
		color: #fff;
		border: 0;
		}
			#footer a:hover {
			color: #222;
			}

/* __________________________________________________ Classes */
.clear { clear: both; }
.center { margin-left: auto; margin-right: auto; text-align: center; }
.left { float: left; text-align: left; }
.right { float: right; text-align: right; }
.margintop { margin-top: 15px; }
.marginright { margin-right: 15px; }
.marginbottom { margin-bottom: 15px; }
.marginleft { margin-left: 15px; }
.round {
padding: 3px 7px;
color: #888;
font: 10px/17px Arial, Serif;
text-transform: uppercase;
background: #fff url(../images/round.png) repeat-x 0 1px;
border: 1px solid #ddd;
}
	.round:hover {
	position: relative;
	top: 1px;
	left: 1px;
	color: #666;
	}
.checkboxes label {
display: inline;
}
span.checkbox {
margin: 3px 5px 0 0;
display: block;
float: left;
width: 12px;
height: 12px;
background: url(../images/checkbox.png) no-repeat 0 0;
cursor: pointer;
}
	span.checkbox.active { background-position: 0 -12px; }
.sidebar .box .comments li, .sidebar .box .posts li, .sidebar .box .links li { padding-left: 25px; background: transparent no-repeat 5px center; }
	.sidebar .box .comments li { background-image: url(../images/icons/comments.png); }
	.sidebar .box .posts li { background-image: url(../images/icons/posts.png); }
	.sidebar .box .comments li a, .sidebar .box .posts li a, .sidebar .box .links li a { color: #777; border: 0; }
		.sidebar .box .comments li a:hover, .sidebar .box .posts li a:hover, .sidebar .box .links li a:hover { color: #111; }
.message {
margin: 0 0 10px;
padding: 15px 15px 15px 37px;
font-weight: normal;
background: #fff no-repeat 15px center;
border: 1px solid #ddd;
}
	.message.error { color: #9e1111; background-color: #f5e8e8; background-image: url(../images/icons/error.png); border-color: #dfb2b2; }
	.message.success { color: #11a322; background-color: #e8f6e9; background-image: url(../images/icons/success.png); border-color: #b2e1b7; }
	.message.info { color: #2446ad; background-color: #eaedf7; background-image: url(../images/icons/info.png); border-color: #b8c3e4; }
	.message.warning { color: #c2b515; background-color: #f9f8e8; background-image: url(../images/icons/warning.png); border-color: #ebe7b3; }

/* WYSIWYG */
.wysiwyg-label { margin: 0 0 5px; }
.smarkup-toolbar a { border: 0; }

#rounded-corner
{
margin:0px;
width:625px;
text-align: left;
border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
width:26px;
background: #60c8f2 url('images/left.jpg') left top no-repeat;
}
#rounded-corner thead th.rounded-q4
{
background: #60c8f2 url('images/right.jpg') right top no-repeat;
}
#rounded-corner th
{
padding: 8px;
font-weight: normal;
font-size: 13px;
color: #039;
background: #60c8f2;
}
#rounded-corner td
{
padding: 8px;
background: #ecf8fd;
border-top: 1px solid #fff;
color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
background: #ecf8fd url('images/botleft.jpg') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
background: #ecf8fd url('images/botright.jpg') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
background: #d2e7f0;
}