﻿<script>
function select(a) {
    var theForm = document.fr;
    for (i=0; i<theForm.elements.length; i++) {
        if (theForm.elements[i].name=='check[]')
            theForm.elements[i].checked = a;
    }
}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Quản lý sim</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<form method="get" action="index.php">
<input type="hidden" name="act" value="baogia">
	<table style="width: 100%">
		<tr>
			<td><select name="post[dauso]" style="height: 22px">
			<option value="0" selected="selected">Đầu số</option>
			{html_options values = $dauso output = $dauso}</select><select name="post[loaisim]" style="height: 22px">
			<option value="0" selected="selected">Loại sim</option>
			{html_options values = $loaisim output=$loaisim}</select>
			<select name="post[daily]">
			<option value="0" selected="selected">Đại lý</option>
			{html_options values = $id output = $hovaten}</select>
			<select name="post[oder]" style="width: 122px">
			<option value="order by giaban desc">Giảm</option>
			<option value="order by giaban asc">Tăng</option>
			</select>
			<input name="post[search]" type="text" style="width: 64px;">
			<input name="submit" type="submit" value="Tìm kiếm" class="go"> {$demsim}
			<a href="{$my_link}&delsearch=yes">Xóa</a></td>
		</tr>
	</table>
	</form>
	<form method="post" name="fr">
	<table  style="width: 100%">
		<tr class="ui-widget-header" style="height:40px">
			<td style="text-align: center; width: 39px"><strong>STT</strong></td>
			<td style="width: 129px"><strong>Số Sim</strong></td>
			<td style="width: 107px"><strong>Giá bán</strong></td>
			<td style="width: 91px"><strong>Giá đại lý</strong></td>
			<td style="text-align: left; width: 206px"><strong>Đại lý</strong></td>
			<td style="width: 100px; text-align: center"><strong>Sửa</strong></td>
			<td style="width: 100px; text-align: center"><strong>Xóa</strong></td>
			<td style="width: 100px; text-align: center"><strong><a href="javascript:select(1)">Check</a> |<a href="javascript:select(0)">Uncheck</a></strong></td>
		</tr>
		{section name=d loop=$data}
		
		<tr id="s{$data[d].simid}">
			<td style="width: 39px">{$data[d].stt}</td>
			<td style="width: 129px">{$data[d].sim1}</td>
			<td style="width: 107px">{$data[d].giaban}</td>
			<td style="width: 91px">{$data[d].gianhap}</td>
			<td style="width: 206px">{$data[d].daily}</td>
			<td style="width: 100px">
			<a onclick="$('#{$data[d].simid}').show();$('#s{$data[d].simid}').hide();" href="javascript:void(0)">Sửa</a></td>
			<td style="width: 100px"><a onclick="return conf('{$data[d].sim1} khỏi website')" href="{$my_link}&del={$data[d].simid}">Xóa</a></td>
			<td style="text-align: center;">
			<input name="check[]" type="checkbox" value="{$data[d].simid}"></td>
		</tr>
		
		<tr id="{$data[d].simid}" style="display:none">
			<td style="width: 39px">{$data[d].stt}</td>
			<td style="width: 129px">
			<input name="p[{$data[d].simid}][sim1]" type="text" value="{$data[d].sim1}"></td>
			<td style="width: 107px">
			<input name="p[{$data[d].simid}][giaban]" type="text" value="{$data[d].giaban}"></td>
			<td style="width: 91px">
			<input name="p[{$data[d].simid}][gianhap]" type="text" value="{$data[d].gianhap}"></td>
			<td style="width: 206px">{$data[d].daily}</td>
			<td style="width: 100px">
			<input name="sua[{$data[d].simid}]" type="submit" value="Sửa" class="go"></td>
			<td style="width: 100px"><a onclick="return conf('{$data[d].sim1} khỏi website')" href="{$my_link}&del={$data[d].simid}">Xóa</a></td>
			<td style="text-align: center;">
			<input name="check[]" type="checkbox" value="{$data[d].simid}"></td>
		</tr>
		
		{/section}
		<tr>
			<td style="width: 39px"></td>
			<td style="width: 129px"></td>
			<td style="width: 107px"></td>
			<td style="width: 91px"></td>
			<td style="text-align: right;" colspan="4"><a target="_blank" href="aindex.php{$my_link}&taive=1" class="go">Tải về</a>
			<a href="#" class="go">Sửa nhiều</a><input name="xoaall" type="submit" value="Xóa" class="go"></td>
		</tr>
	</table>
	</form>
	<br>
	{$paging}
</div></div>




