﻿<link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript" language="javascript" src="../ajax.js"></script>
<link type="text/css" href="../css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.13.custom.min.js"></script>

<script type="text/javascript" language="javascript" src="admin.js"></script>

<link rel="stylesheet" type="text/css" href="styles.css" />
<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox-1.2.6.css" media="screen" />
<script type="text/javascript" src="fancybox/jquery.fancybox-1.2.6.pack.js"></script>
<script type="text/javascript" src="script.js"></script>
{$notes}
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>Chi tiết đơn hàng</a> </li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content">
		<table border="0" width="100%" cellspacing="1">
			<tr>
				<td>
				<table style="width: 100%;" cellspacing="0">
					<tr>
						<td>
						<table style="width: 100%" cellspacing="1">
							<tbody style="text-align: center">
								<tr class="ui-widget-header" style="height: 25px">
									<td style="height: 22px; width: 10%;">
									<strong>STT</strong></td>
									<td style="height: 22px; width: 40%;">
									<strong>Số sim</strong></td>
									<td style="width: 30%; height: 22px">
									<strong>Giá tiền</strong></td>
									<td style="width: 20%; height: 22px">
									<strong>Hành động</strong></td>
								</tr>
								{section name = d loop = $data}
								<tr class="ui-widget-content" style="text-align: center">
									<td style="height: 33px; width: 10%;">{$data[d].stt}</td>
									<td style="height: 33px; width: 40%;">
									<strong>{$data[d].sosim}</strong></td>
									<td style="width: 30%; height: 33px">
									<strong>{$data[d].giatien}</strong></td>
									<td style="width: 20%; height: 33px">
									<table style="width: 100%; height: 100%">
										<tr>
											<td style="width: 40%; height: 29px;">
											<a class="go" href="aindex.php?act=chuyen&amp;id={$data[d].id}">
											Chuyển</a></td>
											<td style="width: 30%; height: 29px;">
											<a id="addnt" class="go" href="add_note.php?id={$data[d].id}">
											note</a></td>
											<td style="width: 30%; height: 29px;">
											<a class="go" href="index.php?act=chitiet&id={$del}">
											Xóa</a></td>
										</tr>
									</table>
									</td>
								</tr>
								{/section} {if $tongsim != 1}
								<tr class="ui-widget-content">
									<td style="height: 22px; width: 10%;">&nbsp;</td>
									<td style="height: 22px; width: 40%;">
									<strong>Tổng sim {$tongsim} Số</strong></td>
									<td style="height: 22px" colspan="2">
									<strong>Tổng tiền {$tongtien} (VNĐ)</strong></td>
								</tr>
								{/if}
						</table>
						</td>
					</tr>
					<tr>
						<td valign="top">
						<table style="width: 100%" class="ui-widget-content">
							<tr class="ui-widget-header" style="height: 25px">
								<td colspan="2"><strong>Thông tin khách hàng</strong></td>
							</tr>
							<tr>
								<td style="width: 40%">Họ Và Tên:</td>
								<td style="width: 60%"><strong>{$data[0].hovaten}
								</strong></td>
							</tr>
							<tr>
								<td style="width: 40%">Địa chỉ:</td>
								<td style="width: 60%"><strong>{$data[0].diachi}</strong></td>
							</tr>
							<tr>
								<td style="width: 40%">Điện thoại:</td>
								<td style="width: 60%"><strong>{$data[0].dienthoai}</strong></td>
							</tr>
							<tr>
								<td style="width: 40%">Email:</td>
								<td style="width: 60%"><strong>{$data[0].email}</strong></td>
							</tr>
							<tr>
								<td style="text-align: center;" colspan="2">
								{$data[0].daily}&nbsp;</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<form method="post">
			<div style="text-align: center">
				<textarea name="txt" style="width: 216px; height: 87px">So {$data[0].sosim} Ben em ko con anh/chi vui long chon so khac
Xin Cam on!
www.{$data[0].mydomain}
</textarea><br />
				<input type="hidden" name="mobile" type="text" value="{$data[0].dienthoai}" />
				<br />
				<input name="submit" type="submit" value="Gửi Tin nhắn tới {$data[0].dienthoai}" class="go" style="font-weight: bold" /></div>
		</form>
	</div>
</div>

<div style="text-align: center">

<a class="go" href="aindex.php?act=add_cron&amp;id={$data[0].id}">Tạo cron </a> | <a class="go" href="aindex.php?act=chitiet&amp;id={$data[0].id}&amp;set=1">Chưa giao dịch</a> | 
<a href="aindex.php?act=nhantin&amp;id={$data[0].id}" class="go">Nhắn tin </a>
&nbsp; 
<a href="aindex.php?act=nhantin&amp;id={$data[0].id}&kiemtra=1" class="go">Kiểm Tra</a></div>
