﻿

<form method="post" action="">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Cấu hình phần trăm của đại lý</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">



<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">

	<tr>

		<td>

		<table border="0" width="100%" id="table2"  cellspacing="1">

			<tr>

				<td height="20" align="center" colspan="6">

					<select name="post[dl]" id="select" onchange="window.location.href='index.php?act=ptdaily&dl='+this.options[selectedIndex].value+'';">

				

					<option selected="" value="0">Lựa chọn đại lý</option>

					{html_options values=$oid output=$oname}

					</select>ĐK1<input name="post[dk1]" type="text" style="width: 82px">&nbsp;ĐK2<input name="post[dk2]" type="text" style="width: 82px">Phần 

				trăm<input name="post[pt]" type="text" style="width: 29px;"><input name="submit" type="submit" value="Thêm" class="go"></td>

			</tr>

			<tr class="ui-widget-header">

				<td width="4%" height="20" align="center">

				<p align="center" style="font-weight: 700">STT</td>

				<td width="19%" height="20">Đại lý</td>

				<td width="19%" height="20"><b>Điều kiện 1 (&gt;)</b></td>

				<td width="16%" height="20">Điều kiện 2 (&lt;=)</td>

				<td height="20" style="width: 15%">Phần trăm 

				tăng</td>

				<td width="6%" align="center" height="20" style="width: 15%"><b>

				HĐ</b></td>

			</tr>

			{section name=d loop=$data}

			<tr class="{$data[d].class}">

				<td width="4%" height="20" align="center">{$data[d].stt}</td>

				<td width="19%" height="20">

				{$data[d].hovaten}</td>

				<td width="19%" height="20">

				{$data[d].dk1}</td>

				<td width="16%" height="20">

				{$data[d].dk2}</td>

				<td height="20" style="width: 15%">

				{$data[d].pt}%</td>

				

				<td width="7%" align="center" height="20">

				<a  href="?{$c_url}&ptid={$data[d].id}" onclick="return conf('{$data[d].dk2} >= Gía >{$data[d].dk1}')">Xóa</a></td>

			</tr>

			{/section}

			<tr class="{$data[d].class}">

				<td height="20" align="center" colspan="6">{$paging}</td>

			</tr>

			</table>

		</td>

	</tr>

</table>

</div></div>

