﻿<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>Sửa thành viên</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
			<form method="post" action="">
			<table style="width: 100%; " cellspacing="1" cellpadding="0">
				<td colspan="2">
						<div align="center">
							<b>Bộ gõ tiếng việ</b>t<input onfocus="setTypingMode(0)" type="radio" CHECKED value="OFF" name="switch">Tắt&nbsp;&nbsp;&nbsp;
							<input class="bvclass" onfocus="setTypingMode(1)" type="radio" value="TELEX" name="switch">Bật</div>
</td>
				<tr class="ui-widget-content">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Họ Và Tên:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input onkeyup="initTyper(this);" name="post[hovaten]" type="text" value="{$hovaten}" style="height: 15px" /></p>
					</td>
				</tr>
				<tr>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Địa chỉ:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input onkeyup="initTyper(this);" name="post[diachi]" type="text" style="width: 170px" value="{$diachi}" /></p>
					</td>
				</tr>
				<tr class="ui-widget-content">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Tỉnh thành:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
						<p style="margin-left: 15px; margin-top: 0">
						<select name="post[city]" id="c2">
		<option value="" selected="">-- Tỉnh thành --</option>
		{html_options values = $cityn output = $cityn selected = $select}
		</select></p>
					</td>
				</tr>
				<tr>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Mobile:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[mobile]" type="text" style="width: 107px" value="{$mobile}" /></p>
					</td>
				</tr>
				<tr class="ui-widget-content" style="display:none">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Tel:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[tel]" type="text" style="width: 107px" value="{$tel}" />&nbsp;</p>
					</td>
				</tr>
				<tr style="display:none">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Fax:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[fax]" type="text" style="width: 107px" value="{$fax}" /></p>
					</td>
				</tr>
				<tr class="ui-widget-content">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Website:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[website]" type="text" value="{$website}" /></p>
					</td>
				</tr>
				<tr>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Email:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[email]" type="text" value="{$email}" /></p>
					</td>
				</tr>
				<tr class="ui-widget-content" style="display:none">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>CMTNND:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[cmtnd]" type="text" style="width: 107px" value="{$cmtnd}" /></p>
					</td>
				</tr>
				<tr class="ui-widget-content">
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Tên đăng nhập:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[username]" style="width: 107px" value="{$username}" /></p>
					</td>
				</tr>
				<tr>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0"><strong>Mật khẩu:</strong></p>
					</td>
					<td style="width: 50%; height: 22px; text-align: left;">
					<p style="margin-left: 15px; margin-top: 0">
					<input name="post[password]" style="width: 107px" /></p>
					</td>
				</tr>
				<tr  class="ui-widget-content">
					<td style="width: 50%">
					<p style="margin-left: 15px; margin-top: 0"><strong>Quyền:</strong></p>
					</td>
					<td style="width: 50%">
					<p style="margin-left: 15px; margin-top: 0; text-align: left;">
					<select name="post[live]">
					{html_options values = $value output = $name selected=$sele}
					</select></p>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center">
					<input name="submit" type="submit" value="Cập nhập" class="go" />&nbsp;<input name="Reset1" type="reset" value="Làm lại" class="go" /></td>
				</tr>
				</table>
			</div></div>