﻿
<form method="get" action="">
<input name="act" value="thanhvien" type="hidden">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>Thành Viên & đại lý</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<table style="width: 100%">
			<tr>
				<td style="text-align: left"><input name="text" type="text">&nbsp;<input name="search" type="submit" value="Tìm kiếm" class="go"></td>
				<td style="width: 10%">
				<input onclick="window.location.href='?act=thanhvienadd'" name="Button1" type="button" value="Thêm Mới" class="go">&nbsp;</td>
			</tr>
		</table>
		<table border="0" width="100%" id="table2" cellspacing="1">
			<tr class="ui-widget-header" style="height:40px">
				<td width="4%" align="center" style="height: 12px; font-weight: bold">
				<p align="center">STT</td>
				<td width="19%" style="height: 12px"><b>Họ và tên</b></td>
				<td width="16%" style="height: 12px"><b>Mobile</b></td>
				<td width="16%" style="height: 12px"><b>Username</b></td>
				<td width="16%" style="height: 12px"><b>Email</b></td>
				<td width="16%" style="height: 12px"><b>Website</b></td>
				<td width="6%" align="center" colspan="3" style="width: 15%; height: 12px;"><b>
				HĐ</b></td>
			</tr>
			{section name=d loop=$data}
			<tr class="{$data[d].class}" style="height:22px">
				<td width="4%" height="20" align="center">{$data[d].stt}</td>
				<td width="19%" height="20">
				{$data[d].hovaten}</td>
				<td width="16%" height="20">
				{$data[d].mobile}</td>
				<td width="16%" height="20">
				{$data[d].username}</td>
				<td width="16%" height="20">
				{$data[d].email}</td>
				<td width="16%" height="20">
				{$data[d].website}</td>
				<td width="6%" align="center" height="20">
				&nbsp;</td>
				<td width="6%" align="center" height="20">
				<a  class="go"href="?act=thanhvienedit&amp;id={$data[d].id}">Sửa</a></td>
				<td width="7%" align="center" height="20">
				<a class="go"  href="?{$c_url}&delid={$data[d].id}" onclick="return conf('{$data[d].tieude}')">Xóa</a></td>
			</tr>
			{/section}
			<tr class="{$data[d].class}">
				<td height="20" align="center" colspan="9">{$paging}</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</div>

