		<tr>
			<td height="5"></td>
		</tr>
		</table>
		<!-- Begin footer area -->
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
       	<tr>
			<td height="27" align="center" bgcolor="#D3DDF1">
         		<table width="60%" border="0" cellpadding="0" cellspacing="0">
           		<tr>
			        <td align="center" width="15%"><a href="index.php" class="text_blue"><strong>Trang ch&#7911;</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
			        <td align="center" width="15%"><a href="index.php?hdl=index&news=0" class="text_blue"><strong>Tin t&#7913;c</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		{foreach item=cates from=$CategoryFoo}
	              	<td align="center"><a href="?hdl=inform&cateid={$cates.category_id}" class="text_blue"><strong>{$cates.category_name}</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		{/foreach}
	              	<td align="center" width="15%"><a href="index.php?hdl=index&news=1" class="text_blue"><strong>Phong th&#7911;y</strong></a></td>
	              	<td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
	              	<td align="center" width="15%"><a href="index.php?hdl=inform&cateid=0" class="text_blue"><strong>D&#7921; án</strong></a></td>
	              	<td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
			        <td align="center" width="15%"><a href="index.php?hdl=interior" class="text_blue"><strong>M&#7851;u n&#7897;i th&#7845;t</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		<td align="left">
             			<a href="?hdl=contact" class="text_blue">
             				&nbsp;&nbsp;&nbsp;<strong>Liên h&#7879;</strong>
             			</a>
             		</td>
           		</tr>
         		</table>
          	</td>
        </tr>
        <tr>
          	<td height="1" bgcolor="#C1D0EC"></td>
        </tr>
        <tr>
          	<td height="44" align="center" bgcolor="#E5EBF7">
          		Công ty c&#7893; ph&#7847;n v&#7853;n t&#7843;i &#273;&#7847;u t&#432; và xây d&#7921;ng An Phát<br>
				Add : 138 &#272;&#432;&#7901;ng 208 - An &#272;&#7891;ng - An D&#432;&#417;ng - H&#7843;i Phòng<br>
				L/h : 0312.888.999 - 0972.888.999<br>
				Vietcombank :0011002299999</td>
        </tr>
      	</table>
	  	<!-- End footer area -->
	</td>
	<td width="4" background="frontend/images/bg_right.jpg"></td>
</tr>
</table>
</body>
{literal}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6610690-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
try {
_uacct = "UA-6610690-1";
urchinTracker();
} catch(err) {}
</script>
{/literal}
</center>
</html>