		            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		            	<!-- Begin search area -->
			                
			                <!-- /////////////////////////////////////////////////////////////////// -->
			                
			
	              		<!-- ////////////////////////////////////////////////////////// -->
						<!-- End mau noi that -->
						<!-- Begin support area -->
						
						<!-- End support area -->
						<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">HỖ TRỢ TRỰC TUYẾN </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD">
					                        	{foreach item=supports from=$SupportList}
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                        <tr>
						                            <td height="10" align="center"></td>
						                        </tr>
						                        <tr>
						                            <td align="center">
						                            {if $supports.support_genre eq 0}
						                            	<a href="ymsgr:sendim?{$supports.support_account}&m=Hello !"><img src="http://opi.yahoo.com/online?u={$supports.support_account}&amp;m=g&amp;t=2&amp;l=us" width="125" height="25" border="0" /></a>
						                            {else}
						                            	<a href="skype:{$supports.support_account}?chat"><img src="http://mystatus.skype.com/bigclassic/{$supports.support_account}" width="125" height="25" border="0" /></a>
						                            {/if}
						                            </td>
						                        </tr>
						                        <tr>
						                            <td height="20" align="center">
						                            {if $supports.support_genre eq 0}
						                            	<a href="ymsgr:sendim?{$supports.support_account}&m=Hello !" class="text_blue">{$supports.support_title}</a>
						                            {else}
						                            	<a href="skype:{$supports.support_account}?chat" class="text_blue">{$supports.support_title}</a>
						                            {/if}
						                            </td>
						                        </tr>
						                        </table>
						                        {/foreach}
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
	                		</td>
	              		</tr>

	              		<tr>
	                		<td height="5"></td>
	              		</tr>
	              		<!-- ////////////////////////////////////////////////////////////// -->
						<!-- Begin support area -->
						<tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                        <td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">CẦN BÁN GẤP {if $province neq ""}KHÁC{/if}</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
			                    		</table>
			                    	</td>
			                  	</tr>
			                  	
	                  			<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td width="3" background="frontend/images/c4.jpg"></td>
					                        <td bgcolor="#F5F9FD" style="padding: 5px;">
					                        <marquee direction="up" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2">
					                        	{foreach item=items from=$EstateHot}
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
						                        <tr><td colspan="4" height="10px;"></td></tr>
						                        <tr>
						                            <td align="left" height="20" style="background: #FFFFFF;padding-left:0px;">
						                            <a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue" style="text-transform:none;font-size:12px;">
						                           	<span style="color:red;">+</span> {$items.estate_title}&nbsp;
						                           	<span style="color:red;">
						                           	<i style="color:#D70B2E;">
						                           	{if $items.estate_price > 0}
							                   			{$items.estate_price|money_format:"."}&nbsp;
							                   			{if $items.estate_price_type == 0}VNĐ 
							                   			{elseif $items.estate_price_type==1} Lượng vàng SJC 
							                   			{else} USD 
							                   			{/if}
				                               			{if $items.is_price_in_m2 eq "1"}
					                           			/m2
					                           			{/if}
							                   			{if $items.is_price_negotiable eq '1'}
							                   				(Có thể thỏa thuận)
							                   			{/if}
							                   		{else}
							                   			(Thỏa thuận)
							                   		{/if}
							                   		</i>
						                           	</span>
						                           	</a>
						                            </td>
						                        </tr>
						                        </table>
						                        {/foreach}
						                     </marquee>   
			                          		</td>
	                        				<td width="4" background="frontend/images/c5.jpg"></td>
	                      				</tr>
	                      				
	                      				 <tr>
			                              	<td background="frontend/images/c4.jpg"></td>
			                              	<td align="right" valign="top" bgcolor="#F5F9FD">
			                              		<a href="?hdl=estatehot"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
			                              	</td>
			                              	<td background="frontend/images/c5.jpg"></td>
			                            </tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                      	<tr>
					                        <td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                        <td width="100%"></td>
					                        <td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                      	</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                			</table>
	                		</td>
	              		</tr>
	              		<!-- ///////////////////////////////////////////////////// -->
						
	              		<tr>
			                <td height="5"></td>
			            </tr>
			          
	              		<!-- Begin promote area {$items.promote_website} -->
	              		<!-- ***********************************Banner Chan Trang****************************** -->
	              		
	              		
	              		 <tr>
			                <td>
			                	<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                    <tr>
			                       	<td>
			                       		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
			                            <tr>
			                              	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
			                              	<td width="100%" align="left" class="text_red">
			                              		<table border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td><span style="font-size:10px;">TIN BẤT ĐỘNG SẢN NỔI BẬT</span></td>
					                				<td align="left">
					                					<span style="font-size:10px;">
					                						
					                					</span>
					                				</td>
				                              	</tr>
				                              	</table>
			                              	</td>
			                              	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                            </tr>
			                       		</table>
			                    	</td>
								</tr>
				                <tr>
	                      			<td>
			                      		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                            <tr>
			                              	<td width="3" background="frontend/images/c4.jpg"></td>
			                              	<td align="center" valign="top" bgcolor="#F5F9FD" style="padding-top: 5px;">
			                              		
			                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
			                              		{foreach key=keys item=items from=$EstateVIPList}
				                                <tr>
				                                  	<td>
				                                  		<a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue">
				                                  		{if $items.estate_image1 ne ''}
			                                          		<img src="{#IMG_ESTATE_DIR#}thumb_{$items.estate_image1}" width="45" height="40"
															{if $items.is_image_enhance eq "1"}
			                                          			class="border_img_vip"
															{else}
                                          						class="border_img"
                                          					{/if}
			                                          		/>
			                                          	{else}
			                                          		<img src="{#IMG_ESTATE_DIR#}thumb_spacer.gif" width="45" height="40"
			                                          			class="border_img"
			                                          		/>
			                                          	{/if}
			                                          	</a>
				                                  	</td>
				                                  	<td align="left">
				                                  	<a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue"><strong> {$items.estate_title}</strong></a>
				                                  	</td>
				                                  	<td>&nbsp;
		                                        	{if $items.estate_video neq ""}
		                                        	&nbsp;&nbsp;<img border="0" src="frontend/images/video.gif">
		                                        	{/if}
		                                        	{assign var="now" value=$smarty.now|date_format}
													{assign var="createdDate" value=$items.created_date|date_format}
													{if $now eq $createdDate}
														&nbsp;<img border="0" src="frontend/images/new_icon.gif">
													{elseif $items.estate_genre eq "2" or $items.estate_genre eq "1"}
														&nbsp;<img border="0" src="frontend/images/vip.gif">
									      			{/if}
		                                        </td>
				                                </tr>
				                                <tr><td colspan="3" height="5px;">
				                                <hr style="width: 80%; border-color:#D5D0BF -moz-use-text-color -moz-use-text-color;border-style:solid none none;border-width:1px 0 0;" />
				                                </td></tr>
				                                {/foreach}
			                              		</table>
			                              		
		                              		</td>
		                            		<td width="4" background="frontend/images/c5.jpg"></td>
		                          		</tr>
		                          		<!--  List All
			                            <tr>
			                              	<td background="frontend/images/c4.jpg"></td>
			                              	<td align="right" valign="top" bgcolor="#F5F9FD">
			                              		<a href="?hdl=company&province={$province}"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
			                              	</td>
			                              	<td background="frontend/images/c5.jpg"></td>
			                            </tr>
			                             -->
			                      		</table>
		                      		</td>
		                    	</tr>
	                    		<tr>
		                    	    <td>
			                        	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
			                            <tr>
			                              	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
			                              	<td width="100%"></td>
			                              	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
			                            </tr>
			                        	</table>
		                        	</td>
		                    	</tr>
		                   		</table></td>
	              		</tr>
	              		
	              		<!-- ***********************************End Banner Chan Trang****************************** -->
			            
              			<!-- End promote  -->
	              		
              			</table>
