<div class="conten_left">
						<div class="Tour_Promotional">
							<div class="Bar_Tour_Promotional">
								<img src="{TEMPLATE_PATH}/images/icon_khuyenmai.png" alt=""/>
								<span class="text_bar">{L_PACKAGE_TOUR_PROMOTION}</span>
							</div>
							<!--/Bar_Tour_Promotional-->
							<div class="ND_Tour_Promotional">
								<!-- START: promotiontourrow --> 
                                <div class="Tour_1">
									<A href="{promotiontourrow:U_VIEW}" >{promotiontourrow:THUMB_SMALL}
									<span class="text_tour">{promotiontourrow:TITLE}</span></A>
								</div>
								<!--/Tour_1-->
								<!-- END: promotiontourrow --> 
							</div>
							<!--/ND_Tour_Promotional-->
						</div>
						<!--/Tour_Promotional-->
                        <!-- START IF: mainhotelrow --> 
						<div class="Tour_Promotional">
							<div class="Bar_Tour_Promotional">
								<img src="{TEMPLATE_PATH}/images/icon_hotel.png" alt=""/>
								<span class="text_bar">{L_HOT_HOTEL} </span>
							</div>
							<!--/Bar_Tour_Promotional-->
							<div class="ND_Tour_Promotional">
                            	<!-- START: mainhotelrow --> 
								<div class="Hotel_1">
									<A href="{mainhotelrow:U_VIEW}" >{mainhotelrow:THUMB_SMALL}</A>
									<div class="text_hotel">
										<A href="{mainhotelrow:U_VIEW}"  class="name_hotel"><span class="name_hotel">{mainhotelrow:TITLE}</span></A>
										{mainhotelrow:STAR_RATE}
									</div>
								</div>
								<!-- END: mainhotelrow --> 
								<!--/Hotel_1-->
							</div>
							<!--/ND_Tour_Promotional-->
						</div>
						<!--/Tour_Promotional-->
                        <!-- END IF: mainhotelrow --> 
						<div class="Tour_Promotional">
							<div class="Bar_Tour_Promotional">
							  <img src="{TEMPLATE_PATH}/images/icon_lib.png" alt=""/>
								<span class="text_bar">{L_GALLERY}</span>
							</div>
							<!--/Bar_Tour_Promotional-->
							<div class="ND_Tour_Promotional">
								<a href="{U_GALLERY}"><img src="{TEMPLATE_PATH}/images/pic_lib.png" alt="" border="0" class="photo"/></a>							</div>
							<!--/ND_Tour_Promotional-->
						</div>
						<!--/Tour_Promotional-->
						<div class="Map" style="padding-left:10px;">
							<map name="FPMap0">
												<area href="index.php?mod=destinations&act=descate&cat_id=26" shape="rect" coords="28, 14, 56, 25">
												<area href="index.php?mod=destinations&act=descate&amp;cat_id=37" shape="rect" coords="105, 32, 145, 43">
												<area href="destinations/descate/5_Hanoi/" shape="rect" coords="58, 37, 100, 56">
												<area href="index.php?mod=destinations&act=descate&cat_id=46" shape="rect" coords="107, 87, 131, 100">
												<area href="index.php?mod=destinations&act=descate&cat_id=31" shape="rect" coords="122, 107, 163, 119">
												<area href="index.php?mod=destinations&act=descate&cat_id=50" shape="rect" coords="77, 101, 120, 114">
												
												<area href="index.php?mod=destinations&act=descate&cat_id=48" shape="rect" coords="133, 148, 188, 163">
												<area href="index.php?mod=destinations&act=descate&cat_id=17" shape="rect" coords="67, 162, 105, 180">
												<area href="index.php?mod=destinations&act=descate&cat_id=29" shape="rect" coords="95, 193, 141, 210">
												</map>
											<img border="0" src="images/bandomap.jpg"  usemap="#FPMap0" >
						</div>
						<!--/Map-->
					</div>