<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="style3">	
			<a href="?do=roomtypes">Loại phòng</a> &raquo; <?=stripslashes($cat['title_vn'])?> &rsaquo;&rsaquo; <a href="?do=roomimg&cid=<?=$cat['id']?>" class="link_admin"><b>Danh sách</b></a> | <a href="?do=roomimg&act=add&cid=<?=$cat['id']?>" class="link_admin"><b>Thêm mới</b></a>
		</td>
	</tr>
	<tr>
		<td class="line"></td>
	</tr>	
</table>
<br />