body {
	background:url(../images/bg.gif);
	margin:0px;
	padding:0px;
	text-align:center;
}
body, td, th, div, p {
	font-family:Arial;
	font-size:12px;
	color:#222222;
}
p {
	margin:0 0 7px 0;
	padding:0;
}
input, textarea, select, button {
	font-family:Tahoma;
	font-size:12px;
	padding:1px;
}
a:link {
	text-decoration:none;
	color:#045120;
	font-size:12px;
}
a:visited {
	text-decoration:none;
	color:#045120;
	font-size:12px;
}
a:hover {
	text-decoration:underline;
	color:#045120;
	font-size:12px;
}
.link_page {
	color:#222222;
	font-size:11px;
	font-weight:bold;
}
a.link_page:link {
	text-decoration:none;
	color:#045120;
	font-size:11px;
}
a.link_page:visited {
	text-decoration:none;
	color:#045120;
	font-size:11px;
}
a.link_page:hover {
	text-decoration:underline;
	color:#045120;
	font-size:11px;
}
.menu {
	color:#525252;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
a.menu:link {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu.gif);
}
a.menu:visited {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu.gif);
}
a.menu:hover {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu_o.gif);
}
.menu_o {
	color:#525252;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
a.menu_o:link {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu_o.gif);
}
a.menu_o:visited {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu_o.gif);
}
a.menu_o:hover {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	width:132px;
	height:25px;
	padding:11px 0px 6px 0px;
	background:url(../images/bg_menu_o.gif);
}
.menuleft {
	color:#525252;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
}
a.menuleft:link {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	padding:5px 6px;
}
a.menuleft:visited {
	text-decoration:none;
	color:#525252;
	font-size:12px;
	display:block;
	padding:5px 6px;
}
a.menuleft:hover {
	text-decoration:none;
	color:#045120;
	font-size:12px;
	display:block;
	padding:5px 6px;
	background:#F4F4F4;
}
.menuleft_o {
	color:#045120;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
}
a.menuleft_o:link {
	text-decoration:none;
	color:#045120;
	font-size:12px;
	display:block;
	padding:5px 6px;
	background:#F4F4F4;
}
a.menuleft_o:visited {
	text-decoration:none;
	color:#045120;
	font-size:12px;
	display:block;
	padding:5px 6px;
	background:#F4F4F4;
}
a.menuleft_o:hover {
	text-decoration:none;
	color:#045120;
	font-size:12px;
	display:block;
	padding:5px 6px;
	background:#F4F4F4;
}
.white11 {
	color:#ffffff;
	font-size:11px;
}
a.white11:link {
	text-decoration:none;
	color:#ffffff;
	font-size:11px;
}
a.white11:visited {
	text-decoration:none;
	color:#ffffff;
	font-size:11px;
}
a.white11:hover {
	text-decoration:underline;
	color:#ffffff;
	font-size:11px;
}
.white12 {
	color:#ffffff;
	font-size:12px;
}
a.white12:link {
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
}
a.white12:visited {
	text-decoration:none;
	color:#ffffff;
	font-size:12px;
}
a.white12:hover {
	text-decoration:underline;
	color:#ffffff;
	font-size:12px;
}
.black11 {
	color:#222222;
	font-size:11px;
}
a.black11:link {
	text-decoration:none;
	color:#222222;
	font-size:11px;
}
a.black11:visited {
	text-decoration:none;
	color:#222222;
	font-size:11px;
}
a.black11:hover {
	text-decoration:none;
	color:#045120;
	font-size:11px;
}
.black12 {
	color:#222222;
	font-size:12px;
}
a.black12:link {
	text-decoration:none;
	color:#222222;
	font-size:12px;
}
a.black12:visited {
	text-decoration:none;
	color:#222222;
	font-size:12px;
}
a.black12:hover {
	text-decoration:none;
	color:#045120;
	font-size:12px;
}
.red11 {
	color:#8b1100;
	font-size:11px;
}
a.red11:link {
	text-decoration:none;
	color:#8b1100;
	font-size:11px;
}
a.red11:visited {
	text-decoration:none;
	color:#8b1100;
	font-size:11px;
}
a.red11:hover {
	text-decoration:underline;
	color:#8b1100;
	font-size:11px;
}
.red12 {
	color:#8b1100;
	font-size:12px;
}
a.red12:link {
	text-decoration:none;
	color:#8b1100;
	font-size:12px;
}
a.red12:visited {
	text-decoration:none;
	color:#8b1100;
	font-size:12px;
}
a.red12:hover {
	text-decoration:underline;
	color:#8b1100;
	font-size:12px;
}
.green11 {
	color:#045120;
	font-size:11px;
}
a.green11:link {
	text-decoration:none;
	color:#045120;
	font-size:11px;
}
a.green11:visited {
	text-decoration:none;
	color:#045120;
	font-size:11px;
}
a.green11:hover {
	text-decoration:underline;
	color:#045120;
	font-size:11px;
}
.title {
	color:#333333;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
}
.title1 {
	color:#045120;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	padding:0px 10px;
}
.title2 {
	color:#045120;
	font-size:12px;
	font-weight:bold;
}
.booktitle {
	padding:4px 6px;
	background:#077e00;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
}
#left {
	float:left;
}
#right {
	float:right;
}
#clear {
	clear:both;
}
#line {
	clear:both;
	height:2px;
	margin:10px 0px;
	background:url(../images/cham.gif) repeat-x;
}
#line1 {
	clear:both;
	height:10px;
}
#line2 {
	clear:both;
	height:20px;
}
#line3 {
	clear:both;
	height:5px;
}
#line4 {
	clear:both;
	height:6px;
}
#body_wrapper {
	width:100%;
	background:url(../images/topline.gif) repeat-x;
}
#wrapper {
	margin:0px auto;
	width:968px;
	padding-top:30px;
	text-align:left;
}
#Nav {
	width:968px;
	height:42px;
}
#Nav_cell {
	float:left;
}
#Nav_line {
	float:left;
	width:12px;
	height:42px;
}
#Navleft {
}
#Navleft_cell {
}
#Navleft_line {
}
#content {
	width:968px;
	background:url(../images/bg_main.gif);
}
#contentcell {
	background:url(../images/bg_bot.gif) bottom no-repeat;
	display:table;
}
#contentleft {
	width:713px;
}/*float:left;*/
#contentleft_cell {
	background:url(../images/bg_left.gif) no-repeat;
	padding:10px 0px 10px 11px;
	line-height:17px;
	text-align:justify;
}
#contentright {
	width:255px;
	background:url(../images/bg_right.gif) no-repeat;
}/*float:right;*/
#contentright_cell {
	padding:40px 10px 10px 21px;
}
#khung {
	background:url(../images/bg1.gif) repeat-x;
	padding-top:17px;
	line-height:18px;
}
#booking {
	width:221px;
	height:48px;
	background:url(../images/bg_book.gif) no-repeat;
}
#booking_cell {
	padding:19px 10px 0px 75px;
}
.book_title {
	color:#FFFFFF;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
}
#bookonline {
	float:left;
	width:160px;
	background:#26901b;
	padding:5px;
}
#bookonline_title {
	background:#ffffff;
	padding:3px;
	color:#888888;
	font-family:arial black, avant garde;
	font-size:12pt;
	text-align:center;
}
#bookonline_space {
	float:left;
	width:7px;
}
#footer {
	width:968px;
	height:104px;
	background:url(../images/bg_footer.gif);
}
#footer_cell {
	padding:12px 20px 0px 20px;
	line-height:16px;
}
.space_content {
	padding:20px 10px 0px 10px;
	line-height:17px;
	text-align:justify;
}
.imgbor {
	padding:3px;
	border:1px solid #bdbdbd;
}
.border {
	border:1px solid #bdbdbd;
}
.box {
	width:350px;
}
.box1 {
	font-family:Tahoma;
	font-size:11px;
}
.button {
	color:#ffffff;
	font-weight:bold;
	width:90px;
	padding:2px;
	background:#830300;
	cursor:pointer;
}
/*tooltip*/
#dhtmltooltip {
	line-height:16px;
	text-align:justify;
	position:absolute;
	left:-300px;
	border:1px solid #a6a6a6;
	padding:2px;
	background-color:#FFFFFF;
	visibility:hidden;
	z-index:100;
	/* for IE */
	filter:alpha(opacity=95);
	/* CSS3 standard */
	opacity:0.95;
	-moz-opacity:0.95;
}
#dhtmlpointer {
	position:absolute;
	left:-300px;
	z-index:101;
	visibility:hidden;
	/* for IE */
	filter:alpha(opacity=95);
	/* CSS3 standard */
	opacity:0.95;
	-moz-opacity:0.95;
}
/*end tooltip*/
