
.rt li.notif-msg{width:100px;}
.new-tweet a,
.notif-msg a.icon,
.notif-msg a.messageIcon,
.notif-msg a.followIcon {background:url(../images/hnn-icon-sprites.1.6.png) no-repeat scroll left top transparent;height:29px;position:fixed;width:16px; display: block;}
.notif-msg a.icon.active,
.notif-msg a.icon:hover{background-position: -154px -134px !important}
.notif-msg a.messageIcon:hover,
.notif-msg a.messageIcon.active {background-position: -82px -134px !important}
.notif-msg a.followIcon:hover,
.notif-msg a.followIcon.active {background-position: -118px -134px !important}
.hide-text{border:0 none;font-size:0;line-height:0;margin:0;outline:medium none;text-indent:-9999px}
.notif-msg .badge{position:absolute;top:3px;left:20px;padding:0 3px;background:#fa3c45;background:-moz-linear-gradient(top,#fa3c45 0%,#dc0d17 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fa3c45),color-stop(100%,#dc0d17));background:-webkit-linear-gradient(top,#fa3c45 0%,#dc0d17 100%);background:-o-linear-gradient(top,#fa3c45 0%,#dc0d17 100%);background:-ms-linear-gradient(top,#fa3c45 0%,#dc0d17 100%);background:linear-gradient(to bottom,#fa3c45 0%,#dc0d17 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa3c45",endColorstr="#dc0d17",GradientType=0);font-size:8pt;font-weight:bold;color:#fff;border-radius:2px;box-shadow:1px 1px 2px -1px rgba(0,0,0,.6)}
.notif-msg .badge#notificationCount-follow {left: 26px; right: auto}
.notif-msg .badge#notificationCount-message {left: 63px; right: auto}
.notif-msg .title{font-size:8pt;font-family:tahoma,Arial,sans-serif;font-weight:bold;padding:2px 5px;border-bottom:1px solid #ddd}
.notif-msg .footer{font-size:8pt;font-family:tahoma,Arial,sans-serif;font-weight:bold;padding:2px 5px;background:#fcfcfc;border-top:1px solid #ddd;text-align:center;border-radius:0 0 3px 3px}
.notif-msg .notifiContent{font-size:8pt;height:350px;overflow:auto}
.round-corner{border-radius:3px}
.notif-msg .list-notif .overlay-trick,
.list-settings .overlay-trick,
.list-upload .overlay-trick{border-bottom:medium none;cursor:default;display:block;height:5px;left:0;position:absolute;right:0;top:-5px}
.notif-msg .list-notif .overlay-trick,
.list-settings .overlay-trick,
.notif-msg .list-notif .list-anchor{margin:0;padding:0;right:49px}
.notif-msg .list-notif .list-wrap{max-height:490px;overflow-y:auto}
.notif-msg .list-notif .list-wrap .scroll-to-load{background:url(../images/loading.gif) no-repeat scroll center center #f0f0f0;display:block;height:40px;margin:0;width:100%}
.notif-msg .list-notif .view-all{border-top:1px solid #ddd;color:#466b8e;display:none;padding:10px 15px}
.icon-chervon-right{background-position:-192px -40px;height:9px;width:7px}
.notif-msg, .profile-setting, #submit-menu{position:relative;float:right}
.notif-msg a#btnNoti5,
.notif-msg a#btnNoti5Message,
.notif-msg a#btnNoti5Follow{padding:0 5px 3px 10px;margin-top:1px;}
.notif-msg a.icon{background-position: -269px -134px}
.notif-msg a.followIcon{background-position: -230px -134px}
.notif-msg a.messageIcon{background-position: -192px -134px}		
.notif-msg a#btnNoti5Follow{margin-left:40px;}
.notif-msg a#btnNoti5Message{margin-left:10px;}