@import url('reset.css');
@import url(misc.css);
@import url('notifications.css');
@import url('icons.css');
/*Bản quyền thuộc về không ai cả :)) ! Bản quyền là cái con khỉ mốc gì thế ? AE RIP tẹt con bọ nẹt !*/
/* Begin Main Css */
.left-box-home, .right-box-home, #left-column .column-content, #center-column .center-column-content, #right-column .column-content, .left-column-cat .column-content, .right-column-cat .column-content, #right-listen-column .column-content, #wrap-listen, .tabs .tab.active, .tab-content, #left-column #album-list .album-bit .album-cover, .left-column-cat #album-list .album-bit .album-cover, #left-listen-column #album-list .album-bit .album-cover, #footer, #list-album-cat .album-bit .album-cover .img-cover .bgcover, .menu #logo a, .add-to-playlist a, .add-to-playlist a:hover, #list-video-home .video-bit .video-thumb .play-video-icon, .left-column-cat .video-bit .video-thumb .play-video-icon, #left-listen-column .video-bit .video-thumb .play-video-icon, .icon_play, .icon_addplaylist, .icon_download, .icon_addplaylist, .icon_download, .post-cmt .post-cmt-form .text-box-decor, .title-text, .center-view-video-column .video-bit .video-thumb .play-video-icon {
	background:url("../images/misc/sprite.png") no-repeat top left;
	_background:url("../images/misc/sprite.gif") no-repeat top left;
}

html {
	background:#111 url("../images/misc/bg.jpg") repeat;
}

body {
	background:url("../images/1.jpg") no-repeat center top;
	font-size:11px;
	font-family:Tahoma, 'Open Sans', arial, sans-serif;
	line-height:20px;
	color:#6b6b6b;
	text-align:center;
}

a {
	color:#999;
	text-decoration:none;
}

a:hover {
	color:#fff !important;
	text-shadow:0 0 5px #999 !important;
}

.black-link {
	color:#000 !important;
}

.black-link:hover {
	color:brown !important;
}

.error-mess {
	font-size:13px;
}

.h1, .h2 {
	display:inline-block;
}

.clear {
	clear:both;
}

.center {
	text-align:center;
}

.left {
	float:left;
}

.right {
	float:right;
}

.no-padding {
	padding:0 !important;
}

.no-margin {
	margin:0 !important;
}

.no-border {
	border:0 !important;
}

.no-box-shadow {
	box-shadow:0 0 0 #fff !important;
}

.no-border-top {
	border-top:0 !important;
}

.no-display {
	display:none !important;
}

#loading{
padding:10px;
position: fixed;
top: 6%;
right: 40%;
left: 40%;
text-align:center;
z-index:99999;
background:#fff;
color:white;
border-radius:2px;
font-size:11px;
opacity:0.5;
display:none;
}
#loading img{
	width:100px;
	background:#fff;
	color:#fff;
	border-radius:0 0 5px 5px;
	padding:5px;
	margin:0 auto;
	display:inline-block;
}

.button {
	background-color:#feda71;
	background-image:-moz-linear-gradient(center top, #feda71, #febb49);
	border-color:#f5b74e #e7a943 #d6982f;
	border-image:none;
	border-left:1px solid #e7a943;
	border-radius:5px;
	border-right:1px solid #e7a943;
	border-style:solid;
	border-width:1px;
	color:#623f1d;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0 1px 0 #fede9d;
}

img {
	border:0 none;
	vertical-align:middle;
	margin-bottom:3px;
}

img.border {
	border:1px solid #ccc;
	padding:1px;
	background:#fff;
}

.onlyie6 {
	_display:none;
}

h1.title {
	margin:0 !important;
}

.rows1, .rows2, .rows3, .rows6, .rows4, .rows5 {
	display:block;
	overflow:hidden;
}

.rows1 {
	height:20px !important;
}

.rows2 {
	height:40px !important;
}

.rows3 {
	height:50px !important;
}

.rows4 {
	height:150px !important;
}

.rows5 {
	height:85px !important;
}

.rows6 {
	height:135px !important;
}

.seperator-line1 {
	border-bottom:1px solid #0b0b0b;
}

.seperator-line2 {
	border-top:1px solid #191919;
	margin-bottom:5px;
}


#wrap-bg {
	width:100%;
	height:100%;
	position:fixed;
	background:transparent;
	z-index:9;
	display:none;
}

#background-popup {
	background: url("../images/misc/bg_popup.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none;
}

.view-more {
	clear:both;
	text-align:center;
}

.view-more a {
	font-weight:bold;
	margin:5px 0;
	padding-right:11px;
	color:#ccc !important;
	display:block;
	border-radius:3px;
}

.pagination {
	margin:10px auto 5px auto;
	text-align:center;
	clear:both;
	display:block;
}

.page {
	background:#1d1d1d;
	border-bottom:2px solid #000;
	border-radius:3px;
	color:#ccc;
	display:inline-block;
	margin-right:3px;
	padding:5px 10px;
	text-decoration:none;
}

.page.active, .page:hover {
	background:#333;
	border-color:#0a0a0a;
	color:#fff;
}

.total-page {
	text-align:center;
	margin-bottom:10px;
	clear:both;
	width:100%;
	display:block;
}

.total-page span {
	font-weight:bold;
}

.sort-tool {
	margin-top:10px;
	padding-bottom:15px;
	text-align:center;
	border-bottom:1px solid #050505;
}

.sort-tool a, .sort-tool a:hover {
	color:#333 !important;
	text-shadow:0 0 0 #333;
}

ul#search-tools {
	padding-top:10px;
	padding-left:5px;
}

ul#search-tools li {
	display:inline-block;
	width:100px;
	font-size:14px;
	font-weight:bold;
	float:left;
}

ul#search-tools li.active a, ul#search-tools li a.active {
	color:#fff;
	text-shadow:0 0 15px #999;
}

ul#search-tools li.last {
	width:160px;
	text-align:right;
	font-size:13px;
	font-weight:normal;
}

ul#search-tools select {
	width:100px;
	height:22px;
	line-height:25px;
	font-size:12px;
	padding:2px;
	margin:0;
}

#search-filter {
	background-color:#151515;
	border:1px solid #111;
	clear:both;
	display:none;
	margin-bottom:10px;
	overflow:hidden;
	padding:10px;
}

#search-filter .filter {
	border-right:1px solid #191919;
	float:left;
	height:122px;
	padding-left:25px;
	width:180px;
}

#search-filter .filter.last {
	border-right:0;
}

#search-filter .filter p {
	font-weight:bold;
	padding-left:13px;
}

#search-filter .filter ul {
	margin:5px 10px 0 10px;
	overflow:hidden;
}

#search-filter .filter li a {
	color:#878787;
	display:block;
	height:20px;
	line-height:20px;
	padding-left:15px;
}

#search-filter .filter .selected a {
	color:#17658c;
	font-weight:bold;
}

.menu {
	background:#444 url('../images/misc/bg-menu.jpg') repeat-x;
	border-bottom:1px solid #000;
	box-shadow:0 0 4px #000;
	color:#fff;
	font:11px/27px Tahoma, sans-serif;
	height:35px;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:19;
	_position:absolute;
}

.menu #logo {
	float:left;
	width:150px;
}

.menu #logo a {
	background-position:0 -298px;
	width:129px;
	height:34px;
	overflow:hidden;
	text-indent:-999px;
	white-space:nowrap;
	display:block;
	margin-left:10px;
}

.menu #Notifi-Message {
	float:left;
	width:65px;
	position:relative;
}

.menu #Notifi-Message #notifi-btn {
	width:50px;
	float:left;
}

.menu #Notifi-Message #notifi-btn a:hover {
	background-color:#464646;
	border-radius:5px 5px 0 0;
}

.menu #Notifi-Message #notifi-btn a {
	background:url('../images/misc/sprite.png') no-repeat scroll 3px -970px;
	_background:url('../images/misc/sprite.gif') no-repeat scroll 3px -970px;
	width:25px;
	height:25px;
	line-height:25px;
	margin-top:9px;
	display:block;
	text-align:right;
	position:relative;
}



#search-top {
	float:left;
	position:relative;
	width:300px;
	height:35px;
	_overflow:hidden;
}

#search-top form {
	margin-top:5px;
	position:relative;
	height:35px;
	_margin-top:2px;
}

#search-top input[type="text"] {
	background:#f5f5f5 url('../images/misc/sprite.png') no-repeat scroll 265px -993px;
	_background:#f5f5f5 url('../images/misc/sprite.gif') no-repeat scroll 265px -993px;
	border:0;
	font:11px Arial, Helvetica, Sans-serif;
	color:#555;
	width:250px;
	padding:0 25px 0 10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:3px;
	border:1px solid #bbb;
	box-shadow:0 0 1px #333;
	z-index:1;
}

#search-top input[type="submit"] {
	background:transparent;
	border:0;
	position:absolute;
	right:15px;
	top:2px;
	z-index:2;
}

.menu #user-bar {
	float:right;
	line-height:35px;
}

.menu #user-bar a {
	color:#eee;
	font-weight:bold;
	font-size:13px;
}

.menu #user-bar a img {
	vertical-align:middle;
	width:20px;
	height:20px;
	border:1px solid #222;
}

#loginBox, #userBox, #utilityBox {
	background:#464646;
	border-top:0;
	border-radius:0 0 5px 5px;
	box-shadow:0 5px 10px #444;
	padding:10px;
	position:absolute;
	right:0;
	top:35px;
	width:250px;
	display:none;
	margin-top:-1px;
}

#loginBox form {
	color:#999;
	margin:0;
}

#loginBox form label {
	display:inline-block;
	font-size:11px !important;
}

#loginBox form input[type="text"], #loginBox form input[type="password"] {
	height:15px;
	font-size:11px;
	line-height:15px;
	width:235px;
}

#loginBox form input[type="checkbox"], #user-form input[type="checkbox"] {
	margin-top:-3px;
}

#loginBox label span {
	width:150px;
	display:inline-block;
}

#userBox ul li i, #utilityBox ul li i {
	display:inline-block;
	width:20px;
}

#userBox ul li.sepe-bot, #utilityBox ul li.sepe-bot {
	border-bottom:1px solid #373737;
}

#userBox ul li.sepe-top, #utilityBox ul li.sepe-top {
	border-top:1px solid #555;
}

#utilityBox {
	right:200px;
	width:330px;
}

#utilityBox input {
	margin-bottom:0 !important;
}

#utility-area {
	float:left;
	width:100px;
}

#utility-area a.utility-link {
	color:#eee;
	font-size:11px;
}

#utility-area a.gs-title {
	color:crimson !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
	text-decoration:none !important;
	font-family:Tahoma;
}

.gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *:hover {
	color:green !important;
	text-shadow:0 0 0 #ccc !important;
}

#user-utility-btn {
	line-height:30px;
}

#wrap-notifi {
	max-height:400px;
}

#notifiBox .slimScrollDiv {
	height:400px !important;
}

#notifiBox {
	margin-top:-1px;
	z-index:10;
	background:#464646;
	border:1px solid #222;
	border-top:0;
	border-radius:0 0 5px 5px;
	position:absolute;
	left:0;
	top:35px;
	width:400px;
	display:none;
}

#notifiBox #notifi-title {
	border-bottom:1px solid #373737;
	padding:0 10px;
	font-weight:bold;
}

#notifiBox #notifi-bottom a {
	padding:0 10px;
	font-weight:bold;
	color:#ccc;
	display:block;
	border-top:1px solid #454545;
	background:#393939;
}

#notifiBox ul li {
	position:relative;
	border-bottom:1px solid #373737;
	border-top:1px solid #555;
	padding:5px 10px;
}

#notifiBox ul li:hover {
	background:#505050;
}

#notifiBox ul li a {
	color:#ccc;
	line-height:15px;
}

#notifiBox ul li a:hover {
	text-shadow:0 0 0 #ccc !important;
	color:#ccc !important;
}

#notifiBox ul li .notifi-thumb {
	height:50px;
	width:50px;
	float:left;
	margin-right:5px;
	margin-top:-1px;
}

#notifiBox ul li .notifi-right {
	overflow:hidden;
	margin-top:1px;
}

#notifiBox ul li .notifi-content {
	max-width:325px;
	overflow:hidden;
	position:relative;
	word-wrap:break-word;
}

#notifiBox ul li .notifi-content span {
	font-weight:bold;
	color:#ccc;
}

#notifiBox ul li .notifi-time {
	color:#999;
	font-size:10px;
	padding-top:2px;
}

#wrapper-slider {
	width:498px;
	float:left;
	position:relative;
	margin:0;
}

#sliderContainer {
	width:498px;
	height:250px;
	position:relative;
	border:1px solid #222;
	box-shadow:0 0 5px #111;
}

#sliderContainer img {
	width:498px;
	height:250px;
}

.slideContent {
	background:url("../images/misc/slider/contentBg.png");
	_background:0;
	position:absolute;
	bottom:0;
	right:0;
	padding:10px;
	width:480px;
}

.slide h3 {
	font:700 14px/1.3em 'Open Sans', sans-serif;
	color:#FFF;
	margin:0 0 10px 0;
	max-height:18px;
	overflow:hidden;
}

.slide p {
	font-size:12px;
	color:#FFF;
	margin:0;
	max-height:40px;
	overflow:hidden;
	_display:none;
}

.supercomSlideContainer {
	overflow:hidden;
}

.supercomSlideContainer a {
	color:#FFF;
	text-decoration:none;
}

.supercomSlideContainer a:hover {
	color:indianred;
	text-decoration:none;
}

.supercomSlideContainer a:focus {
	position:relative;
	top:1px;
}

.supercomNext {
	background:url("../images/misc/slider/arrows.png") no-repeat scroll -8px -12px transparent;
	_background:url("../images/misc/slider/arrows.gif") no-repeat scroll -8px -12px transparent;
	height:34px;
	position:absolute;
	top:120px;
	right:5px;
	width:35px;
	cursor:pointer;
}

.supercomPrev {
	background:url("../images/misc/slider/arrows.png") no-repeat scroll -55px -13px transparent;
	_background:url("../images/misc/slider/arrows.gif") no-repeat scroll -55px -13px transparent;
	height:34px;
	position:absolute;
	top:120px;
	left:5px;
	width:35px;
	cursor:pointer;
}

#myController {
	position:absolute;
	top:5px;
	right:5px;
}

.newsControl {
	_display:none;
	background:url("../images/misc/slider/bullet.png") no-repeat scroll 0 0 transparent;
	float:left;
	width:15px;
	height:15px;
}

.newsControl:hover {
	background-position:-32px 0;
	cursor:pointer;
}

.supercomSelected, .supercomSelected:hover {
	background-position:-15px 0;
}

.wrapper {
	margin:0 auto;
	text-align:left;
	position:relative;
	width:980px;
	_width:990px;
}

.advertising {
	text-align:center;
	border:1px solid #333;
	box-shadow:0 0 5px #111;
	margin:0 auto;
}

.advertising-content {
	display:inline-block;
	position:relative;
}

#top-adv {
	height:90px;
	float:right;
	width:810px;
	_width:800px;
}

#top-adv-2 {
	height:70px;
	width:970px;
	_width:955px;
}

#header {
	height:140px;
	position:relative;
	display:table;
	float:left;
	width:100%;
	margin-top:45px;
}

#header #left-header {
	float:left;
	width:145px;
}

#left-header #logo a {
	width:150px;
	height:130px;
	display:block;
}

#header #right-header {
	float:right;
	width:835px;
	_width:830px;
}

.navbar {
	font-family:'Dosis', sans-serif;
	position:relative;
	display:table;
	float:right;
	list-style-type:none;
	padding:0;
	margin-top:2px;
}

.navbar:before {
	position:absolute;
	display:block;
	content:"";
	z-index:-1;
	width:100%;
	height:18px;
	bottom:-9px;
	left:2px;
	background:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 75%);
	background:-webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(0, 0, 0, 0.7)), color-stop(75%, rgba(0, 0, 0, 0)));
	background:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 75%);
	background:-o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 75%);
	background:-ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 75%);
	background:radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 75%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#00000000', GradientType=1);
	opacity:.4;
}

.navbar:after {
	position:absolute;
	display:block;
	content:"";
	z-index:-1;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-webkit-box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.navbar li {
	position:relative;
	float:left;
	display:inline-block;
	list-style-type:none;
	text-align:center;
	margin:0;
	border-left:0;
	border:1px solid rgba(0, 0, 0, 0.5);
	line-height:35px;
	-webkit-box-shadow:inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
	background:#ad2259;
}

.navbar li:before {
	position:absolute;
	display:block;
	content:"";
	z-index:1;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.16) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.16)));
	background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.16) 100%);
	background:-o-linear-gradient(top, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.16) 100%);
	background:-ms-linear-gradient(top, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.16) 100%);
	background:linear-gradient(top, rgba(255, 255, 255, 0.15) 0, rgba(0, 0, 0, 0.16) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26ffffff', endColorstr='#29000000', GradientType=0);
}

.navbar li:after {
	position:absolute;
	display:block;
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:url("../images/misc/bg-menu.png");
}

.navbar li a:hover {
	color:#ccc;
}

.navbar li:first-child {
	border-left:1px solid #1a1a1a;
}

.navbar li:last-child {
	-webkit-box-shadow:inset 1px 1px 0 0 rgba(255, 255, 255, 0.25), inset -1px 0 0 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 1px 1px 0 0 rgba(255, 255, 255, 0.25), inset -1px 0 0 0 rgba(255, 255, 255, 0.25);
}

.navbar li a {
	position:relative;
	display:block;
	width:100%;
	_width:auto;
	text-decoration:none;
	font-size:10px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
	filter:dropshadow(color=#000, offx=0, offy=-1);
	z-index:4;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
	text-transform:uppercase;
}

.navbar li:hover {
	-webkit-box-shadow:inset 0 -2px 8px 0 rgba(0, 0, 0, 0.35);
	box-shadow:inset 0 -2px 8px 0 rgba(0, 0, 0, 0.35);
}

.navbar li a span {
	position:relative;
	font-weight:bold;
	margin:0 11px 0 0;
	_margin:0;
}

.navbar li:not(:last-of-type) .drpcontent {
	left:-1px;
}

.navbar li:last-child .drpcontent {
	right:-1px;
}

.menu-nav-bar {
	position:relative;
	float:left;
	display:block;
	width:20px;
	height:20px;
	margin:6px 8px 0 8px;
	_margin:6px 7px 0 7px;
	background:url("../images/misc/menu-sprite.png") no-repeat;
	_background:url("../images/misc/menu-sprite.jpg") no-repeat;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}

.menu-nav-bar.home {
	background-position:0 0;
}

.menu-nav-bar.upload {
	background-position:-20px 0;
}

.menu-nav-bar.download {
	background-position:-40px 0;
}

.menu-nav-bar.dj {
	background-position:-60px 0;
}

.menu-nav-bar.theme {
	background-position:-80px 0;
}

.menu-nav-bar.adv {
	background-position:-100px 0;
}

.navbar li:hover .menu-nav-bar.home {
	background-position:0 -20px;
}

.navbar li:hover .menu-nav-bar.upload {
	background-position:-20px -20px;
}

.navbar li:hover .menu-nav-bar.download {
	background-position:-40px -20px;
}

.navbar li:hover .menu-nav-bar.dj {
	background-position:-60px -20px;
}

.navbar li:hover .menu-nav-bar.theme {
	background-position:-80px -20px;
}

.navbar li:hover .menu-nav-bar.adv {
	background-position:-100px -20px;
}

.breadcrumbs {
	background:#1b1b1b;
	background:-moz-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1b1b1b), color-stop(100%, #111));
	background:-webkit-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-o-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-ms-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:linear-gradient(to bottom, #1b1b1b 0, #111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1b1b', endColorstr='#111111', GradientType=0);
	text-shadow:0 1px 0 rgba(0, 0, 0, 1);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #111;
	clear:both;
	display:block;
	height:45px;
	font-family:Arial;
}

.breadcrumbs .item, .breadcrumbs .item a {
	background:url("../images/misc/dark-arrow.png") no-repeat right top;
	_background:0;
	color:#999;
	float:left;
	font-size:14px;
	font-weight:normal;
	height:45px;
	line-height:45px;
	padding:0 25px 0 10px;
	text-transform:uppercase;
}

.breadcrumbs .item {
	background:0;
	padding:0;
}

.breadcrumbs h2.item {
	max-width:450px;
	max-height:45px;
	overflow:hidden;
}

.breadcrumbs .item a {
	color:#999;
}

.breadcrumbs .item:last-child, .breadcrumbs .item.last-child {
	background-image:none;
	padding-left:10px;
}

#second-top-content {
	border-bottom:1px solid #111;
	padding-bottom:10px;
}

.left-box-home, .right-box-home {
	width:480px;
	background:url('../images/misc/column_bg.jpg');
	padding:5px 10px;
	border-radius:5px;
	float:left;
	display:inline-block;
	margin-right:10px;
}

.left-box-home h4 {
	color:#fff;
	text-shadow:0 0 10px #999;
	font-size:12px;
	margin:5px 0;
	border-bottom:1px dotted #222;
	padding-bottom:5px;
}

.right-box-home {
	width:460px;
	padding:0;
}

#wrap-decu {
	max-height:200px;
}

#wrap-decu .slimScrollDiv {
	height:200px !important;
}

#top-decu-by-supercom {
	margin-bottom:5px;
	font-size:11px;
	max-height:200px;
}

#top-decu-by-supercom .top-bit {
	clear:both;
	height:20px;
	border:0;
	float:left;
	width:100%;
}

#top-decu-by-supercom .top-num {
	float:left;
	font-weight:bold;
	height:20px;
	text-align:center;
	width:22px;
	padding-top:1px;
}

#top-decu-by-supercom .top-decu-song-name {
	float:left;
	width:410px;
	height:20px;
	overflow:hidden;
}

#top-decu-by-supercom .top-decu-song-name h3 a {
	color:cadetblue;
}

#top-decu-by-supercom .top-decu-song-name img {
	margin-bottom:3px;
	vertical-align:middle;
}

#top-decu-by-supercom .top-count {
	color:cadetblue;
	float:left;
	padding-top:0;
	padding-left:10px;
	width:30px;
}

.top-rank-1, .top-rank-2, .top-rank-3, .top-rank-normal {
	border-radius:35px;
	color:#fff;
	float:left;
	font-size:9px;
	height:17px;
	line-height:17px;
	text-align:center;
	width:17px;
}

.top-rank-1 {
	background:crimson;
}

.top-rank-2 {
	background:green;
}

.top-rank-3 {
	background:deepskyblue;
}

.top-rank-normal {
	background:gray;
}

.title-text {
	text-indent:-9999px;
	height:35px;
}

#new-album-title {
	background-position:0 -338px;
}

#top-song-title {
	background-position:0 -373px;
}

#singer-list-title {
	background-position:0 -408px;
}

#category-title {
	background-position:0 -443px;
}

#dj-list-title {
	background-position:0 -478px;
}

#link-title {
	background-position:0 -513px;
}

#nonstop-list-title {
	background-position:0 -548px;
}

#producer-list-title {
	background-position:0 -583px;
}

#new-list-title {
	background-position:0 -618px;
}

#video-list-title {
	background-position:0 -653px;
}

#vietmix-list-title {
	background-position:0 -688px;
}

.home-category {
	width:auto;
	height:auto;
	-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .13);
	-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .13);
	box-shadow:0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .13);
}

.home-category li a {
	background-color:#616975;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#191919));
	background-image:-webkit-linear-gradient(top, #1a1a1a, #191919);
	background-image:-moz-linear-gradient(top, #1a1a1a, #191919);
	background-image:-o-linear-gradient(top, #1a1a1a, #191919);
	background-image:-ms-linear-gradient(top, #1a1a1a, #191919);
	background-image:linear-gradient(top, #1a1a1a, #191919);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#1A1A1A', EndColorStr='#191919');
	border-bottom:1px solid #111;
	-webkit-box-shadow:inset 0 1px 0 0 #222;
	-moz-box-shadow:inset 0 1px 0 0 #222;
	box-shadow:inset 0 1px 0 0 #222;
	width:100%;
	height:2.75em;
	line-height:2.75em;
	text-indent:.75em;
	display:block;
	position:relative;
	font-weight:600;
	color:#999;
	text-shadow:0 1px 0 rgba(0, 0, 0, .5);
	font-size:13px;
}

.home-category li a i {
	margin-right:3px;
}

.home-category ul li a {
	background:#222;
	border-bottom:1px solid #191919;
	width:100%;
	height:2.75em;
	line-height:2.75em;
	text-indent:2.4em;
	display:block;
	position:relative;
	font-size:12px;
	font-weight:400;
	color:#878d95;
}

.home-category>li>a:before {
	content:'';
	background-repeat:no-repeat;
	font-size:36px;
	height:1em;
	width:1em;
	position:absolute;
	left:0;
	top:50%;
	margin:-.5em 0 0 0;
}

.home-category>li>ul li a:before {
	content:'▶';
	font-size:8px;
	color:#bcbcbf;
	position:absolute;
	width:1em;
	height:1em;
	top:0;
	left:-2.7em;
}

.home-category>li>ul li:hover a, .home-category>li>ul li:hover a:before {
	color:#fff;
}

ul#child-cat-list li {
	display:block;
	padding:5px 10px;
	background:#151515;
	margin-bottom:5px;
	font-weight:bold;
	font-size:14px;
	border-radius:2px;
	color:#999;
}

ul#child-cat-list li i {
	margin-right:5px;
}

ul#child-cat-list li a {
	font-size:12px !important;
	font-family:Tahoma;
}

ul#child-cat-list li a.current {
	text-shadow:0 0 5px #999;
	color:#fff;
}

#top-content {
	padding-bottom:5px;
}

.break-top-content {
	clear:both;
	border-top:1px solid #222;
	margin-bottom:10px;
}

#content {
	clear:both;
	display:block;
	margin-top:5px;
}

.column-title .right-link {
	line-height:30px;
	float:right;
	font-size:10px;
}

.column-title .right-link a {
	color:grey;
}

#center-column, #center-listen-column {
	width:500px;
	float:left;
	position:relative;
	display:inline-block;
}

#center-listen-column {
	width:510px;
}

.center-view-video-column {
	width:710px !important;
}

#left-column, #left-listen-column {
	width:200px;
	float:left;
	position:relative;
	display:inline-block;
}

#center-column-content {
	padding:0 10px;
}

#right-column, #right-listen-column {
	width:280px;
	float:left;
	position:relative;
	display:inline-block;
}

#right-listen-column {
	width:260px;
}

.column-bit {
	width:100%;
	margin-bottom:10px;
}

#left-column .column-content, #center-column .column-content, #right-column .column-content, .left-column-cat .column-content, .right-column-cat .column-content, #right-listen-column .column-content {
	background:url('../images/misc/column_bg.jpg') center;
	padding:5px 10px !important;
	border-radius:5px;
	box-shadow:0 0 1px #222;
}

#wrap-listen {
	background:url('../images/misc/column_bg.jpg') center;
	border-radius:5px;
	box-shadow:0 0 1px #222;
	float:left;
	margin-right:10px;
}

.center-column-content {
	background:url('../images/misc/column_bg.jpg');
	padding-top:10px;
}

#list-video-home {
	padding-left:5px;
	width:470px;
	float:left;
}

#list-video-home .video-bit {
	float:left;
	width:150px;
	padding-left:6px;
	_padding-left:3px;
}

#list-video-home .video-bit .video-thumb {
	position:relative;
	width:150px;
	height:100px;
}

#list-video-home .video-bit:hover .video-title h3 a {
	color:deeppink;
}

#list-video-home .video-bit .video-thumb .play-video-icon {
	background-position:0 -864px;
	width:18px;
	height:18px;
	display:none;
	left:65px;
	position:absolute;
	top:40px;
}

#list-video-home .video-bit:hover .video-thumb .play-video-icon {
	display:inline-block;
}

#list-video-home .video-bit .video-title h3 {
	height:25px;
	overflow:hidden;
	text-align:center;
	margin-top:3px;
}

#list-video-home .break-video-line {
	clear:both;
	margin-bottom:2px;
}

#center-column .song-list, .left-column-cat .song-list {
	width:100%;
	display:block;
}

#center-column .song-list .song-bit, .left-column-cat .song-bit {
	padding:5px 0;
	clear:both;
}

#center-column .song-list .song-bit .song-icon, .left-column-cat .song-bit .song-icon {
	background:url("../images/misc/sprite.png") no-repeat scroll 0 -841px;
	_background:url("../images/misc/sprite.gif") no-repeat scroll 0 -841px;
	display:inline-block;
	float:left;
	height:20px;
	margin-right:3px;
	width:20px;
}

#center-column .song-list .song-bit .song-name, .left-column-cat .song-list .song-bit .song-name {
	width:320px;
	overflow:hidden;
	word-wrap:break-word;
	height:20px;
}

#center-column .song-list .song-bit .song-name h3, .left-column-cat .song-list .song-bit .song-name h3 {
	display:inline;
}

#center-column .song-list .song-bit .song-name a, .left-column-cat .song-list .song-bit .song-name a {
	font-weight:normal;
	font-size:12px;
}

#center-column .song-list .song-bit .song-name a {
	font-weight:900;
}

#center-column .song-list .song-bit:hover .song-name a, .left-column-cat .song-list .song-bit:hover .song-name a {
	color:#fff;
	text-shadow:0 0 5px #999;
}

#center-column .song-list .song-bit .song-name a:hover, .left-column-cat .song-list .song-bit .song-name a:hover {
	color:deeppink !important;
	text-shadow:0 0 7px #8f0749 !important;
}

.hot-song {
	background:url("../images/icon/hot.gif") no-repeat;
	float:right;
	width:22px;
	height:10px;
	margin-right:105px;
	_margin-right:50px;
	margin-top:-16px;
}

.add-to-playlist a {
	background-position:0 -723px;
	width:16px;
	height:16px;
	float:right;
	margin-right:85px;
	margin-top:-16px;
	overflow:hidden;
}

#center-column .song-list .song-bit .add-to-playlist a {
	margin-right:75px;
}

.add-to-playlist a:hover {
	background-position:0 -744px;
	width:16px;
	height:16px;
}

#center-column .song-list .song-bit .add-to-playlist, .left-column-cat .song-list .song-bit .add-to-playlist {
	visibility:hidden;
}

#center-column .song-list .song-bit:hover .add-to-playlist, .left-column-cat .song-list .song-bit:hover .add-to-playlist {
	visibility:visible;
}

#center-column .song-list .song-bit .song-listen, .left-column-cat .song-list .song-bit .song-listen {
	background:url('../images/misc/sprite.png') no-repeat scroll 0 -823px;
	_background:url('../images/misc/sprite.gif') no-repeat scroll 0 -823px;
	float:right;
	margin-left:20px;
	margin-top:-20px;
	overflow:hidden;
	padding-left:20px;
	width:60px;
	font-size:10px;
}

#center-column .song-list .song-bit .song-listen {
	width:50px;
}

#center-column .song-list .song-bit .poster-info {
	padding-left:22px;
	color:#444;
}

#center-column .song-list .song-bit .poster-info a {
	color:#666;
}

#center-column .song-list .song-bit .poster-info i {
	padding:0 3px;
}

#left-column .article-list, .left-column-cat .article-list {
	width:100%;
	display:block;
}

#left-column .article-list .article-bit, .left-column-cat .article-bit {
	padding:5px 0;
	clear:both;
}

#left-column .article-list .article-bit .article-icon, .left-column-cat .article-bit .article-icon {
	display:inline-block;
	float:left;
	margin-right:3px;
	padding-top:3px;
	width:20px;
	font-size:13px;
}

#left-column .article-list .article-bit .article-name, .left-column-cat .article-list .article-bit .article-name {
	width:320px;
	overflow:hidden;
	word-wrap:break-word;
	height:20px;
}

#left-column .article-list .article-bit .article-name h3, .left-column-cat .article-list .article-bit .article-name h3 {
	display:inline;
}

#left-column .article-list .article-bit .article-name a, .left-column-cat .article-list .article-bit .article-name a {
	font-weight:normal;
	font-size:12px;
}

#left-column .article-list .article-bit:hover .article-name a, .left-column-cat .article-list .article-bit:hover .article-name a {
	color:#fff;
	text-shadow:0 0 5px #999;
}

#left-column .article-list .article-bit .article-name a:hover, .left-column-cat .article-list .article-bit .article-name a:hover {
	color:deeppink !important;
	text-shadow:0 0 7px #8f0749 !important;
}

.hot-article {
	background:url("../images/icon/hot.gif") no-repeat;
	float:right;
	width:22px;
	height:10px;
	margin-right:105px;
	_margin-right:50px;
	margin-top:-16px;
}

.add-to-playlist a {
	background-position:0 -723px;
	width:16px;
	height:16px;
	float:right;
	margin-right:85px;
	margin-top:-16px;
	overflow:hidden;
}

.add-to-playlist a:hover {
	background-position:0 -744px;
	width:16px;
	height:16px;
}

#left-column .article-list .article-bit .add-to-playlist, .left-column-cat .article-list .article-bit .add-to-playlist {
	visibility:hidden;
}

#left-column .article-list .article-bit:hover .add-to-playlist, .left-column-cat .article-list .article-bit:hover .add-to-playlist {
	visibility:visible;
}

#left-column .article-list .article-bit .article-view, .left-column-cat .article-list .article-bit .article-view {
	float:right;
	margin-left:20px;
	margin-top:-20px;
	overflow:hidden;
	padding-left:20px;
	width:60px;
	font-size:10px;
}

#left-column .article-list .news-first, #left-column .article-list .news-single, #left-column .article-list .video-first, #left-column .article-list .video-single {
	padding:5px 0;
	clear:both;
	text-align:center;
}

#left-column .article-list .news-first .news-thumb, #left-column .article-list .news-single .news-thumb, #left-column .article-list .video-first .video-thumb, #left-column .article-list .video-single .video-thumb {
	display:block;
	position:relative;
}

#left-column .article-list .news-first .news-thumb img, #left-column .article-list .news-single .news-thumb img, #left-column .article-list .video-first .video-thumb img, #left-column .article-list .video-single .video-thumb img {
	width:400px;
	height:200px;
	border:1px solid #333;
	box-shadow:0 0 10px #000;
	padding:2px;
}

#left-column .article-list .news-first .news-title h3 a, #left-column .article-list .news-single .news-title h3 a, #left-column .article-list .video-first .video-title h3 a, #left-column .article-list .video-single .video-title h3 a {
	font-size:13px;
	font-family:Arial;
	color:darkkhaki;
	display:block;
	margin:5px 0;
}

#left-column .article-list .video-first .video-title h3 a, #left-column .article-list .video-single .video-title h3 a {
	color:deeppink;
}

#left-column .article-list .news-single .news-desc, #left-column .article-list .video-single .video-desc {
	color:#555;
}

#left-column .article-list .video-first .video-thumb img, #left-column .article-list .video-single .video-thumb img {
	padding:0;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius:3px;
	border-color:#222;
}

#left-column .article-list .video-first .play-video-icon, #left-column .article-list .video-single .play-video-icon {
	background:url('../images/misc/sprite.png') no-repeat left;
	background-position:0 -864px;
	width:18px;
	height:18px;
	left:230px;
	position:absolute;
	top:90px;
}

#left-column #album-list, .left-column-cat #album-list, #left-listen-column #album-list {
	text-align:center;
}

#left-listen-column #album-list {
	margin-top:10px;
}

.left-column-cat #album-list {
	padding:10px 0;
}

#left-column #album-list .album-bit, .left-column-cat #album-list .album-bit, #left-listen-column #album-list .album-bit {
	margin-bottom:10px;
	width:157px;
	display:inline-block;
}

#left-column #album-list .album-bit {
	width:200px;
}

.left-column-cat #album-list .album-bit, #album-list .album-bit {
	float:left;
	padding-left:5px;
}

#left-column #album-list .album-bit {
	padding:0;
}

#left-column #album-list .album-bit .album-cover, .left-column-cat #album-list .album-bit .album-cover, #left-listen-column #album-list .album-bit .album-cover {
	background-position:0 0;
	width:151px;
	height:123px;
	text-align:left;
}

#left-column #album-list .album-bit .album-cover {
	background-position:25px 0;
	width:200px;
}

#left-column #album-list .album-bit .album-cover img, .left-column-cat #album-list .album-bit .album-cover img, #left-listen-column #album-list .album-bit .album-cover img {
	width:110px;
	height:110px;
	margin:2px 0 0 9px;
}

#left-column #album-list .album-bit .album-cover img {
	margin:2px 0 0 34px;
}

#left-column #album-list .album-bit .album-name, .left-column-cat #album-list .album-bit .album-name, #left-listen-column #album-list .album-bit .album-name {
	height:20px;
	overflow:hidden;
}

.left-column-cat #album-list .album-bit .album-name {
	height:40px;
	padding-left:1px;
}

#left-column #album-list .album-bit .album-name a {
	font-weight:bold;
}

#list-album-cat, #list-news-cat {
	width:100%;
	float:left;
	display:block;
	position:relative;
	margin-bottom:10px;
}

#list-album-cat .album-bit, #list-news-cat .news-bit {
	border-bottom:1px solid #050505;
	border-top:1px solid #191919;
	height:1%;
	padding:20px 0 15px;
}

#list-album-cat .album-bit .album-cover, #list-news-cat .news-bit .news-cover {
	float:left;
	height:166px;
	width:200px;
}

#list-news-cat .news-bit .news-cover {
	width:190px;
	height:176px;
}

#list-album-cat .album-bit .album-cover .img-cover, #list-news-cat .news-bit .news-cover .img-cover {
	position:relative;
}

#list-album-cat .album-bit .album-cover .img-cover .bgcover {
	background-position:0 -128px;
	width:193px;
	height:165px;
	height:165px;
	left:0;
	position:absolute;
	top:0;
	z-index:1;
}

#list-album-cat .album-bit .album-cover .img-cover .img152 {
	border-radius:3px;
	height:152px;
	left:6px;
	position:absolute;
	top:2px;
	width:152px;
	z-index:2;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#list-news-cat .news-bit .news-cover .img-cover .img162 {
	border-radius:3px;
	height:162px;
	width:162px;
	left:6px;
	position:absolute;
	top:2px;
	z-index:2;
	border:1px solid #222;
	padding:1px;
	background:#252525;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#list-album-cat .album-bit .album-info, #list-news-cat .news-bit .news-info {
	float:right;
	width:460px;
}

#list-news-cat .news-bit .news-info {
	width:480px;
}

#list-album-cat .album-bit .album-info h3, #list-news-cat .news-bit .news-info h3 {
	font-size:18px;
	font-weight:bold;
}

#list-album-cat .album-bit .album-info .album-profile, #list-news-cat .news-bit .news-info .news-profile {
	height:20px;
	padding:2px 0;
	margin-top:5px;
	overflow:hidden;
}

#list-album-cat .album-bit .album-info .album-desc, #list-news-cat .news-bit .news-info .news-desc {
	margin-top:5px;
	border-top:1px dotted #222;
	padding:4px 0;
}

#list-album-cat .album-bit .album-info .album-profile .album-create, #list-news-cat .news-bit .news-info .news-profile .news-create {
	margin-left:10px;
}

#list-album-cat .album-bit .album-info .album-profile .album-date, #list-news-cat .news-bit .news-info .news-profile .news-date {
	margin-left:10px;
}

#list-album-cat .album-bit .album-info .album-profile .album-like, #list-news-cat .news-bit .news-info .news-profile .news-like {
	margin-left:10px;
}

#list-album-cat .album-bit .album-info .album-profile .album-category, #list-news-cat .news-bit .news-info .news-profile .news-category {
	margin-left:10px;
}

.break-list-line {
	border-top:1px solid #191919;
}

#center-column ul.artist-list li {
	display:block;
	background:#111;
	border-radius:3px;
	margin-bottom:1px;
	font-family:Arial;
}

#center-column ul.artist-list li:hover {
	background:#222;
}

#center-column ul.artist-list li a {
	width:100%;
	_width:auto;
	display:block;
	padding:5px 10px;
	text-decoration:none;
	color:#555;
}

#center-column ul#artist-dj li a:before {
	content:"";
	padding-right:5px;
	font-weight:bold;
}

#center-column ul#artist-singer li a:before {
	content:"";
	padding-right:5px;
	font-weight:bold;
}

.top-list li {
	clear:both;
	margin-bottom:5px;
}

.top-list .top-icon {
	color:darkgrey;
	float:left;
	margin:0;
	text-align:center;
	width:15px;
	height:20px;
	line-height:20px;
	font-weight:bold;
}

.top-list .top1 {
	color:chocolate;
}

.top-list .top2 {
	color:greenyellow;
}

.top-list .top3 {
	color:cornflowerblue;
}

.top-list .top-right {
	float:left;
	padding:0 0 0 10px;
	width:235px;
	_width:230px;
}

.top-list .top-right h3, .top-list .top-right .song-info .song-author {
	height:20px;
	overflow:hidden;
}

.top-list .top-right h3 a {
	font-weight:normal;
}

.top-list .top-right .song-info .song-author a {
	color:#555;
}

.top-list .top-right .song-info .song-count {
	font-size:9px;
}

.top-list .top-right .song-info .song-count span {
	color:dimgrey;
	margin-left:4px;
}

.top-list .top-right .user-name {
	float:left;
	width:200px;
}

.top-list .top-right .user-count {
	float:right;
	width:35px;
	_width:30px;
}

#top-user {
	margin-top:15px;
}

#top-user .top-icon {
	background:#2b2b2b;
	padding:2px 5px;
	border-radius:3px;
}

#top-user .top-right {
	width:225px;
}

#top-user .top-right .user-name {
	width:180px;
	font-weight:bold;
	height:20px;
	overflow:hidden;
}

#top-user .top1 {
	background:#a43e37;
	color:#fff;
}

#top-user .top2 {
	background:#85a838;
	color:#fff;
}

#top-user .top3 {
	background:cornflowerblue;
	color:#fff;
}

.tab-title {
	line-height:26px;
	overflow:hidden;
}

.tabs {
	height:31px;
}

.tabs .tab {
	padding-left:20px;
	padding-right:20px;
}

.tabs .tab {
	background-color:#111;
	border:1px solid #1a1a1a;
	border-radius:4px 4px 0 0;
	border-bottom:0;
	color:#ccc;
	cursor:pointer;
	float:left;
	font-weight:bold;
	height:30px;
	line-height:32px;
	margin:0 2px 0 2px;
}

.tabs .tab.active {
	background:url("../images/misc/column_bg.jpg") center;
	color:#777;
	border-color:#1a1a1a;
	margin-left:-1px;
}

.tab-content {
	background:url('../images/misc/column_bg.jpg') center;
	padding:5px 10px;
	border-radius:0 5px 5px 5px;
	box-shadow:0 0 1px #222;
	clear:both;
}

.choose-button {
	text-align:center;
	margin:7px 0;
	clear:both;
}

.choose-button a {
	margin-left:-3px;
}

.choose-button a.active {
	text-shadow:0 0 2px dimgrey;
}

.choose-button .left-btn {
	border-bottom-right-radius:0;
	border-right:0 none;
	border-top-right-radius:0;
}

.choose-button .middle-btn {
	border-radius:0;
	border-right:0 none;
}

.choose-button .right-btn {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}

.btn-choose {
	border-radius:3px;
	box-shadow:0 0 2px #fff inset;
	display:inline-block;
	font-family:Helvetica, Arial, sans serif;
	font-size:11px;
	padding:1px 8px;
	text-decoration:none !important;
	background-color:#e1e1e1;
	background-image:linear-gradient(#ededed, #e1e1e1);
	border:1px solid #d0d0d0;
	color:#444;
	text-shadow:1px 1px 1px #fff;
}

.left-column-cat {
	width:690px;
	float:left;
	position:relative;
	display:inline-block;
}

.left-column-cat .column-bit .column-title, #left-listen-column .column-title, #center-listen-column .column-title, #right-listen-column .column-title {
	background:#1b1b1b;
	background:-moz-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #1b1b1b), color-stop(100%, #111));
	background:-webkit-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-o-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:-ms-linear-gradient(top, #1b1b1b 0, #111 100%);
	background:linear-gradient(to bottom, #1b1b1b 0, #111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1b1b', endColorstr='#111111', GradientType=0);
	border-bottom:1px solid #191919;
	-webkit-box-shadow:inset 0 1px 0 0 #252525;
	-moz-box-shadow:inset 0 1px 0 0 #252525;
	box-shadow:inset 0 1px 0 0 #252525;
	padding:10px 15px;
	border-radius:5px 5px 0 0;
	font-size:14px;
}

.center-view-video-column .column-bit .column-title {
	border-radius:5px !important;
	padding-left:10px !important;
}

.left-column-cat .column-bit .column-title h1, .left-column-cat .column-bit .column-title h2, .column-bit .column-title span {
	text-transform:uppercase;
}

#center-listen-column .column-title h1 {
	height:20px;
	overflow:hidden;
}

.left-column-cat .column-bit .tool-cat, .column-bit .column-title {
	color:#d12d73;
	text-shadow:0 0 15px #d12d73;
}

.index-cat, .index-cat a, .center-column-title, .center-column-title a, .right-column-title, .right-column-title a {
	font-size:17px;
	height:35px;
	line-height:35px;
	padding-left:2px;
	text-transform:uppercase;
}

.index-cat, .index-cat a {
	color:#009ebd !important;
	text-shadow:0 0 15px #009ebd !important;
}

.center-column-title, .center-column-title a {
	color:#56a81d !important;
	text-shadow:0 0 15px #56a81d !important;
}

.bluecolor a {
	font-size:18px;
	height:30px;
	line-height:30px;
	color:#96c703 !important;
	text-shadow:none !important;
	font-weight:normal;
}

.white-title {
	color:#fff !important;
	text-shadow:0 0 15px #999 !important;
	font-size:11px !important;
	text-transform:uppercase;
	font-family:Arial;
}

.column-title.listen-title {
	border-radius:0 5px 0 0 !important;
	padding-left:5px !important;
}

.column-title.poster-title {
	border-radius:5px 0 0 0 !important;
}

.column-bit .news-cat {
	color:#4eb4d2;
	text-shadow:0 0 15px #4eb4d2;
}

.column-bit .music-cat {
	color:#009ebd;
	text-shadow:0 0 15px #009ebd;
}

.column-bit .video-cat {
	color:#c77a1e;
	text-shadow:0 0 15px #c77a1e;
}

.column-bit .album-cat {
	color:#56a81d;
	text-shadow:0 0 15px #56a81d;
}

.left-column-cat .column-bit .column-content, .right-column-cat .column-bit .column-content, #left-listen-column .column-content, #center-listen-column .column-content, #right-listen-column .column-content {
	padding:0;
	border-radius:0 0 5px 5px;
}

.left-column-cat .song-bit .song-name {
	width:500px !important;
}

.left-column-cat .song-bit .hot-song {
	margin-right:110px;
	_margin-right:50px;
}

#center-column .song-list .song-bit .hot-song {
	margin-right:93px;
	_margin-right:33px;
}

.left-column-cat #list-video-cat, #left-listen-column #list-video-cat, #right-listen-column #list-video-cat {
	padding:10px 0;
}

#left-listen-column #list-video-cat, #right-listen-column #list-video-cat {
	border-top:1px solid #191919;
}

.left-column-cat .video-bit, #left-listen-column .video-bit {
	float:left;
	width:160px;
	padding-left:5px;
	_padding-left:3px;
	margin-bottom:10px;
}

#right-listen-column .video-bit {
	display:inline-block;
	width:160px;
	margin-bottom:5px;
}

.left-column-cat .video-bit .video-thumb, #left-listen-column .video-bit .video-thumb, #right-listen-column .video-bit .video-thumb {
	position:relative;
	width:160px;
	height:110px;
}

.left-column-cat .video-bit .video-thumb img, #left-listen-column .video-bit .video-thumb img, #right-listen-column .video-bit .video-thumb img {
	width:160px;
	height:110px;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background:#111;
	border:1px solid #090909;
	padding:1px;
}

.left-column-cat .video-bit:hover .video-title h3 a, .left-column-cat .video-bit:hover .video-author a, #left-listen-column .video-bit:hover .video-title h3 a, #right-listen-column .video-bit:hover .video-title h3 a, #left-listen-column .video-bit:hover .video-author a, #right-listen-column .video-bit:hover .video-author a {
	color:deeppink;
}

.left-column-cat .video-bit .video-thumb .play-video-icon, #left-listen-column .video-bit .video-thumb .play-video-icon, #right-listen-column .video-bit .video-thumb .play-video-icon {
	background-position:0 -864px;
	width:18px;
	height:18px;
	display:none;
	left:75px;
	position:absolute;
	top:50px;
}

.left-column-cat .video-bit:hover .video-thumb .play-video-icon, #left-listen-column .video-bit:hover .video-thumb .play-video-icon, #right-listen-column .video-bit:hover .video-thumb .play-video-icon {
	display:inline-block;
}

.left-column-cat .video-bit .video-title, #left-listen-column .video-bit .video-title, #right-listen-column .video-bit .video-title {
	margin-top:5px;
}

.left-column-cat .video-bit .video-title, .left-column-cat .video-bit .video-author, #left-listen-column .video-bit .video-title, #right-listen-column .video-bit .video-title, #left-listen-column .video-bit .video-author, #right-listen-column .video-bit .video-author {
	max-height:35px;
	_height:35px;
	overflow:hidden;
	width:160px;
	text-align:center;
}

#list-video-cat .video-bit {
	width:200px;
	padding-left:17px;
}

#list-video-cat .video-bit .video-thumb, #list-video-cat .video-bit .video-thumb img {
	width:200px;
	height:130px;
}

#list-video-cat .video-bit .video-title {
	height:40px;
	width:200px;
}

#list-video-cat .video-bit .video-thumb .play-video-icon {
	left:95px;
	top:65px;
}

.left-column-cat .break-video-line, #left-listen-column .break-video-line, #right-listen-column .break-video-line {
	clear:both;
	margin-bottom:2px;
}

#news-details .news-info {
	padding:5px 0;
	border-bottom:1px solid #050505;
	color:#777;
}

#news-details .news-info span i {
	margin-right:3px;
	font-size:13px;
}

#news-details .news-info span {
	margin:0 5px;
}

#news-details .news-desc {
	border-top:1px solid #191919;
	padding:5px 0;
	font-family:Tahoma, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:22px;
	margin-bottom:10px;
	color:#999;
}

#news-details .news-content {
	margin-top:5px;
	text-align:justify;
	font-family:Arial, "Times New Roman", Times, serif;
	font-size:11pt;
	line-height:22px;
	color:#999;
}

#news-details .news-content img {
	max-width:670px;
}

#news-details .news-content .image-news {
	margin-bottom:10px;
}

#news-details .news-content .image-news img {
	background:#555;
	width:670px;
	margin-bottom:0;
}

#news-details .news-content .image-news p {
	font-size:13px;
	padding:5px;
	width:660px;
	color:#bbb;
	background:#ccc;
	color:#333;
	line-height:20px;
}

#news-details .news-content .news-question {
	color:#888;
	font-style:italic;
	margin-bottom:10px;
	margin-top:20px;
}

#news-details .news-content .author,  #news-details .news-content .source  {
	font-size:13px;
	font-weight:bold;
	margin-top:10px;
	line-height:15px;
	text-align:right;
	color:#333;
}

#news-details .news-content .source {
	font-weight:normal;
	font-style:italic;
}

table.share-area {
	width:100%;
	text-align:center;
}

#news-details .related-post {
	width:335px;
	float:left;
}

#news-details .related-post p {
	font-weight:bold;
	font-size:12px;
	margin-bottom:5px;
}

#news-details .related-post ul li {
	position:relative;
}

#news-details .related-post ul li a {
	max-width:260px;
	height:20px;
	overflow:hidden;
	display:inline-block;
}

#news-details .related-post ul li small {
	margin-left:5px;
	display:inline-block;
	overflow:hidden;
	color:#666;
}

.right-column-cat {
	width:280px;
	float:left;
	position:relative;
	display:inline-block;
	padding-left:10px;
}

.right-column-cat .column-content {
	padding:5px 10px !important;
}

.slimScrollBar {
	cursor:pointer !important;
}

.comment-form {
	display:block;
	margin-bottom:5px;
}

.comment-form textarea.comment-textarea {
	height:30px;
	width:95%;
	font-size:10px;
	resize:none;
}

#scroll-comment {
	max-height:414px;
}

.stick-comment {
	width:280px !important;
	position:fixed;
	top:35px;
}

#comment-list .comment-bit {
	border-bottom:1px solid #050505;
	border-top:1px solid #191919;
	clear:both;
	padding:5px 0;
}

#comment-list .reply-bit {
	border-bottom:1px solid #050505;
	border-top:1px solid #191919;
	line-height:18px;
}

#comment-list .comment-bit .comment-avatar {
	float:left;
}

#comment-list .comment-bit .comment-avatar img {
	border:1px solid #666;
	border-radius:2px;
	height:30px;
	padding:2px;
	width:30px;
}

#comment-list .reply-bit .comment-avatar img {
	width:20px;
	height:20px;
}

#comment-list .comment-bit .comment-content {
	float:left;
	margin-left:3px;
	margin-top:-5px;
	width:85%;
	font-size:10px;
}

#comment-list .comment-bit .comment-username {
	color:lightslategray;
	font-weight:bold;
	word-wrap:break-word;
	font-size:11px;
}

#comment-list .comment-bit .comment-tool {
	float:left;
	font-size:10px;
	width:100%;
}

#comment-list .comment-bit .comment-tool .comment-time {
	color:#666;
	font-size:9px;
}

#comment-list .comment-bit .reply-comment {
	display:none;
}

#comment-list .comment-bit .reply-comment textarea {
	background:none repeat scroll 0 0 #333;
	border:1px solid #222;
	color:#999;
	font-size:11px;
	height:30px;
	padding:5px;
	resize:vertical;
	width:98%;
}

#comment-list .comment-bit .reply-comment a {
	font-size:11px !important;
	padding:2px 10px !important;
}

.list-reply-comment {
	border-top:1px solid #111;
	margin-top:5px;
	display:inline-block;
}

.load-more {
	background:#191919;
	color:#999;
	cursor:pointer;
	font-weight:bold;
	padding:5px;
	text-align:center;
}

.load-more-reply {
	background:#191919;
	color:#999;
	cursor:pointer;
	padding:2px 5px;
	text-align:center;
	width:auto;
}

.notice-register {
	font-size:13px;
	padding:5px 20px;
	color:gray;
	font-family:Arial;
}

.notice-register ul {
	font-size:11px;
	margin-left:20px;
	margin-bottom:15px;
	color:darkgray;
}

#user-form h2 {
	font-size:14px;
	margin:10px 5px;
	text-transform:uppercase;
	color:#fff;
	text-shadow:0 0 15px #999;
}

#user-form .field-set {
	background:#111;
	border:1px solid #222;
	border-radius:3px;
	padding:20px 0 5px 0;
}

#user-manager ul li {
	font-size:13px;
	line-height:25px;
}

#user-manager ul li i {
	width:20px;
	display:inline-block;
	font-size:14px;
}

.formError {
	z-index:990;
}

.formError .formErrorContent {
	z-index:991;
}

.formError .formErrorArrow {
	z-index:996;
}

.formErrorInsideDialog.formError {
	z-index:5000;
}

.formErrorInsideDialog.formError .formErrorContent {
	z-index:5001;
}

.formErrorInsideDialog.formError .formErrorArrow {
	z-index:5006;
}

.inputContainer {
	position:relative;
	float:left;
}

.formError {
	position:absolute;
	top:300px;
	left:300px;
	display:block;
	cursor:pointer;
}

.ajaxSubmit {
	padding:20px;
	background:#55ea55;
	border:1px solid #999;
	display:none;
}

.formError .formErrorContent {
	width:100%;
	background:#ee0101;
	position:relative;
	color:#fff;
	width:150px;
	font-size:11px;
	border:2px solid #ddd;
	box-shadow:0 0 6px #000;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	padding:4px 10px 4px 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

.greenPopup .formErrorContent {
	background:#33be40;
}

.blackPopup .formErrorContent {
	background:#393939;
	color:#FFF;
}

.formError .formErrorArrow {
	width:15px;
	margin:-2px 0 0 13px;
	position:relative;
}

body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {
	margin:-2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	margin:0 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	box-shadow:0 2px 3px #444;
	-moz-box-shadow:0 2px 3px #444;
	-webkit-box-shadow:0 2px 3px #444;
	font-size:0;
	height:1px;
	background:#ee0101;
	margin:0 auto;
	line-height:0;
	font-size:0;
	display:block;
}

.formError .formErrorArrowBottom div {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.greenPopup .formErrorArrow div {
	background:#33be40;
}

.blackPopup .formErrorArrow div {
	background:#393939;
	color:#FFF;
}

.formError .formErrorArrow .line10 {
	width:15px;
	border:0;
}

.formError .formErrorArrow .line9 {
	width:13px;
	border:0;
}

.formError .formErrorArrow .line8 {
	width:11px;
}

.formError .formErrorArrow .line7 {
	width:9px;
}

.formError .formErrorArrow .line6 {
	width:7px;
}

.formError .formErrorArrow .line5 {
	width:5px;
}

.formError .formErrorArrow .line4 {
	width:3px;
}

.formError .formErrorArrow .line3 {
	width:1px;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	border-bottom:0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width:3px;
	border:0;
	background:#ddd;
}

.formError .formErrorArrow .line1 {
	width:1px;
	border:0;
	background:#ddd;
}

#left-listen-column .column-bit {
	margin-bottom:0 !important;
}

#left-listen-column .column-content {
	padding:5px 5px 5px 10px;
	border-right:1px solid #181818;
}

#left-listen-column .poster-avatar, #right-listen-column .poster-avatar {
	text-align:center;
}

#left-listen-column .poster-avatar img, #right-listen-column .poster-avatar img {
	border:1px solid #222;
	padding:2px;
	width:155px;
	height:155px;
	display:inline-block;
	overflow:hidden;
	-webkit-box-shadow:0 2px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:0 2px 8px rgba(0, 0, 0, 1);
	box-shadow:0 2px 8px rgba(0, 0, 0, 1);
}

#left-listen-column .poster-username, #right-listen-column .poster-username {
	text-align:center;
	margin:10px 0;
}

#left-listen-column .poster-username a, #right-listen-column .poster-username a {
	font-size:13px;
	font-weight:bold;
	word-wrap:break-word;
	color:#fff;
	font-family:Arial;
}

#left-listen-column .album-desc, #right-listen-column .album-desc {
	font-size:10px;
	text-align:justify;
}

#left-listen-column .poster-tools, #right-listen-column .poster-tools {
	text-align:center;
}

#left-listen-column .article-info, #right-listen-column .article-info {
	margin-bottom:10px;
}

#left-listen-column .article-info div i, #right-listen-column .article-info div i {
	margin-right:3px;
}

#left-listen-column .article-info div, #right-listen-column .article-info div {
	clear:both;
}

#left-listen-column .article-info div span, #right-listen-column .article-info div span {
	float:right;
	margin-right:5px;
	font-weight:bold;
	color:#999;
	text-align:right;
}

#left-listen-column .article-info div span a, #right-listen-column .article-info div span a {
	display:block;
	padding-left:15px;
}

.center-view-video-column #video-info {
	padding:5px 10px;
}

.center-view-video-column #video-info span i {
	margin-right:3px;
	font-size:13px;
}

.center-view-video-column .video-block-title {
	padding-left:10px;
	font-weight:bold;
}

.center-view-video-column #list-video-cat {
	padding:10px 0;
}

.center-view-video-column .video-bit {
	float:left;
	width:161px;
	padding-left:13px;
	_padding-left:11px;
	margin-bottom:5px;
}

.center-view-video-column .video-bit .video-thumb {
	position:relative;
	width:160px;
	height:110px;
}

.center-view-video-column .video-bit .video-thumb img {
	width:160px;
	height:110px;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background:#111;
	border:1px solid #090909;
	padding:1px;
}

.center-view-video-column .video-bit:hover .video-title h3 a, .center-view-video-column .video-bit:hover .video-author a {
	color:deeppink;
}

.center-view-video-column .video-bit .video-thumb .play-video-icon {
	background-position:0 -864px;
	width:18px;
	height:18px;
	display:none;
	left:75px;
	position:absolute;
	top:50px;
}

.center-view-video-column .video-bit:hover .video-thumb .play-video-icon {
	display:inline-block;
}

.center-view-video-column .video-bit .video-title {
	margin-top:5px;
}

.center-view-video-column .video-bit .video-title h3, .center-view-video-column .video-bit .video-author {
	height:35px;
	overflow:hidden;
	width:160px;
	text-align:center;
}

.center-view-video-column .break-video-line {
	clear:both;
	margin-bottom:2px;
}

.tag-cloud {
	margin-bottom:10px;
}

.tag-cloud ul {
	list-style-type:none;
	padding:0;
}

.tag-cloud li {
	margin:5px 5px 5px 10px;
	float:left;
}

.tag-cloud a {
	display:inline-block;
	position:relative;
	color:#963;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);
	text-decoration:none;
	text-align:center;
	padding:4px 9px 6px 6px;
	font:bold 10px Tahoma, sans-serif;
	border-radius:3px;
	border:1px solid #cc912d;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	background-image:-webkit-linear-gradient(top, rgba(254, 218, 113, 1) 0, rgba(254, 205, 97, 1) 60%, rgba(254, 188, 74, 1) 100%);
	background-image:-moz-linear-gradient(top, rgba(254, 218, 113, 1) 0, rgba(254, 205, 97, 1) 60%, rgba(254, 188, 74, 1) 100%);
	background-image:-o-linear-gradient(top, rgba(254, 218, 113, 1) 0, rgba(254, 205, 97, 1) 60%, rgba(254, 188, 74, 1) 100%);
	background-image:-ms-linear-gradient(top, rgba(254, 218, 113, 1) 0, rgba(254, 205, 97, 1) 60%, rgba(254, 188, 74, 1) 100%);
	background-image:linear-gradient(top, rgba(254, 218, 113, 1) 0, rgba(254, 205, 97, 1) 60%, rgba(254, 188, 74, 1) 100%);
}

.tag-cloud a:hover {
	color:#492a0b !important;
}

.tag-cloud a:after {
	content:'';
	position:absolute;
	height:50%;
	width:15px;
	border-left:1px solid #cc912d;
	background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(254, 218, 113, 1) 1%, rgba(254, 205, 97, 1) 100%);
	background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(254, 218, 113, 1) 1%, rgba(254, 205, 97, 1) 100%);
	background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(254, 218, 113, 1) 1%, rgba(254, 205, 97, 1) 100%);
	background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(254, 218, 113, 1) 1%, rgba(254, 205, 97, 1) 100%);
	background-image:linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(254, 218, 113, 1) 1%, rgba(254, 205, 97, 1) 100%);
	left:-5px;
	top:1px;
	-webkit-transform:skewX(-35deg);
	-moz-transform:skewX(-35deg);
	-o-transform:skewX(-35deg);
	-ms-transform:skewX(-35deg);
	transform:skewX(-35deg);
}

.tag-cloud a:before {
	content:'';
	position:absolute;
	height:48%;
	width:15px;
	border-left:1px solid #cc912d;
	bottom:1px;
	left:-5px;
	-webkit-transform:skewX(35deg);
	-moz-transform:skewX(35deg);
	-o-transform:skewX(35deg);
	-ms-transform:skewX(35deg);
	transform:skewX(35deg);
	background-image:-webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0, rgba(254, 205, 97, 1) 10%, rgba(254, 188, 74, 1) 100%);
	background-image:-moz-linear-gradient(top, rgba(240, 240, 240, 1) 0, rgba(254, 205, 97, 1) 10%, rgba(254, 188, 74, 1) 100%);
	background-image:-o-linear-gradient(top, rgba(240, 240, 240, 1) 0, rgba(254, 205, 97, 1) 10%, rgba(254, 188, 74, 1) 100%);
	background-image:-ms-linear-gradient(top, rgba(240, 240, 240, 1) 0, rgba(254, 205, 97, 1) 10%, rgba(254, 188, 74, 1) 100%);
	background-image:linear-gradient(top, rgba(240, 240, 240, 1) 0, rgba(254, 205, 97, 1) 10%, rgba(254, 188, 74, 1) 100%);
	-webkit-box-shadow:-2px 1px 2px rgba(100, 100, 100, 0.1);
	box-shadow:-2px 1px 2px rgba(100, 100, 100, 0.1);
}

.tag-cloud a span {
	background-color:#fff;
	border:1px solid #cc912d;
	border-radius:5px 5px 5px 5px;
	box-shadow:0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	display:inline-block;
	height:5px;
	left:-5px;
	position:relative;
	top:-1px;
	vertical-align:middle;
	width:5px;
	z-index:10;
}

.mplay_status {
	float:left;
	clear:both;
	width:100%;
	text-align:center;
	position:absolute;
	z-index:9;
}

#center-listen-column #media-player {
	border-bottom:0;
	border-left:0;
}

#center-listen-column #track-list {
	background:#131313;
	padding:5px 10px 10px;
}

#center-listen-column #track-list #track-list-content {
	color:dimgray;
	padding-top:5px;
}

#center-listen-column #track-list #track-list-content img {
	max-width:490px;
	_width:expression(this.scrollWidth>490 ? "490px":"auto");
}

#center-listen-column #track-list #recommended {
	padding-bottom:5px;
	color:#ccc;
}

#center-listen-column #track-list .show-tracklist {
	margin-top:10px;
	clear:both;
	float:right;
}

#center-listen-column #track-list #show-less-songtracklist {
	display:none;
}

#right-listen-column #vote-result.progress {
	margin-bottom:5px;
	border-radius:3px;
	line-height:15px;
	height:15px;
	font-size:10px;
}

#right-listen-column #vote-result .bar {
	line-height:15px;
	font-size:10px;
}

#right-listen-column .listen-tools .vote {
	margin-top:5px;
	margin-bottom:15px;
}

#right-listen-column .utility {
	margin-bottom:15px;
}

#right-listen-column .top-list .top-icon {
	width:auto;
	margin-top:5px;
}

#right-listen-column .top-list .top-right {
	width:215px;
}

#cmitem {
	max-height:400px;
}

.cmt-box-title {
	color:#bbb;
	font-size:13px;
	font-weight:bold;
	margin-bottom:10px;
	padding-left:5px;
}

.cmt-box {
	overflow:hidden;
	background:#1b1b1b;
	font-size:.85714286em;
	padding-top:10px;
	padding:10px 5px 0 5px;
	margin-top:-5px;
}

.cmt-box .view-more-cmt {
	display:block;
	padding:5px 0 5px 10px;
	background:#191919;
	margin-top:5px;
	font-weight:bold;
	font-size:11px;
	text-align:center;
}

.cmt-box .view-more-cmt a {
	padding-right:25px;
}

.cmt-box .cmt {
	position:relative;
	margin-left:5px;
	padding-top:10px;
	padding-right:10px;
	border-top:1px dashed #222;
}

.cmt-box .cmt .avatar, .cmt-box .cmt .avatar img {
	width:36px;
	height:36px;
	border-radius:100%;
}

.cmt-box .cmt .avatar {
	margin-left:0;
	border:2px solid #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:.5s ease;
	-moz-transition:.5s ease;
	-ms-transition:.5s ease;
	-o-transition:.5s ease;
	transition:.5s ease;
	position:relative;
	z-index:3;
	background:#c8c8c8 url('../images/misc/no_avatar.jpg') no-repeat center center;
	overflow:hidden;
}

.cmt-box .cmt .avatar:hover {
	border-color:brown;
}

.cmt-box .cmt .cmt-head, .cmt-box .cmt .cmt-content {
	padding-left:51px;
	color:#777;
}

.cmt-box .cmt .cmt-interact {
	float:right;
	visibility:hidden;
}

.cmt-box .cmt:hover .cmt-interact {
	visibility:visible;
}

.cmt-box .cmt .cmt-head {
	display:block;
	color:#bfbfbf;
	//font-size:.84615385em;
	font-size:11px;
}

.cmt-box .cmt .cmt-head .display-name {
	top:0;
	float:none;
	margin:0 3px 0 0;
	font-weight:bold;
	//font-size:1.18181818em;
	font-size:11px;
}

.cmt-box .cmt .cmt-head .display-name:hover {
	color:#f15a24;
}

.cmt-box .cmt .cmt-head .post-time, .cmt-box .cmt .cmt-head span {
	font-size:9px;
}

.cmt-box .cmt .cmt-head .post-time {
	color:#bfbfbf;
}

.cmt-box .cmt .cmt-content {
	margin:2px 0 4px 0;
	//margin:5px 0 10px 0;
	font-size:11px;
	word-wrap:break-word;
}

.cmt-box .cmt .cmt-interact {
	//margin-bottom:5px;
}

.cmt-box .cmt .cmt-interact a {
	color:#ccc;
}

.cmt-box .cmt .cmt-interact .reply-cmt {
	margin-right:10px;
}

.cmt-box .post-cmt {
	overflow:hidden;
	border-top:0;
	padding-top:0;
	margin-bottom:5px;
}

.cmt-box .post-cmt .avatar {
	border-color:brown;
}

.cmt-box .post-cmt .post-cmt-form {
	margin-left:55px;
}

.cmt-box .post-cmt .textarea {
	min-height:32px;
	width:98%;
	border:1px solid #d6d6d6;
	resize:none;
	overflow-y:hidden;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	font-size:11px;
	line-height:15px;
	height:auto;
}

.cmt-box .post-cmt .textarea:focus {
	box-shadow:0 0 0 #fff !important;
}

.cmt-box .post-cmt .form-more-info {
	margin-top:5px;
	overflow:hidden;
}

.cmt-box .post-cmt .form-more-info .error {
	display:block;
	color:red;
}

.post-cmt .post-cmt-form .form-controls {
	position:relative;
	margin-left:-12px;
	padding-left:10px;
}

.post-cmt .post-cmt-form .text-box-decor {
	position:absolute;
	top:13px;
	left:1px;
	z-index:10;
	padding-left:10px;
	background-position:0 -950px;
	width:11px;
	height:17px;
	_background:0;
}

.reply-comment {
	margin-bottom:5px;
	display:none;
}

.reply-comment textarea {
	height:30px;
	width:85%;
	margin-left:50px;
	border:1px solid #d6d6d6;
	resize:none;
	overflow-y:hidden;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	font-size:11px;
	line-height:15px;
}

.reply-comment .reply-comment-btn {
	margin-left:50px;
}

.reply-cmt-list .cmt {
	margin-left:50px;
	line-height:15px;
}

.reply-cmt-list .cmt .avatar, .reply-cmt-list .cmt .avatar img {
	width:25px;
	height:25px;
}

.reply-cmt-list .cmt .cmt-interact {
	margin-left:35px;
}

.reply-cmt-list .cmt .cmt-head, .reply-cmt-list .cmt .cmt-content {
	padding-left:35px;
}

.reply-cmt-list .view-more-cmt {
	margin-left:48px;
	margin-bottom:5px;
	text-align:left;
}

#facebook-comment {
	margin-top:5px;
}

#wrap-listsong {
	max-height:200px;
	margin-bottom:5px;
	border-bottom:1px solid #222;
}

#list-album-playlist-song .song-item {
	background:#151515;
	border-bottom:1px solid #222;
	font-size:11px;
	padding:5px 0 5px 10px;
	min-height:18px;
}

#list-album-playlist-song .song-item .song-name {
	overflow:hidden;
	width:400px;
	height:18px;
	float:left;
}

.tovernone {
	line-height:18px;
}

.overnone {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	max-width:210px;
	margin-left:5px;
	line-height:16px;
	height:23px;
}

#list-album-playlist-song .play-song {
	background:#333;
	font-weight:bold;
}

#list-album-playlist-song .song-tool {
	display:block;
	float:right;
	padding-right:10px;
	margin-top:-22px;
}

.icon_play, .icon_addplaylist, .icon_download {
	background-position:0 -929px;
	width:16px;
	height:16px;
	float:left;
	margin-right:5px;
	overflow:hidden;
}

.icon_download {
	background-position:0 -908px;
}

.icon_addplaylist {
	background-position:0 -887px;
}

#my-playlist-box {
	width:300px;
	margin:0 auto;
	text-align:left;
	background:#fff;
	border:1px solid #333;
	margin-left:350px;
	position:fixed;
	top:200px;
	z-index:99;
	display:none;
}

#my-playlist-box #playlist-list-title, #my-playlist-box #add-new-playlist {
	background:#222;
	padding:8px 5px;
	font-weight:bold;
	color:#ccc;
}

#my-playlist-box #add-new-playlist {
	background:#dadada;
	border-top:1px solid #999;
	font-weight:normal;
	padding-bottom:0;
}

#my-playlist-box #add-new-playlist input[type="text"] {
	background:#fff;
	border:1px solid #777;
	padding:3px;
	color:#666;
	border-radius:3px;
	font-size:11px;
	width:215px;
	height:18px;
}

#my-playlist-box #playlist-list {
	max-height:200px;
}

#my-playlist-box #playlist-list .playlist-list-item a {
	display:block;
	background:#f3f3f3;
	border-bottom:1px solid #e0e0e0;
	border-top:1px solid #fff;
	padding:5px 10px;
	color:#555;
	width:280px;
	overflow:hidden;
}

#my-playlist-box #playlist-list .playlist-list-item a:hover {
	background:#d9d9d9;
	color:#000 !important;
}

#my-playlist-box #add-new-playlist-btn {
	margin-top:-10px;
}

#my-playlist-box #my-playlist-list {
	padding:5px 0;
	text-align:center;
	background:#222;
	border-top:1px solid #333;
	font-weight:bold;
}

#my-playlist-box #my-playlist-list a {
	color:#ccc;
}

#wrap-suggest {
	max-height:475px;
	font-size:11px;
	color:#999;
}

#search-suggest .vietcom-suggest {
	width:400px;
	border:1px solid #333;
	position:fixed;
	top:34px;
	background:#464646;
	padding:0;
	z-index:99;
	border-top:0 !important;
	font-size:12px;
	display:block;
}

#search-suggest .vietcom-suggest a {
	color:#ccc;
}

#search-suggest .vietcom-suggest .sg_l {
	width:60px;
	float:left;
	font-weight:bold;
	padding-left:10px;
	padding-top:10px;
	color:#fff;
}

#search-suggest .vietcom-suggest .sg_r {
	width:309px;
	float:left;
	padding:5px 10px 0;
	min-height:10px;
	padding-bottom:0;
}

#search-suggest .vietcom-suggest .sg_r .sg_thumb {
	float:left;
	margin-right:5px;
}

#search-suggest .vietcom-suggest .sg_r .sg_info {
	float:left;
}

#search-suggest .vietcom-suggest .sg_video .sg_r .sg_info {
	width:165px;
}

#search-suggest .vietcom-suggest .sg_album .sg_r .sg_info {
	width:256px;
}

#search-suggest .vietcom-suggest .sg_r .sg_name {
	font-weight:bold;
	font-size:11px;
	display:block;
	max-width:250px;
	height:21px;
	overflow:hidden;
	word-wrap:break-word;
}

#search-suggest .vietcom-suggest .sg_music .sg_r .sg_name {
	max-width:300px;
}

#search-suggest .vietcom-suggest .sg_r .sg_a {
	font-size:11px;
	max-width:250px;
	height:20px;
	overflow:hidden;
}

#search-suggest .vietcom-suggest .sg_r ul li {
	clear:both;
	margin-bottom:5px;
	display:block;
	overflow:hidden;
}

#search-suggest .vietcom-suggest .sg_music .sg_r ul li {
	margin:0;
	line-height:20px;
	margin-bottom:3px;
}

#search-suggest .vietcom-suggest .sg_video .sg_r {
	border-bottom:1px solid #444;
	border-top:1px solid #555;
	border-left:1px solid #575757;
	background:#494949;
}

#search-suggest .vietcom-suggest .sg_album .sg_r {
	border-bottom:1px solid #444;
	border-top:1px solid #555;
	border-left:1px solid #575757;
	background:#494949;
}

#search-suggest .vietcom-suggest .sg_album .sg_r .sg_thumb img {
	width:40px;
	height:40px;
	padding:1px;
	border:1px solid #333;
}

#search-suggest .vietcom-suggest .sg_video .sg_r .sg_thumb {
	width:84px;
	height:46px;
	overflow:hidden;
}

#search-suggest .vietcom-suggest .sg_video .sg_r .sg_thumb img {
	width:84px;
	height:50px;
	margin-top:-8px;
}

#search-suggest .vietcom-suggest .sg_music .sg_r {
	border-top:1px solid #464646;
	border-left:1px solid #575757;
	border-bottom:1px solid #444;
	background:#494949;
}

#search-suggest .vietcom-suggest .sg_music .sg_r ul li {
	clear:both;
	display:block;
	overflow:hidden;
}

#search-suggest .vietcom-suggest .sg_more a {
	display:block;
	clear:both;
	font-weight:bold;
	text-align:center;
	padding:5px;
	background:#333;
}

/*Notifications*/
#wrap-notifications-layout {
	max-height:475px;
	font-size:11px;
	color:#999;
}

#notifications-layout .notifications-content {
	width:400px;
	border:1px solid #333;
	position:fixed;
	top:45px;
	background:#464646;
	padding:0;
	z-index:99;
	border-top:0 !important;
	font-size:12px;
	display:block;
}
#notifications-layout .notifications-content:before {
	border-color: transparent transparent #333;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 0;
    position: absolute;
    top: -20px;
    width: 0;	
}
#notifications-layout .notifications-content .header {
	display:block;
	clear:both;
	font-weight:bold;
	text-align:left;
	padding:5px;
	background:#333;
}
#notifications-layout .notifications-content .header span{
	clear:both;
	text-align:right;
	float:right;
}
#notifications-layout .notifications-content .delete-Notifi{
	float:right;
	margin-top:-5px;
}
#notifications-layout .notifications-content a {
	color:#ccc;
}

#notifications-layout .notifications-content .notifi-left {
	width:60px;
	float:left;
	font-weight:bold;
	padding-left:10px;
	padding-top:10px;
	color:#fff;
}

#notifications-layout .notifications-content .notifi-right {
	width:309px;
	float:left;
	padding:5px 10px 0;
	min-height:10px;
	padding-bottom:0;
}

#notifications-layout .notifications-content .notifi-right .notifi-thumb {
	float:left;
	margin-right:5px;
}

#notifications-layout .notifications-content .notifi-right .notifi-info {
	float:left;
}

#notifications-layout .notifications-content .notifi .notifi-right .notifi-info {
	width:300px;
	line-height:18px;
	margin-top:-2px;
}
#notifications-layout .notifications-content .notifi-right .notifi-name {
	font-weight:bold;
	font-size:11px;
	display:block;
	max-width:300px;
	height:21px;
	overflow:hidden;
	word-wrap:break-word;
}
#notifications-layout .notifications-content .notifi-right .notifi-name  .time{
font-size:11px;
font-weight:normal;
}

#notifications-layout .notifications-content .notifi-right .sg_a {
	font-size:11px;
	max-width:250px;
	height:20px;
	overflow:hidden;
}

#notifications-layout .notifications-content .notifi-right ul li {
	clear:both;
	margin-bottom:5px;
	display:block;
	overflow:hidden;
}

#notifications-layout .notifications-content .notifi .notifi-right {
	border-bottom:1px solid #444;
	border-top:1px solid #555;
	border-left:1px solid #575757;
	background:#494949;
}

#notifications-layout .notifications-content .notifi .notifi-right .notifi-thumb img {
	width:40px;
	height:40px;
	padding:1px;
	border:1px solid #333;
}

#notifications-layout .notifications-content .notifi-more-all a {
	display:block;
	clear:both;
	font-weight:bold;
	text-align:center;
	padding:5px;
	background:#333;
}

/* Footer */

#footer {
	background:url("../images/misc/footer-bg.jpg") repeat-x;
	clear:both;
	margin-top:10px;
	overflow:hidden;
	padding-top:10px;
	width:100%;
}

#footer .links {
	background:#282828;
	border-radius:5px;
	line-height:22px;
	margin:0 auto;
	margin-bottom:8px;
	padding:8px 10px;
	width:90%;
}

#footer .links a {
	color:#666;
	margin-left:6px;
}

.notifications {
	position:fixed;
	z-index:9999;
}

.notifications.top-right {
	right:10px;
	top:25px;
}

.notifications.top-left {
	left:10px;
	top:25px;
}

.notifications.bottom-left {
	left:10px;
	bottom:35px;
}

.notifications.bottom-right {
	right:10px;
	bottom:25px;
}

.notifications div {
	position:relative;
	margin:5px 0;
}

@-webkit-keyframes notification {
	0 {
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}

70% {
	-webkit-transform:rotateY(20deg);
	opacity:.8;
}

90% {
	-webkit-transform:rotateY(-10deg);
	opacity:1;
}

100% {
	-webkit-transform:rotateY(-0);
	opacity:1;
}

}@-moz-keyframes notification {
	0 {
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}

70% {
	-webkit-transform:rotateY(20deg);
	opacity:.8;
}

90% {
	-webkit-transform:rotateY(-10deg);
	opacity:1;
}

100% {
	-webkit-transform:rotateY(-0);
	opacity:1;
}

}@-o-keyframes notification {
	0 {
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}

70% {
	-webkit-transform:rotateY(20deg);
	opacity:.8;
}

90% {
	-webkit-transform:rotateY(-10deg);
	opacity:1;
}

100% {
	-webkit-transform:rotateY(-0);
	opacity:1;
}

}keyframes notification {
	0 {
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}

70% {
	-webkit-transform:rotateY(20deg);
	opacity:.8;
}

90% {
	-webkit-transform:rotateY(-10deg);
	opacity:1;
}

100% {
	-webkit-transform:rotateY(-0);
	opacity:1;
}

}.alert-blackgloss:before {
	background:-webkit-gradient(linear, 0 -16.5%, 16.5% -100%, from(rgba(255, 255, 255, .0)), to(rgba(255, 255, 255, .6)), color-stop(.99, rgba(255, 255, 255, .2)), color-stop(.5, rgba(255, 255, 255, .0))) no-repeat;
	-webkit-mask-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .5)), color-stop(.8, rgba(255, 255, 255, .0)));
	position:absolute;
	content:'.';
	line-height:0;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:block;
	overflow:hidden;
	text-indent:-99999px;
	-webkit-border-radius:5px;
}

.alert-blackgloss {
	-webkit-animation:notification .75s linear;
	-moz-animation:notification .75s linear;
	-ms-animation:notification .75s linear;
	-o-animation:notification .75s linear;
	animation:notification .75s linear;
	background:rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
	-moz-box-shadow:0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
	-ms-box-shadow:0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
	-o-box-shadow:0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
	box-shadow:0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
	border:1px solid rgba(0, 0, 0, .95);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 2px rgba(0, 0, 0, .5);
	color:#fff;
	-webkit-transform:rotateY(-0);
	-moz-transform:rotateY(-0);
	-o-transform:rotateY(-0);
	transform:rotateY(-0);
	position:relative;
	background-clip:padding-box;
}

.alert-blackgloss .close {
	position:relative;
	top:-3px;
	right:-25px;
	color:#fff;
	content:'x';
}

#modalTitle {
	font-size:13px;
}

#modalAlertContent {
	text-align:left;
}

#modalAlertContent a {
	color:#555;
}

#modalAlertContent a:hover {
	color:#000 !important;
}

#modalAlertContent img.uavatar {
	border:1px solid #c9c9c9;
	padding:1px;
	margin-right:5px;
}

#download-link h1 {
	font-size:16px;
	margin-bottom:15px;
	color:burlywood;
}

#expand-link h2, #download-link h2 {
	font-size:13px;
	margin-bottom:15px;
	color:seashell;
}

#download-info {
	font-size:12px;
	line-height:25px;
}

#download-info a {
	font-weight:bold;
	color:#555;
}

#download-info .info-line span {
	display:inline-block;
	width:150px;
	font-weight:bold;
}

#download-info .info-line h3 {
	display:inline-block;
}

.download-block {
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background:#222 url('../images/misc/column_bg.jpg');
	box-shadow:0 0 1px #222;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

ul#home-notice li {
	height:20px;
	overflow:hidden;
	width:250px;
	word-wrap:break-word;
}

.trans-border {
	border:1px solid transparent;
}

.top-video-news {
	display:block;
	position:relative;
	clear:both;
}

.top-video-news .top-video-bit {
	clear:both;
	margin-bottom:5px;
	overflow:hidden;
}

.top-video-news .top-video-bit .top-video-thumb {
	float:left;
	margin:0 10px 20px 0;
	display:block;
	height:70px;
	margin-bottom:5px !important;
	padding:3px 0 0 3px;
	position:relative;
	width:115px;
}

.top-video-news .top-video-bit .top-video-thumb img {
	border:1px solid #222;
	padding:1px;
	background:#111;
	box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.top-video-news .top-video-bit .top-rank {
	bottom:5px;
	display:block;
	height:20px;
	left:5px;
	line-height:20px;
	position:absolute;
	text-align:center;
	width:20px;
	background:#222;
	border:1px solid #333;
	opacity:0.7;
}

.top-video-news .top-video-bit .top-meta {
	height:63px;
	overflow:hidden;
}

.top-video-news .top-video-bit .top-meta h3 {
	height:40px;
	overflow:hidden;
}

.charts-time-choose, .supercom-charts {
	padding:0;
	display:block;
	position:relative;
}

.charts-time-choose {
	margin-bottom:10px;
}

.supercom-charts .rank-bit {
	padding:10px 0 11px;
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #0b0b0b;
	border-top:1px solid #191919;
}

.supercom-charts .rank-bit:hover {
	background:#191919;
}

.supercom-charts .rank-bit .rank-num {
	float:left;
	padding:30px 0 0 0;
	width:28px;
}

.supercom-charts .rank-bit .rank-num .top-num {
	width:25px;
	display:block;
	margin:0;
	height:20px;
	padding:3px 0;
	border:1px solid #444;
	background-color:#333;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	text-shadow:0 0 4px #333;
	border-radius:5px 0 0 5px;
}

.supercom-charts .rank-bit .rank-num .top-1 {
	border:1px solid #86372d;
	background-color:#9d3920;
}

.supercom-charts .rank-bit .rank-num .top-2 {
	border:1px solid #296e7a;
	background-color:#2d7886;
}

.supercom-charts .rank-bit .rank-num .top-3 {
	border:1px solid #6da136;
	background-color:#70b83d;
}

.supercom-charts .rank-bit .rank-avatar {
	border:1px solid #333;
	margin:0 9px 0 0;
	background-color:#222;
	padding:2px;
	width:80px;
	height:80px;
	display:block;
	box-shadow:0 1px 3px #000;
	float:left;
}

.supercom-charts .rank-bit .video-avatar {
	width:120px;
}

.supercom-charts .rank-bit .rank-info {
	float:left;
	width:535px;
}

.supercom-charts .rank-bit .video-info {
	width:495px;
}

.supercom-charts .rank-bit .rank-info h3 {
	font-size:13px;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:535px;
	margin-bottom:5px;
}

.supercom-charts .rank-bit .video-info h3 {
	width:495px;
}

.supercom-charts .rank-bit .video-info h3 a.top-1-color {
	color:#B93F3F;
}

.supercom-charts .rank-bit .video-info h3 a.top-2-color {
	color:#408B99;
}

.supercom-charts .rank-bit .video-info h3 a.top-3-color {
	color:#70B83D;
}

.supercom-charts .rank-bit .rank-info p {
	margin:0;
	line-height:15px;
	font-size:10px;
}

.supercom-charts .rank-bit .rank-info p i {
	color:#777;
	font-size:13px;
}

.supercom-charts .rank-bit .rank-info p a {
	color:#777;
}

.supercom-charts .rank-bit .rank-info p.artist span {
	margin-left:6px;
}

.supercom-charts .rank-bit .rank-info p.rank-count span {
	margin-left:4px;
}

.supercom-charts .rank-bit .rank-info .artist {
	display:block;
}

.supercom-charts .rank-bit .rank-info .rank-count {
	display:block;
}

.charts-time-choose a {
	color:#333 !important;
	text-shadow:0 0 0 #333;
}

.nhacdj-title {
	font-size:17px;
	height:35px;
	line-height:35px;
	padding-left:5px;
	text-transform:uppercase;
	font-weight:normal !important;
}

.orange-title {
	color:#EF8C19;
}

.blue-title {
	color:#2B6882;
}

.pink-title {
	color:#E73181;
}

#bottom-control {
	position:fixed;
	bottom:0;
	z-index:20;
	width:100%;
}

#bottom-control .bottom-content {
	background:#141414;
	border:1px solid #333;
	border-bottom:0;
	color:#333;
	padding:5px 5px 0 10px;
	;;
	margin:0 auto;
	display:inline-block;
	border-radius:3px 3px 0 0;
}

#bottom-control .bottom-content a {
	color:#ccc;
	font-weight:bold;
}

.fb-like-btn {
	position: relative;
	 display: inline-block;
	float:left;
}

#song-tools {
	margin:5px 0 10px 0;
}

/* 	Modal Popup
----------------------------------------------------------------------*/
.modal-backdrop.fade{opacity:1}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}
.modal{position:fixed;top:10%;left:50%;z-index:999999;width:560px;margin-left:-280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:0;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}
.modal.fade{top:-25%;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}.modal.fade.in{top:10%}.modal-header{padding:9px 15px;border-bottom:1px solid #eee}.modal-header .close{margin-top:2px}
.modal-header h3{margin:0;line-height:30px}
.modal.fade.in {top: 50%;}
.modal-body{position:relative;max-height:400px;padding:15px;overflow-y:auto}
.modal-form{margin-bottom:0}.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}.modal-footer:before,.modal-footer:after{display:table;line-height:0;content:""}.modal-footer:after{clear:both}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}


/* 	List Playlist Item
----------------------------------------------------------------------*/

#list-playlist-article{
    margin-left:15px;
    border:1px solid #d4d4d4;
    border-bottom:0;
    max-height: 200px;
    overflow: auto;
    position: relative;
    margin-top:10px;
	text-align:left;
}

#list-playlist-article li{
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #fff;
    background:whitesmoke;
    padding:5px;
    cursor:row-resize;
}

#list-playlist-article li .atpl-title{
    width:430px;
    height:20px;
    overflow: hidden;
    display: inline-block;
}

.messages{margin:0;padding:10px;padding-bottom:0;list-style:none}
.messages>li{margin-bottom:15px}
.messages>li>img{float:left;width:60px;height:60px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.messages>li>div{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background-color:#141414;padding:10px;padding-top:5px;margin-left:80px;position:relative}
.messages>li>div:before{content:"";position:absolute;width:0;height:0;left:-10px;top:19px;border-right:10px solid #141414;border-top:8px solid transparent;border-bottom:8px solid transparent}
.messages>li>div h5{font-weight:700;display:inline-block}.messages>li>div .time{margin-top:5px;color:#999;float:right}
.messages.messages-stripped>li:nth-child(odd)>div{background-color:#141414}
.messages.messages-stripped>li:nth-child(odd)>div:before{border-right-color:#141414}
.messages.messages-zigzag>li:nth-child(even)>img{float:right}
.messages.messages-zigzag>li:nth-child(even)>div{margin-right:80px;margin-left:0}
.messages.messages-zigzag>li:nth-child(even)>div:before{right:-10px;left:auto;border-left:10px solid #141414;border-right:0}
.messages.messages-zigzag>li:nth-child(even)>div h5{float:right}
.messages.messages-zigzag>li:nth-child(even)>div .time{float:none}
.messages.messages-chat>li>div{padding-top:0;padding-bottom:2px}
.messages.messages-chat>li>div p{margin-bottom:3px;line-height:16px}
.messages li .messages-actions{position:absolute;bottom:5px;right:10px;display:none}
.messages li:hover .messages-actions{display:block}
.messages li .messages-actions a{font-size:16px;margin:0 3px}
.messages-input-form{position:relative;border:1px solid #ddd;margin-top:10px}
.messages-input-form .input{margin-right:90px}
.messages-input-form .input input[type=text]{border:0;margin-bottom:0;display:block}
.messages-input-form .buttons{position:absolute;right:0;top:0}
.messages-input-form .buttons a{color:#ccc;margin:4px;line-height:32px}
.messages-input-form .buttons a>i{font-size:16px}.messages-input-form .buttons a:hover{color:#555}
.messages-input-form .buttons .btn{margin-top:-5px;margin-right:1px}


/*Rating Star*/

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating .current-rating{
	background: url(../images/rating_star.png) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	
.star-rating2,
.star-rating2 a:active,
.star-rating2 .current-rating{
	background: url(../images/rating_star_2.png) left -1000px repeat-x;
}
.star-rating2{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating2 li{
	display: inline;
}
.star-rating2 a, 
.star-rating2 .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
	cursor:default;
}
.star-rating2 a.one-star{
	width:20%;
	z-index:6;
}
.star-rating2 a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating2 a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating2 a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating2 a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating2 .current-rating{
	z-index:1;
	background-position: left center;
}
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
.voted_twice {
	background: url(../images/rating_warning.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
.voted {
	background: url(../images/rating_tick.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
.rated_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:5px;
	color:white;
	}
.out5Class {
	color:#00CC00;
	font-weight:bold;
	}
/* 	KenhDJ.Vn Profile Tooltip
----------------------------------------------------------------------*/
#tanxac-profile-card {
background: #fff;
border: 1px solid #BFBFBF;
width: 400px;
margin: 0 auto;
border-radius: 3px;
position: absolute;
padding: 0 0 0 0;
display:none;
margin-top:-30px;
}
.tanxac-profile-card-padding {
padding: 20px 10px 10px 10px;
}
.tanxac-profile-card-cover img {
width: 100%;
height:130px;
margin-top:-20px;
}
.tanxac-profile-card-avatar {
text-align: center;
margin-top: -40px;
}
.tanxac-profile-card-avatar img {
width: 80px;
height: 80px;
border-radius: 50%;
box-shadow:0 2px 2px #222;
-moz-box-shadow:0 2px 2px #222;
-webkit-box-shadow:0 2px 2px #222;
}
.tanxac-profile-card-info {
text-align: center;
}
.tanxac-profile-card-follow{
margin: 0;
text-align:center:
}
.tanxac-profile-card-info .cover-username {
float: none;
margin: 0;
font-size:13px;
font-weight:bold;
}
.tanxac-profile-card-info .cover-username {
float: none;
margin: 0;
font-size:13px;
font-weight:bold;
}
.tanxac-profile-card-buttons {
padding: 0 10px 0 10px;
overflow: auto;
}
.tanxac-profile-card-buttons-container {
width: 60px;
margin: 0 auto;
}
.tanxac-profile-card-divider {
width: 280px;
height: 1px;
background: #dee0e3;
margin: 5px auto;
}
.tanxac-profile-card-buttons .edit_profile_btn {
float: none;
margin: 0 auto;
}
.tanxac-profile-card-bio {
padding: 0 10px;
color: #AAA;
text-align: center;
}
.tanxac-profile-card-bio  img{
width:30px;
height:30px;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
box-shadow:0 2px 2px #222;
-moz-box-shadow:0 2px 2px #222;
-webkit-box-shadow:0 2px 2px #222;
}
.preloader-retina {
width: 85px;
height: 8px;
background: url('http://phpdolphin.com/demo/themes/dolphin/images/preloader.gif');
background-size: 85px 8px;
}
.preloader-center {
margin: 0 auto;
}
.close-card{
float:right;
}
.who-like{
margin-left:50px;
}
/* 	Tipsy
----------------------------------------------------------------------*/
.tipsy { padding: 5px; font-size: 11px; position: absolute; z-index: 100000}
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: white; color: black; max-width: 400px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px}
.tipsy-nw .tipsy-arrow { top: 0; left: 10px}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left}
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left}
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px}

.text-error {
  color: #b94a48;
  font-weight:bold;
}

.text-error:hover,
.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
   font-weight:bold;
}

.text-info:hover,
.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
   font-weight:bold;
}

.text-success:hover,
.text-success:focus {
  color: #356635;
}
.normal-text{font-weight:normal !important;}

#notificationsPop {
position:absolute;
z-index:1000;
top:5%;  
left:9%;  
width: 1000px;  
height: 450px; 
display: none;
}
.notifications-container {
background: #fff;
width: 800px;  
height: 400px;
box-shadow: 0px 1px 1px #CCC;
border: 1px solid #BFBFBF;
border-radius: 3px;
}
.notifications-inner {
padding: 10px;
}
.notifications-title {
font-size: 16px;
}
.notificationsDesc {
height: 35px;
}
.notificationsDesc img {
width: 85px;
}
.notificationsBtn, .notificationsClose {
float: right;
margin: 10px 10px 0 0;
}
.notificationsClose {
display: none;
}
.notificationsBtn a, .notificationsClose a {
float: right;
background: #4e69a8 url('images/comment_btn.png') repeat-x;
border-radius: 3px;
padding: 4px 5px;
color: #fff;
cursor: pointer;
text-decoration: none;
border: 1px solid;
border-color: #475d91 #3c5389 #3a5186;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}
.notificationsBtn a:hover, .notificationsClose a:hover {
border-color: #3c5389 #324675 #304473;
background: #4e69a8 url('images/comment_btn_h.png') repeat-x;
}
.notificationsBtn a:active, .notificationsClose a:active {
background: #4e69a8;
box-shadow: #40568a 0px 1px 5px inset;
}
.notificationsCancel {
float: right;
margin: 10px 10px 0 0;
}
.notificationsCancel a {
float: right;
background: #F3F3F3;
background: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
background: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
background: -o-linear-gradient(top,#F5F5F5,#F1F1F1);border-radius: 3px;
padding: 4px 5px;
color: #6B6B6B;
cursor: pointer;
text-decoration: none;
border: 1px solid #B1B1B1;
}
.notificationsCancel a:hover {
border-color: #A7A7A7;
color: #333;
box-shadow: 0px 1px 1px #CCC;
}
.notificationsCancel a:active {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#E0E0E0));
border-color: #BBB;
box-shadow: #CCC 0px 1px 5px inset;
-webkit-box-shadow: #CCC 0px 1px 5px inset;
z-index: 2;
color: #000;
}
.senderNotifications{
float:left;
width:120px;
margin-left:15px;

}
.senderNotifications img{
width:50px;
height:50px;
border-radius:3px;
}
.senderNotificationsName{
display:block;
text-align:center;
font-weight:bold;
}
.notificationsContent{
color:black;
text-align:left;
}
.notificationsContent img{
width:300px;
height:300px;
}
.notifications-menu{
margin-top:60px;
}
/** notifications **/
.notify {
  display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h1 { margin-bottom: 6px; }

.successbox h1 { color: #678361; }
.errorbox h1 { color: #6f423b; }

.successbox h1:before, .successbox h1:after { background: #cad8a9; }
.errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }

.notify .alerticon { 
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.notify .alerticon img{ 
  width:50px;
  height:50px;
  border-radius:100%;
}
	.tag,.tabs-link{padding-bottom:3px;-webkit-box-shadow:inset 0 -2px rgba(255,255,255,0.1),inset 0 -3px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05);box-shadow:inset 0 -2px rgba(255,255,255,0.1),inset 0 -3px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05)}
    .tag,.tabs-link{display:inline-block;vertical-align:top;line-height:2em;padding-top:0;font-weight:bold;color:#505050;text-align:center;text-shadow:0 1px rgba(255,255,255,0.5);background:#eaefef;border:0px white;border-radius:2px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
	.tag:hover,.tabs-link:hover{color:white;background:#20aae5;text-decoration:none;text-shadow:0 1px rgba(0,0,0,0.15);outline:none}
	.tag:active,.tabs-link:active{padding-bottom:2px;border-top:1px solid white;-webkit-box-shadow:inset 0 -2px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05);box-shadow:inset 0 -2px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05)}
    .tags-heading{height:2em;line-height:2em;margin-bottom:1em}
    .tags-heading>h4{margin:0;line-height:inherit}
    .tags-toggle{display:none;text-align:center;font-weight:bold}
    .tags-toggle:before{content:"\e010";margin-right:.5em}
    .tags-list{overflow:hidden;line-height:1.5em}
    .tags-list>li{float:left;margin:0 .8em .8em 0}
    .tag{display:block;padding-left:.6em;padding-right:.6em;line-height:inherit;font-size:11px;font-weight:normal;color:#778187;background:#f2f2f3}
	