<title> Hệ thống tra cứu thời khóa biểu trường THPT Số 1 Lào Cai</title>
<center>
Xin mời chọn khối học của bạn:
<form id="netlink" name="netlink">
       <select class="form_input" id="site" name="site" onchange="if (netlink['site'].selectedIndex != 0){window1=window.open(netlink['site'].value)}" size="1" style="font-family: Arial;font-size:11px">
                <option selected>------Mời chọn khối------</option>
				  <option value="khoi10.php" .">Khối 10</option>
			    
				  <option value="khoi11.php" .">Khối 11</option>
			    
				  <option value="khoi12.php" .">Khối 12</option>
			    
				 
            </select>
            </form></TD><TR>
	<TR><TD>


<table width="154" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse">

<tr><td height="1"></td></tr>
</center>