﻿body{
background-color: #ffffff;
background-repeat: repeat-x;
color: #000000;
font-family: "Verdana";
font-size: 11px;
height: 100%;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
max-width: 500px;
}

input,textarea,select {
border-radius:6px;
color:#6d6d6d;
border:1px solid #e3e3e3;
background:#fbfbfb;
margin:2px;
}

input:hover,textarea:hover,select:hover {
color:#8ec146;
border:1px solid #d1ecaa;
background:#f5ffe7;
}

input:focus,textarea:focus,select:focus {
color:#388e42;
border:1px solid #c7ffd1;
background:#c2e7b9;
}

a:link, a:visited, a:active{color: #c77212; text-decoration: none;}
a:hover{color: #ffa208; text-decoration: underline;}

.quote{border-left: 4px solid #c0c0c0; color: #878787; font-size: x-small; margin-left: 2px; padding: 2px 0px 2px 4px;}
.reply{border-left: 4px solid #2d6c34; color: #113703; padding: 2px 0px 2px 4px;}
.greply{border-left: 4px solid #ffb600; color: #4ac300; padding: 2px 0px 2px 4px;}
.greply a:link, .greply a:visited{color: #008800;}
.status{color: #8f4500; font-size: x-small; font-weight: bold; padding-left: 0px;}
.sub{border-top: 1px dotted #adcb21; font-size: x-small; margin-top: 4px;}
.sub a:link, .sub a:visited{ }


form{font-size: small; margin: 0px; padding: 0px;}
h3{margin: 0; padding: 0; padding-bottom: 2px;}
hr{border: 0; border-top: 1px solid gray; margin: 0;}
p{margin-bottom: 6px; margin-top: 6px;}
ul{margin: 0; padding-left: 20px;}

.rmenu, .alarm {
background-color: #833a3e; 
border: 1px dotted #ff9294; 
color: #ffffff; 
font-weight: bold; 
padding: 2px 0px 2px 4px; 
margin: 1px 0px 1px 0px;
}

.alarm a:link, .alarm a:visited{color: #ff3031;  font-size: x-small;}
.red, .red a:link, .red a:visited{color: #ff3031;}

.b, .list1, .news{ 
Font-size: 11px;color: #000000;
background-color:#c7df84;
padding:2px;
border-bottom-color: #d9ef9d;
border-bottom-style: solid;
border-bottom-width: 1px; 
}

.c, .list2, .user{
Font-size: 11px;color:#000000;
background-color:#acd04a;
padding:2px;
border-bottom-color: #d9ef9d;
border-bottom-style: solid;
border-bottom-width: 1px;    
}

.bmenu, .hdr, .phdr{
background-attachment: scroll;
background-clip: border-box;
background-color: #404b53;
color: #ffffff;
margin: 2px 0px 2px 0px;
font-size: 10px;
padding: 2px 4px 2px 4px;
text-align: left;
}

.bmenu a, .hdr a, .phdr a{ color: #fff; text-shadow: #9c9c9c 1px 1px 1px; border-bottom: 1px dotted #fff;}

.gmenu, .clip{
background-attachment: scroll;
background-clip: border-box;
background-color: #8ab419;
background-image: url("images/rek.gif");
background-origin: padding-box;
background-position: 50% 0%;
background-repeat: repeat-x;
background-size: auto;
border-bottom-color: #7fa712;
border-bottom-style: solid;
border-bottom-width: 2px;
border-top-color: #7fa712;
border-top-style: solid;
border-top-width: 2px;
font-size: 10px;
margin-top: 2px;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
}

.end{text-align: center;}

.tmn, .fmenu {
background-color: #b5d718; 
color: #fff; text-shadow: #add318 1px 1px; 
margin: 1px 0px 1px 0px; 
padding: 3px; 
border-bottom: 1px solid #bddb29;
}

.tmn a:link, .tmn a:visited, .fmenu a:link, .fmenu a:visited, .topmenu a:link, .topmenu a:visited{color: #738208; text-decoration: none; text-shadow: none; border-bottom: 1px dotted #b5d718;}
.tmn a:hover, .fmenu a:hover{color: #ffa208; text-decoration: underline;}

.header, .footer{
background-attachment: scroll;
background-clip: border-box;
background-color: #455059;
background-image: url("images/ab.gif");
background-origin: padding-box;
background-position: 50% 0%;
background-repeat: repeat-x;
background-size: auto;
border-bottom-color: #0f1316;
border-bottom-style: solid;
border-bottom-width: 2px;
color: #ffffff;
font-size: 10px;
padding-bottom: 3px;
padding-left: 6px;
padding-right: 3px;
padding-top: 3px;
text-align: left;}

.footer a:link, .footer a:visited{color: #fff; text-shadow: #ff9631 1px 1px 1px; text-decoration: none; border-bottom: 1px dotted #fff;}

.func{border-left: 4px solid #3a5812; font-size: x-small; margin-left: 2px; margin-top: 4px; padding-left: 4px;}

.gray{color: #9c9c9c;}

.green, .green a:link, .green a:visited{color: #4ac300;}

.left{float: left;}

.maintxt{background-color: #c7df84; border: 2px solid #cecece; font-weight: normal; margin: 0px; padding: 0px 1px 0px 1px;}

.topmenu{
background-color: #0f420a; 
padding: 2px 4px 2px 4px; 
margin:  1px 0px 1px 0px; 
border: 1px solid #cecece;}

.menu{
background:#efffc3;
border: 1px solid #d9ef9d;
border-top: 0;
color: #1c4049;
text-align:left;
padding-left:3px; 
}

.menu a { 
color:#424c57; 
}

.menu a:hover { 
color:#000000; 
}

.phpcode{background-color: #b7de63; border: 1px dotted #14580b; margin-top: 4px; padding: 0px 2px 0px 2px;}

.sitemap{font-size: xx-small; position: relative; width: 100%; height: 38px; z-index: 1; overflow: auto;}

/*
    design: Vangel
    icq: 553710
    url: http://youfeat.ru
*/