/* Begin Cay */
#index1_cloud {
background:url(../images/index1_cloud.png) top left repeat-x;
position:absolute;
top:0;
left:0;
width:100%;
z-index:0;
}

#index3_mol {
background-image: url(../images/cay.png);
background-position: -10px -271px;
width:442px;
height:493px;
position:absolute;
z-index:3;
top:35px;
margin-left:120px;
}

#index3_mol #molava {
background-image: url(../images/cay.png);
background-position: -10px -180px;
position:absolute;
left:185px;
top:187px;
width:66px;
height:71px;
}
#index3_mol #molava:hover {
background-position: -76px -180px;
}
#index3_word {
background-image: url(../images/cay.png);
background-position: -10px -10px;
width:140px;
height:150px;
position:absolute;
left:250px;
top:100px;

}
#chim_1 {
	background: url(../images/birds-1.png) no-repeat;
	width: 194px;
    height: 156px;
    position: absolute;
	top: 0px;
	left: 500px;
	z-index: 3;
}
#chim_2 {
	background: url(../images/birds-2.png) no-repeat;
	width: 97px;
    height: 78px;
    position: absolute;
	top: 0px;
	left: 600px;
	z-index: 3;
}

#index3_text {
background:transparent url(../images/index3_text.png) top left no-repeat;
width:186px;
height:100px;
position:absolute;
z-index:3;
margin-left:600px;
top:200px;
text-align:center;
padding:160px 25px 0 15px;
}
.puff {
	position: absolute;
	width: 0px;
	height: 0px;
}
/* End cay */