.contact-form{
background:url(../images/hot-news-g.png) 0 bottom repeat-x;
font-size: 15px;
}
.contact-form .rows{
margin-bottom:.5em;
}
.sl2 {
	display: block;
	height: 32px;
	width: 320px;
	border:1px solid #424242;
	border-radius:5px;
	font-size: 13px;font-weight:700;
}
.contact-form .input,.contact-form .capcha,.contact-form textarea{
	width:300px;
	padding: 5px 10px;
	-moz-border-radius:5px;
	-moz-transition:all .5s ease-in-out;
	-webkit-border-radius:5px;
	-webkit-transition:all .5s ease-in-out;
	background-color:#fff;
	border:1px solid #424242;
	border-radius:5px;
	color:#333;
	font-size: 13px;
	display:block;
	font-weight:700;
	min-height:20px;
	transition:all .5s ease-in-out;
}
.contact-form .input:focus,.contact-form .input:hover,.contact-form textarea:hover,.contact-form textarea:focus{
-moz-box-shadow:0 0 10px #000;
-moz-transform:scale(1.05);
-webkit-box-shadow:0 0 10px #000;
-webkit-transform:scale(1.05);
box-shadow:0 0 10px #000;
color:#333;
transform:scale(1.05)
}
.contact-form .capcha{
width:100px;
float: left;
margin: 0px;
}
.contact-form img{
margin:0 10px 0 0;
vertical-align:middle
}
.contact-form textarea{
	width:580px;
}