.source {
	float: right;
	margin-top: 15px;
}
.copyright {
	float: left;
	margin-top: 15px;
}
.oop {
	border-top: 1px solid #000;
}
.header-oop {
	font-size: 16px;
	font-weight: bold;
	color: #63a718;
	margin-top: 10px;
}
#comment {
	width: 100%;
	border-top : 1px solid #000;
}
.header-comment {
	width: 100%;
	height: 25px;
	border-bottom: 1px solid #000;
}
#show-comments {
	float: left;
	font-size: 16px;
	font-weight: bold;
}
#hide-comments {
	float: right;
	font-size: 16px;
	font-weight: bold;
}
#formcomment {
	width: 100%;
}
.list-comments {
	margin-top: 10px;
}
.list-comments h3 {
	float: center;
	margin-bottom: 15px;
}
.box-user {
	width: 100%;	
}
.input-c {
	height: 25px;
	width: 575px;

}
.input-c,.commentcontent,#commentseccode_iavim  {
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #424242;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}
.commentcontent {
	width: 575px;
	height: 100px;
	font-size: 14px;
	font-weight: bold;
}
#commentseccode_iavim {
	width: 100px;
	height: 25px;
	padding: 0px;
	float: left;
	margin: 0px;
	padding: 5px;
	margin-left: 10px;
	
}
#buttoncontent {
	padding: 5px;
	float: right;
	margin-right: 20px;
	font-size: 14px;
	cursor: pointer;
}


.ava {
	float: left;
	width: 80px;
	height: 80px;
	margin: 5px;
	margin-right: 10px;
	background: #fff;
	border: 2px solid #e33c74;
	padding: 3px;
}
.comment-content {
	padding: 5px;
}