body {
background:#df4075 url(../images/content_bg.jpg);
font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
line-height:1.5;
font-size:12px;
margin:0 auto;
}
.clear {
	clear: both;
}
.fl{float:left}
.fr{float:right}

.centerdiv {
width:920px;
text-align:left;
margin:0 auto;
}
.wrapper {
background:#c9e8ea url(../images/bg.jpg);
width:100%;
height:925px;
text-align:center;
margin:0 auto;
}
a,a:active,a:visited {
text-decoration:none;
color:#e33c74;
}
a:hover {
color:#83b93a;
}
a img {
border:0;
}
h1,h2,h3,h4 {
margin-top:0;
margin-bottom:0;
color:#63a718;
}
h1 {
font-size:30px;
}
h2 {
font-size:18px;
}
h3 {
font-size:14px;
}
h4 {
font-size:12px;
}
.note {
color:#63a718;
font-weight:700;
font-size:11px;
}
.protitle.cf {
font-size:20px;
margin-top:-10px;
}
button,.button {
background:#df4075;
border:1px solid #ab0156;
border-top:1px solid #e3539b;
border-left:1px solid #e3539b;
color:#fff;
padding:5px 10px;
border-radius: 10px;
}
.cufon-active .mainmenu {
font-size:20px;
}
.cufon-loading .mainmenu {
font-size:16px;
}
#siteloading {
background:transparent url(../images/loader.gif) no-repeat;
position:fixed;
z-index:5;
width: 50px;
height: 50px;
top:50%;
left: 50%;
}
#header {
position:relative;
z-index:50;
text-align:left;
}
#header a.logo {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -10px;
	float: left;
	width: 120px;
	height: 130px;
}
#top-right {
	position: fixed;
	top: 0px;
	right: 50%;
	margin-right: -400px;
}
#top-right span.wellcome{
	font-size: 16px;
}
#top-right span.you{
	font-size: 16px;
	color: red;
}
#top-right a {
	font-size: 16px;
}
#pagecont_head {
background:url(../images/content_head.png) top repeat-x;
height:30px;
position:absolute;
z-index:10;
top:510px;
left:0;
width:100%;
}
#pagecont {
background:#f3ecd5 url(../images/content_bg.jpg);
height:400px;
position:absolute;
z-index:10;
top:540px;
left:0;
width:100%;
}
#wrapper {
margin: 0 auto;
width: 920px;
text-align: left;
}
#pagecont_title {
background-image: url(../images/images-spriteme.png);
background-position: -8px -162px;
height:74px;
width:968px;
margin: 0 auto;
margin-top: -66px;
margin-bottom: 15px;
}
.pagecont_title {
font-size:35px;
color:#e33c74;
text-align:center;
}
#footer a {
color:#fff;
font-weight:700;
}
#footer {
color:#000;
background:url(../images/footbg.png) top repeat-x;
z-index:10;
left:0;
bottom:0;
height:71px;
width:100%;
font-size:14px;
}
#footer div.centerdiv {
	padding-top: 15px;
	text-align: center;
}
.mainh {
position:relative;
top:0;
width:100%;
height:520px;
overflow:hidden;
margin:0;
}
#project {
z-index:31;
width:660px;
float:right;
}
#prohead {
background-image: url(../images/images-spriteme.png);
background-position: -10px -256px;
height:15px;
width:660px;
}
#profoot {
background-image: url(../images/images-spriteme.png);
background-position: -10px -1405px;
height:19px;
width:762px;
}
#probody {
background:transparent url(../images/index3_probg.png) repeat-y;
width:600px;
padding:15px 31px 15px 28px;
}
#prodesc {
width:520px;
float:left;
margin-bottom:20px;
}
#prodesc a {
color:#362f2d;
}
#prodesc p {
text-shadow:1px 1px #fff;
margin:0;
}
/** Sidebar **/
#left {
	float: left;
	width: 230px;
}
.top-left {
	width: 230px;
	height: 100%;
	margin-bottom: 50px;
}
#sidebar {
background:#F3ECD5 url(../images/sidebar_bg.png) top left repeat;
-moz-border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px;
border-radius:0 0 10px 10px;
border:2px dashed #E33C74;
padding: 13px;
width: 200px;
}
#fix-left {
background:#F3ECD5 url(../images/sidebar_bg.png) top left repeat;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
border:2px dashed #E33C74;
padding: 13px;
width: 200px;
}
.fix-left {
	position: fixed;
	top: 0px;
	bottom: auto;
}
/* Begin Category */
ul.list-category {
	display: block;
	padding: 0px;
	margin: 0px;
}
ul.list-category li{
	display: block;
	background: url(../images/cat.gif)no-repeat;
	background-position: 0px 6px;
	padding: 0px;
	padding-left: 20px;
	overflow: hidden;	
}
ul.list-category li ul {
	padding: 0px;
}
ul.list-category li ul li {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -461px;
	height: 25px;
}
ul.list-category a {
	font-size: 18px;
}
/* End Category */
/* Begin fix */
#fix-height ul {
margin: 0px;
padding: 0px;
}
#fix-height ul li.clearfix{
background:url(../images/sign.png) left center no-repeat;
height: 16px;
overflow: hidden;
display: block;
padding: 5px 0px;
padding-left: 20px;
}
#fix-height ul li.clearfix a{
font-weight: 700;
color: #46aadf;
}
/* end fix */

/* end sidebar */

#shareicon a {
opacity:.6;
filter:alpha(opacity=60);
display:inline;
margin:1px;
padding:0;
}
#probody #shareicon {
background:none;
width:75px;
padding-left:0;
float:right;
display:inline;
margin:0;
}
#probody #shareicon img {
float:left;
width:20px;
height:20px;
}
#probody #shareicon a {
float:right;
margin:2px;
}
#shareicon a:hover,.plusone:hover {
opacity:1;
filter:alpha(opacity=100);
}
#share-publish {
	display: block;
	float: left;
	margin-top: 20px;
	height: 33px;
}
#share-publish a {
	opacity: 0.6;
	filter:alpha(opacity=60);
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
}
#share-publish a:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
#share-publish img {
	width: 30px;
	height: 30px;
}

#footer .copy a {
color:#fff;
}
#slidebox {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 38px;
	z-index: 9999;
}
/** Back top **/
#gopanel {
bottom:30%;
display:block;
margin-right:-500px;
position:fixed;
right:50%;
z-index: 10;
}
#toppage {
background-image: url(../images/images-spriteme.png);
background-position: -11px -291px;
cursor:pointer;
height:21px;
position:relative;
width:21px;
}
#toppage:hover {
background-image: url(../images/images-spriteme.png);
background-position: -11px -333px;
}
#bottompage {
background-image: url(../images/images-spriteme.png);
background-position: -11px -312px;
cursor:pointer;
height:21px;
margin-top:8px;
width:21px
}
#bottompage:hover {
background-image: url(../images/images-spriteme.png);
background-position: -11px -354px;
}
/** End Back top **/

/** begin contact-icon **/
#contac-icon{
	position: fixed;
	bottom: 80px;
	right: 0px;
}
.contac-icon {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -398px;
	display: block;
	width: 62px;
	height: 43px;
}
/** end contact-icon**/

/** Begin thong ke **/
div.block-stat {
	padding: 0px;
}
div.block-stat ul{
	padding: 0px;
}
div.block-stat li{
	display: block;
	padding: 0px;
	padding-left: 20px;
	height: 22px;
	font-size: 1.2em;
}
div.block-stat li.online {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -499px;
}
div.block-stat li.guest {
	background: url(../images/icons/guest.png) center left no-repeat;
}
div.block-stat li.user {
	background: url(../images/icons/user.png) center left no-repeat;
}
div.block-stat li.bot {
	background: url(../images/icons/bot.png) center left no-repeat;
}
div.block-stat li.today {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -535px;
}
div.block-stat li.month {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -571px;
}
div.block-stat li.statistics {
	background-image: url(../images/images-spriteme.png);
	background-position: -10px -607px;
}
/** End thong ke **/
/** Begin gui ban viet **/
#fsea div.news {
	width: 100%;
}
#fsea div.news label{
	width: 100%;
}
#fsea input[type=text]{
	width: 580px;
	height: 20px;
	padding: 5px 10px;
}
#fsea select {
	width: 600px;
	height: 32px;
	font-size: 13px;
}
#fsea textarea {
	padding: 10px 10px;
	width: 580px;
}
#fsea input[type=text],#fsea textarea,#fsea select,#fsea div.edrict {
	-moz-border-radius:5px;
	-moz-transition:all .5s ease-in-out;
	-webkit-border-radius:5px;
	-webkit-transition:all .5s ease-in-out;
	background-color:#fff;
	border:1px solid #424242;
	border-radius:5px;
	color:#333;
	font-size: 13px;
	display:block;
	font-weight:700;
	margin-bottom:16px;
	margin-top:8px;
	min-height:20px;
	transition:all .5s ease-in-out;
	float: left;
}
#fsea span.cke_skin_kama {
	padding: 0px;
	border: 0px;
}
#fsea input[type=text]:focus, #fsea textarea:focus,#fsea input[type=text]:hover,#fsea textarea:hover, #fsea div.edrict:hover {
-moz-box-shadow:0 0 10px #000;
-moz-transform:scale(1.05);
-webkit-box-shadow:0 0 10px #000;
-webkit-transform:scale(1.05);
box-shadow:0 0 10px #000;
color:#333;
transform:scale(1.05);
} 
#fsea input[type=button],#fsea input[type=submit],#fsea input[type=reset]{
background-color:#424242!important;
color:#fff!important;
cursor:pointer;
}
#fsea .select-cat {
	width: 600px;
	padding-left: 50px;
	float: left;
}
#fsea .select-cat tr {
	display: block;
}
#fsea .select-cat td {
	display: block;
	width: 100%;
	height: 30px;
	font-size: 15px;
}
#fsea .select-cat td input {
	display: block;
	float: left;
}
#fsea input.send{
-moz-border-radius:5px;
-moz-transition:all .5s ease-in-out;
-webkit-border-radius:5px;
-webkit-transition:all .5s ease-in-out;
background-color:#424242!important;
color:#fff!important;
font-size: 13px;
font-weight: 700;
cursor:pointer;
float:right;
margin-top: 10px!important;
padding:9px 20px!important;
width:230px!important
}
#fsea input.send:hover{
background-color:#952E2E!important
}
#fsea textarea.cke_source{
	padding: 0px;
}
/** end gui bai viet **/
/** Viewcat -page **/

.content-box .s-border {
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 120px;
	padding: 5px;
	background: #fff;
	border: 2px solid #E33C74;
}
.content-box h4 {
	font-size: 18px;
}
.content-box p {
	padding: 0px;
	margin: 0px;
}
.content-box div.aright {
	float: right;
	margin-right: 20px;
}
.info {
	margin-bottom: 15px;
	border-bottom: 1px solid #63a718;
}
.shareicon {
	width: 100%;
	height: 25px;	
}
.shareicon img {
float:right;
width:20px;
height:20px;
margin-right: 8px;
}
.shareicon div.fb-like {
	float: right;
	margin-right: 15px;
}
/** Het Viewcat -page **/
/** Viewcat -grid **/
ul#list-post {
	margin: 0px;
	padding: 0px;
}
li.list-post {
	display: block;
	position: relative;
	float: left;
	margin: 5px;
	width: 290px;
	height: 300px;
}
div.front {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	border: 2px solid #E33C74;
	border-radius: 7px;
	width: 100%;
	height: 100%;
}
li.list-post div.color-type1 {
	background: #46aadf;
}
li.list-post div.color-type2 {
	background: #7ecad0;
}
li.list-post div.color-type3 {
	background: #c04e91;
}
li.list-post div.color-type4 {
	background: #c1b746;
}
li.list-post div.color-type5 {
	background: #e5a926;
}


div.front img {
	width: 100%;
	height: 230px;
}
div.back {
	background: #fff;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	border: 2px solid #47bd2f;
}
div.front h2,div.back h2 {
	padding: 5px 10px;
	font-size: 18px;
	font-weight: bold;
}
div.front h2 a {
	color: #000000;
}
div.back h2 a {
	color: #db5ab7;
}
div.back p {
	display: block;
	padding: 5px 10px;
	margin: 0px;
	font-size: 15px;
	max-height: 130px;
	overflow: hidden;
	color: #000000;
}
div.back a.more {
	background: transparent url(../images/readmore.png) scroll top left no-repeat;
	float: right;	
	display: block;
	font-size: 15px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 6px;
	width: 92px;
	height: 21px;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-khtml-transition:all .3s;
	-o-transition: all .3s;
}
div.back a.more:hover {
	background: transparent url(../images/readmore.png) scroll bottom left no-repeat;
}
/** Het Viewcat -grid **/
.generate_page {
margin:5px;
margin-top: 25px;
padding:5px;
text-align:center
}

.generate_page a,.generate_page strong {
border:1px solid #952E2E;
border-radius:4px;
clear:both;
color:#424242;
font-weight:700;
padding:8px 8px;
}
.generate_page strong {
background:#424242;
color:#fff
}

/** Block Login **/
#login-reg {
margin: 0px;
}
#login-reg li.login {
display: block;
float: right;
}
#login-reg li.reg {
float: right;
display: block;
margin-right: 2px;
}
#login-reg li.login a , #login-reg li.reg a{
	border-radius: 3px 0 0 3px;
	display: block;
	padding: 5px 10px;
}
#login-reg li.login a{
border-radius: 0 3px 3px 0;
}
.button.b-close,.button.bClose {
border-radius:7px 7px 7px 7px;
box-shadow:none;
padding:0 6px 2px;
position:absolute;
right:-7px;
top:-7px;
cursor: pointer;
}

#popup,#popup2,.bMulti {
border: 2px solid #000;
border-radius:10px;
box-shadow:0 0 25px 5px #999;
color:#000;
display:none;
}
.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	z-index: 5;
}
.login-form .header {
	padding: 40px 30px 30px 30px;
}
.login-form .header span {
	font-size: 12px;
	line-height: 16px;
	color: #678889;
}

.login-form .content {
	padding: 0 30px 25px 30px;
}
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	font-weight: 700;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}
.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}
.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.user-icon {
	top:136px;
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}
.pass-icon {
	top:212px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}
.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;	
	background: #d4dedf;
	border-top: 1px solid #fff;	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.login-form .footer .button {
	float:right;
	padding: 11px 15px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}
.login-form .footer .button:hover ,.login-form .footer .register:hover{
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.login-form .footer .button:focus,.login-form .footer .register:focus  {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
.login-form .footer .register {
	float:left;
	margin-top: 2px;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}
/** Het Bloc Login**/