#users .padding_0 {
padding:4px 0
}
#users li {
	list-style: none;
}
#users .info-user {
	background: #424242;
	border: 1px solid #D9D9D9;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 8px;
	text-transform: uppercase;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
}

#users .clearfix{
	clear: both;
}
#pcIDcalendar{
	background: #FFF;
	border: 1px solid #A0A0A0;
	position: absolute;
	visibility: hidden;
	width: auto;
	z-index: +999;
	margin-top: 516px;
	margin-left: 20px;
}
#users .line {
border-bottom:1px solid #ccc
}

#users ul#menu {
margin:10px 0 0 20px
}

#users ul#menu li {
color:#999;
list-style:disc
}

.error {
color:red
}

#users #info {
color:#B5291E;
padding:0 0 20px
}

#users ol#info {
text-align:left
}

#users ol#info span {
padding:0 10px
}

#users .captcha label {
height:25px;
padding-bottom:20px
}

#users .refesh {
cursor:pointer
}

#users input {
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
border: 1px solid #424242;
color: #333;
display: block;
font-family: Verdana,"Microsoft YaHei",TrebuchetMS,Arial,Verdana,Tahoma,sans-serif;
font-size: 13px;
font-weight: 700;
margin-bottom: 16px;
margin-top: 8px;
min-height: 20px;
padding: 7px;
}
#users select{
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
border: 1px solid #424242;
color: #333;
display: block;
font-family: Verdana,"Microsoft YaHei",TrebuchetMS,Arial,Verdana,Tahoma,sans-serif;
font-size: 13px;
font-weight: 700;
min-height: 20px;
padding: 8px;
}
#users input.button {
background: #424242;
color: #fff;
margin-left: 50px;
cursor: pointer;
}
#users .txt {
width:280px
}

#users .txtbutton {
float:right;
width:210px
}

#users label {
padding:0 10px 0 0
}

#users .submit {
font-family:Arial,Helvetica,sans-serif;
margin:10px 0;
padding:4px 10px
}

#users .check {
font-size:90%;
text-align:center;
width:68px
}

#users #accept {
text-align:justify
}

#users #accept ol {
margin:0 0 0 20px
}

#accept #accept_scoll {
width: 100%;
height:120px;
overflow:auto;
padding:0px 0px;
}

#users #accept ol li {
list-style-type:decimal
}

#users .rows {
line-height:25px;
margin-bottom:10px
}

#users .rows label,#users .rows2 label {
float:left;
text-align:left;
width:30%;
color: #000;
font-size: 15px;
font-weight: 700;
padding-top: 12px;
padding-left: 50px;
}

#users .rows label.error {
color:#fb490b;
margin-left:210px;
text-align:left;
width:500px
}

#users .rows img.refesh {
padding-top:5px
}

#users .rows ul li {
display:inline
}

#users .rows li span {
padding:0 4px
}

#users .userinfo {
border:1px solid #ccc;
margin:10px 0;
padding:4px
}

.userinfo #info {
height:20px;
line-height:20px
}

#users .userinfo dd {
font-weight:700;
width:30%
}

#users .topright {
float:right;
font-size:11px
}

#users .page-header {
border-bottom:1px solid #d8d8d8;
padding:10px 0 8px
}

#users .page-header h3 {
line-height:1;
margin-bottom:0
}

#users .top-option {
padding:8px 0
}

#users .h-info {
background:#f1f1f1;
border:1px solid #fff
}

#users .table dl{
	display: block;
}
#users .box-border-shadow dt{
display: block;
color:#414f5b;
padding:20px 10px 0px;
width:50%;
font-size: 15px;
font-weight: bold;
color: #000; 
}
#users .table dt {
display: block;
color:#414f5b;
padding:30px 10px 0px;
width:50%;
font-size: 15px;
font-weight: bold;
color: #000; 
}
#users .box-border-shadow dd {
margin:0;
padding:20px 10px 0px;
font-size: 15px;
font-weight: bold;
color: #000;
}
#users .table dd {
margin:0;
padding:20px 10px 0px;
font-size: 15px;
font-weight: bold;
color: #000;
}

#users .note {
background:#faf4e9;
border-left:4px solid #efcc88;
padding:10px
}

#users .note ol {
list-style-position:inside;
margin:0
}

#users .edit-info dt {
width:36%
}

#users .r2 {
line-height:1.8;
margin-bottom:5px
}

#users .bgray {
background:#f8f8f8
}

#users .bwhite {
background:#fff
}

#users .reg dl {
margin-bottom:10px
}
#users .reg dl dt{
	padding-top: 16px;
	font-size: 15px;
	color: #000;
	font-weight: 700;
}
.register input,#users .login label,#users .reg label {
display:block;
color: #000;
font-size: 15px;
font-weight: 700;
}

#users .rows input,#users .rows select,#users .rows img,#users .userinfo dd,#users .userinfo dt,#users .topleft {
float:left
}

#users .change-question .input,#users .edit-info .input,#users .reg .input {
width:300px
}