#SLB-Wrapper {

  margin:0.5em 0;

  margin:auto;

  font-family:Verdana;

  text-align: left;

  position: absolute;

  display: none;

}



#SLB-Wrapper #SLB-Background{

  position: absolute;

  left:7px;

  top:7px;

  float:left;

}



#SLB-Wrapper #SLB-Top {

  background:transparent no-repeat scroll 100% 0;

  height:28px;

  margin:0 0 0 18px;

}

#SLB-Wrapper #SLB-Top img {

  float:right;

  border:0px;

  margin:6px 10px;

}



#SLB-Wrapper #SLB-Top div {

  background:transparent no-repeat scroll 0 0;

  font-size:0;

  height:28px;

  left:-18px;

  line-height:0;

  position:relative;

  width:18px;

}



#SLB-Wrapper #SLB-Bottom {

  background:transparent no-repeat scroll 0 43%;

  height:20px;

  margin:0 18px 0 0;

}



#SLB-Wrapper #SLB-Bottom #SLB-BottomRight {

  background:transparent no-repeat scroll 100% 43%;

  font-size:0;

  height:20px;

  right:-18px;

  line-height:0;

  position:relative;

  width:100%;

  float:right;

}



#SLB-Wrapper #SLB-Bottom.SLB-bbnav, #SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight{

  height:52px;

}



#SLB-Wrapper #SLB-Bottom.SLB-bbnav {

  background-position:0 100%;

}

#SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight{

  background-position:100% 100%;

}



#SLB-Wrapper #SLB-Contenido {

  border-left: 7px solid #000;

  border-right: 7px solid #000;

}



#SLB-Wrapper #SLB-Bottom #SLB-Navegador{

  font-size: 11px;

  color: #fff;

  height:30px;

  border-left:0px;

  border-right:0px;

  padding:10px 0px;

  margin:0;

  line-height:11px;

  float:left;

  width:100%;

}



#SLB-Wrapper #SLB-Navegador img{

  border:0px;

}



#SLB-Wrapper #SLB-Navegador strong{

  display: block;

}



#SLB-Wrapper #SLB-Bottom #SLB-Navegador img.btLeft{

  float: left;

  margin: 0 10px 0 0;

}

#SLB-Wrapper #SLB-Bottom #SLB-Navegador img.btRight{

  float: right;

  margin: 0 0 0 10px;

  position:relative;

  right:17px;

}



.artsexylightbox {

    margin: 5px;

    border: 2px solid #EEEEEE;

}



.artsexylightbox_singleimage {

	cursor:pointer;

  margin: 5px;

  border: 2px solid #FFFFFF;
		
	float:right;
}



.artsexylightbox_singletext {

	cursor:pointer;

}