{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="200" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" name="{$items.value}_hdl" dir="ltr" style="color: #CF242F;">
					                					LIÊN HỆ
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="left" bgcolor="#F5F9FD" style="padding: 20px; line-height: 22px;">
				                          		<form action="" name="frmcontact" method="post">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                          		<tr><td></td><td style="color: #FF0000; line-height: 18px;">{$message}</td></tr>
				                          		{if $sendsuccess ne ''}
				                          		<tr><td align="center" colspan="2" style="line-height: 18px;">{$sendsuccess}</td></tr>
					                            {else}
					                            <tr>
					                              	<td align="left" valign="middle" style="font-weight: normal;">Tên của bạn</td>
					                              	<td><input type="text" id="object[contact_name]" name="object[contact_name]" class="input_text" value="{$object.contact_name}"/><span style="color: #FF0000;">*</span></td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="middle" style="font-weight: normal;">Địa chỉ email</td>
					                              	<td><input type="text" id="object[contact_mail]" name="object[contact_mail]" class="input_text" value="{$object.contact_mail}"/><span style="color: #FF0000;">*</span></td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="middle" style="font-weight: normal;">Tiêu đề</td>
					                              	<td><input type="text" id="object[contact_title]" name="object[contact_title]" class="input_text" value="{$object.contact_title}"/><span style="color: #FF0000;">*</span></td>
	                            				</tr>
					                            <tr>
					                              	<td align="left" valign="middle" style="font-weight: normal;">Nội dung</td>
					                              	<td><textarea name="object[contact_content]" id="object[contact_content]" class="textarea" style="height: 180px; width: 500px;">{$object.contact_content}</textarea><span style="color: #FF0000;">*</span></td>
	                            				</tr>
	                            				<tr><td colspan="2" align="center"><input type="submit" name="sendcontact" id="sendcontact" value="Send" /></td></tr>
	                            				{/if}
	                          					</table>
	                          					</form>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}