{include file=$include_header}
	<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		               		<td>
		               			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="center" id="menu1" dir="ltr"><a href="?hdl=index&genre=2" {if $genre eq '2' && $type eq '' && $news eq ''}class="selected"{/if} name="menu1" id="menu1">Tin nổi bật</a></td>
									                <td width="1"><img src="frontend/images/line1.jpg" width="1" height="32" /></td>
									                <td align="center" id="menu1" dir="ltr"><a href="?hdl=index&news=1" {if $news eq '1' && $type eq ''}class="selected"{/if} name="menu2" id="menu2">Phong thủy </a></td>
									                <td width="1"><img src="frontend/images/line1.jpg" width="1" height="32" /></td>
									                <td align="center" id="menu1" dir="ltr"><a href="?hdl=index&news=0" {if $news eq '0'}class="selected"{/if} name="menu3" id="menu3">Bản tin nhà đất</a></td>
									                <td width="1"><img src="frontend/images/line1.jpg" width="1" height="32" /></td>
									                <td align="center" id="menu1" dir="ltr"><a href="?hdl=index&type=interior" {if $type eq 'interior'}class="selected"{/if} name="menu4" id="menu4">Các mẫu nội thất</a></td>
				                              	</tr>
				                            	</table>
				                            </td>
				                          	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
			                        	</tr>
			                    		</table>
									</td>
								</tr>
				                <tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                            	{if count($EstateGenreList) gt 0}
				                            	{foreach key=keys item=items from=$EstateGenreList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="center" style="padding: 5px;">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
				                                  			<td height="30" align="left">
				                                    			<table border="0" cellpadding="0" cellspacing="0">
							                                    <tr>
							                                        <td>
							                                        	<a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue">
							                                        		<strong> {$items.estate_title}</strong>
							                                        	</a>
							                                        </td>
							                                        <td>&nbsp;
							                                        	<img border="0" src="frontend/images/hot_icon.gif">
							                                        </td>
							                                        <!-- frontend/images/imgVip3.gif -->
							                                        
							                                    </tr>
				                                    			</table>
				                                    		</td>
				                                		</tr>
						                                <tr>
						                                  	<td align="left">
						                                  		<table border="0" cellpadding="0" cellspacing="0">
						                                    	<tr>
						                                      		<td align="left" class="border_img">
							                                          	{if $items.estate_image1 ne ''}
							                                          		<img src="{#IMG_ESTATE_DIR#}thumb_{$items.estate_image1}" width="85" height="72" 
						                                          				class="border_img"
						                                          			/>
							                                          	{else}
							                                          		<img src="{#IMG_ESTATE_DIR#}thumb_spacer.gif" width="85" height="72" class="border_img" />
							                                          	{/if}
	                                      							</td>
							                                      	<td width="5"></td>
							                                      	<td align="left" valign="top">
							                                        	Giá bán:
							                                        	<strong>
										                               		<font color='red'>
										                               			{if $items.estate_price > 0}
											                               			{$items.estate_price|money_format:"."}&nbsp;
											                               			{if $items.estate_price_type == 0}VNĐ 
											                               			{elseif $items.estate_price_type==1} Lượng vàng SJC 
											                               			{else} USD 
											                               			{/if}
											                               			{if $items.is_price_in_m2 eq "1"}
												                           			/m2
												                           			{/if}
											                               			{if $items.is_price_negotiable eq '1'}
											                               				(Có thể thỏa thuận)
											                               			{/if}
											                               		{else}
											                               			(Thỏa thuận)
											                               		{/if}
										                               		</font>
									                               		</strong>
							                                        	<br />
							                                          	Diện tích:&nbsp;<font color="#0419FC">{$items.estate_area}</font><br />
							                                          	Hướng:&nbsp;{$Direction[$items.estate_direction].text}<br />
							                                          	Nơi đăng:&nbsp;{$items.district_name}-{$items.province_name}
																	</td>
	                                    						</tr>
	                                  							</table>
	                                  						</td>
	                                					</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;">
					                              		<!--
					                              			<a href="?hdl=vip">Xem Tin VIP >>> </a>
					                              		-->
					                              	</td>
					                            </tr>
				                            	{if count($NewsList) gt 0}
				                            	{foreach key=keys item=items from=$NewsList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="left" valign="top" style="padding-top: 10px;">
			                                        	<img src="{#IMG_NEWS_DIR#}thumb_{$items.news_image}" width="92" 
			                                        		height="69" class="border_img" align="left" hspace="5" />
			                                        	<a href="?hdl=news&genre={$items.news_genre}&newsid={$items.news_id}" class="text_blue">
			                                        		<strong> {$items.news_name} </strong>
			                                        	</a>
														{assign var="now_" value=$smarty.now|date_format}
														{assign var="created_Date" value=$items.created_date|date_format}
														{if $now_ eq $created_Date}
															&nbsp;<img border="0" src="frontend/images/new_icon.gif">
														{/if}
			                                        	<div style="padding-top: 7px;">{$items.news_title}</div>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;">
					                              		<a href="?hdl=news&genre={$items.news_genre}">
					                              			<img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" />
					                              		</a>
					                              	</td>
					                            </tr>
	                              				{/if}



				                            	{if count($InteriorTops) gt 0}
				                            	{foreach key=keys item=items from=$InteriorTops}
				                            	{if $keys % 5 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
							                        <td align="center" style="padding-top: 5px;">
					                              		<div style="padding-bottom: 5px;">
					                              			<a id="thumb{$items.album_id}" href="{#IMG_INTERIOR_DIR#}{$items.interior_image}" class="highslide" onclick="return hs.expand(this)">
					                                			<img src="{#IMG_INTERIOR_DIR#}thumb_{$items.interior_image}" width="115px" height="90px" class="border_img" />
					                                		</a>
					                                	</div>
	                              					</td>
	                              				{if ($keys+1) % 5 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 5 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td align="right" colspan="5" style="padding: 5px;"><a href="?hdl=interior">Xem thêm...</a></td>
					                            </tr>
	                              				{/if}
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
									</td>
								</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						<tr>
				        	<td height="5">
				        		{foreach item=items from=$Position5}
			                  	{if $items.promote_banner}
			                  	<tr>
			                    	<td align="center" style="padding-bottom: 2px;">
			                    		<a href="{$items.promote_website}" target="_blank"><img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" width="680px" class="border_img" /></a></td>
			                  	</tr>
			                  	{/if}
			                  	{/foreach}
				        	</td>
				        </tr>
				        <tr>
				            <td valign="top">
				           		<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                  			<tr>
			                    	<td width="67%" valign="top">
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
					                        <td>
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                            <tr>
					                              	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                              	<td width="100%" align="left" class="text_red">
					                              		CÁC TIN ĐĂNG MỚI NHẤT
					                              	</td>
					                              	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                            </tr>
				                        		</table>
				                        	</td>
				                      	</tr>
	                      				<tr>
	                        				<td>
	                        					<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td width="3" background="frontend/images/c4.jpg"></td>
					                              	<td align="center" valign="top" bgcolor="#F5F9FD">
	                                					<table width="98%" height="80" border="0" cellpadding="0" cellspacing="0">
					                                  	{foreach item=items from=$EstateNewList}
					                                  	<tr>
					                                    	<td height="25" align="left">
				                                    			<table border="0" cellpadding="0" cellspacing="0">
								                                    <tr>
								                                        <td>
								                                        	<a href="?hdl=detail&cateid={$items.category_id}&estateid={$items.estate_id}" class="text_blue">
								                                        		<strong> {$items.estate_title}</strong>
								                                        	</a>
								                                        </td>
								                                        <td>
								                                        {if $items.estate_video neq ""}
							                                        	&nbsp;&nbsp;<img border="0" src="frontend/images/video.gif">
							                                        	{/if}
								                                        {assign var="now" value=$smarty.now|date_format}
							                                        	{assign var="createdDate" value=$items.created_date|date_format}
							                                        	{if $now eq $createdDate}
							                                        		&nbsp;<img border="0" src="frontend/images/new_icon.gif">
							                                        	{elseif $items.estate_genre eq "2" or $items.estate_genre eq "1"}
									                               			&nbsp;<img border="0" src="frontend/images/vip.gif">
									                               		{/if}
								                                        </td>
								                                    </tr>
				                                    			</table>
					                                    	</td>
					                                  	</tr>
					                                  	<tr>
					                                    	<td align="left">
					                                    		<table border="0" cellpadding="0" cellspacing="0">
					                                        	<tr>
					                                          		<td align="left">
					                                          			<table border="0" cellpadding="0" cellspacing="0" class="border_img_new_news">
							                                            <tr>
							                                                <td>
								                                          	{if $items.estate_image1 ne ''}
								                                          		<img src="{#IMG_ESTATE_DIR#}thumb_{$items.estate_image1}" width="57" height="48" class="border_img_new_news" />
								                                          	{else}
								                                          		<img src="{#IMG_ESTATE_DIR#}thumb_spacer.gif" width="57" height="48" />
								                                          	{/if}
							                                                </td>
							                                            </tr>
					                                          			</table>
					                                          		</td>
					                                          		<td width="5"></td>
					                                          		<td align="left" valign="top">
							                                        	Giá bán: 
							                                        	
							                                        	<strong>
										                               		<font color='red'>
										                               			{if $items.estate_price > 0}
											                               			{$items.estate_price|money_format:"."}&nbsp;
											                               			{if $items.estate_price_type == 0}VNĐ 
											                               			{elseif $items.estate_price_type==1} Lượng vàng SJC 
											                               			{else} USD 
											                               			{/if}
											                               			{if $items.is_price_in_m2 eq "1"}
												                           			/m2
												                           			{/if}
											                               			{if $items.is_price_negotiable eq '1'}
											                               				(Có thể thỏa thuận)
											                               			{/if}
											                               		{else}
											                               			(Thỏa thuận)
											                               		{/if}
										                               		</font>
									                               		</strong>
							                                        	
							                                        	<br />
							                                          	Diện tích:<font color="#0419FC">&nbsp;{$items.estate_area}</font><br />
							                                          	Hướng:&nbsp;{$Direction[$items.estate_direction].text}<br />
							                                          	Nơi đăng:&nbsp;{$items.district_name}-{$items.province_name}<br />
					                                            	</td>
					                                        	</tr>
					                                   			</table>
					                                   		</td>
					                                  	</tr>
	                                					{/foreach}
	                                					</table>
	                                				</td>
	                              					<td width="4" background="frontend/images/c5.jpg"></td>
	                            				</tr>
	                            				<tr>
					                              	<td background="frontend/images/c4.jpg"></td>
					                              	<td align="right" valign="top" bgcolor="#F5F9FD">
					                              		<a href="?hdl=list"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
					                              	</td>
					                              	<td background="frontend/images/c5.jpg"></td>
		                            			</tr>
	                        					</table>
	                        				</td>
				                     	</tr>
				                      	<tr>
				                        	<td>
				                        		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
					                            <tr>
					                              	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                              	<td width="100%"></td>
					                             	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
					                            </tr>
				                        		</table>
				                        	</td>
				                      	</tr>
	                    				</table>
	                    			</td>
				                    <td width="5"></td>
				                    <td valign="top" width="210px">
				                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
				                        	<td>
				                        		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                            <tr>
					                              	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                              	<td width="100%" align="left" class="text_red">DOANH NGHIỆP NHÀ ĐẤT </td>
					                              	<td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                            </tr>
				                        		</table>
					                    	</td>
										</tr>
						                <tr>
			                        		<td>
			                        			<table width="100%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td width="3" background="frontend/images/c4.jpg"></td>
					                              	<td align="center" valign="top" bgcolor="#F5F9FD" width="98%">
					                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              		<tr><td colspan="3" height="5"></td></tr>
					                              		{foreach item=companies from=$CompanyList}
						                                <tr>
						                                  	<td>{if $companies.company_logo}
						                                  			<a href="?hdl=company&companyid={$companies.company_id}">
						                                  				<img src="{#IMG_COMPANY_DIR#}thumb_{$companies.company_logo}" width="61" class="border_img" />
						                                  			</a> {/if}
						                                  	</td>
						                                  	<td width="5"></td>
						                                  	<td align="left"><a href="?hdl=company&companyid={$companies.company_id}">{$companies.company_name}</a></td>
						                                </tr>
						                                <tr><td colspan="3" height="5px;"></td></tr>
						                                {/foreach}
					                              		</table>
			                                		</td>
			                              			<td width="4" background="frontend/images/c5.jpg"></td>
			                            		</tr>
					                            <tr>
					                              	<td background="frontend/images/c4.jpg"></td>
					                              	<td align="right" valign="top" bgcolor="#F5F9FD">
					                              		<a href="?hdl=company"><img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" /></a>
					                              	</td>
					                              	<td background="frontend/images/c5.jpg"></td>
					                            </tr>
			                        			</table>
			                        		</td>
			                      		</tr>
			                      		
			                      		<tr>
					                        <td>
					                        	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
					                            <tr>
					                              	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
					                              	<td width="100%"></td>
					                              	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
					                            </tr>
					                        	</table>
					                        </td>
					                    </tr>
					                    <tr>
					                        <td>
					                        	&nbsp;<tr>
								                    	<td align="center" style="padding-bottom: 2px;">
								                    		<object height="217" width="217" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
					<param NAME="_cx" VALUE="11959">
					<param NAME="_cy" VALUE="5345">
					<param NAME="FlashVars" VALUE>
					<param NAME="Movie" VALUE="http://www.nhadatvanminh.com.vn/banner2_08012009.swf">
					<param NAME="Src" VALUE="http://www.nhadatvanminh.com.vn/banner2_08012009.swf">
					<param NAME="WMode" VALUE="transparent">
					<param NAME="Quality" VALUE="High">
					<param NAME="AllowScriptAccess" VALUE>
					<param NAME="DeviceFont" VALUE="0">
					<param NAME="EmbedMovie" VALUE="0">
					<param NAME="SWRemote" VALUE>
					<param NAME="MovieData" VALUE>
					<param NAME="SeamlessTabbing" VALUE="1">
					<param NAME="Profile" VALUE="0">
					<param NAME="ProfileAddress" VALUE>
					<param NAME="ProfilePort" VALUE="0">
					<param NAME="AllowNetworking" VALUE="all">
					<param NAME="AllowFullScreen" VALUE="false">
					<embed src="http://www.nhadatvanminh.com.vn/banner2_08012009.swf" quality="High" pluginspage="http:/www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="217" height="217" wmode="transparent">			</object>			                    	
															&nbsp;</td>
								                  	</tr>
					                    <tr>
					                        <td>
					                        	{foreach item=items from=$Position4}
								                  	{if $items.promote_banner}
								                  	<tr>
								                    	<td align="center" style="padding-bottom: 2px;">
								                    		<a href="{$items.promote_website}" target="_blank">
								                    			<img src="{#IMG_PROMOTE_DIR#}{$items.promote_banner}" width="215px" class="border_img"  alt="{$items.promote_name}({$items.promote_id})" /></a>
								                    	</td>
								                  	</tr>
								                  	{/if}
												{/foreach}
					                        </td>
					                    </tr>
					                    </table>
									</td>
								</tr>
	                			</table>
	                		</td>
	              		</tr>
		              	<tr>
		             	   	<td height="5" valign="top">
		             	   	</td>
		              	</tr>
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">
					                        	<div style="float: left;">CÁC MẪU NỘI THẤT</div>
					                        	<div style="float: right; font-weight: normal;">
					                        	<!--
					                        		<a href="?hdl=interior">
					                        			<img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" />
					                        		</a>
					                        	-->
					                        	</div>
					                        </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="98%" height="120" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                            {foreach item=interiors from=$InteriorList}
					                              	<td align="center" style="padding-top: 5px;">
					                              		<div style="padding-bottom: 5px;">
					                              			<a id="thumb{$interiors.album_id}" href="{#IMG_INTERIOR_DIR#}{$interiors.interior_image}" 
					                              				class="highslide" alt = "{$items.interior_description}" onclick="return hs.expand(this)">
					                                			<img src="{#IMG_INTERIOR_DIR#}thumb_{$interiors.interior_image}" width="112" height="87" class="border_img" />
					                                		</a>
					                                	</div>
													<!-- 
					                                	<div align="center" class="highslide-caption">
					                                		{$items.interior_description}
					                                	</div>
 													-->
					                                </td>
	                            				{/foreach}
	                            				</tr>
	                            				<tr>
	                            					<td align='right' colspan="5">
	                            						<div style="float: right; font-weight: normal;">
							                        		<a href="?hdl=interior">
							                        			<img src="frontend/images/bt_xemthem.jpg" width="90" height="15" border="0" />
							                        		</a>
							                        	</div>
	                            					</td>
	                            				</tr>
	                          					</table>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
	<!-- End center area -->
{include file=$include_footer}