{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="262" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="center" name="{$items.value}_hdl" dir="ltr" style="color: #CC0303;">
					                				<b> DỰ ÁN NHÀ ĐẤT </b>
					                				<!--
					                					 {if $informid ne ''}
					                					 {$InformDetail.category_name}{else}
					                					 {$InformList[0].category_name}{/if}
					                				-->
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                            				<tr>
					                              	<td colspan="3" height="10"></td>
					                            </tr>
					                            {if $informid ne ''}
	                            				<tr>
					                              	<td colspan="3" align="left">
					                              		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              		<tr>
					                              			<td align="left" style="padding-left: 10px; font-weight: bold;">
					                              				<h3> {$InformDetail.inform_name}<h3>
					                              			</td>
					                              		</tr>
					                              	<!--
					                              		<tr>
					                              			<td width="10%" align="left" valign="top" style="padding-left: 10px; padding-top: 15px;">
					                              				<img src="{#IMG_INFORM_DIR#}{$InformDetail.inform_image}" align="left" style="max-width: 200px;" class="border_img" hspace="5" />
					                              				<b> {$InformDetail.inform_title}</b>
					                              			</td>
					                              		</tr>
					                              	-->
					                              		<tr>
					                              			<td align="left" style="padding-left: 10px; padding-top: 10px;">
					                              				<p style="padding-left: 5px;">{$InformDetail.inform_content}</p>
					                              			</td>
					                              		</tr>
					                              		{if count($InformList) gt 0}
					                              		<tr>
					                              			<td>
					                              				<div style="padding-left: 10px; font-weight: bold; padding-bottom: 10px;">Các tin tức khác</div>
					                              				<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                              				{foreach key=keys item=items from=$InformList}
					                              				<tr>
							                              			<td width="10" align="left" valign="middle" style="padding-right: 5px; padding-left: 10px;">
							                              				<img src="frontend/images/new.gif" width="10" height="8" />
							                              			</td>
					                              					<td align="left"><a href="?hdl=inform&cateid={$items.category_id}&informid={$items.inform_id}&page={$page}" class="text_blue">{$items.inform_name}</a></td>
					                              				</tr>
					                              				{/foreach}
					                              				<tr>
					                              					<td align="center" colspan="2" style="padding-top: 5px;">{$paging}</td>
					                              				</tr>
					                              				</table>
					                              			</td>
					                              		</tr>
					                              		{/if}
					                              		</table>
					                              	</td>
					                            </tr>
					                            {else}
				                            	{foreach key=keys item=items from=$InformList}
				                            	{if $keys % 2 == 0}<!-- Mo the -->
				                            	<tr>
				                            	{/if}
				                              		<td width="50%" align="center" valign="top">
				                              			<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                                		<tr>
					                                        <td valign="top" style="padding-top: 5px;">
					                                        	<img src="{#IMG_INFORM_DIR#}{$items.inform_image}" width="92" class="border_img" align="left" hspace="5" />
					                                        	<a href="?hdl=inform&cateid={$items.category_id}&informid={$items.inform_id}" class="text_blue"><strong>{$items.inform_name}</strong></a>
					                                        	<div style="padding-top: 7px;">{$items.inform_title}</div>
					                                        </td>
				                                		</tr>
	                              						</table>
	                              					</td>
	                              				{if ($keys+1) % 2 == 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                              				{/foreach}
	                              				{if ($keys+1) % 2 != 0}<!-- Dong the -->
	                              				</tr>
	                              				{/if}
	                            				<tr>
					                              	<td colspan="3" align="center" style="padding-top: 5px;">{$paging}</td>
					                            </tr>
					                            {/if}
	                            				<tr>
					                              	<td colspan="3" height="10"></td>
					                            </tr>
					                          	</table>
					                       	</td>
					                        <td width="4" background="frontend/images/c5.jpg"></td>
					                   	</tr>
					                   	</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}