
.jv-tabswrap .container {
	width: auto;
	border: 1px solid #DBDBDB;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;/
}
.jv-tabswrap div.jv-tab-content {	
	width: 100%;
	padding-left: 5px;
}
.jv-tabswrap div.jv-tab-content ul {
	padding-left: 5px;
}
.jv-tabswrap div.jv-tab-content li {
	border-bottom: 1px solid #DFDFDF !important;
	padding: 2px 6px !important;
}
/* JV Tabs top*/
.jv-tabs-title-top {
	margin: 0;
	border: none;
	position: relative;
	width: 100%;
	background: #DEDFDF;
}
.jv-tabs-title-top ul.jv-tabs-title {
	margin: 0px;
	height: 30px !important;
	padding: 0px;
	width: 100%;
	background: none;
	bottom: 0 !important;
	left: 10px;
}
.jv-tabs-title-top ul.jv-tabs-title li {
	background: none;
	border: none !important;
}

.jv-tabs-title-top ul.jv-tabs-title li h3 {
	font-size: 100%;
	font-weight: 100 !important;
	margin: 0px;
	padding: 0px;
	border: none !important;
	float: left;
	height: 100%;
	background: url(../images/BgTabLeftH.jpg) no-repeat top left;
	border-bottom: solid 1px #DEDFDF !important;
}


.jv-tabs-title-top ul.jv-tabs-title li h3 span {
	margin: 0px;
	margin-left: 15px;
	padding-left: 0px;
	line-height: 27px;
	padding: 2px 15px 1px 0px;
	background: url(../images/BgTabRightH.jpg) no-repeat top right;
	font-size: 100%;
	color: #a9a9a9;
	display: block;
	text-transform: uppercase;
}

.jv-tabs-title-top ul.jv-tabs-title li.hover,
.jv-tabs-title-top ul.jv-tabs-title li.firsthover,
.jv-tabs-title-top ul.jv-tabs-title li.lasthover {
}

.jv-tabs-title-top ul li.active h3 ,
.jv-tabs-title-top ul li.firstactive h3,
.jv-tabs-title-top ul li.lastactive h3 {
	color: #FA6900;
}

/* JV Tabs left*/
.jv-tabs-title-left {
	position: relative;
	float: left;	
	height: 100%;
	/*background: url(../images/17pxblank.gif) repeat-y right #F5F4ED;*/
}

.jv-tabs-title-left ul.jv-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.jv-tabs-title-left ul.jv-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.jv-tabs-title-left ul li.active,
.jv-tabs-title-left ul li.firstactive,
.jv-tabs-title-left ul li.lastactive {
	background: url(../images/left-active.gif) no-repeat right #FFFFFF;
}

.jv-tabs-title-left ul li.active H3 ,
.jv-tabs-title-left ul li.firstactive H3,
.jv-tabs-title-left ul li.lastactive H3 {
	color: #FA6900;
}

*+html .jv-tab-subcontent,
* html .jv-tab-subcontent {
	padding-top: 10px;
}
/* JV Tabs right*/
.jv-tab-panels-right .jv-tab-subcontent {
	padding-left: 15px !important;
}

.jv-tabs-title-right {
	background: url(../images/17pxblank2.gif) repeat-y left #F5F4ED;
}

.jv-tabs-title-right ul.jv-tabs-title li {
	height: 100%;
	margin: 0 0 0 1px;
	padding: 0;
	cursor: pointer;
	display: block;
	background: none;
}

.default .jv-tabs-title-right ul.jv-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 30px;
	margin: 0;
	padding: 0 10px 0 25px;
	background: none;
	font-family: "Lucida Grande", Arial, sans-serif;
	letter-spacing: normal;
}

.jv-tabs-title-right ul li.active,
.jv-tabs-title-right ul li.firstactive,
.jv-tabs-title-right ul li.lastactive {
	background: url(../images/right-active.gif) no-repeat left #FFFFFF;
}

.jv-tabs-title-right ul li.active H3 ,
.jv-tabs-title-right ul li.firstactive H3,
.jv-tabs-title-right ul li.lastactive H3 {
	color: #FA6900;
}
/* JV Tabs bottom*/
.jv-tabs-title-bottom {
	width:100%;
	bottom: 0px;
	height: 30px;
	border-top: 1px solid #C9C0B7;
	background: url(../images/grad1.gif) repeat-x top;
	z-index: 3;
}

.jv-tabs-title-bottom ul.jv-tabs-title li {
	background: none;
	border: 1px solid #C9C0B7;
}

.jv-tabs-title-bottom ul.jv-tabs-title li h3 {
	font-size: 11px;
	font-weight: bold !important;
	line-height: 20px;
	margin: 0;
	padding: 0 10px;
	border: 1px solid #F5F4ED;
	border-top: none;
	background: none;
	letter-spacing: normal;
	font-family: "Lucida Grande", Arial, sans-serif;
}

.jv-tabs-title-bottom ul.jv-tabs-title li.active,
.jv-tabs-title-bottom ul.jv-tabs-title li.firstactive,
.jv-tabs-title-bottom ul.jv-tabs-title li.lastactive {
	border-top: solid  1px #ffffff;
}

.jv-tabs-title-bottom ul li.active h3 ,
.jv-tabs-title-bottom ul li.firstactive h3,
.jv-tabs-title-bottom ul li.lastactive h3 {
	color: #FA6900;
}
.jv-tabs-title-top {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background: #9B9B9B url(../images/gradient_bg.png) repeat-x scroll left 50% !important;
	border: none !important;
}
* html .jv-tabs-title-top {
	background: #9B9B9B url(../images/tab-bg.gif) repeat-x scroll top left !important;
}
.jv-tabs-title-top ul.jv-tabs-title li {
	padding: 6px 10px 0 0 !important;
	margin: 0 !important;
	border: none !important;
	background: none !important;
}
.jv-tabs-title-top ul.jv-tabs-title li h3 {
	padding: 0 0 0 15px !important;
	color: #FFF !important;
	line-height: 24px !important;
	border: none !important;
	float: left;
	background: url(../images/tab_l.png) no-repeat top left !important;
}
* html .jv-tabs-title-top ul.jv-tabs-title li h3 {
	background: url(../images/tab_l.gif) no-repeat top left !important;
}
.jv-tabs-title-top ul.jv-tabs-title li h3 span {
	margin: 0;
	padding: 0 15px 0 0;
	line-height: 24px;
	color: #1C1C1C;
	font-weight: bold;
	background: url(../images/tab_r.png) no-repeat top right;
	text-shadow: 0 1px 0 #C8C8C8;
}
* html .jv-tabs-title-top ul.jv-tabs-title li h3 span {
	background: url(../images/tab_r.gif) no-repeat top right !important;
}
.jv-tabs-title-top ul.jv-tabs-title li.firstactive h3,
.jv-tabs-title-top ul.jv-tabs-title li.active h3,
.jv-tabs-title-top ul.jv-tabs-title li.lastactive h3 {
	padding: 0 0 0 15px;
	color: #FA6900;
	background: url(../images/tabactive_l.png) no-repeat top left !important;
}
* html .jv-tabs-title-top ul.jv-tabs-title li.active h3,
* html .jv-tabs-title-top ul.jv-tabs-title li.lastactive h3,
* html .jv-tabs-title-top ul.jv-tabs-title li.firstactive h3  {
	background: url(../images/tabactive_l.gif) no-repeat top left !important;
}
.jv-tabs-title-top ul.jv-tabs-title li.active h3 span,
.jv-tabs-title-top ul.jv-tabs-title li.firstactive h3 span,
.jv-tabs-title-top ul.jv-tabs-title li.lastactive h3 span {
	float: left;
	padding: 0 15px 0 0;
	line-height: 24px;
	color: #FF6600;
	background: url(../images/tabactive_r.png) no-repeat top right !important;
	text-shadow: 0 1px 0 #C8C8C8;
}
* html .jv-tabs-title-top ul.jv-tabs-title li.active h3 span,
* html .jv-tabs-title-top ul.jv-tabs-title li.firstactive h3 span,
* html .jv-tabs-title-top ul.jv-tabs-title li.lastactive h3 span {
	background: url(../images/tabactive_r.gif) no-repeat top right !important;
}