@font-face{font-family:myriadpro;src:url('font/MYRIADPRO-REGULAR.OTF');}



@font-face{font-family:myriadpro-it;src:url('font/MyriadPro-It.otf');}



html{width:100%; position:relative;}



html, body, div, span, applet, object, iframe,



h1, h2, h3, h4, h5, h6, p, blockquote, pre,



a, abbr, acronym, address, big, cite, code,



del, dfn, em, img, ins, kbd, q, s, samp,



small, strike, strong, sub, sup, tt, var,



b, u, i, center,



dl, dt, dd, ol, ul, li,



fieldset, form, label, legend,



table, caption, tbody, tfoot, thead, tr, th, td,



article, aside, canvas, details, embed,



figure, figcaption, footer, header, hgroup,



menu, nav, output, ruby, section, summary,



time, mark, audio, video {



	margin: 0;



	padding: 0;



	border: 0;



	font-size: 100%;



	font-family: myriadpro;



	vertical-align: baseline;



}



/* HTML5 display-role reset for older browsers */



article, aside, details, figcaption, figure,



footer, header, hgroup, menu, nav, section {



	display: block;



}



body {



	line-height: 1;



	background:#0099cc;



	color:#fff;



}







ol, ul {



	list-style: none;



}



blockquote, q {



	quotes: none;



}



blockquote:before, blockquote:after,



q:before, q:after {



	content: '';



	content: none;



}



table {



	border-collapse: collapse;



	border-spacing: 0;



}



a{text-decoration:none; color:#fff}



a:active{border:none}



.clear{clear:both}







/** wrapper **/



#wrapper{



	width: 1026px;



	margin:40px auto;	



}



#wrapper:after {



	clear:both; height:0; content:''; display:block;



}











/** header **/



#header #logo{float:left}



#header #logo h1 a{



	width:172px; height:145px;



	background:url(images/logo-head-white.png) no-repeat;



	text-indent:-99999px; display:block;	



}



#header #nav{



	float:right; margin-top:50px;



	width:820px\9;/*Tất cả cá trình duyệt IE */



}



#main-nav>li{



	margin-left:112px; text-transform:uppercase; font-size:22px; cursor:pointer;



	margin-left:95px\9;/*Tất cả cá trình duyệt IE */



}



#nav > ul > li > a:hover {



  color: #ffffff;



}



/** container **/



#container{



	margin-top:125px;	



}







ul.services-list {



	width:100%; 



}



ul.services-list li{



	width:255px; float:left;



}



ul.services-list li .top-ser{



	text-align:center;	



}



ul.services-list li .top-ser h2{



	font-size:20px;



}



ul.services-list li .top-ser .sl{



	width:200px; height:200px; background:url(images/button.png) no-repeat center center; margin-left:27px; margin-bottom:20px;



	



	opacity: 1;



    transition: opacity 1s ease-out;



    -moz-transition: opacity 1s ease-out;



    -webkit-transition: opacity 1s ease-out;



    -o-transition: opacity 1s ease-out;



}



ul.services-list li .top-ser .sl:hover{



	background:url(images/button1.png) no-repeat center center;



	opacity:0.7;



}



ul.services-list li .main-ser{



	padding:60px 12px; tetext-align: justify;



}



ul.services-list li .main-ser p{



	margin-bottom:15px; line-height:1.4;



}







/** footer **/



#footer{



	overflow:hidden; min-width:1026px; position:relative;



}



#footer #main-foot{width:1026px; margin:35px auto; overflow:hidden; position:relative}



#footer #main-foot .author{position:absolute; right:0; bottom:1px}



#footer #main-foot, #footer #main-foot h3, #footer #main-foot p{font-family:myriadpro-it}



#footer #logo-foot{



	float:left; margin-left:50px; margin-right:35px;	



}



#footer .footer-content{float:left; }



 #footer .footer-content h3{text-transform:uppercase; margin-bottom:20px; font-size:18px; padding-top:5px;}



.contact-foot p{font-size:16px; margin-bottom:5px} 



#footer #main-foot .social{



	float:right;	



}



#footer #main-foot .social a{margin-left:5px}







.social a img {



	transition: all 0.3s ease;



}



.social a:hover img {



	-webkit-transform:rotate(360deg);



	-moz-transform:rotate(360deg);



	-ms-transform:rotate(360deg);



	-o-transform:rotate(360deg);



	transform:rotate(360deg);



}











/**************  contact ********************/



#contact{



	overflow:hidden;



}



#contact .contact-form{



	margin-top:578px; float:left; margin-right:28px; width:466px;



}



#contact .c-title{



	font-size:30px; margin-bottom:20px; font-weight:bold;



}



.contact-form .c-form{width:100%}



.contact-form .c-form input[type=text],.contact-form .c-form input[type=email]{width:98%; height:48px; margin-bottom:10px; font-size:20px; padding-left:10px}



.contact-form .c-form textarea{width:98%; height:146px;font-size:20px;padding-left:10px; padding-top:10px;font-family: myriadpro;}



#contact .contact-direct{float:left;margin-top:578px;}



.contact-form .c-form input[type=submit]{background:#999; border:none; height:48px; text-align:center; width:187px; font-size:20px; color:#fff; margin-top:25px}



/* all */



::-webkit-input-placeholder { color:#0099cc; font-family: myriadpro;  }



::-moz-placeholder { color:#0099cc; font-family: myriadpro;  } /* firefox 19+ */



:-ms-input-placeholder { color:#0099cc; font-family: myriadpro; } /* ie */



input:-moz-placeholder { color:#0099cc; font-family: myriadpro; }



.c-info{



	padding-left:70px; font-size:28px; margin-bottom:30px; overflow:hidden; margin-left:18px;



}



.c-phone{



	background:url(images/contact-phone.png) no-repeat left center; line-height:1.2; height:66px; 



}



.c-email{



	background:url(images/contact-email.png) no-repeat left center; line-height:54px; height:58px;



}



.c-facebook{



	background:url(images/contact-facebook.png) no-repeat left center; line-height:1.1; height:68px; 



}



.c-form p {	position:relative;}



.c-form label.error {



	position:absolute;top:-30px;right:-60px;margin:0;background:red;



	color:#fff;	-moz-box-shadow:0 0 7px #000;-webkit-box-shadow:0 0 7px #000;



	box-shadow:0 0 7px #000;border:1px solid #fff;padding:5px 10px;



}



.c-form label.error:before {



	content:url(images/triangle.png);



	position:absolute;	bottom:-36px;	height:36px;



}



/**************  about ********************/



#about{width:1026px; margin:0 auto; color:#414042}



.about-intro{



	width:530px; float:left;	



}