/*_____________________________________________ Start - Projects - jCarouselLiteDemo _____________________________________________*/
#jCarouselLiteWrap .carousel {
	padding: 10px 0 0 0;
	margin: 0 0 20px 10px;
	position: relative;
}

#jCarouselLiteWrap .main {
	margin-left: 40px;
}

#jCarouselLiteWrap .Wrap em {
	color: #FF3300;
	font-weight: bold;
	font-size: 60%;
	font-style: normal;
}


#jCarouselLiteWrap .carousel .jCarouselLite {
	float: left;
	/* Needed for rendering without flicker */
	position: relative;
	visibility: hidden;
	left: -5000px;
}

#jCarouselLiteWrap .carousel ul {
	margin: 0;
}

#jCarouselLiteWrap .widget img {
	cursor: pointer;
}

#jCarouselLiteWrap .mid {
	margin-left: 80px;
	width: 400px;
	height: 300px;
}

#jCarouselLiteWrap .vertical {
	margin-left: 170px;
}

#jCarouselLiteWrap .vertical .jCarouselLite {
	/* so that in IE 6, the carousel div doesnt expand to fill the space */
	width: 170px;
}

#jCarouselLiteWrap .imageSlider li img,#jCarouselLiteWrap .imageSlider li p,#jCarouselLiteWrap .imageSliderExt li img,#jCarouselLiteWrap .imageSliderExt li p
	{
	width: 400px;
	height: 300px;
}
/*_____________________________________________ End - Projects - jCarouselLiteWrap _____________________________________________*/