/* (C) 2007 YOOtheme.com */

div.cutted div.yoo-gallery div.thumbnail {
	padding: 15px;
	float: left;
	position: relative;
}

div.cutted div.yoo-gallery div.thumbnail-bg {
	padding: 4px;
	border: 1px solid #c8c8c8;
	background: #ffffff;
	float: left;
}

div.cutted div.yoo-gallery div.corner-tl,
div.cutted div.yoo-gallery div.corner-tr,
div.cutted div.yoo-gallery div.corner-bl,
div.cutted div.yoo-gallery div.corner-br {
	position: absolute;
	width: 25px;
	height: 25px;
	z-index: 1;
}

div.cutted div.yoo-gallery div.corner-tl {
	top: 12px;
	left: 12px;
	background: url(styles/thumbnail_cutted/images/corners.png) -25px -25px no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-tr {
	top: 12px;
	right: 12px;
	background: url(styles/thumbnail_cutted/images/corners.png) 0 -25px no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-bl {
	bottom: 12px;
	left: 12px;
	background: url(styles/thumbnail_cutted/images/corners.png) -25px 0 no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.corner-br {
	bottom: 12px;
	right: 12px;
	background: url(styles/thumbnail_cutted/images/corners.png) 0 0 no-repeat; /* ie6png:crop */
}

div.cutted div.yoo-gallery div.thumbnail img {
	float: left;
}