/* CSS Document */
.sp{
	background-image:url(../img/step.jpg);
	height:29px;
	background-repeat:no-repeat;
	background-color:#f1f1f1;
	line-height:29px;
	padding-left:26px;
}

.sp div{
	float:left;
	cursor:pointer;
	height:28px;
}

.spmoi .lefth{
	width:12px;
	background-color:#e10d0a;
	background-image:url(../img/img_stepon.jpg);
	background-position:0px 174px;
}

.spmoi .centerh{
	background-image:url(../img/img_stepon.jpg);
	background-position:0px 58px;
	background-color:#e10d0a;
}

.sp .cchon .righth{
	background-image:url(../img/img_stepon.jpg);
	background-position:0px 116px;
	width:12px;
}

.chon .lefth{
	background-position:0px 203px;
}

.chon{
	color:#FFF;
}

.chon .centerh{
	background-position:0px 261px;
}

.kchon .lefth{
	background-position:0px 0px;
}

.dau .lefth{
	background-position:0px 0px;
}

.cuoi .righth{
	background-image:url(../img/img_stepon.jpg);
	background-position:0px 116px;
	width:12px;
}