/* CSS Document */
body{
	color:#000;
	background-color:#FFF;
	font-size:12px;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
}

.clear{
	clear:both;
}

	.tbody{
		width:970px;
		background-image:url(../img/bg-header.png);
		background-repeat:repeat-y;
		padding-left:9px;
		padding-right:9px;
		margin:auto auto;
		margin-bottom:10px;
	}
	
		.theader{
			height:164px;
			background-image:url(../img/banner.jpg);
			background-repeat:no-repeat;
			background-position:top left;
			margin-bottom:-34px;
		}
		
		.tnav{
			height:30px;
			overflow:hidden;
			border-bottom:4px solid #f00000;
		}
		
			.tnav ul li{
				float:left;
			}
			
				.tnav ul li a{
					display:block;
					text-decoration:none;
					color:#FF0;
					text-transform:uppercase;
					height:30px;
					line-height:30px;
					padding-left:20px;
					padding-right:20px;
					font-weight:bold;
					margin-right:2px;
					background-color:#f07ea4;
						border-radius:7px 7px 0px 0px;
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd0d1c), to(#f07ea4));
						background: -webkit-linear-gradient(top, #f07ea4, #dd0d1c);
						background: -moz-linear-gradient(top, #f07ea4, #dd0d1c);
						background: -ms-linear-gradient(top, #f07ea4, #dd0d1c);
						background: -o-linear-gradient(top, #f07ea4, #dd0d1c);
				}
				
					.tnav ul li a.select{
						background-color:#eb545f;
						color:#FFF;
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd0d1c), to(#f07e86));
						background: -webkit-linear-gradient(top, #f07e86, #dd0d1c);
						background: -moz-linear-gradient(top, #f07e86, #dd0d1c);
						background: -ms-linear-gradient(top, #f07e86, #dd0d1c);
						background: -o-linear-gradient(top, #f07e86, #dd0d1c);
					}
				
					.tnav ul li a:hover{
						background-color:#eb545f;
						border-radius:7px 7px 0px 0px;
						color:#FFF;
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd0d1c), to(#f07e86));
						background: -webkit-linear-gradient(top, #f07e86, #dd0d1c);
						background: -moz-linear-gradient(top, #f07e86, #dd0d1c);
						background: -ms-linear-gradient(top, #f07e86, #dd0d1c);
						background: -o-linear-gradient(top, #f07e86, #dd0d1c);
					}
	
	.tsection {
		margin-bottom:10px;
	}
					
	.tsection .left{
		background-image:url(../img/sd.gif);
		background-repeat:repeat-y;
		background-position:right;
		margin-right:1px;
		padding-right:9px;
		width:220px;
		float:left;
		min-height:100%;
		box-shadow:-5px 9px 9px #d1cfcf;
	}
	
		.tsection .left .item{
			margin-top:5px;
			margin-bottom:5px;
		}
		
			.tsection .left .item .title{
				background-image:url(../img/bg-module-title-blue.png);
				height:44px;
				margin-left:-9px;
				line-height:40px;
				padding-left:20px;
				font-weight:bold;
				color:#FFF;
				width:218px;
				background-repeat:no-repeat;
			}
			
				.tsection .left .item ul.mnu li a{
					display:block;
					padding:3px;
					padding-left:14px;
					text-decoration:none;
					color:#C30;
					text-transform:uppercase;
				}
				
				.tsection .left .item ul.mnu li a:hover{
					color:#FF9B14;
					text-decoration:underline;
				}
				
				.tsection .left .item .content{
					padding:10px;
				}
				
				.tsection .left .item ul#news{
				}
	
	.tsection .right{
		margin-top:5px;
		width:740px;
		float:left;
		min-height:500px;
	}
	
		.tsection .right .slideshow{
			margin-top:5px;
			margin-bottom:5px;
			width:740px;
			height:250px;
			position:relative;
			overflow:hidden;
		}
		
		.tsection .right .slideshow ul{
			display:block;
			width:740px;
			height:250px;
		}
		
			.tsection .right .slideshow ul li{
				position:absolute;
				top:0px;
				left:0px;
			}
		
			.tsection .right .slideshow ul li a{
				display:block;
				background-color:#FFF;
			}
			
				.tsection .right .slideshow ul li a img{
					width:740px;
					height:250px;
				}
	
		.tsection .right .news{
			border:1px solid #0F8BAF;
			border-radius:5px;
			margin-right:5px;
			padding:10px;
		}
		
		.tsection .right .post{
			border:1px solid #0F8BAF;
			border-radius:5px;
			margin-right:5px;
			padding:10px;
		}
		
		.tsection .right .post .title{
				font-weight:bold;
				font-size:20px;
				color:#0F8BAF;
				font-family:Arial, Helvetica, sans-serif;
				margin-bottom:10px;
		}
		
			.tsection .right .news .title{
				font-weight:bold;
				font-size:20px;
				color:#0F8BAF;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			.tsection .right .news .new{
				border-bottom:1px dotted #999;
				padding:5px;
			}
			
			.tsection .right .news .new:last-child{
				border:0px;
			}
			
				.tsection .right .news .new img{
					height:50px;
					width:100px;
					padding:5px;
					border-radius:3px;
					border:1px solid #999;
					box-shadow:2px 2px 3px #7E43FA;
					float:left;
					margin-right:10px;
					margin-bottom:5px;
				}
				
				.tsection .right .news .new a{
					display:block;
					text-decoration:none;
					color:#00F;
					font-weight:bold;
				}
				
			.tsection .right .news .content .summary{
				color:#666;
				line-height:15px;
				margin-top:7px;
			}
			
			.tsection .right .news .content .img{
				color:#666;
				font-size:11px;
				text-align:center;
			}
			
				.tsection .right .news .content .img img{
					padding:10px;
					box-shadow:2px 2px 3px #CCC;
					border-radius:5px;
					border:1px solid #999;
					margin:auto auto;
					margin-top:7px;
					margin-bottom:7px;
					display:block;
				}
				
		.tsection .right .product{
			border:1px solid #0F8BAF;
			border-radius:5px;
			margin-right:5px;
		}
		
			.tsection .right .product .cotnentforproduct .img{
				padding:5px;
				margin-left:5px;
				margin-right:10px;
				margin-bottom:5px;
				float:left;
				border:1px solid #999;
				border-radius:3px;
				box-shadow:2px 2px 2px #CCC;
			}
		
		.tsection .right .product .titleproduct{
			font-weight:bold;
			padding:10px;
			font-size:20px;
			color:#0F8BAF;
			font-family:Arial, Helvetica, sans-serif;
		}
				
		.tsection .right .product .item{
			width:171px;
			margin:5px;
			float:left;
			border:1px solid #999;
			overflow:hidden;
			height:162px;
			overflow:hidden;
			box-shadow:3px 3px 4px #a8afbd;
		}
		
			.tsection .right .product .item .title{
				height:20px;
				overflow:hidden;
				display:block;
				margin-bottom:5px;
			}
			
				.tsection .right .product .item .title a{
					display:block;
					color:#11539F;
					text-decoration:none;
					font-weight:bold;
					font-size:13px;
					padding:5px;
					text-align:center;
					line-height:20px;
				}
				
				.tsection .right .product .item .title a:hover{
					text-decoration:underline;
					color:#2975cb;
				}
				
				.tsection .right .product .item img{
					width:120px;
					margin-left:26px;
					height:100px;
				}
				
				.tsection .right .product .item .price{
					font-weight:bold;
					color:#11539F;
					text-align:center;
					font-size:12px;
				}
				
					.tsection .right .product .item .price span{
						color:#F00;
						font-size:13px;
						text-shadow:1px 1px 1px #fc8c9c;
					}
					
				.tsection .right .product .item .processing{
					padding-left:40px;
					background-image:url(../img/icon_giohang.jpg);
					background-repeat:no-repeat;
					background-position:left top;
					height:25px;
					display:block;
					line-height:25px;
				}
				
					.tsection .right .product .item .processing a{
						height:25px;
						line-height:25px;
						text-decoration:none;
						font-weight:bold;
						color:#00F;
					}
					
					.tsection .right .product .item .processing a.buy{
						color:#F00;
					}
	
	.tfooter{
		margin-top:5px;
		padding:10px;
		padding-bottom:30px;
		background-color:#0f8baf;
		color:#FFF;
		position:relative;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0189b0), to(#51abc4));
		background: -webkit-linear-gradient(top, #51abc4, #0189b0);
		background: -moz-linear-gradient(top, #51abc4, #0189b0);
		background: -ms-linear-gradient(top, #51abc4, #0189b0);
		background: -o-linear-gradient(top, #51abc4, #0189b0);
		box-shadow:-0px 9px 9px #d1cfcf;
	}
	.tfooter p{
		padding:3px;
	}
	
		.tfooter .ds{
			position:absolute;
			right:5px;
			bottom:5px;
		}
	
		.tfooter .ds a{
			display:block;
			color:#CF0;
			text-decoration:none;
			font-weight:bold;
		}