/*Page Nav*/

.widget_pages h3 {
	display:none;
}

.sidenav, .widget_pages ul {
	border-left:4px solid #c0dcf4;
	}

.sidenav li, .widget_pages li {
	list-style:none;
	border-bottom:1px solid #7eb8e9;
	padding:0;
	}

.sidenav li a, .sidenav li a:visited, .widget_pages li a, .widget_pages li a:visited {
	background:#3399cc;
	display:block;
	padding:4px 4px 4px 8px;
	color:#ace3ff;
	}
		
.sidenav li a:hover, .sidenav li a:active, 
.sidenav li.current_page_item a, .sidenav li.current_page_item a:visited,
.sidenav li.current_page_parent a, .sidenav li.current_page_parent a:visited {
	background:#237daa;
	text-decoration:none;
	color: #FFF;
	}

.sidenav li.current_page_item li a, .sidenav li.current_page_item li a:visited {
	background:#115476
	}


	

/*Top Navbar */

#navbar {
	background:#236d93;
	border-top:1px solid #3e80a2;
	padding:3px 12px 0 12px;
	}
	
#nav {
	font-size:1.1em;
	width:700px;
	}
	
#nav, #nav ul {
	list-style: none;
	line-height: 1;
	}

#nav li {
	float: left;
	list-style:none;
	margin-right:10px;
	}

#nav a, #nav a:visited {
	display:block;
	font-weight:bold;
	color: #f5f5f4;
	padding:6px 12px 10px 12px;
	background:url(../images/pipe.gif) right no-repeat
	}

#nav a:hover, #nav a:active {
	background:#02547d;
	text-decoration:none
	}	

#nav .current-cat a, #nav .current-cat a:visited  {
	background:#3399cc url(../images/arrow.gif) no-repeat center 22px;
	}


		
/* Dropdown Menus */		
#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 174px;
	}

#nav li li {
	width: 172px;
	background: #02547d;
	}

#nav li li a, #nav li li a:visited {
	font-weight:normal;
	font-size:0.9em;
	color:#FFF;
	background:#02547d;
	}

#nav li li a:hover, #nav li li a:active {
	background:#01324e;
	}	
		
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
	}

a.main:hover
{	background:none;
	}

#nav li li.current-cat a, #nav li li.current-cat a:visited,
#nav .current-cat .children a, #nav .current-cat .children a:visited
  {
	background:#02547d;
	}

#nav li li.current-cat a:hover, #nav li li.current-cat a:active,
#nav .current-cat .children a:hover, #nav .current-cat .children a:active {
	background:#01324e;
	}	
	



/*More Menu*/	

#more-menu {
	padding:14px;
	width:189px;
	float:right;
	background:#eff9ef;
	margin:15px 0 8px 12px;
	color:#487645;
	}

#more-menu ul {
	margin:0 0 15px 0;
	padding:0;
	}
	
#more-menu li {
	list-style:none;
	border-bottom:1px solid #d5ebd4;
	padding: 4px 0 5px 0;
	margin:0;
	}
	
#more-menu a, #more-menu a:visited {
	color:#5fa25d;
	}

li.current_page_item a,	li.current_page_item a:visited {
	text-decoration:underline
	}
	
.bigger #more-menu {
	font-size:0.9em;
	}			