<form name="frmdel" action="?do=nickchat&act=delselect" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th class="style2" width="10">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Nickname</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th width="80" class="style2">Hành động</th>		
	</tr>
<? 
if ($nickchat) {
for ($i=0;$i<count($nickchat);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$nickchat[$i]['id']?>" /></td>		
		<td><a href="?do=nickchat&act=edit&id=<?=$nickchat[$i]['id']?>"><?=stripslashes($nickchat[$i]["title_vn"])?> : <? if ($nickchat[$i]["type"]==2) echo 'Skype'; else echo 'Yahoo';?> - <?=stripslashes($nickchat[$i]["nick"])?></a></td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=nickchat&act=move&id1=<?=$nickchat[$i]['id']?>&pos1=<?=$nickchat[$i-1]['order']?>&id2=<?=$nickchat[$i-1]['id']?>&pos2=<?=$nickchat[$i]['order']?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($nickchat)-1) { ?>
			<a href="?do=nickchat&act=move&id1=<?=$nickchat[$i]['id']?>&pos1=<?=$nickchat[$i+1]['order']?>&id2=<?=$nickchat[$i+1]['id']?>&pos2=<?=$nickchat[$i]['order']?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
			<a href="?do=nickchat&act=edit&id=<?=$nickchat[$i]['id']?>" class="link_admin">Cập nhật</a> | <a href="?do=nickchat&act=del&id=<?=$nickchat[$i]['id']?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các nickname được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
</table>
</form>