/***
Design by Gaucer
ICQ 6981278
***/

body {
  background-color: #fff;
  color: #272726;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10pt;
  margin: auto;
  max-width: 500px;
}

form {
  font-size: small;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  margin: 0;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  width: 99%;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #FBCB90;
  color: #686868;
  padding: 3px;
  margin: 1px;
}

input:hover {
border: 1px solid #797979;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background-color: #FF0000;
  border: 1px solid white;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 0px 0px 0px 10px;
}

.bmenu {
  background-color: #FFFBCA;
  background-image: url(images/gmenu.png);
  background-repeat: repeat-x;
  border: 1px solid white;
  margin: 0;
  padding: 2px 4px 4px 4px;
}

.end {
  text-align: center;
}

.fmenu {
  background: #EDC900;
  background-image: url(images/fmenu.gif);
  background-repeat: repeat-x;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 1px 5px 3px;
}

.footer {
  background-color: #FFD61C;
  background-image: url(images/header.gif);
  background-repeat:  repeat-x;
  color: #fff;
  margin: 0;
  padding: 5px 0 6px 4px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.func {
  border-left: 4px solid #FFD61C;
  color: #757575;
  font-size: x-small;
  margin-left: 2px;
  margin-top: 4px;
  padding-left: 4px;
}

.gmenu {
  background-color: #fffbca;
  background-image: url(images/gmenu.png);
  background-repeat: repeat-x;
  border: 1px solid white;
  margin: 0;
  padding: 3px 4px 3px 4px;
}

.gray {
  color: #586776;
}

.greply {
  border-left: 4px solid #009900;
  color: #009900;
  padding: 2px 0 2px 4px;
}

.hdr {
  background-color: #FEFCB0;
  border-bottom: 1px solid #595959;
  font-weight: bold;
  padding-left: 2px;
}

.header {
  background-color: #FFD61C;
  background-image: url(images/header.gif);
  background-repeat: repeat-x;
  color: #fff;
  padding: 5px 0 6px 4px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.left {
  float: left;
}

.list1 {
  background-color: #fff;
  border: 1px solid #FEFCB0;
  margin: 0;
  padding: 3px 4px 4px 4px;
}

.list2 {
  background-color: #f7f7f7;
  border: 1px solid #FEFCB0;
  margin: 0;
  padding: 3px 4px 4px 4px;
}

.maintxt {
  border: 4px solid #fefcb0;
  font-weight: normal;
  padding: 4px;
}

.menu {
  background-color: #FEFEFE;
  color: #727272;
  border: 1px solid white;
  margin: 0;
  padding: 4px;
}

.news {
  background-color: #fffbca;
  border: 1px solid #dbeac2;
  color: #333333;
  font-size: small;
  padding: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.phdr {
  color: #0598E9;
  font-weight: bold;
  background-color: #ffe554;
  background-image: url(images/phdr.png);
  background-repeat: repeat-x;
  padding: 6px 4px 3px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.phpcode {
  background-color: #E0E6E9;
  border: 1px dotted #9FAEBB;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #FFD61C;
  color: #878787;
  font-size: x-small;
  margin-left: 2px;
  padding: 2px 0 2px 4px;
}

.reply {
  border-left: 4px solid #EE0000;
  color: #EE0000;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background-color: #e9ccd2;
  border: 1px solid white;
  margin: 0;
  padding: 2px 0 3px 4px;
}

.sitemap {
  background-color: #FEFCB0;
  margin: 0;
  padding: 2px 4px 3px 4px;
  font-size: xx-small;
  height: 38px;
  overflow: auto;
}

.status {
  color: #FFD61C;
  font-size: x-small;
  font-weight: bold;
  padding-left: 0;
}

.sub {
  border-top: 1px dotted #FEFCB0;
  font-size: x-small;
  margin-top: 4px;
}

.tmn {
  background: #FEFCB0;
  background-image: url(images/tmn.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  color: #FFFFFF;
  margin: 0;
  padding: 5px 0 5px 4px;
}

.topmenu {
  background-color: #fefcb0;
  font-size: x-small;
  padding: 3px;
  margin: 1px 0;
}

.topmenu input{
  font-size: x-small
}

.user {
  background-color: #FFFBCA;
  background-image: url(images/gmenu.png);
  background-repeat: repeat-x;
  border: 1px solid #d1e7c0;
  margin: 0;
  padding: 3px 4px 3px 4px;
}

.alarm a:link, .alarm a:visited {
  color: #FFFFFF;
  font-size: x-small;
}

.clip a:link, .clip a:visited {
  color: #424e59;
}

.footer a:link, .footer a:visited {
  color: #32a5f6;
  text-decoration: none;
}

.green, .green a:link, .green a:visited {
  color: #008000;
}

.greply a:link, .greply a:visited {
  color: #008800;
}

.red, .red a:link, .red a:visited {
  color: #FF0000;
}

.reply a:link, .reply a:visited {
  color: #DD0000;
}

.sub a:link, .sub a:visited {}

.fmenu a:hover {
  font-weight: bold;
  text-decoration: none;
}

.tmn a:link, .tmn a:visited, .fmenu a:link, .fmenu a:visited {
  color: #32a5f6;
  text-decoration: none;
}

.footer a:hover, .tmn a:hover{
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #32a5f6;
  text-decoration: none;
}

a:link, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #FFD61C;
  text-decoration: none;
}

.currentpage {
    color: #fff;
    background-color: #92b344;
    padding: 0px 5px 0px 5px;
}

a.pagenav {
    color: #6f8c2a;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}

a.pagenav:hover {
    border-bottom: 3px solid #92b344;
}

img {border: none; vertical-align: middle;}

