.menusys_split {
}

#menusys_split {
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	display: block;
	width: 100%;;
}

#menusys_split ul {
	margin: 0;
	padding: 0;
	display: none;
}

#menusys_split li {
	margin: 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusys_split li.last-item {
	background: none;
}
/* Menu styling begin */
#menusys_split li a {
	padding: 0 0 0 20px;
	display: block;
	text-decoration: none;
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
}
#menusys_split li a span {
	padding: 0 20px 0 0;
	display: block;
	border: none;
	color: #FFF;
	font-weight: bold;
	font-size: 100%;
}

#menusys_split li a:hover,
#menusys_split li a:active,
#menusys_split li a:focus {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;

}

#menusys_split li:hover a,
#menusys_split li.hover a,
#menusys_split li.havechildhover a,
#menusys_split li.havechild-activehover a {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
* html #menusys_split li a:hover,
* html #menusys_split li a:active,
* html #menusys_split li a:focus,
* html #menusys_split li.hover a,
* html #menusys_split li a.active {
	background: url(../../images/bg_menuactive_l.gif) no-repeat bottom left;
}

#menusys_split li:hover a.active span,
#menusys_split li a:hover span,
#menusys_split li a:active span,
#menusys_split li a:focus span,
#menusys_split li a.active:hover span,
#menusys_split li a.active:active span,
#menusys_split li a.active:focus span,
#menusys_split li:hover a span,
#menusys_split li.hover a span,
#menusys_split li.havechildhover a span,
#menusys_split li.havechild-activehover a span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}
#menusys_split li a.active {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
#menusys_split li a.active span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}
* html #menusys_split li a:hover span,
* html #menusys_split li a:active span,
* html #menusys_split li a:focus span,
* html #menusys_split li a.active:hover span,
* html #menusys_split li a.active:active span,
* html #menusys_split li a.active:focus span,
* html #menusys_split li:hover a span,
* html #menusys_split li.hover a span,
* html #menusys_split li a.active span {
	background: url(../../images/bg_menuactive_r.gif) no-repeat bottom right;
}

#menusys_split li ul a:hover, 
#menusys_split li ul a:active, 
#menusys_split li ul a:focus, 
#menusys_split ul li:hover, 
#menusys_split ul li.hover, 
#menusys_split ul li.havesubchildhover, 
#menusys_split ul li.havesubchild-activehover, 
#menusys_split ul ul li:hover, 
#menusys_split ul ul li.hover, 
#menusys_split ul ul li.havesubchildhover, 
#menusys_split ul ul li.havesubchild-activehover {
	background: none;
}

#menusys_split ul li a.active {
	background: none !important;
}
