﻿/* CSS Document*/
.cActive {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url('http://www.vnexpress.net/User/ck/Source/images/bg_active.gif'); COLOR: #9e224d; FONT-FAMILY: Tahoma, "Times New Roman"; TEXT-DECORATION: none
}
.cNoActive {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url('http://www.vnexpress.net/User/ck/Source/images/bg_noactive.gif'); COLOR: #009140; FONT-FAMILY: Tahoma, "Times New Roman"; TEXT-DECORATION: none
}
.tbHeader {
	BORDER-RIGHT: #666666 1px solid; BORDER-LEFT: #666666 1px solid
}
.cHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, "Times New Roman"; BACKGROUND-COLOR: #9e224d
}
.cHeaderN {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, "Times New Roman"; BACKGROUND-COLOR: #af637d
}
.Active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #9e224d; FONT-FAMILY: Tahoma, "Times New Roman"; TEXT-DECORATION: none
}
.NoActive {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #009140; FONT-FAMILY: Tahoma, "Times New Roman"; TEXT-DECORATION: none
}
