body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	margin: 40px auto;
	width: 600px;
}
form {
	margin: 0px 0px 12px 0px;
}
form input {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	padding: 2px;
}
#results {
	border-bottom: 1px solid #666666;
}
#results div {
	border-top: 1px solid #666666;
	padding: 4px;
}
#results span {
	float: right;
}
#results a {
	color: #666666;
	text-decoration: none;
}
#results .clear {
	display: block;
	clear: both;
}
#results img {
	border: 6px solid #CCCCCC;
}