			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div class="title1"><?=$lang['news']?></div>
          <div class="space_content">
          <? if ($news) { ?>
            <? for ($j=0;$j<count($news);$j++) { ?>          				
            <div>
              <? if ($news[$j]['img']) { ?><a href="?do=news&act=detail&id=<?=$news[$j]['id']?>"><img src="upload/news/<?=$news[$j]['img']?>" width="100" height="75" border="0" align="left" vspace="3" style="margin-right:8px;" class="imgbor"></a><? } ?>
              <div><a href="?do=news&act=detail&id=<?=$news[$j]['id']?>"><b><?=stripslashes($news[$j]["title"])?></b></a><? if ($news[$j]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($news[$j]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?> <span class="black11"><em>(<?=date($lang['DATE_FORMAT'],strtotime($news[$j]["date"]))?>)</em></span></div>
              <div style="padding-top:2px;"><?=stripslashes($news[$j]["shortdesc"])?></div>
            </div>
            <div id="line1"><img src="images/spacer.gif" /></div>		
            <? } ?>
            
            <? if ($plpage) { ?>
            <div align="center" style="padding-bottom:10px;"><?=$plpage?></div>
            <? } ?>
            
            <div align="right"><img src="images/top.gif" align="absmiddle"> <a href="#top" class="green11"><?=$lang['top']?></a></div>	            
          <? } ?>	
          </div>
        </div>
			</div>