body {
color: #838383;
border: solid 1px #292929;
font-size: 11px;
font-family: Arial;
background-color: #171717;
margin: auto;
padding: 1px 1px 0;
max-width: 350px;
}

a {
text-decoration: none;
color: #bd2a43;
}

a:hover {
color: #f4506c;
}
/* Линия */

hr {
color: #292929;
background-color: #2c2c2c;
height: 1px;
border-width: 0;
margin: 2px;
width: 95%;
}
/* Форма ввода */

.navigation input, .navigation select { color: #d73e56; font-size: 11px; background-color: #531821; padding: 2px; border: solid 1px #7f1a2a; }
input, textarea, select { color: #8f8f8f; background-color: #191919; border: solid 1px #434343; }
input:focus, textarea:focus, select:focus { border-color: #5c121d; }
input[type=submit] { color: #e7546c; background-color: #5d1923; background-image: url(images/go.gif); background-repeat: repeat-x; background-position: 50% top; border: solid 1px #7f1a2a; cursor: pointer; }
input[type=submit]:hover { color: #ff97a8; }
.navigation input[type=submit] { margin-left: -3px; padding-right: 5px; padding-left: 5px; border-left-style: none; }
/* Навигация в форуме */
/* Показ онлайна */

.on {
color: #89ce00;
font-weight: bold;
}
/* Показ оффлайна */

.off {
color: #e70005;
font-weight: bold;
}
/* Статус в анкете */

.status {
color: #ff193d;
font-weight: bold;
}
/* Название поля в анкете */

.ank_n {
font-weight: bold;
}
/* Данные в анкете */

.ank_d {
font-style: italic;
}
/* Низ страницы */

.end { font-size: 10px; padding: 2px; border-top: 1px dotted #393939;
/*	background-image: url(img/foot.gif); */
}
/* Форма авторизации */

.tmn, .navigation { color: #d73e56; background-color: #4f1820; background-image: url(images/aut.gif); background-repeat: repeat-x; background-position: 50% top; text-align: center; margin-top: 2px; padding: 3px; border-top: 1px solid #000; border-bottom: 1px solid #000; }
.navigation { margin-top: 0; }
.aut a { color: #d73e56; text-decoration: underline; }

.aut a:hover { color: #cacaca; text-decoration: none; }
/* Верхняя часть страницы */

.logo { background-color: #49131c; margin: 0; text-align: left; vertical-align: bottom; background-image: url(images/head.png); background-repeat: repeat-x; background-position: 50% top; padding: 2px; border-bottom: 1px solid #2e2e2e; }
.title img { margin-top: -2px; margin-bottom: -5px; margin-left: -2px; }
.title2 {
background-image: url(img/head.gif);
background-position: right;
background-repeat: no-repeat;
height: 40px;
}

.top { background-color: #010101; background-image: url(images/title.gif); background-repeat: repeat-x; background-position: 50% top; text-align: center; margin-top: 1px; margin-bottom: 1px; padding: 3px; border-bottom: 1px solid #242424; }
.bot { background-image: url(images/bot.gif); background-repeat: repeat-x; background-position: 50% top; text-align: center; padding: 3px; border-top: 1px solid #2f2f2f; }
.shar { background-image: url(images/shar.png); background-repeat: no-repeat; background-position: left top; position: relative; z-index: 1; margin: -13px 3px; }
.shar b { background-image: url(images/shar.png); background-repeat: no-repeat; background-position: right top; height: 26px; display: block; }
/* Навигация */

img.logo {
vertical-align: top;
}
/* Форма поиска */

.search {
font-size: 11px;
color: #333333;
border: 1px solid #7C7C7C;
margin: 1px 0px;
padding: 1px 1px 1px 1px;
text-align: center;
}

.search_c {
color: #333333;
font-weight: bold;
}
/* Ошибка */

.error { color: #db0000; background-color: #3a0001; margin: 1px; padding: 2px; }
/* Сообщение (успешное) */

.mess { color: #7ebd00; background-color: #273a00; margin: 1px; padding: 2px; }
/* Формы упрвления в форуме */
.forum_form_set {
font-size: 11px;
color: #323232;
border: solid 1px #2e2e2e;
margin: 1px 0;
padding: 2px;
text-align: left;
}
/* Класс удаленияредактирования постов */

.rmenu {
font-size: 11px;
color: #333333;
border: solid 1px #363636;
margin: 1px 0;
padding: 2px;
text-align: center;
}
/* Вывод номеров страниц */

.str {
font-size: 11px;
border: dotted 1px #3f3f3f;
margin: 1px 0;
padding: 2px;
text-align: center;
}

.str_t, .str_l a:hover {
background-color: #430d15;
border: solid 1px #751927;
text-decoration: none;
color: #b5293e;
font-weight: bold;
padding: 0 2px;
}

.str_l a{
border: solid 1px #545454;
text-decoration: none;
color: #6d6d6d;
font-weight: normal;
padding: 0 2px;
}
/* Ответ в гостевой */

.post_otvet { color: #b12b40; padding: 3px; border-left-style: solid; border-left-width: 2px; }
/* Весь пост (внешнее) */

.post, .main_menu2 { background-color: #1b1b1b; background-image: url(images/main.gif); background-repeat: repeat-x; background-position: 50% bottom; border: solid 1px #3a3a3a; margin: 1px 0; padding: 4px; text-align: left; }
/* Заголовок поста (ник и время) */
.post_title a {
text-decoration: none;
color: #a0a0a0;
font-weight: bold;
}

.post_title a:hover {
text-decoration: none;
color: #9c1d0a;
font-weight: bold;
}
/* Текст сообшения */

.post_msg {
background-color: #191919;
font-size: 11px;
border: solid 1px #2e2e2e;
margin: 1px 0;
padding: 2px;
text-align: left;
}

.post_msg a {
text-decoration: none;
color: #869C0A;
font-weight: bold;
}

.post_msg a:hover {
text-decoration: none;
color: #5A9C0A;
font-weight: bold;
}
/* Прикрепленные файлы */

.post_file {
background-color: #252525;
font-size: 11px;
color: #7e7e7e;
border: solid 1px #363636;
margin: 1px 0;
padding: 1px 10px;
text-align: left;
}

.post_file a {
text-decoration: none;
color: #a81600;
font-weight: bold;
}

.post_file a:hover {
text-decoration: none;
color: #717171;
font-weight: bold;
}
/* Форма добавления сообщения */

.add_mess {
font-size: 11px;
border: solid 1px #3a3a39;
margin: 1px 0;
padding: 1px;
text-align: left;
}
/* Новости  */

.news, .list1 { background-image: url(images/news.gif); background-repeat: no-repeat; background-position: left center; margin-top: 2px; margin-bottom: 2px; padding: 5px; border-top: 1px dotted #333; border-bottom: 1px dotted #333; }
/* Главное меню (внешнее) */
.bmenu {
padding-top: 2px;
padding-bottom: 2px;
border-top: 1px solid #2f2f2f;
border-bottom: 1px solid #2f2f2f;
}
/* Главное меню (активное) */

..bnu, .forum_navig, .post_title, .post_otvet_title { color: #838383; background-color: #0b0b0b; background-image: url(images/razd.gif); background-repeat: repeat-x; background-position: 50% top; padding: 3px; border-top: 1px solid #2d2d2d; border-bottom: 2px solid #2d2d2d; }
/* Заголовок ответа в гостевой */
.post_title, .post_otvet_title { border-bottom-width: 1px; }
.forum_navig { padding: 4px; }
.main_menu0 img { vertical-align: middle; }
.razdl {
background-image: url(img/razdl.gif);
background-repeat: no-repeat;
background-position: right top;
height: 15px;
padding-top: 2px;
padding-right: 5px;
padding-left: 1px;
}

img.m0 {
vertical-align: top;
}

.main_menu0 a {
text-decoration: underline;
font-weight: bold;
}
/* Главное меню (неактивное, список) */
/* Главное меню (подменю, список) */
/* Главное меню (активное, внешнее) */

.menu { background-color: #1b1b1b; background-image: url(images/main.gif); background-repeat: repeat-x; background-position: 1px bottom; margin-top: -2px; margin-bottom: 3px; margin-left: 4px; padding: 3px; border-bottom: 2px solid #2d2d2d; border-left: 2px solid #2d2d2d; }
