/*  
Theme Name: Original Premium News
Theme URI: http://www.woothemes.com/
Description: Original Premium News by WooThemes
Version: 2.4.3
Author: WooThemes
Author URI: http://www.woothemes.com/

	Copyright: (c) 2009 WooThemes.
	License: GNU General Public License v2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/*========= SETUP =========*/

*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	background: url(images/bgr.gif) #bcbcbc repeat-x top;
	color: #000000;
	font: 0.8em Arial,Helvetica,Sans-Serif;
}
a{
	color: #ff7800;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
input,select,textarea{
	border: #999999 1px solid;
	font-size: 12px;
	padding: 2px;
}
select{
	padding: 0;
}
li{
	list-style: none;
}

/*========= LAYOUT =========*/

#page{
	background: #ffffff;
	margin: 0 auto;
	width: 960px;
}
/*--- Main Columns ---*/
#columns{
	margin: 20px 0 0;
	padding: 0 15px 25px;
}
.col1{
	float: left;
	width: 550px;
}
.col2{
	float: right;
	width: 350px;
}
/*--- Sub Columns ---*/
.subcol{
	width: 160px;
}
.subcol h2{
	color: #ff7800;
	font-size: 14px;
	padding: 0 0 10px;
}

/*========= HEADER =========*/

/*- Page Navigation -*/
#nav{
	background: #000000;
	height: 30px;
	padding: 4px 0 0;
}
#nav-left {
	float:left;
	display:inline;
	width:570px;
	}
#nav-right {
	float:right;
	display:inline;
	width:370px;
	}
#nav ul {
	position: relative;
    height: 26px;
    overflow: hidden;
	padding-left:10px;
}
#nav ul  li {
    float: left;
    list-style: none;
	font-weight:bold;
	font-size:14px;	
}
#nav ul  li.back {
    background-color: #333333;
    width: 9px;
    height: 30px;
    z-index: 8;
    position: absolute;
}
#nav ul  li a {
	text-decoration: none;
	color: #dddddd;
	outline: none;
	text-align: center;
	top: 6px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 26px;
	position: relative;
	overflow: hidden;
	margin: auto 15px !important;
	margin: auto 7px;	
}
#nav ul  li a:hover, #nav ul  li a:active, #nav ul  li a:visited {
	border: none;
}      
/*- Category Navigation -*/
.nav2, .nav2 * {
	margin:0;
	padding:0;
	
}
.nav2 {
	height: 35px;
	border-bottom:3px solid #B3B3B3;
	font-weight:bold;
	font-size:15px;	
	position:relative;
}
.nav2 ul {
	background:#fff; /*IE6 needs this*/
	float: left;
	position:relative;
}
.nav2 li {
	line-height: 35px;
	float: left;
	list-style:none;
	z-index:999;
}
.nav2 li.current ul {
	z-index: 999;	
}
.nav2 li.sfHover ul,
ul.nav2 li:hover ul {
	z-index: 1000;
	background: #B3B3B3;
	color: #ffffff;
	text-decoration: none;		
}
.nav2 li li {
}
.nav2 a {
	color: #000000;
	display: block;
	padding: 0 13px;
}
.nav2 li ul {
	left:0;
	top:-999em;
	position:absolute;
	width:960px;
}
.nav2 li:hover,
.nav2 li.sfHover,
.nav2 li.current,
.nav2 a:focus, .nav2 a:hover, .nav2 a:active {
	color: #FF7800;
	text-decoration: none;
	background: #B3B3B3;
}
.nav2 li.sfHover a,
.nav2 li.current a,
.nav2 a:focus, .nav2 a:hover, .nav2 a:active {
	border-bottom: none;
}
.nav2 li li.current a {
	font-weight: bold;
}
.nav2 li li:hover,
.nav2 li li a:focus, .nav2 li li a:hover, .nav2 li li a:active {

}
.nav2 li:hover ul, /* pure CSS hover is removed below */
body .nav2 li.current ul, /* this must be more specific than the .superfish override below */
ul.nav2 li.sfHover ul {
	top:2.5em;
}

.nav2 li:hover li ul,
.nav2 li.sfHover li ul {
	top:-999em;
}
.nav2 li li:hover ul, /* pure CSS hover is removed below */
ul.nav2 li li.sfHover ul {
	top:2.5em;
}
/*following rule negates pure CSS hovers
so submenu remains hidden and JS controls
when and how it appears*/
.superfish li:hover ul,
.superfish li li:hover ul {
	top: -999em;
}

/*.nav2 li.sfHover ul { display: block !important; visibility: visible !important; }*/

/*- Search -*/
#search{
	background: #333333;
	border: 1px solid #b3b3b3;
	float: right;
	height: 23px;
	margin: 0 15px 0 0;
	padding: 0 10px 0 0;
	width:325px;
}
* html #search{
	margin-right: 8px;
}
#search input{
	background: transparent;
	border: 0;
	color: #b3b3b3;
	float: left;
	font-size: 13px;
	margin: 2px 0 0;
	padding: 2px 2px 2px 10px;
	width:288px;
}
#search .btn{
	margin: 3px 0 0 5px;
	padding: 0;
	width: auto;
}
/*- Header -*/
#header{
	background: url(images/hl-dot.gif) repeat-x bottom;
	height: 92px;
	padding: 0 0 2px;
}
/*- Logo -*/
#header h1{
	float: left;
	display:inline;
}
#header h1 a{
	display: block;
	height: 93px;
	width: 389px;
}
/*- RSS -*/
#rss{
	float: right;
	font-size: 12px;
	padding: 16px 15px 0 0;
	text-align: right;
	width: 285px;
}
#rss a{
	color: #b3b3b3;
}
#rss ul{
	float: left;
	margin: 13px 0 0;
	width: 220px;
}
#rss li{
	margin: 0 0 3px;
	padding: 0 0 5px;
}
#rss img{
	float: right;
}

/*========= FEATURED POSTS (FRONT-PAGE) =========*/

.featured{
	background: #dddddd;
	height: 200px;
	margin: 0 0 10px;
	overflow: hidden;
	position:relative;
}
.featured h2{
	font-size: 11px;
	padding: 10px 0;
}
.featured h3{
	font-size: 14px;
	padding: 0 0 10px 0;
}
.featured h3 a {
	color:#000;
}
.featured h3 a:hover {
	color:#FF7800;
}
.featured p {
	margin-bottom:10px;
}
.featured-img{
	margin: 0 10px 0 0;
	width:350px;
	height:200px;
	float:left;
	display:inline;
}
#ribbon{
	width:138px;
	height:138px;
	position:absolute;
	right:200px;
	top:0;
}
#featured-th{
	height: 57px;
	margin: 0 0 30px;
}
#featured-th img{
	margin: 0;
	border:none;
}
#featured-th .idTabs {
	list-style:none;
	}
#featured-th .idTabs li {
	float:left;
	display:inline;
	margin-right:12px;
	}
#featured-th .idTabs li.last {
	margin-right:0px !important;
	}
	
.featured-content { margin-left:367px; 	padding-right:10px;
}

/*========= FEATURED VIDEOS (FRONT-PAGE) =========*/

#video-frame {
	background:#DDD;
	float:left;
	width:550px;
	height:auto;
	margin-bottom:30px;
	}
.video-left {
	float:left;
	width:350px !important;
	display:inline;
	}
.video-left p {
	padding:0px !important;
	margin:0px !important;
	}
.video-left h2 {
	display:none;
	}
.video-right {
	float:right;
	width:200px;
	display:inline;
	padding-top:7px;
	}
.video-right h2{
	color: #ff7800;
	font-size:1.3em;
	line-height:1.2em;	
	font-weight:bold;
	padding: 0 0 0 10px !important;
	margin:0 !important;
	}
.video-right p{
	color: #000;
	font-size:0.9em;
	line-height:0.8em;
	font-weight:bold;
	padding: 0 0 7px 10px !important;
	margin:0 !important;	
	}
.video-right .idTabs {
	border-top:1px solid #FFF;
	list-style:none;
	margin:5px 0px 0px 0px;
	padding:0px;
	}
.video-right .idTabs li {
	margin:0px;
	border-bottom:1px solid #FFF;
	background:#DDD;
	line-height:10px;
	}
.video-right .idTabs li a {
	color:#000;
	font-weight:bold;
	font-family:Tahoma, Arial;
	font-size:12px;
	text-decoration:none;
	display:block;	
	padding:10px 10px;
	}
.video-right .idTabs li a:hover {
	background:#C0C0C0 url(images/ico-watch.gif) right center no-repeat !important;
	}
.video-right .selected {
	background:#C0C0C0 url(images/ico-watch.gif) right center no-repeat !important;
	}

/*========= BLOG POST STYLING =========*/

/*=== Small Box Post ===*/
.post{
	margin: 0;
}
.post h2{
	font-size: 1em;
	padding: 0 0 5px;
}
.post h3{
	font-size: 1.3em;
}
.post h3 a{
	color: #000000;
}
.post p{
	padding: 0 0 15px;
}
.post p.posted{
	color: #c0c0c0;
}
/*- Box -*/
.box{
	border-top: 3px solid #c0c0c0;
	clear: both;
	height: 1%;
	margin: 0 0 20px;
	padding: 15px 0 20px;
}
.box .post{
	width: 260px;
}
.box .post h2{
	font-size: .85em;
}
.box .post h3{
	font-size: 1em;
}
.box .post p.posted{
	font-size: .85em;
}
/*=== Traditional Blog Post ===*/
.post-alt{
	margin: 0 0 15px 0;
	padding-bottom:15px;
	background: url(images/hl-dot.gif) repeat-x bottom;
}
.post-alt h2{
	font-size: 1.1em;
	padding: 0 0 5px;
}
.post-alt h3{
	font-size: 1.4em;
}
.post-alt h3 a{
	color: #000000;
}
.post-alt p{
	padding: 0 0 15px;
}
.post-alt p.posted{
	color: #c0c0c0;
}
/*=== Buttons ===*/
.continue{
	background: url(images/ico-arrow.gif) no-repeat left;
	padding: 0 0 0 13px;
	font-weight:bold;
}
.comments {
	padding-bottom:0px !important;
}
.comments a{
	background: url(images/ico-comm.gif) no-repeat left;
	color: #000000;
	padding: 0 0 0 20px;
	font-weight:bold;
}
a.more{
	background: url(images/ico-arrow2.gif) no-repeat right;
	color: #c0c0c0;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 20px 0 0;
}
/*=== Traditional Blog Post ===*/
.navigation {
}
.navigation a {
	color: #c0c0c0;
	font-size: 1.2em;
	font-weight: bold;
}
.alignleft{
	display:inline;
	float:left;
}
.alignright{
	display:inline;
	float:right;
}

/*========= ARCHIVE SPECIFIC =========*/

#archivebox {
	background:#EEE;
	padding:10px;
	width:530px;
	margin-bottom:25px;
}
#archivebox h2 {
	font-size:1.5em;
	color:#000;
}
#archivebox h2 em{
	color:#C0C0C0 !important;
	font-style:normal;
}
.archivefeed {
	margin-top:5px;
}
.archivefeed a {
	background:url(images/ico-arcfeed.gif) center left no-repeat;
	padding-left:20px;
	color:#000;
	font-weight:bold;
}
.arclist{
	border-top: 3px solid #c0c0c0;
	border-bottom: 3px solid #c0c0c0;
	margin: 0 0 15px;
	padding: 10px 0 10px;
	width: 260px;
}
.arclist h2{
	color: #000;
	font-size: 18px;
	padding: 0 0 10px 0 !important;
}

.arclist ul li{
	padding:0 0 7px 10px;
	color:#c0c0c0;
	font-size:14px;
	font-weight:bold;
}

/*========= SINGLE POST SPECIFIC =========*/

.singletags {
	margin-top:5px;
	font-weight:bold;
	color:#C0C0C0;
}
.entry p{
	text-align:left;
	font-size:12px;
	line-height:20px;
	}
.entry blockquote { 
	padding: 3px 15px;
	background: #def3ff;
	border: 1px solid #0253b8;
	margin: 5px auto 15px auto;
	color:#000;
	width:85%;
	}
.entry blockquote p {
	font-size:12px;
	padding: 5px 0px;
	margin: 5px 0px;
	line-height: 20px;
	}
.entry img { 
	padding: 2px 2px 2px 2px;
	background:#DDD;
	border: solid 1px #C0C0C0; 
	}
.entry ul, .entry ol {
	margin-bottom:15px;
	font-size:12px;
	line-height:20px;
	}
.entry ul li ul, .entry ol li ol{
	margin-bottom:0px;
	padding-top:3px;
	}
.entry ul li {
	list-style:circle inside !important;
	margin-left:15px;
	padding:3px 0px;
	}
.entry ul li ul li {
	list-style:disc inside !important;
	}
.entry ol li {
	list-style:decimal inside !important;
	font-size:12px;
	padding:3px 0px;
	}
.entry ol li ol li {
	list-style:decimal-leading-zero inside !important;
	}


/*========= COMMENTS =========*/

h2.commh2{
	font-size: 1.4em;
	padding: 0 0 5px;
	font-weight:bold !important;
}
ol.commentlist{
	margin: 10px 0 20px;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 20px;
}
ol.commentlist p{
	margin-bottom:10px;
	line-height: 20px;
}
ol.commentlist cite{
	font-style: normal;
	font-weight: bold;
}
ol.commentlist li{
	padding: 20px 10px 10px 10px;
}
ol.commentlist li.alt{
	padding: 10px 10px 0 10px !important;
	background:#DDD;
	border:1px solid #C0C0C0;	
}

/*========= SIDEBAR =========*/

/*- Sidebar Tabs - Popular, Comments, Featured, Tag Cloud -*/
.sideTabs {
	border-bottom:1px solid #C0C0C0;
	height:31px;
	width:350px;
	float:left;
	display:block;
	}
.sideTabs .idTabs{
	font-size: 12px;
	height: 30px;
	letter-spacing: -1px;
}
.sideTabs .idTabs li{
	float: left;
	font-size: 13px;
	line-height: 30px;
}
.sideTabs .idTabs li a{
	background: #eeeeee;
	border: 1px solid #eeeeee;
	border-bottom: 0;
	color: #c0c0c0;
	display: block;
	margin: 0 2px 0 0;
	padding: 0 10px;
	font-weight:bold;
}
.sideTabs .idTabs li a:hover,
.sideTabs .idTabs .selected{
	background: #dddddd;
	border: 1px solid #c0c0c0;
	border-bottom:1px solid #ddd;
	color: #373737;
	text-decoration: none;
}
.navbox{
	background: #dddddd;
	border: 1px solid #c0c0c0;
	border-top: 0;
	margin: -2px 0 25px;
	padding: 10px 10px 0;
	position: relative;
}
.list1,list3,list4{
	padding-bottom:12px;
	}
.list1 li,.list3 li,.list4 li{
	background: url(images/ico-star.gif) no-repeat left center;
	padding: 6px 0 6px 25px;
	border-bottom:1px dashed #C0C0C0;
}
.list1 li a,.list3 li a,.list4 li a{
	color: #000000;
}
.list3 li {
	background: url(images/ico-mostcomm.gif) no-repeat left center !important;
	}
.list4 li {
	background: url(images/ico-feat.gif) no-repeat left center !important;
	}
/*- Ads -*/
.ads{
	border: 1px solid #eeeeee;
	height: 125px;
	margin: 0 0 25px;
	padding: 10px;
}
.ads img{
	float: left;
	margin: 0 14px 0 0;
}
.ads img.last{
	margin: 0 !important;
}
/*- Flickr -*/
.flickr{
	background: #fafafa;
	border: 1px solid #c0c0c0;
	margin: 0 0 25px;
	padding: 10px 0px;
}
.flickr .flickr_badge_image img {
	float:left;
	display:inline;
	padding-left:10px;
	padding-bottom:5px;	
}
.flickr h2{
	color: #ff7800;
	font-size: 14px;
	height: 21px;
	margin: 0 0 10px 0px;
	padding-left:10px;
}
.flickr h2 span{
	float: left;
}
.flickr h2 img{
	float: right;
	margin: 0 2px;
}
.flickr h2 em{
	color: #848382;
	float: right;
	font-style: normal;
}
.flickr-ar {
	margin:10px 10px 0px 0px !important;
	padding:0px !important;
	text-align:right;
}

/*=== DropDown Lists ===*/
.catlist{
	border-bottom: 3px solid #c0c0c0;
	margin: 0 0 15px;
	padding: 0 0 10px;
	width: 160px;
}
.catlist h2{
	color: #ff7800;
	font-size: 14px;
	padding: 0 20px 0 0 !important;
	background:url(images/ico-catlist.gif) center right no-repeat;
}
.list-alt {
	padding-top:10px;
	}
.list-alt li{
	margin: 0 0 7px;
}
.list-alt li a{
	color: #000000;
}
/*=== Styling Widget Lists ===*/
.widget h2 {
	text-transform:uppercase;
	}
.widget ul {
	background: url(images/hl-dot.gif) repeat-x bottom;
	margin: 0 0 15px;
	padding: 10px 0 7px;
}
.widget ul li{
	margin: 0 0 7px;
}
.widget ul li a{
	color: #000000;
}

/*========= FOOTER =========*/

#footer{
	background: #000000;
	clear: both;
	color: #b3b3b3;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
}
#footer a{
	color: #b3b3b3;
}
#footer img {
	vertical-align:middle;
}

/*========= MISC =========*/

.fix{
	clear: both;
	height: 1px;
	margin: 0 0 -1px;
	overflow: hidden;
}
.hl{
	background: url(images/hl-dot.gif) repeat-x bottom;
}
.hl-full{
	background: url(images/hl-dot-full.gif) repeat-x bottom;
	float:left;
	clear:both;
	height:2px;
	width:100%;
	margin:20px 0 25px !important;
	margin:10px 0 15px;	
	padding:0 !important;
}
.hl2{
	border-bottom: 3px solid #c0c0c0;
}
.hl3{
	border-top: 3px solid #c0c0c0;
	padding: 10px 0 0;
}
.blog{
	width:100% !important;
	float:left;
}
.between{
	height:2px;
	margin-bottom:15px;
	}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ac{
	text-align: center;
}
.ar{
	text-align: right;
}
.th{
	border: 1px solid #c0c0c0;
	float: left;
	margin: 0 10px 0 0;
	padding: 3px;
}
.gravatar {
	float:left;
	border: 1px solid #000;
	margin-right: 10px;
}

/*=== Gravity forms ===*/

.gfield { margin-bottom: 10px; }
.gform_wrapper .top_label .gfield_label { display:block;float:left; padding-right:20px; width: 80px; margin: 5px 0px 4px !important; }
.gform_wrapper input.button { padding: 5px 10px 6px !important; border: 0px !important; }
.gform_wrapper input { padding: 5px 3px !important; }
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { width: 300px !important; padding: 7px 3px !important; }
.gform_wrapper .entry img, .gform_wrapper img.thumbnail { padding: 0px !important; border: 0px !important; }
ul.top_label .clear-multi { clear: none !important; }
.gform_wrapper .gfield_checkbox, .gform_wrapper .gfield_radio { margin-left: 120px !important; }
img.ui-datepicker-trigger { border: 0px; padding: 0px; }
.entry .gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li { list-style: none !important; }