			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div class="title1"><?=stripslashes($services['title'])?></div>
          <div class="space_content">
          	<div><?=stripslashes($services['content'])?></div>
            
            <? if ($services['id']==1) { ?>
           	<DIV id=TA_rated229 class=TA_rated>
            <UL id=KD9Djru0JMPr class="TA_links lQ6xd2wHO">
            	<LI id=t5g9A4yoYLJ class=SdCawpoO6qr><A href="http://www.tripadvisor.com/Hotel_Review-g1005756-d952424-Reviews-Saigon_Ninh_Chu_Hotel-Khanh_Hai.html">Saigon - Ninh Chu Hotel</A></LI>
            </UL>
            </DIV>
            <SCRIPT src="http://www.jscache.com/wejs?wtype=rated&amp;uniq=229&amp;locationId=952424&amp;lang=US"></SCRIPT>
            <? } ?>            
            
            <div align="right"><img src="images/top.gif" align="absmiddle"> <a href="#top" class="green11"><?=$lang['top']?></a></div>
          </div>
        </div>
			</div>