.menusys_css {
}

#menusys_css {
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	display: block;
	width: 100%;
}

#menusys_css ul {
	margin: 0; 
	padding: 0;
}

#menusys_css li {
	margin: 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusys_css li.last-item {
	background: none;
}	
#menusys_css li ul {
	width: 15.4em;
	w\idth: 14.9em;
	/*margin-left: -1px;*/
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
}

#menusys_css li ul ul {
	margin: -1.5em 0 0 14em; 

}
#menusys_css li li li {
	
}
#menusys_css li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 14.9em;
}

#menusys_css ul a {
	width: 14.9em;
}

#menusys_css li:hover ul ul, #menusys_css li:hover ul ul ul,
#menusys_css li.hover ul ul, #menusys_css li.havechildhover ul ul, #menusys_css li.havechild-activehover ul ul, #menusys_css li.activehover ul ul,
#menusys_css li.hover ul ul ul, #menusys_css li.havechildhover ul ul ul, #menusys_css li.havechild-activehover ul ul ul, #menusys_css li.activehover ul ul ul {
	left: -999em;
}


#menusys_css li:hover ul, #menusys_css li li:hover ul, #menusys_css li li li:hover ul,
#menusys_css li.hover ul, #menusys_css li.havechildhover ul, #menusys_css li.havechild-activehover ul, #menusys_css li.activehover ul,
#menusys_css li li.hover ul, #menusys_css li li.havesubchildhover ul, #menusys_css li li.havesubchild-activehover ul, #menusys_css li li.activehover ul,
#menusys_css li li li.hover ul, #menusys_css li li li.havesubchildhover ul, #menusys_css li li li.havesubchild-activehover ul, #menusys_css li li li.activehover ul {
	left: auto;
}

/* Menu styling begin */

#menusys_css li a {
	padding: 0 0 0 20px;
	display: block;
	text-decoration: none;
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
}

#menusys_css li a span {
	padding: 0 20px 0 0;
	display: block;
	border: none;
	color: #FFF;
	font-weight: bold;
	font-size: 100%;

}

#menusys_css li a:hover,
#menusys_css li a:active,
#menusys_css li a:focus {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;

}

#menusys_css li:hover a,
#menusys_css li.hover a,
#menusys_css li.havechildhover a,
#menusys_css li.havechild-activehover a {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
* html #menusys_css li a:hover,
* html #menusys_css li a:active,
* html #menusys_css li a:focus,
* html #menusys_css li.hover a,
* html #menusys_css li a.active {
	background: url(../../images/bg_menuactive_l.gif) no-repeat bottom left;
}

#menusys_css li:hover a.active span,
#menusys_css li a:hover span,
#menusys_css li a:active span,
#menusys_css li a:focus span,
#menusys_css li a.active:hover span,
#menusys_css li a.active:active span,
#menusys_css li a.active:focus span,
#menusys_css li:hover a span,
#menusys_css li.hover a span,
#menusys_css li.havechildhover a span,
#menusys_css li.havechild-activehover a span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}

#menusys_css li a.active {
	background: url(../../images/bg_menuactive_l.png) no-repeat bottom left;
}
#menusys_css li a.active span {
	background: url(../../images/bg_menuactive_r.png) no-repeat bottom right;
}
* html #menusys_css li a:hover span,
* html #menusys_css li a:active span,
* html #menusys_css li a:focus span,
* html #menusys_css li a.active:hover span,
* html #menusys_css li a.active:active span,
* html #menusys_css li a.active:focus span,
* html #menusys_css li:hover a span,
* html #menusys_css li.hover a span,
* html #menusys_css li a.active span {
	background: url(../../images/bg_menuactive_r.gif) no-repeat bottom right;
}
#menusys_css li ul {
	border: solid 3px #FFF;
	background: url(../../images/bg_dropmenu.png);
}

#menusys_css li ul ul {
}

#menusys_css li ul li {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: transparent none repeat scroll 0 0;
	border-bottom:1px solid #6292B3;
}

#menusys_css li ul a,
#menusys_css li ul a:hover,
#menusys_css li ul a:active {
	margin: 0;
	padding: 7px 0;
	line-height: normal;
	height: auto;
	background: none !important;
	border: none !important;
}

#menusys_css li ul a span {
	padding: 0 0 0 20px;
	font-weight: normal;
	font-size: 95%;
	background: none !important;
	text-transform: none;
	color: #FFF !important;
}


#menusys_css li.havesubchild,
#menusys_css li.havesubchild-active {

}

#menusys_css li ul a:hover,
#menusys_css li ul a:active,
#menusys_css li ul a:focus,
#menusys_css ul li:hover,
#menusys_css ul li.hover,
#menusys_css ul li.havesubchildhover,
#menusys_css ul li.havesubchild-activehover,
#menusys_css ul ul li:hover,
#menusys_css ul ul li.hover,
#menusys_css ul ul li.havesubchildhover,
#menusys_css ul ul li.havesubchild-activehover {
	color: #ffffff !important;
	background: #0286e4 !important;
}
#menusys_css li ul a span,
#menusys_css li ul a.active:hover span,
#menusys_css li ul a.active:active span,
#menusys_css li ul a.active:focus span {
	color: #FFF !important;
}
#menusys_css ul li a.active {
	background: none !important;
	color: #FFF !important;
}

#menusys_css ul li a.active:hover,
#menusys_css ul li a.active:active,
#menusys_css ul li a.active:focus {
	color: #FFF !important;
}