a:link, a:visited { 
color : #227de5; 
text-decoration : none; 
} 
a:hover { 
color : #ff8700; 
text-decoration : none; 
} 
input, textarea, select { 
color : #6d6d6d; 
background-color : #fbfbfb; 
border : 1px solid #e3e3e3; 
} 
input:hover, textarea:hover, select:hover { 
color : #8f8f8f; 
background-color : #f4f4f4; 
border : 1px solid #d7d7d7; 
} 
input:focus, textarea:focus, select:focus { 
color : #00bae8; 
background-color : #f8feff; 
border : 1px solid #c2e3ec; 
} 
body { 
color : #787878; 
font-size : 11px; 
font-family : Tahoma; 
margin : 0; 
padding : 0; 
} 
form { 
font-size : small; 
margin : 0; 
padding : 0; 
} 
h3 { 
margin : 0; 
padding : 0; 
padding-bottom : 2px; 
} 
hr { 
margin-top : 2px; 
margin-bottom : 2px; 
border-top : 1px solid #e3e3e3; 
border-right-style : none; 
border-right-width : 0; 
border-bottom-style : none; 
border-bottom-width : 0; 
border-left-style : none; 
border-left-width : 0; 
} 
p { 
margin-top : 6px; 
margin-bottom : 6px; 
} 
ul { 
margin : 0; 
padding-left : 20px; 
} 
.bmenu, .phdr, .hdr { 
color : #fff; 
text-shadow : #9d9d9d 1px 1px 1px; 
background-color : #bfbfbf; 
background-image : url(images/bmenu.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #c9c9c9; 
} 
.bmenu a, .phdr a, .hdr a { 
color : #fff; 
border-bottom : 1px dotted #ececec; 
} 
.bmenu a:hover, .phdr a:hover, .hdr a:hover { 
color : #f0f0f0; 
border-bottom : 1px dotted #edf9fd; 
} 
.clip { 
color : #459bb1; 
border : 1px solid #dfdfdf; 
font-size : x-small; 
background-color : #f8f8f8; 
padding : 4px 4px 8px; 
} 
.end { 
text-align : center; 
} 
.func { 
border-left : 4px solid #84e2f8; 
color : #757575; 
font-size : x-small; 
margin-top : 4px; 
margin-left : 2px; 
padding-left : 4px; 
} 
.gmenu { 
background-color : #e4f4fd; 
background-image : url(images/gmenu.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #91d8ec; 
} 
.gray { 
color : #979797; 
} 
.green { 
color : #66bd00; 
} 
.header, .footer { 
background-image : url(images/header.gif); 
color : #fff; 
background-color : #207ce5; 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-bottom : 1px; 
padding : 2px; 
border-top : 1px solid #3094f1; 
border-bottom : 1px solid #3094f1; 
} 
.footer { 
color : #f2f2f2; 
background-color : #ff930c; 
background-image : url(images/footer.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border-top : 1px solid #ff9511; 
border-bottom : 1px solid #ff9511; 
} 
.footer a { 
color : #fff; 
text-decoration : none; 
border-bottom : 1px dotted #ffc275; 
} 
.footer a:hover { 
color : #ffe2b9; 
text-decoration : none; 
border-bottom : 1px dotted #ffb04b; 
} 
.left { 
float : left; 
} 
.list1, .b { 
background-color : #f6f6f6; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #dfdfdf; 
} 
.list2, .c { 
background-color : #fdfdfd; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #e7e7e7; 
} 
.maintxt { 
padding-right : 1px; 
padding-left : 1px; 
border : 2px solid #e1e1e1; 
} 
.menu, .news { 
background-image : url(images/menu.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #e1e1e1; 
} 
.phpcode { 
color : #5f8086; 
background-color : #f1f7f8; 
border : 1px dotted; 
margin-top : 4px; 
padding : 0 2px; 
} 
.quote { 
border-left : 4px solid #c1c1c1; 
color : #878787; 
font-size : x-small; 
padding : 2px 0 2px 4px; 
margin-left : 2px; 
} 
.red, .red a:link, .red a:visited { 
color : #ff0a00; 
} 
.reply { 
border-left : 4px solid #ff2600; 
color : #f42400; 
padding : 2px 0 2px 4px; 
} 
.rmenu, .alarm { 
color : #ed8400; 
background-color : #fff0dd; 
background-image : url(images/rmenu.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
margin-top : 1px; 
margin-bottom : 1px; 
padding : 2px; 
border : 1px solid #ffc175; 
} 
.status { 
color : #00c4f4; 
font-weight : bold; 
font-size : x-small; 
padding-left : 0; 
} 
.sub { 
border-top : 1px dotted #cacaca; 
font-size : x-small; 
margin-top : 4px; 
} 
.sub a:link, .sub a:visited { 
text-decoration : none; 
} 
.tmn, .fmenu { 
background-color : #eeeeec; 
background-image : url(images/tmn.gif); 
background-repeat : repeat-x; 
background-position : 50% top; 
padding : 2px; 
border-top : 1px solid #dddcdb; 
border-bottom : 1px solid #dddcdb; 
} 
.tmn a:link, .tmn a:visited { 
color : #ff9511; 
text-decoration : none; 
border-bottom : 1px dotted #e7e7e7; 
} 
.tmn a:hover { 
color : #4fa5ff; 
border-bottom : 1px dotted #d2d2d2; 
}

.list{margin-bottom: 8px;}.item{border-top: 1px dashed #adadad;padding-top: 0 3px; } .imgborder{padding: 1px;border: 1px solid #aaa;}.rInfo{padding-left: 2px;color: #444444;}
.vrow {border-top: 1px dashed #666666;padding-top: 3px;text-align: left;}.vrow-title {padding-bottom: 1px;}.vrow-time {float: left;width: 50px;}.vrow-rating {margin-left: 50px;}.pad-left3 {padding-left: 3px;}.vrow-title {padding-bottom: 1px;}.vrow-time {float: left;width: 50px;}.vrow-rating {margin-left: 50px;}
.bgDark {
	background-color: #333333;
	color: #CCCCCC;
}
.bgYellow {
	background-color: #FFEC82;
}.bgLight {
	background-color: #EEEEEE;
}.pad2 {
	padding: 2px;
}
.pad4 {
	padding: 4px;
}
.clearer {
	clear: both;
}
.width100px {
	width: 100px;
}
.width100per {
	width: 100%;
}
 
.marcenter {
	margin: auto;
}.img48x48 {
	height: 48px;
	width: 48px;
}
.img64x64 {
	height: 64px;
	width: 64px;
}
.img96x96 {
	height: 96px;
	width: 96px;
}
.img128 {
	width: 128px;
}
.bold {
	font-weight: bold;
}
.acenter {
	text-align: center;
}
.aright {
}.left {
	float: left;
}.Headeranh {
	background-color: #7e3cac;
	color: #FFFFFF;
}.fontWhite, .fontWhite a:link, .fontWhite a:visited {
	color: #FFFFFF !important;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}.bdrBot {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.online{color: red;}
.diendan{color: #3a4088;}
.camon {
background: #e3f8ff;
	border-top: 1px solid #c9f1ff;
	border-bottom: 1px solid #c9f1ff;
	padding: 3px;
	margin: 3px 0;
}
.taptindinhkem { color: gray; }
.hd {
	height:32px;
	background:url(/img/main.gif) repeat-x;
		font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:1.2;
	text-align:justify;
}
.hd a.lg {
	line-height:1;
	height:20px;
	margin:8px 0px 0px 10px;
	display:block;
	float:left;
}
.tc {
	color:#ccc;
	float:right;
	text-shadow:1px 1px 1px #666;
	margin:8px 12px 0 0;
	font-size:14px;
}
.tag {
	background:url(/img/main.gif) 0px -32px repeat-x;
	padding:3px 0px 0 0px;
}.tag ul, .text {
	width:100%;
}
.tag ul li a {
	margin-right:10px;
	margin-left:10px;
}
.tag ul li {
	display:block;
	padding-top:1px;
	float:left;
	background: url(/img/maina.gif) no-repeat right 5px;
	text-align:center;
	width:33%;
}
.tag ul li:first-child {
	width:34%;
}
.tag ul li a {
	display:block;
	height:27px;
	padding-top:7px;
}
.tag ul li a.current {
	background-color:#fff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}.wg, .tag {
	height:35px;
	color:#fff;
	padding:3px 0px 0 10px;
}.green, a.listen, a.download, .cate li p, .xs tr td, .kq p, .result, .rstxt, .fsm, .wg, .tag, .info, .txtgrey, .txtmp3, .detailfilm p , p.tyle, .detailrs p strong, .detailrs p span, .dic, .detailrs ul li, a.downgame, .rv {
	font-size:80%;
}