<table width="100%" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="style2"><?=$intro["title_vn"]?></td>
	</tr>
</table>
<table cellpadding="4" cellspacing="0" width="100%" align="center" class="border"> 
	<form name="frmadmin" action="?do=intro&act=editsm" method="post" enctype="multipart/form-data">	
	<? if ($intro['id']==3) { ?>
	<tr>
		<td align="right"><strong>Email :</strong></td>
		<td><input type="text" name="email" value="<?=stripslashes($intro['email'])?>" maxlength="255" size=90></td>
	</tr>
	<? } ?>
	<? include("./ADMeditor/fckeditor.php");?>	
	<tr>
		<td align="right"><strong>Nội dung (Việt) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_vn');	
			$oFCKeditor->Value	= stripslashes($intro["content_vn"]);						
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
	<tr>
		<td align="right"><strong>Nội dung (Anh) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_en');	
			$oFCKeditor->Value	= stripslashes($intro["content_en"]);						
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
  <tr>
		<td align="right"><strong>Nội dung (Nga) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_ru');	
			$oFCKeditor->Value	= stripslashes($intro["content_ru"]);						
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>			 
 	<tr>
		<td colspan="2" align="center">
			<input type="hidden" name="id" value="<?=$intro['id']?>"  />
			<input type="hidden" name="do" value="intro">
			<input type="submit" value=" Lưu " class="button">
 		</td>
	</tr>
  </form>
</table>