ol {
	word-wrap: break-word;
	list-style-type: none;
	margin: 0px;
	margin-left: 20px;
	padding:0px;
	font-size: 10px;
	width: 350px;
}
.hl-default {
    color: Black;
}
.hl-code {
    color: Gray;
}
.hl-brackets {
    color: Gray;
}
.hl-comment {
    color: Green;
}
.hl-quotes {
    color: Darkred;
}
.hl-string {
    color: Orange;
}
.hl-identifier {
    color: Teal;
}
.hl-builtin {
    color: Red;
}
.hl-reserved {
    color: Blue;
}
.hl-inlinedoc {
    color: Blue;
}
.hl-var {
    color: Darkblue;
}
.hl-url {
    color: Blue;
}
.hl-special {
    color: Navy;
}
.hl-number {
    color: Maroon;
}
.hl-inlinetags {
    color: Blue;
}
.hl-main { 
    background-color: White;
}
.hl-gutter {
    background-color: #999999;
    color: White
}
.hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px Lightgrey;
}