body {
	background: #93a9d5 url(images/background.jpg) repeat-y top center;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11px;
}

#left, #header img, #footer {
	display: none;
}

h1 {
	font-size: 16px;
	color: #4a6494;
	padding: 0px;
	text-align:center;
}
h2 {
	color: #555555;
	font-size:13px;
	font-weight:bold;
	margin:0px;
	padding:10px;
}
h3 {
	font-size:13px;
	font-weight:bold;
	margin:0px;
	padding:5px;
	padding-left:10px;
}
h4 {
	color: #555555;
	font-weight:bold;
	font-size:11px;
	margin: 10px 10px 12px 10px;
}

p {
	color: #555555;
	margin: 8px 10px 16px 10px;
}
ul, ol {
	color: #555555;
	padding-right: 10px;
}

a:link, a:visited, a:hover, a:active {
	color: #4a6494;
}

p.red_border {
	border: 1px solid red;
	padding:5px;
}

.exclamation {
	float:left;
	font-weight:bold;
	font-size:20px;
	color:red;
	margin:0px 5px;
}

#right {
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
}


input, select, textarea {
	font-size:12px;
	margin: 2px;
}

.lbl_txt {
	float:left;
	width: 150px;
	margin: 2px;
}

.lbl_check {
	float:left;
	padding-left: 5px;
}

.form_button {
	margin:5px;
	background:url(images/heading_bg.jpg);
	color:white;
	padding:2px;
	font-weight:bold;
}

.required_field_error {
	color:red;
	font-size:11px;
	padding-left: 5px;
}

#home_graphic {
	width:100%;
	margin: 0px;
	padding: 0px;
}
#home_graphic h2 {
	color:#4A6494;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
}

#contact_graphic {
	background:url(images/contact_mobile515.jpg) no-repeat;
	height:141px;
	width:100%;
	float:right;
	margin-bottom: 5px;
}
#contact_graphic h2 {
	background-image:none;
	width:496px; 
	background-color: white;
	color:#112255;
	opacity:.40;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
}

TABLE, #packages_table {
	border-collapse: collapse;
	margin: 5px;
	text-align:center;
	margin-top: 5px;
	font-size:12px;
}
TABLE TD, #packages_table td {
	border: 1px solid black;
	padding: 2px;
}
.package_copper {
	background-color: #CC9966;
}
.package_copper_empty {
	background-color: #DFB48B;
}
.package_bronze {
	background-color: #CC9933;
}
.package_bronze_empty {
	background-color: #EFBC59;
}
.package_silver {
	background-color: #CCCCCC;
}
.package_silver_empty {
	background-color: #DFDFDF;
}
.package_gold {
	background-color: #FFCC00;
}
.package_gold_empty {
	background-color: #FFDF5F;
}
.package_platinum {
	color: #FFFFFF;
	background-color: #666666;
}
