body {
	background: #93a9d5 url(images/background.jpg) repeat-y top center;
	text-align: center;
	margin: 0 auto;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11px;
	color: #333333;
}

#container {
	width: 700px;
	margin: auto;
	text-align: left;
}
#header {
	position: relative;
	height: 90px;
	margin: 4px;
	background: #FFFFFF url(images/header_logo.gif) no-repeat top center ;
}
#phoneno {
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 2px;
	right: 10px;
	font-size: 15px;
	color: #22427f;
	font-weight: bold;
}
#london {
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 28px;
	right: 55px;
	font-size: 11px;
	color: #22427f;
}

#content {
	margin: 4px;
	position: relative;
}
img {
	border: none;
}
h1 {
	font-size: 16px;
	color: #22427f;
	padding: 30px 0px 0px 290px;
	text-align:center;
	margin: 0px;
	display: none;
}
h2 {
	background:url(images/heading_bg.jpg);
	color:white;
	font-size:13px;
	font-weight:bold;
	margin:0px;
	padding:8px;
	padding-top:8px;
}
h3 {
	background:url(images/heading_bg.jpg);
	color:white;
	font-size:13px;
	font-weight:bold;
	margin:0px;
	padding:5px;
	padding-left:10px;
}

h4 {
	font-weight:bold;
	font-size:11px;
	margin: 10px 10px 12px 10px;
}
p, td {
	margin: 8px 10px 16px 10px;
}
ul, ol {
	padding-right: 10px;
}

a:link, a:visited, a:hover, a:active {
	color: #22427f;
}
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
	color:white;
	text-decoration:none;
}

p.red_border {
	border: 1px solid red;
	padding:5px;
}

.exclamation {
	float:left;
	font-weight:bold;
	font-size:20px;
	color:red;
	margin:0px 5px;
}

.central {
	text-align:center;
	margin: auto;
	display: block;
}

#left {
	float:left;
}

#right {
	float:right;
	width: 512px;
}
.highlight_nav, .non_highlight_nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.highlight_nav {
	border-top: 1px solid #22427f;
	border-right: 1px solid #22427f;
}
.highlight_nav li {
	margin: 0px;
	padding: 0px;
}
.highlight_nav span {
	padding-left: 5px;
}
.highlight_nav li a {
	display: block;
	width: 179px; 
	background-color: white;
	color: #22427f;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #22427f;
}

.highlight_nav li a:hover {
	background-color: #b33334;
	color: white;
}

.non_highlight_nav li {
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight:bold;
	background-color: white;
}
.non_highlight_nav {
	margin-top: 20px;
	margin-left: 10px;
}
.non_highlight_nav li a {
	text-decoration: none;
	color: #22427f;
}

#footer {
	text-align:center;
	clear:both;
	padding:5px 0px 0px 0px;
	margin: 10px 20px 0px 20px;
	border-top: 1px dashed #22427f;
	font-size:11px;
}
#footer p {
	margin: 5px 90px 0px 90px;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	color:#555555;
	text-decoration:none;
}


input, select, textarea {
	font-size:11px;
	margin: 2px;
}

.lbl_txt {
	float:left;
	width: 150px;
	padding: 0px;
	margin: 2px;
}

.lbl_check {
	float:left;
	padding: 0px;
	margin: 5px;
}

.form_button {
	margin:5px;
	background:url(images/heading_bg.jpg);
	color:white;
	padding:2px;
	font-weight:bold;
}

.required_field_error {
	color:red;
	font-size:11px;
	padding-left: 5px;
}

.search_text {
	width:125px;
	border:1px solid #22427f;
	font-size:13px;
	font-weight:bold;
	color:#22427f;
	background-color:#DDDDFF;
}
.submit {
	border:1px solid #22427f;
	font-size:13px;
	font-weight:bold;
	color:#DDDDFF;
	background-color:#22427f;
}

#home_graphic {
	background: white url(images/home-bluebar.gif) repeat-x bottom;
	height:187px;
	float:right;
	width:100%;
	margin: 0px;
	padding: 0px;
}
#home_graphic p {
	color: #22427f;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
}

#contact_graphic, #web_graphic {
	height:187px;
	width:100%;
	float:right;
	margin-bottom: 5px;
}
#contact_graphic {
	background:url(images/contact_mobile515.jpg) no-repeat;
}
#web_graphic {	
	background:url(images/web_graphic515.jpg) no-repeat;
}
#contact_graphic h2, #web_graphic h2 {
	background-image:none;
	width:496px; 
	background-color: white;
	color:#112255;
	opacity:.40;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
}

.half_width_div {
	width:50%;
	float:left;
}
.half_width_div h3 {
	background: none;
	color: #22427f;
	border-bottom: 1px solid #b33334;
	margin: 5px 10px;
	padding: 0px;
}
.half_width_div h3 a:link, .half_width_div h3 a:visited, .half_width_div h3 a:hover, .half_width_div h3 a:active {
	color: #22427f;
}
#home_services {
	height:105px;
}
#home_graphis_services {
	height:175px;
}

TABLE, #packages_table {
	border-collapse: collapse;
	margin: 5px auto;
	text-align:center;
	font-size:12px;
	width: 500px;
}
#packages_table td {
	border: 1px solid black;
	padding: 5px 0px;
}
.package_copper {
	background-color: #CC9966;
	width: 75px;
}
.package_copper_empty {
	background-color: #DFB48B;
}
.package_bronze {
	background-color: #CC9933;
	width: 75px;
}
.package_bronze_empty {
	background-color: #EFBC59;
}
.package_silver {
	background-color: #CCCCCC;
	width: 75px;
}
.package_silver_empty {
	background-color: #DFDFDF;
}
.package_gold {
	background-color: #FFCC00;
	width: 75px;
}
.package_gold_empty {
	background-color: #FFDF5F;
}
.package_platinum {
	color: #FFFFFF;
	background-color: #666666;
	width: 75px;
}
.portfolio {
	clear: both;
}
.portfolio p {
	margin: 5px 0px 8px 0px;
}
.portfolio img {
	width:200px;
	border:1px solid black;
	float:left;
	margin: 0px 8px 5px 5px;
}

#booksbanner {
	padding-top:10px;
}
#booksbanner p {
	font-size:11px;
	font-weight:bold;
	margin: 10px;
}
#booksbanner a {
	color:#245cc1;
	text-decoration: none;
}
#booksbanner img {
	float:left;
	margin-right: 5px;
}
#booksbannertitle {
	font-size: 20px;
	letter-spacing: 2px;
}

#about_images {
	width: 95%;
	text-align:center;
	border:0px;
	margin: auto;
}


#bookmarks {
	position:relative;
	width:760px;
	margin:auto;
}
#bookmarks div {
	position:absolute;
	right:0px;
	top:125px;
	border:1px dashed #93A9D5;
	background:white;
}
#bookmarks img {
	display: block;
	margin:10px 5px;
}

#serpresults {
	width: 90%;
	margin: 10px auto;
}
#serpresults thead {
	font-weight: bold;
	font-size: 110%;
}
#serpresults td {
	border: 1px solid gray;
}
#serpresults .url {
	font-weight: bold;
	background: #cccccc;
}
#serpresults .url td {
	padding: 5px;
}


.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {
height:1%;
}
*+html .clearfix {
height:1%;
}
.clearfix {
display:block;
}

.strongblue
{
color:#0000CC;
font-weight:bold;
}

.stronggreen
{
color:#00CC00;
font-weight:bold;
}

.strongred
{
color:#FF0000;
font-weight:bold;
}

.pf {
	float: left;
	width: 240px;
	margin: 10px 5px;
}
.pf img {
	width: 230px;
	display: block;
	margin: auto;
}
.pf p {
	margin: 5px 0px;
	text-align: center;
	font-size: 11px;
}
.pf a {
	text-decoration: none;
	color: #555555;
	font-size: 10px;
}
