{include file=$include_header}
{literal}
<script language="javascript" type="text/javascript">
	function submitform(url, value) {
		var theform = document.frmmember;
		theform.action = url;
		theform.issubmit.value = value;
		theform.submit();
	}

	function hiddenform() {
		var theform = document.frmmember;
		if (theform.editgeneral.checked) {
			theform.editgeneral.value = 1;
		} else {
			theform.editgeneral.value = 0;
		}
	}

  	function showUploadOption(boolVal){
  		if(boolVal == true){
			document.getElementById("memberLogo").style.display="";
  		}else{
  			document.getElementById("memberLogo").style.display="none";
  		}
	}
</script>
{/literal}
{include file=$include_left}
		<td width="80%" align="left" valign="top">
		<form name="frmmember" id="frmmember" action="" method="post" enctype="multipart/form-data">
			<table width="100%" cellpadding="0" cellspacing="0" class="dataTable">
			<tr>
				<td height="5px" colspan="6"></td>
			</tr>
			<!--header-->
			{if $message != ""}
			<tr valign="top">
				<td align="left" colspan="2">
					<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center" valign="middle" width="5%" class="error"><img src="backend/images/error.jpg" width="40" height="40" title="Errors !" /></td>
						<td valign="middle" class="error" style="border-left: 0px;">{$message}</td>
					</tr>
					</table>
				</td>
			</tr>
			{/if}
			<tr class="stdHeader" valign="middle">
				<td style="height:20px;padding-left: 10px;">Update member</td>
			</tr>
			<tr valign="top">
				<td>
					<input type="hidden" name="memberid" id="memberid" value="{$memberid}" />
					<input type="hidden" name="page" id="page" value="{$page}" />
					<table width="100%" cellpadding="0" cellspacing="0" class="dataTable">
						<tr valign="top">
							<td width="30%" align="left" valign="middle" class="tdregisttext" style="border-top: #CAD5DB 1px solid;">{#FIELD_ID#}: </td>
							<td colspan=2 width="65%" align="left" valign="middle" class="tdregist" style="border-top: #CAD5DB 1px solid;" colspan="2">
								{$memberid}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_USER#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist">
								{$memberData.member_user}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_NAME#}: </td>
							<td colspan=2  align="left" valign="middle" class="tdregist">
								{$memberData.member_name}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_ADDRESS#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist">
								{$memberData.member_address}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_MAIL#}: </td>
							<td colspan=2  align="left" valign="middle" class="tdregist">
								<a href="mailto:{$memberData.member_mail}">{$memberData.member_mail}</a>
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_PHONE#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist">
								{$memberData.member_phone}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#MEMBER_WEBSITE#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist">
								{$memberData.member_website}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">{#REGIST_DATE#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist">
								{$memberData.created_date|date_format:"%d-%m-%Y"}
							</td>
						</tr>
						<tr valign="top">
							<td width="30%" valign="middle" class="tdregisttext">TK AnPhat Land</td>
							<td colspan=2  align="left" valign="middle" class="tdregist" style="padding-left: 0px;">
								&nbsp;&nbsp;
								<input type="checkbox" name="object[member_genre]" id="objectmember_genre" {if $memberData.member_genre eq 1}checked="true"{/if}  value="1"
									onClick="showUploadOption(this.checked);"
								/>
							</td>
						</tr>
						<tr valign="top" id="memberLogo">
							<td width="30%" valign="middle" class="tdregisttext">Upload Logo: </td>
							<td align="left" valign="bottom" class="tdregist">
								&nbsp;&nbsp;<input type="file" name="memberLogo" />
							</td>
							<td  style="padding-left: 0px;" class="tdregist">
								{if $logoImg neq ""}
									<img src="{#IMG_MEMBER_LOGO_DIR#}{$logoImg}" width="150" class="border_img_white" />
								{/if}
							</td>
						</tr>
						<tr valign="top">
							<td align="left" valign="middle" class="tdregisttext" style="border-top: #CAD5DB 1px solid;">{#STATUS#}: </td>
							<td  colspan=2 align="left" valign="middle" class="tdregist" style="border-top: #CAD5DB 1px solid;" colspan="3">
								<select name="object[status]" id="object[status]" class="dropdown">
									{foreach item=status from=$statusList}
									<option value="{$status.value}" {if $memberData.status eq $status.value && $memberData.status ne ''}selected="selected"{/if}>{$status.text}</option>
									{/foreach}
								</select>					
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="stdHeader" valign="top">
				<td style="height:15px;"></td>
			</tr>
			<tr valign="top">
				<td colspan="2" align="center" valign="middle" style="padding:10px;">
					<input type="button" name="update" id="update" value="{#UPDATE#}" class="button_new" onclick="javascript: submitform('?hdl=member/regist', 1)" />
					<input type="button" name="isback" id="isback" value="{#BACK#}" class="button_new" onclick="javascript: submitform('?hdl=member/list', 0)" />
					<input type="hidden" name="issubmit" id="issubmit" value="0" />
				</td>
			</tr>
			</table>
		</form>
		</td>
	<script language="javascript">
		{literal}
			showUploadOption(document.getElementById("objectmember_genre").checked);
		{/literal}
	</script>
{include file=$include_footer}