<title>Cart</title>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th width="697" valign="top" scope="col"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td scope="col">&nbsp;</td>
                      <td align="left" background="images/im_headcenter.gif" scope="col">&nbsp;</td>
                      <td scope="col">&nbsp;</td>
                    </tr>
                    <tr>
                      <td scope="col"><img src="images/menu1.jpg" width="3" height="19"></td>
                      <td align="left" background="images/im_headcenter.gif" scope="col">
                        <table border="0" align="right">
                          <tr>
                            <td align="right"><span class="style7"><span class="style10"><table width="0" border="0" align="left" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="20" scope="col"><img src="images/cart.gif" width="20" height="19"></td>
                          <td scope="col">&nbsp;</td>
                          <td scope="col"><span class="cart_txt"><strong>Gi&#7887; h&#224;ng c&#7911;a b&#7841;n </strong></span> </td>
                        </tr>
                      </table></span>&nbsp;</span>&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="2" bgcolor="#CCCCCC"></td>
                          </tr>
                        </table></td>
                      <td scope="col"><img src="images/menu2.jpg" width="3" height="19"></td>
                    </tr>
                    
                    <tr>
                      <td width="1" scope="col"><img src="space1.jpg" width="1" height="1"></td>
                      <td valign="top" scope="col"><table width="0" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th scope="col"><img src="space1.jpg" width="1" height="7"></th>
                        </tr>
                      </table>


<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; color: #000080; font-size: 10pt; font-family: Arial' width='100%'>

	<tr>

		<td align="center">

			<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; color: #000080; font-size: 10pt; font-family: Arial' bordercolor="#9999CC" width='100%'>

				<tr>

					<td align="center">

						<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; color: #000080; font-size: 10pt; font-family: Arial' bordercolor="#9999CC" width='97%'>

							<tr>

								<td>

			<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #9999FF' bordercolor="#9999CC" width='100%' id='AutoNumber1'>



			  <tr>

			  	<td>

					<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#9999CC" width='100%'>				

						<tr>

							<td width="100%" align="center">

<!-- START BLOCK : giohang -->

		  <table border='0' cellspacing='0' cellpadding='2' width='100%' align='center'>

		  <form method='POST' action='?page=cart&code=proadd' name='checkoutform'>

			<tr> 

			  <td align='center'>		

				<table border='1' cellpadding='5' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#999999" width='100%'>

				  <tr>

					

					<td align="left" class="style2"><b>S&#7843;n ph&#7849;m</b></td>

					<td width='15%' align='center' class="style2"><b>Gi&#225;</b></td>

					<td width='14%' align='center' class="style2"><b>S&#7889; l&#432;&#7907;ng</b></td>

					<td width='20%' align='center' class="style2"><b>T&#7893;ng</b></td>

					<td width='15%' align='center' class="style2"><b>X&#243;a</b></td>
				  </tr>		

<!-- START BLOCK : giohang_row -->

              <tr height='30'>

			    <td align="left" class="style2">{giohang_name}</td>

				                          <td align='center' class="style2"><strong>{giohang_price}</strong></td>

				<td align='center' class="style2"><input type='text' name='quant{giohang_id}' value='{giohang_soluong}' size='2'></td>

				<td align='right' class="style2"><strong>{giohang_tongtien}</strong></td>

				<td align='center' class="style2"><input type='checkbox' name='del{giohang_id}' value='1' class='noborder'></td>
			  </tr>



<!-- END BLOCK : giohang_row -->

				  <tr>

								<td align="left" class="style2">&nbsp;</td>

								<td colspan='2' align='right' class="style2"><b>T&#7893;ng c&#7897;ng:</b></td>

					            <td align='right' class="style2"><font color="#ff0000"><b>{giohang_tongcong}</b></font></td>

					<td align='center' class="style2"><a href='javascript:document.checkoutform.submit()'><b>X&#243;a</b></a></td>
				  </tr>

			  <tr height='30'>

				<td colspan='5' align="center" class="style2">

				  <table width='69%' cellspacing='0' cellpadding='0' border='0' align="center">

				    <tr>

					  <td width="15%" align='center'><a href='javascript: history.back()'>

                      <img src="images/continue.gif" border="0" /></a></td>

					  <td width="15%" align='center'><a  href='javascript:document.checkoutform.submit()'><img src="images/update.gif" border="0" /></a></td>
					  
					  <td width="15%" align="center">

					&nbsp;<a href='?page=cart&code=checkout0'><img src="images/order.gif" border="0" /></a>&nbsp;&nbsp;</td>
					  </tr>
				  </table>				</td>
			  </tr>				  
				</table>			  </td>
			</tr>

		<br>
		<tr>

			                        <td width='100%'>&nbsp;</td>
		</tr>	
		</form>			
		  </table>

			<br>



<!-- END BLOCK : giohang -->							

<!-- START BLOCK : message -->

				<table border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#9999CC" width='100%'>

				  <tr>

				  	<td align='center'><span class="style2">{msg}</span></td>
				  </tr>
				 </table>

<!-- END BLOCK : message -->

<!-- START BLOCK : formuserorder -->

<script Language='JavaScript'>

function checkform1(frm)

{

	if(frm.name.value=='')

	{

		alert('Please enter your name !');

		frm.name.focus();

		return (false);	

	}

	if(frm.password.value=='')

	{

		alert('Please enter your password !');

		frm.password.focus();

		return (false);	

	}

}



</script>

	

	<p align="center" class="style1">{msg}</p>

	<!--

				<table border='1' cellpadding='3' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#9999CC" width='100%' bgcolor='#ffffff'>

					<form method='POST' action='index.php?page=cart&code=checkout1' name='frmorder1' onsubmit='return checkform1(this)'>

	

	  	<tr>

			<td align='left' class="header2" colspan=2>Kh&#225;ch h&#224;ng &#273;&#227; &#273;&#259;ng k&#253;</td>
		</tr>				  

	  	<tr>

			<td align='center' colspan=2><font color="#CC0000">N&#7871;u qu&#253; kh&#225;ch &#273;&#227; t&#7915;ng mua h&#224;ng t&#7841;i website n&#224;y, xin vui l&#242;ng nh&#7853;p th&#244;ng tin d&#432;&#7899;i &#273;&#226;y : </font></td>
		</tr>				

				

				

        <tr> 

          <td ><font color='#ff0000'>*</font> <font color='#ff0000'>&nbsp;</font>H&#7885; t&#234;n: </td>

		  <td width='73%'><input name='name' type='text' size="20"></td>
		 </tr>

		 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>  

        <tr> 

          <td><font color='#ff0000'>*</font> <font color='#ff0000'>&nbsp;</font>M&#7853;t kh&#7849;u: </td>

		  <td><input name='password' type='password' size='22'></td>
		 </tr>		 

		  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>  

        <tr> 

			<td>&nbsp;</td>

		  <td align='left'><input type='submit' value='Ch&#7845;p nh&#7853;n'></td>
		 </tr>	
		 </form>	
	</table>
-->
	



<br>

<script Language='JavaScript'>

function checkform(frm)

{

	if(frm.name.value=='')

	{

		alert('Please enter your full name !');

		frm.name.focus();

		return (false);	

	}

	if(frm.tel.value=='')

	{

		alert('Please enter your phone number !');

		frm.tel.focus();

		return (false);	

	}
	if(frm.email.value=='')

	{

		alert('Please enter your email address !');

		frm.email.focus();

		return (false);	

	}

	if(frm.address.value=='')

	{

		alert('Please enter your address !');

		frm.address.focus();

		return (false);	

	}

}



</script>

	



				<table width='100%' border='1' cellpadding='3' cellspacing='0' bordercolor="#EEEEEE" rules="groups" style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080'>

	<form method='POST' action='index.php?page=cart&code=procheckout' name='frmorder2' onsubmit='return checkform(this)'>				

	  	<tr>

			<td colspan='2' align='left'  class="style2">M&#7901;i nh&#7853;p v&#224;o th&#244;ng tin c&#7911;a b&#7841;n:</td>
		</tr>		  

	  	<tr>
	  	  <td height="1" colspan='2' align='center' bgcolor="#EEEEEE"></td>
	  	  </tr>
	  	<tr>

			                        <td colspan='2' align='center'>&nbsp;</td>
		</tr>	

		
        <tr> 

          <td align="left" ><span class="style2">* H&#7885; t&#234;n: </span></td>

		  <td width='73%' align="left">

          <input name='name' type='text' size="40" value="{name}"></td>
		 </tr>

		 <tr><td align="left"><span class="style2"></span></td><td align="left">&nbsp;</td></tr>  

		
        <tr> 

          <td align="left" ><span class="style2">* &#272;i&#7879;n tho&#7841;i: </span></td>

		  <td align="left"><input name='tel' type='text' size="40" value="{tel}" ></td>
		 </tr>		

		 <tr><td align="left"><span class="style2"></span></td><td align="left">&nbsp;</td></tr>   

        <tr> 

          <td align="left" ><span class="style2">* Email: </span></td>

		  <td align="left">

          <input name='email' type='text' size="40" value="{email}" ></td>
		 </tr>

		 <tr><td align="left"><span class="style2"></span></td><td align="left">&nbsp;</td></tr>  

        <tr> 

          <td align="left" ><span class="style2">* &#272;&#7883;a ch&#7881;: </span></td>

		  <td align="left">

          <input name='address' type='text' size="40" value="{address}"></td>
		 </tr>	

		 <tr><td align="left"><span class="style2"></span></td><td align="left">&nbsp;</td></tr>  	 

        <tr> 

          <td align="left"  valign='top'><span class="style2">Y&#234;u c&#7847;u: </span></td>

		  <td align="left"><textarea name='addinfo' rows='8' cols='34'></textarea></td>
		 </tr>		

		  <tr><td align="left">&nbsp;</td><td align="left">&nbsp;</td></tr>  

        <tr> 

		  <td colspan='2' align='center'><input type='submit' value='    OK   '></td>
		 </tr>		
		 </form>	
	</table>

	

	      <br>





<!-- END BLOCK : formuserorder -->

<!-- START BLOCK : formorderreg -->

<script Language='JavaScript'>

function checkform(frm)

{

	if(frm.name.value=='')

	{

		alert('Please enter your full name !');

		frm.name.focus();

		return (false);	

	}

	if(frm.tel.value=='')

	{

		alert('Please enter your phone number !');

		frm.tel.focus();

		return (false);	

	}
	if(frm.email.value=='')
	{
		alert('Please enter your email address !');

		frm.email.focus();

		return (false);	
	}

	if(frm.address.value=='')
	{

		alert('Please enter your address !');

		frm.address.focus();

		return (false);	

	}

}



</script>

	

	<form method='POST' action='?page=cart&code=procheckout' name='frmorder' onsubmit='return checkform(this)'>

      				<table border='1' cellpadding='0' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#EEEEEE" width='100%'>

	  	<tr>

			<td colspan='2' align='left' class="style2">Th&#244;ng tin kh&#225;ch h&#224;ng </td>
		<tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>  

        <tr> 

          <td class="style2" ><font color='#ff0000'>*</font> H&#7885; t&#234;n: </td>

		  <td width='73%' class="style2">

          <input name='name' type='text' value='{name}' size="20"></td>
		 </tr>

		 <tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>  

		
        <tr> 

          <td class="style2" ><font color='#ff0000'>*</font>&#272;i&#7879;n tho&#7841;i: </td>

		  <td class="style2"><input name='tel' type='text' value='{tel}' size="20"></td>
		 </tr>		

		 <tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>   

        <tr> 

          <td class="style2" ><font color='#ff0000'>*</font> Email: </td>

		  <td class="style2">

          <input name='email' type='text' value='{email}' size="20"></td>
		 </tr>

		 <tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>  

        <tr> 

          <td class="style2" ><font color='#ff0000'>*</font> &#272;&#7883;a ch&#7881;: </td>

		  <td class="style2">

          <input name='address' type='text' value='{address}' size="20"></td>
		 </tr>	

		 <tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>  	 

        <tr> 

          <td  valign='top' class="style2">Y&#234;u c&#7847;u : </td>

		  <td class="style2"><textarea name='addinfo' rows='8' cols='34'></textarea></td>
		 </tr>		

		  <tr><td class="style2">&nbsp;</td><td class="style2">&nbsp;</td></tr>  

        <tr> 

		  <td colspan='2' align='center' class="style2"><input type='submit' value='   OK   '></td>
		 </tr>		
	</table>
	</form>

	      <br>



<!-- END BLOCK : formorderreg -->

<!-- START BLOCK : orderuser -->

					<table border='1' cellpadding='3' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#EEEEEE" width='100%'>



	<tr>

		<td colspan='2' class="style2">Th&#244;ng tin kh&#225;ch h&#224;ng </td>
	</tr>

	<tr>

		<td width='200' align="left" class="style2">H&#7885; t&#234;n :</td>

		<td width='500' class="style2">{cusname}</td>
	</tr>

	<tr>

		<td width='200' align="left" class="style2">&#272;i&#7879;n tho&#7841;i:</td>

		<td class="style2">{custel}</td>
	</tr>	

	<tr>

		<td width='200' align="left" class="style2">Email:</td>

		<td class="style2">{cusemail}</td>
	</tr>	

	<tr>

		<td width='200' align="left" class="style2">&#272;&#7883;a ch&#7881;:</td>

		<td class="style2">{cusaddress}</td>
	</tr>	

	<tr>

		<td width='200' align="left" valign='top' class="style2">Y&#234;u c&#7847;u :</td>

		<td class="style2">{cusaddinfo}</td>
	</tr>	
	</table>

	<br>



<!-- END BLOCK : orderuser --> 

<!-- START BLOCK : orderprod -->

		  <table border='0' cellspacing='0' cellpadding='0' width='100%' align='center'>

			<tr> 

			  <td align='center'><table border='1' cellpadding='5' cellspacing='0' style='border-collapse: collapse; font-family: Arial; font-size: 10pt; color: #000080' bordercolor="#EEEEEE"='#cc3300' width='100%'>
                <tr>
                  <td class="style2" ><b>S&#7843;n ph&#7849;m</b></td>
                  <td  width='20%' align='center' class="style2"><b>Gi&#225;</b></td>
                  <td  width='14%' align='center' class="style2"><b>S&#7889; l&#432;&#7907;ng</b></td>
                  <td  width='14%' align='center' class="style2"><b>T&#7893;ng</b></td>
                  </tr>
                <!-- START BLOCK : orderprod_row -->
                <tr height='30'>
                  <td align="left" class="style2">{giohang_name}</td>
                  <td align='center' class="style2"><strong>{giohang_price}</strong></td>
                  <td align='center' class="style2"><strong>{giohang_soluong}</strong></td>
                  <td align='center' class="style2"><strong>{giohang_tongtien}</strong></td>
                  </tr>
                <!-- END BLOCK : orderprod_row -->
                <!-- START BLOCK : tongcong -->
                <tr>
                  <td align="left" class="style2">&nbsp;</td>
                  <td colspan='2' align='right' class="style2"><b>T&#7893;ng c&#7897;ng:</b></td>
                  <td align='right'><strong><font color="#FF0000">{giohang_tongcong}</font></strong></td>
                </tr>
                <!-- END BLOCK : tongcong -->
              </table></td>
			</tr>

		<tr>

			                      <td width='100%'>&nbsp;</td>
		</tr>				
		  </table>

			<!-- START BLOCK : chuaxacnhan -->

			<center>

                                <p>

                                <font color="#FF0000">								</font>                                </p>
</center>

				

<form method='POST' action='?page=cart&code=procheckout1' name='frmorder9'>

<input type='hidden' name='name' value='{frm_name}'>

<input type='hidden' name='password' value='{frm_password}'>

<input type='hidden' name='tel' value='{frm_tel}'>

<input type='hidden' name='email' value='{frm_email}'>

<input type='hidden' name='address' value='{frm_address}'>

<input type='hidden' name='addinfo' value='{frm_addinfo}'>

<input type='hidden' name='miss' value='{frm_password}'>



<input type='submit' value='&#272;&#7863;t h&#224;ng'>
</form>			

			<!-- END BLOCK : chuaxacnhan -->

			<!-- START BLOCK : daxacnhan -->

			<center>

                                <font color="#CC3300" size="2">C&#225;m &#417;n qu&#253; kh&#225;ch &#273;&#227; &#273;&#7863;t h&#224;ng ! Ch&#250;ng t&#244;i s&#7869; s&#7899;m li&#234;n h&#7879; l&#7841;i !<br>

&nbsp;                                </font>
			</center>

								

								<meta http-equiv='refresh' content='3; url=?'>

			<!-- END BLOCK : daxacnhan -->



<!-- END BLOCK : orderprod -->			  				</td>
			  			</tr>
			  		</table>			  		</td>
			  	</tr>
			 </table>

		

		 



				

								<br><br>								</td>
							</tr>
						</table>					</td>
				</tr>
			</table>		</td>
	</tr>
</table>


<table width="0" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <th scope="col"><img src="space1.jpg" width="1" height="7"></th>
                          </tr>
                        </table></td>
                      <td width="1" scope="col"><img src="space1.jpg" width="1" height="1"></td>
                    </tr>
                  </table>
                </th>
              </tr>
</table>