<script language="javascript">
function checkform(frm)
{
	if(frm.name.value=='')
	{
		alert('Ban can nhap vao ho ten !');
		frm.name.focus();
		return false;	
	}
	
	if(frm.email.value=='')
	{
		alert('Ban can nhap vao email !');
		frm.email.focus();
		return false;	
	}
	
	checkEmail = frm.email.value;
	
	if ((checkEmail.indexOf('@') < 0) || ((checkEmail.charAt(checkEmail.length-4) != '.') && (checkEmail.charAt(checkEmail.length-3) != '.'))) 
	{
		alert("Dia chi email khong dung !");
		frm.email.focus();
		return false;
	} 	
	
	if(frm.noidung.value=='')

	{
		alert('Ban can nhap vao yeu cau !');
		frm.noidung.focus();
		return false;	
	}
	
}
</script>
<table width="533" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td height="10"></td>
      </tr>
	  
      <tr>
        <td><form id="form1" name="form1" method="post" action="?page=contact&amp;gone=1">
          <table width="100%%" border="0" align="center" cellpadding="4" cellspacing="4">
            <!--START BLOCK : noi_dung -->
            <tr>
              <td colspan="2" align="left" >{content}</td>
            </tr>
            <!--END BLOCK : noi_dung -->
			<tr><td colspan="2" background="images/hr_mn.gif" height="1"></td></tr>
            <!--START BLOCK : thongbao -->
            <tr>
              <td colspan="2" align="center"><span class="trang">{thongbao}</span></td>
            </tr>
            <!--END BLOCK : thongbao -->
            <tr>
              <td width="21%" align="left" class="style_nd"><span class="trang">H&#7885; t&#234;n: (*) </span></td>
              <td width="79%" align="left" class="style_nd"><span class="style10">
                <label>
                <input name="name" type="text" class="style6" id="name" size="37" />
                </label>
              </span></td>
            </tr>
            <tr>
              <td align="left" class="style_nd"><span class="trang">&#272;&#7883;a ch&#7881;:</span></td>
              <td align="left" class="style_nd"><span class="style10">
                <input name="address" type="text" class="style6" id="address" size="37" />
              </span></td>
            </tr>
            <tr>
              <td align="left" class="style_nd"><span class="trang">&#272;i&#7879;n tho&#7841;i:</span></td>
              <td align="left" class="style_nd"><span class="style10">
                <label>
                <input name="phone" type="text" class="style6" id="phone" size="37" />
                </label>
              </span></td>
            </tr>
            <tr>
              <td align="left" class="style_nd"><span class="trang">Fax:</span></td>
              <td align="left" class="style_nd"><span class="style10">
                <label>
                <input name="fax" type="text" class="style6" id="fax" size="37" />
                </label>
              </span></td>
            </tr>
            <tr>
              <td align="left" class="style_nd"><span class="trang">Email: (*) </span></td>
              <td align="left" class="style_nd"><span class="style10">
                <label>
                <input name="email" type="text" class="style6" id="email" size="37" />
                </label>
              </span></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="style_nd"><span class="trang">Y&#234;u c&#7847;u: (*) </span></td>
              <td align="left" class="style_nd"><span class="style10">
                <label>
                <textarea name="noidung" cols="32" rows="5" class="style6" id="noidung"></textarea>
                </label>
              </span></td>
            </tr>
            <tr>
              <td colspan="2" class="style_nd"><table width="57%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="38%" align="center"><label>
                      <input class="buttonStyle" type="submit" name="Submit" value="  G&#7917;i  " />
                    </label></td>
                    <td width="62%"><label>
                      <input class="buttonStyle" type="reset" name="Submit2" value="Nh&#7853;p l&#7841;i" />
                    </label></td>
                  </tr>
              </table></td>
            </tr>
          </table>
                </form>
        </td>
      </tr>


    </table></td>
  </tr>
</table>


