<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
<tr>
  <td height="10"></td>
</tr>
<tr><td height="20" ><span class="news_category">{cat_name}</span></td></tr>

  <tr>
    <td align="center" >
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td align="center"  valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="p_image">
		  <tr>
			<td  align="center" valign="top"><a href="{link}">{image}</a></td>			
		  </tr>	
		   <tr>
			<td  align="center" valign="top" class="p_sologan" >{sologan}</td>			
		  </tr>
		  
		   <tr>
			<td  valign="top" class="p_nametd" ><span class="p_name"><a href="{link}">{name}</a></span></td>			
		  </tr>			   	  
		</table>		</td>
		{break}	  </tr>
	  <!-- START BLOCK : phan_trang -->
		<tr><td colspan="10" align="center">{cac_trang}</td></tr>
			  <!-- END BLOCK : phan_trang -->
</table></td>
  </tr>
 
</table>
