<table width="100%" border="0" cellspacing="0" cellpadding="0">
  
<tr>
  <td height="10"></td>
</tr>
<tr><td height="20" ><span class="news_category"><strong>{cat_name}</strong></span></td></tr>

  <tr>
    <td align="center" >
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
	  <tr>
	  <!--START BLOCK : show_cat -->
		<td align="center"  valign="top">
		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" class="p_image">
		  <tr>
			<td  align="center" valign="top"><a href="javascript:popupImage('{url}', '', '', 'align:center', 0)">{image}</a></td>			
		  </tr>	
		   <tr>
			<td  valign="top" class="p_nametd" ><span class="p_name"><a href="javascript:popupImage('{url}', '', '', 'align:center', 0)">{photo_name}</a></span></td>			
		  </tr>			   	  
		</table>		</td>
		{br}	  
		<!--END BLOCK : show_cat -->
		</tr>
	  <!-- START BLOCK : phan_trang -->
		<tr><td colspan="10" align="center">{cac_trang}</td></tr>
			  <!-- END BLOCK : phan_trang -->
</table></td>
  </tr>
 
</table>
