<script language="javascript1.2">
			  <!--
			  	function show_hang(div_id,image){
					document.getElementById(div_id).innerHTML = "<img width='100px'  src='upload/images/"+image+"'/>";
				}
				function remove_hang(div_id){
					document.getElementById(div_id).innerHTML = "";
				}
			  -->
			  </script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<!--START BLOCK : flash1 -->
      <tr>
        <td align="center" valign="top">{flash1}</td>
    <!--END BLOCK : flash1 -->  </tr>

	  <tr><td height="10">&nbsp;</td></tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="33%"><a href="?page=product_cat&id=1"><img src="images/xetrongnuoc.gif" width="253" height="67" border="0"></a></td>
            <td width="34%">&nbsp;</td>
            <td width="33%"><a href="?page=product_cat&id=2"><img src="images/xenhapkhau.gif" width="254" height="67" border="0"></a></td>
          </tr>
        </table></td>
      </tr>
	   <tr><td height="10">&nbsp;</td></tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="category"><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;Đồ chơi xe</td>
          </tr>
          <tr>
            <td height="1"  background="images/hr_mn.gif" ></td>
         
		  <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="4">			
              <tr>
                <td width="25%">
                  <table width="100%" border="0" cellspacing="0" cellpadding="4">
                   <!-- START BLOCK : dochoixe -->
				    <tr><td onmouseover=navBar(this,1,1) onmouseout=navBar(this,0,1)><span  class="name" onmousemove="show_hang('{divname}','{image}')" onmouseout="remove_hang('{divname}')"><a href="{link_cat}" title="{title}">{name}</a></span></td></tr>
					<tr height="1"> <td height="1"  background="images/hr_mn.gif" ></td></tr>
					{break}
				   <!-- START BLOCK : dochoixe --> 
                    </table></td>
                <td width="25%" rowspan="100" valign="middle"><div id="anh2"></div></td>
              </tr>              
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <tr><td height="10">&nbsp;</td></tr>
		<!--START BLOCK : flash2 -->
      <tr>
        <td align="center">{flash2}</td>
      </tr>
	  <!--END BLOCK : flash2 -->
	  <tr><td height="10">&nbsp;</td></tr>
      <tr>
        <td><img src="images/raovat.gif" /></td>
      </tr>
	  <tr><td height="1" background="images/hr_mn.gif"></td></tr>
	  <tr><td>
	  <table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr class="raovatname">
        <td width="12%" align="center" >&nbsp;H&#236;nh &#7843;nh</td>
        <td width="52%" height="22" >&nbsp;T&#234;n</td>
        <td width="24%" align="center" >&nbsp;Gi&#225;</td>
        <td width="12%" align="center" >&nbsp;L&#432;&#7907;t xem</td>
      </tr>
	  <!--START BLOCK : raovat -->
      <tr class="{bg}" onmouseover=navBar(this,1,1) onmouseout=navBar(this,0,1)>
        <td height="22"  ><a href="{link_detail}">{image}</a></td>
        <td >&nbsp;<span class="newstop"><a href="{link_detail}"><strong>{name}</strong><br />
          {title}</a></span></td>
        <td align="center" ><span class="price">{price}</span></td>
        <td align="center" >{hit}</td>
      </tr>
	  <!--END BLOCK : raovat -->
    </table></td></tr>
      </tr>
    </table>