<table width="100%" border="0" align="center">
  <tr>
    <td width="3%">
	<!--START BLOCK : pre -->
	<a href="javascript: void(null);" onclick="product_new('newproduct&p={pre}')"><img src="images/pre.gif" width="20" border="0" height="20"></a>
	<!-- END BLOCK : pre -->	</td>
	
    <!--START BLOCK : newproduct -->
    <td width="30%"><a href="{link_detail}">{image}</a><strong><span class="newstop"><a href="{link_detail}">{product_name}</a></span></strong><br />
      {product_intro}</td>
	  <!--END BLOCK : newproduct -->
	  <!--START BLOCK : next -->
    <td width="3%"><a href="javascript: void(null);" onclick="product_new('newproduct&p={i}')"><img src="images/next.gif" width="20" height="20" border="0"></a>
		  <!--END BLOCK : next -->	</td>
    
  </tr>
</table>
