
<table width="533" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><span class="newsname"><a href="#">{cat_name}</a></span></td>
      </tr>
	
<!--START BLOCK : detail -->
      <tr>
        <td valign="top">{image}<span class="newsname"><a href="#" >{news_name}</a></span><br />
          <span class="content">
          <div align="justify">{intro}
            <br />
            {content}
            <table width="138" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right"><span class="chitiet"><a href="javascript: history.back();">[ Tr&#7903; l&#7841;i ]</a> </span>&nbsp;</td>
              </tr>
            </table>
          </div></span></td>
      </tr>
<!--END BLOCK : detail -->
      <tr>
        <td valign="top" height="5"></td>
      </tr>
	  <!--START BLOCK : other -->
      <tr>
        <td>&nbsp;<img src="images/icon.gif" />&nbsp;<span class="newsname"><a href="{link_detail}">{other_name}</a></span>&nbsp; <span class="content">({creat_date})</span></td>
      </tr>
	  <!-- END BLOCK : other -->
	 
    </table></td>
  </tr>

</table>


