
<table width="533" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><span class="category">{cat_name}</span></td>
      </tr>
	  <!--START BLOCK : show_cat -->
      <tr>
        <td valign="top"><a href="{link_detail}">{image}</a><span class="newsname"><a href="{link_detail}" >{news_name}</a></span>
		<br />
				<br />
          <span><div align="justify">{intro}
            <table width="138" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right"><span class="chitiet"><a href="{link_detail}">Chi ti&#7871;t ...</a> </span>&nbsp;</td>
              </tr>
            </table>
          </div></span></td>
      </tr>
      <tr>
        <td valign="top" height="5"></td>
      </tr>
	
	  <!--END BLOCK : show_cat -->
	    <!--START BLOCK : phan_trang -->
      <tr>
        <td align="right" style="padding-right:20px"><span class="newsname">{cac_trang}</span> </td>
      </tr>
	  <!-- END BLOCK : phan_trang -->
    </table></td>
  </tr>

</table>


