<script language="javascript" type="text/javascript">
function check()
{
	if(document.feedback.comment.value.length==0)
	{
		alert("Bạn chưa nhập nội dung!");
		document.feedback.comment.focus();
		return false;
	}
	alert("Cảm ơn sự đóng góp quý báu của bạn.");
	return true;
}
</script>
<table width="534" border="0" cellspacing="0" cellpadding="0">
 <!-- START BLOCK : product -->
  <tr>
    <td width="19%"></td>
  <td width="81%" height="10"></td></tr>
  <tr>
    <td align="center" class="product_image" valign="top">{normal_image}</td>
    <td align="center" valign="top" style="padding:4px"><span class="product_name">{name}</span><br /><br /> 
	<span class="product_intro">{intro}</span></td>
  </tr>  
	<!-- START BLOCK : notuser -->
	<tr><td colspan="2" align="center" height="20" valign="bottom">{mess}</td></tr>					
	 <!-- END BLOCK : notuser -->
  <!-- START BLOCK : user -->
  <tr><td colspan="2"  align="right">&nbsp;
  <span class="Cat_detail"><a href="{link}"><img src="images/cart.gif" border="0">Đặt hàng &nbsp;&nbsp;</a></span>
 </td></tr>
  <!-- END BLOCK : user -->
  
  <tr><td colspan="2" height="10"></td></tr>
  <tr>
    <td height="1" colspan="2" background="images/hr_mn.gif"></td>
  </tr>
  <tr><td colspan="2" style="padding:10px">
  <div class="tab-pane" id="tabPane1">
                    <script type="text/javascript">
	tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );
	</script>
                  
            <div class="tab-page" id="mota" >
                      <h2 class="tab">Mô tả</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('mota') );
			</script>
                      {content}</div>
					     <div class="tab-page" id="full"  align="center">
                      <h2 class="tab">Ảnh phóng to</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('full') );
			</script>
                     <span><br />
{image}&nbsp;<br />
 </span></div>
					 <div class="tab-page" id="hinhanh" >
                      <h2 class="tab" align="center">Hình ảnh</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('hinhanh') );
			</script> <table width="100%" border="0" cellspacing="0" align="center" cellpadding="0">
						<tr>
						  <td align="center" height="10"></td>
			  </tr>
						<tr>
						<!-- START BLOCK : hinhanh -->
						<td align="center" width="30%"><a href="javascript:popupImage('{url}', '', 'Ảnh sản phẩm', 'align:center', 0)" >{image}</a></td>
						{break}						
						<!-- END BLOCK : hinhanh -->
						</tr>
						
						
					  </table>
        </div>
					 <div class="tab-page" id="feedback" >
                      <h2 class="tab">Đánh giá sản phẩm</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('feedback') );
			</script>
                    <table width="96%" border="0" cellspacing="0" cellpadding="0">
					  <!-- START BLOCK : feedback -->
					  <tr>
						<td style="border:#CCCCCC solid 1px; padding-top:4px;padding-bottom:4px">
						&nbsp;&nbsp;<span style="font:tahoma; font-size:12px">Người gửi:</span>
						&nbsp;&nbsp;<span class="p_member">{membername}</span><br /><br />
					  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{comment}</td>
					  </tr>
					  <tr><td height="10"></td></tr>
					  <!-- END BLOCK : feedback -->
					  <!-- START BLOCK : phan_trang -->
					<tr><td  align="center">{cac_trang}</td></tr>
					  <!-- END BLOCK : phan_trang -->
					  <!-- START BLOCK : isuser --> 
					<tr><td  align="center"><strong>Đánh giá của bạn:</strong></td>
					</tr> 
					
					<tr><td  align="center">
					<form action="" method="post" name="feedback" onsubmit="return check()">					
					<textarea name="comment" cols="30" rows="5"></textarea><br />
					<input name="submit" type="submit" value="G&#7917;i" />&nbsp;&nbsp;
					<input name="reset" type="reset" value="H&#7911;y b&#7887;" />
					</form></td></tr> 
					  <!-- END BLOCK : isuser -->
					</table>
 					</div>
                  
     </div>
  </td></tr>
 <!-- END BLOCK : product -->
</table>
