<table width="533" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="category" height="12"></td>
  </tr>
  <tr>
    <td class="category"><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;Th&#244;ng tin c&#225; nh&#226;n</td>
  </tr>
  <tr>
    <td valign="top"><form id="form1" name="form1" method="post" action="">
	<input name="gone" value="1" type="hidden" />
      <table width="95%" border="0" align="center" cellpadding="5">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
		<!--START BLOCK : msg -->
        <tr>
          <td colspan="2" align="center" class="do">{msg}</td>
          </tr>
		  <!-- END BLOCK : msg -->
       <!--START BLOCK : profile -->
	    <tr>
          <td width="26%">Username</td>
          <td width="74%" class="menutop">{username}</td>
        </tr>
        <tr>
          <td>M&#7853;t kh&#7849;u hi&#7879;n t&#7841;i * </td>
          <td><input type="password" name="password"  style="width:200px" value=""/></td>
        </tr>
        <tr>
          <td>H&#7885; t&#234;n * </td>
          <td><input type="text" name="name"  style="width:200px" value="{name}"/></td>
        </tr>
        <tr>
          <td>Email * </td>
          <td><input type="text" name="email"  style="width:200px" value="{email}"/></td>
        </tr>
        <tr>
          <td>&#272;i&#7879;n tho&#7841;i * </td>
          <td><input type="text" name="tel"  style="width:200px" value="{tel}"/></td>
        </tr>
        <tr>
          <td>&#272;&#7883;a ch&#7881;</td>
          <td><textarea name="address" rows="5" id="address" style="width:300px">{address}</textarea></td>
        </tr>
        <tr>
          <td>Th&#244;ng tin kh&#225;c </td>
          <td><textarea name="other" rows="5" id="other" style="width:300px">{other_infomation}</textarea></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="checkbox" name="nhanmail" value="1" {nhanmail}/>G&#7917;i mail cho t&#244;i khi c&#243; tin m&#7899;i</td>
        </tr>
        <tr>
          <td colspan="2"><table width="427" border="0">
            <tr>
              <td width="27">&nbsp;</td>
              <td width="218" align="right"><input type="submit" name="Submit" value="L&#432;u"  style="width:60px"/></td>
              <td width="168" align="center"><label>
                <input type="button" name="Submit2" onClick="window.location='?'"  value="B&#7887; qua" style="width:60px">
              </label></td>
            </tr>
          </table></td>
          </tr>
		  <!--END BLOCK : profile -->
      </table>
        </form>    </td>
  </tr>
</table>


