<table width="534" border="0" cellspacing="0" cellpadding="0">
 <!-- START BLOCK : detail -->
  <tr>
    <td width="19%"></td>
  <td width="81%" height="10"></td></tr>
  <tr>
    <td align="center" class="product_image" valign="top">{image}</td>
    <td align="center" valign="top" style="padding:4px">
	<span class="product_name">{name}</span><br /><br /> 
	<span class="product_intro">Giá: &nbsp;{price}</span>
	<br /><br /> 
	<span class="product_intro">{intro}</span></td>
  </tr>  
  <tr><td colspan="2" height="10"></td></tr>
  <tr>
    <td height="1" colspan="2" background="images/hr_mn.gif"></td>
  </tr>
  <tr><td colspan="2" style="padding:10px" align="center">
  <div class="tab-pane" id="tabPane1">
                    <script type="text/javascript">
	tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );
	</script>
                  
            <div class="tab-page" id="mota" >
                      <h2 class="tab">Thông tin chi tiết </h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('mota') );
			</script>
                      {content}</div>
					     <div class="tab-page" id="full" >
                      <h2 class="tab">Ảnh phóng to</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('full') );
			</script>{imagefull}</div>
					 <div class="tab-page" id="hinhanh" >
                      <h2 class="tab" align="center">Hình ảnh</h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('hinhanh') );
			</script> <table width="100%" border="0" cellspacing="0" align="center" cellpadding="4" align="center">
						<tr><td colspan="2" align="center" height="10"></td>  </tr>
						<tr><td><a href="javascript:popupImage('{url1}', '', '', 'align:center', 0)">{image1}</a></td><td><a href="javascript:popupImage('{url2}', '', '', 'align:center', 0)">{image2}</a></td>							
						</tr>
						<tr><td><a href="javascript:popupImage('{url3}', '', '', 'align:center', 0)">{image3}</a></td><td><a href="javascript:popupImage('{url4}', '', '', 'align:center', 0)">{image4}</a></td>							
						</tr></table>
        </div>
					 <div class="tab-page" id="feedback" >
                      <h2 class="tab">Thông tin liên hệ </h2>
                      <script type="text/javascript">tp1.addTabPage( document.getElementById('feedback') );
			</script>
                    {ttlienhe}
 					</div>
                  
     </div>
  </td></tr>
 <!-- END BLOCK : product -->
</table>