<table width="533" border="0" cellspacing="0" cellpadding="5">
<tr><td colspan="3" class="category"><img src="images/banhxe.gif" align="absmiddle" />&nbsp;&nbsp;Kết quả tìm kiếm</td></tr>
<!-- START BLOCK : Mess -->
  <tr>
    <td align="center" class="mess">{mess}</td>
  </tr>
 <!-- END BLOCK : Mess -->
	  <tr>
	   <!-- START BLOCK : product -->
		<td align="center"  valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="p_image">
		  <tr>
			<td  align="center" valign="top"><a href="{link}">{image}</a></td>			
		  </tr>	
		   <tr>
			<td  align="center" valign="top" class="p_sologan" >{sologan}</td>			
		  </tr>
		  
		   <tr>
			<td  valign="top" class="p_nametd" ><span class="p_name"><a href="{link}">{name}</a></span></td>			
		  </tr>			   	  
		</table>
		</td>
		{break}    
	   	 <!-- END BLOCK : product -->	
	  </tr>
	  <!-- START BLOCK : phan_trang -->
		<tr><td colspan="3" align="center">{cac_trang}</td></tr>
	  <!-- END BLOCK : phan_trang -->
	  <tr><td>
	  <!---##########################################################################-->
	  <table width="100%" border="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><span class="category">{cat_name}</span></td>
      </tr>
	  <!--START BLOCK : newsS -->
      <tr>
        <td valign="top"><a href="{link_detail}">{image}</a><span class="newsname"><a href="{link_detail}" >{news_name}</a></span>
		<br />
				<br />
          <span><div align="justify">{intro}
            <table width="138" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right"><span class="chitiet"><a href="{link_detail}">Chi ti&#7871;t ...</a> </span>&nbsp;</td>
              </tr>
            </table>
          </div></span></td>
      </tr>
      <tr>
        <td valign="top" height="5"></td>
      </tr>
	  <!--END BLOCK : newsS -->
    </table>
<!---##########################################################################-->
	  </td></tr>
</table>