﻿<!-- BEGIN: main -->
<div id="prodesc">          
<h2 class="protitle cf"><a href="#">{CONTENT.title}</a></h2>
<span class="note">{LANG.add_time}: {CONTENT.add_time} <div id="fb-root"></div></span>
</div>
<div id="shareicon">
<script type="text/javascript">
   document.write(' <a target="_blank" title="Share on Facebook" rel="nofollow" href="http://www.facebook.com/share.php?u=' + location.href + '"><img alt=""  src="{NV_BASE_SITEURL}themes/head/images/facebook.png" /></a>')
</script>
<script type="text/javascript">
   document.write('<a target="_blank" title="Share on Yahoo!Msg" rel="nofollow" href="ymsgr:im?+&msg=Xem trang này hay lắm nè: {DETAIL.title} - ' + location.href + '"><img alt=""  src="{NV_BASE_SITEURL}themes/head/images/yahoo.png" /></a>')
</script>
<script type="text/javascript">
   document.write('<a target="_blank" title="Share on Zing Me" rel="nofollow" href="http://link.apps.zing.vn/share?url=' + location.href + '"><img alt=""  src="{NV_BASE_SITEURL}themes/head/images/zing.png" /></a>')
</script><br />
<script type="text/javascript">
   document.write('<div class="fb-like" data-href="' + location.href + '" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true" data-font="verdana"></div>')
</script>
</div>
<div style="clear:both"></div>
<div class="bodytext">
 {CONTENT.bodytext}
</div>
<div class="clear"></div>
<div class="other-news" style="border-top: 1px solid #d8d8d8;">
 <!-- BEGIN: other -->
<ul style="margin:10px;">
<!-- BEGIN: loop -->
<li>
<a title="{OTHER.title}" href="{OTHER.link}">{OTHER.title}</a>
</li>
<!-- END: loop -->
</ul>
 <!-- END: other -->
</div>
<!-- END: main -->