				<div id="pageHeader">
    				<div class="floatLeft">{$lang148}</div>
					<div class="headerTabs">        
                    	<a href="{$baseurl}/myprofile.php" class="tab"><span>{$lang147}</span></a>    
						<div class="tabSelected"><span>{$lang149}</span></div>
						<a href="{$baseurl}/privacy.php" class="tab"><span>{$lang150}</span></a>
						<a href="{$baseurl}/alerts.php" class="tab"><span>{$lang151}</span></a>
					</div>
				</div>

				<div id="processPage">
				    <div id="columnLeft" style="position: relative; width:580px; height: 300px;">
					
						{if $msg ne ""}
						<div id="" class="error mainError" style="">*** {$msg} ***</div>  
						{/if}
					
						<h2>{$lang204}</h2>
                        <div id="bgMain">
                        	<form id="bgform" name="bgform" action="{$baseurl}/design.php" enctype="multipart/form-data" method="post">
                        	<input maxlength="100" size="50" type="file" name="bgpic" id="bgpic" />
                            <input type="hidden" name="sbgform" value="1" />
        					</form>
                            <br />
                            {$lang206}
                            <div style="margin-top: 15px;">
                                <a href="#" onclick="document.bgform.submit();" class="standardButton" style="outline: none;"><span>{$lang203}</span></a> 
                            </div>
                            <div class="clear"></div>
                            <ul class="radioBlock black" style="margin-top: 15px;">
                            	<form id="showform" name="showform" action="{$baseurl}/design.php" method="post">
                                <li>
                                    <input class="radio" type="checkbox" id="tile" name="tile" {if $p.tile eq "1"}checked="checked"{/if} value="1" /><label for="show">{$lang210}</label>
                                </li>
                                <li>
                                    <input class="radio" type="checkbox" id="showbg" name="showbg" {if $p.showbg eq "1"}checked="checked"{/if} value="1" /><label for="show">{$lang205}</label>
                                </li>
                                <input type="hidden" name="sshowform" value="1" />
        						</form>
                            </ul>
                            <div style="margin-top: 15px;">
                                <a href="#" onclick="document.showform.submit();" class="standardButton" style="outline: none;"><span>{$lang60}</span></a> 
                            </div>
                        </div>
						
						<div class="divider" style="margin-bottom:10px;"></div>
												
					</div>
				</div>

                </div>
                </div>