                {if $smarty.session.USERID eq ""}
                <div id="alertBox">
                    <div class="top">
                        <div class="leftColumn">
                            <div class="profilePic"><img src="{insert name=get_propic value=var assign=propic1 USERID=$p.USERID}{$membersprofilepicurl}/thumbs/{$propic1}" alt="" /></div>
                            <div class="content withProfile">
                                <div class="heading">{$p.username|stripslashes} {$lang121}.</div>
                                {$lang122}<br />
                        		<a href="{$baseurl}/login.php">{$lang123}</a>
                            </div>
                        </div>
                        <div class="rightColumn">
                        	<a href="{$baseurl}/login.php" class="yellowButton"><span>{$lang0}</span></a>                                
                        </div>
                    </div>
                    <div class="bottom"></div>
                </div>
                {/if}

                <div id="bricks">
                    <h2 class="viewall withPaging" style="width: 600px;">
                    <div class="pagingBlock">
                        {$pagelinks}
                    </div>
                        <span>{$p.username|stripslashes}</span>'s {$lang344}
                    </h2>
                    
                    <ul class="viewallBricks">
                        <li style="margin-bottom: 15px;">
                        </li>
                        <li>
                        <object><embed src="{$baseurl}/scritter.swf?xmlPath={$baseurl}/scritter.php?id={$p.USERID}" FlashVars="xmlPath={$baseurl}/scritter.php?id={$p.USERID}" quality="high" bgcolor="#ffffff"  width="407" height="344" loop="false" align="middle" allowFullScreen="true" allowScriptAccess="always"  type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"  scale="exactfit" > </embed></object>
                        </li>
                        <li style="margin-bottom: 15px;">
                        </li>
                        <li>
                        	<h1>Widget Embed Code:</h1>
                            <div align="center">
                                <textarea onclick="this.select()" style="width:407px; height:200px;"><object><embed src="{$baseurl}/scritter.swf?xmlPath={$baseurl}/scritter.php?id={$p.USERID}" FlashVars="xmlPath={$baseurl}/scritter.php?id={$p.USERID}" quality="high" bgcolor="#ffffff" width="407" height="344" loop="false" align="middle" allowFullScreen="true" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" scale="exactfit"></embed></object></textarea>
                            </div>
                        </li>
                    </ul>
                
                </div>                
                
                {insert name=get_propic value=var assign=mypropic USERID=$p.USERID}
                <div id="rightPanel">
                    <div class="contentBlock">
                        <h2 class="sidebartop">
                            <div class="userName"><a href="{$baseurl}/{insert name=get_seo_profile value=a username=$p.username|stripslashes}">{$p.username|stripslashes}</a></div>
                        </h2>
                        <div class="userPic">            
                            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                                <tr><td align="center" style="vertical-align:middle"><a href="{$baseurl}/{insert name=get_seo_profile value=a username=$p.username|stripslashes}"><img src="{$membersprofilepicurl}/{$mypropic}" class="{$p.username|stripslashes}" /></a></td></tr>
                            </table>
                        </div>
                
                        <div class="motto">{if $p.saying ne ""}"{$p.saying|stripslashes}"{/if}</div>
                       {if $smarty.session.USERID ne ""}
                        <ul id="actionButtons">            
                            <li><a href="#" onclick="toggle2('smsg');" class="requiresLogin" title="{$lang57}"><img src="{$imageurl}/icon_message.gif" width="13" height="11"/><span>{$lang57}</span></a></li>
                            {insert name=block_cnt value=var assign=bcnt USERID=$smarty.session.USERID BID=$USERID}
                            {if $bcnt GT "0"}
                            <li class="end"><a href="{$baseurl}/privacy.php?ub={$p.USERID}"><img src="{$imageurl}/icon_block.gif" width="11" height="11"/><span>{$lang258}</span></a></li>
                            {else}
                            <li class="end"><a href="{$baseurl}/privacy.php?bname={$p.username|stripslashes}"><img src="{$imageurl}/icon_block.gif" width="11" height="11"/><span>{$lang255}</span></a></li>
                            {/if}
                        </ul>
                        <div id="smsg" {if $mserr eq ""}style="display:none;"{/if}>
                            <a href="#" onclick="toggle2('smsg');" class="close"><img src="{$imageurl}/icon_close.gif" width="7" height="7" alt="" /></a>
                            <div class="heading"><b>{$lang237} {$p.username|stripslashes}:</b></div>
                            <div class="floatLeft"> 
                            	{if $mserr ne ""}
                                <div id="" class="error mainError" style="">*** {$mserr} ***</div>  
                                {/if}
                            	<form id="sendmsg" name="sendmsg" action="{$baseurl}/viewupdates.php?id={$USERID}" method="post">
                            	<div style="padding-bottom:5px;"></div>  
                            	{$lang238}:<br />
                                <input type="text" name="mysub" value="{$mysub|stripslashes}" /><br />     
                                <div style="padding-bottom:10px;"></div> 
                                {$lang57}:<br />
                                <textarea name="mymsg">{$mymsg|stripslashes}</textarea>
                                <input type="hidden" name="ssendmsg" value="1" />
                            	</form>
                                <div style="padding-bottom:10px;"></div> 
                                <a class="mediumButton" href="#" onclick="document.sendmsg.submit();"><span>{$lang239}</span></a>
                            </div>
                        </div>
                        {/if}
                
                        <div id="sidebarUserInfo">
                            {if $p.gender ne ""}<span>{$lang125}:</span> {if $p.gender eq "1"}{$lang126}{elseif $p.gender eq "0"}{$lang127}{/if}<br />{/if}
                            <span>{$lang128}:</span> {$p.addtime|date_format}<br />
                            {if $p.interests ne ""}<span>{$lang129}: </span>{$p.interests|stripslashes}<br />{/if}
                            {if $p.website ne ""}
                            <span class="linksLabel">{$lang130}: </span>
                            <div class="links" style="margin-bottom: 1px;">
                                <a href="{$p.website|stripslashes}" target="_blank">{$p.website|stripslashes}</a>
                            </div>
                            {/if}
                        </div>
                        <div class="byline">           
                            <a href="{$baseurl}/viewupdates.php?id={$p.USERID}">
                            {insert name=get_updatecount value=var assign=updatecount USERID=$p.USERID}{$updatecount} {$lang117}
                            </a>
                            | {insert name=get_followerscount value=var assign=frscount USERID=$p.USERID}{$frscount} {$lang118}
                        </div>
                    </div>
                    
                    <div class="divider"></div>
                    <div class="contentBlock">
                    	{insert name=get_following_total value=var assign=followingt USERID=$p.USERID}
                    	{insert name=get_following value=var assign=following USERID=$p.USERID}
                        <h2 class="sidebargrid">{$followingt} {$lang120}</h2>
                        <div class="more"><a href="{$baseurl}/viewfollowing.php?id={$p.USERID}">{$lang107}</a>&nbsp;<img src="{$imageurl}/arrow.gif" width="3" height="6" alt=""/></div>
                        <div class="usersidebar grid">
                            <!-- loop -->
                            {section name=i loop=$following}
                            {insert name=get_propic1 value=var assign=propic USERID=$following[i].USERID}
                            <div class="gridItemContainer">
                            <div class="tinyOutline">
                            <div class="tinyuser">
                                    <a href="{$baseurl}/{insert name=get_seo_profile value=a username=$following[i].username|stripslashes}" title="{$following[i].username|stripslashes}">
                                        <img src="{$membersprofilepicurl}/thumbs/{$propic}" class="profilepic-{$following[i].username|stripslashes}" />
                                    </a>
                            </div>
                            </div>
                            </div>
                            {/section}
                            <!-- loop end -->
                		</div>
            		</div>
				</div>
  
                <div class="clear">&nbsp;</div>
                <div id="rssArea">
                    
                    <a href="{$baseurl}/rss_updates.php?id={$p.USERID}" target="_blank"><img src="{$imageurl}/icon_rss.gif" width="15" height="15" class="rssIcon" /></a>
                    
                    <a href="{$baseurl}/rss_updates.php?id={$p.USERID}" target="_blank">{$p.username|stripslashes}'s {$lang131}</a>
                </div>
            </div>
        </div>