<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="style2"><? if ($act=='add') echo "Thêm mới"; else echo "Cập nhật";?></td>	
	</tr>
</table>
<table cellpadding="4" cellspacing="0" width="100%" align="center" class="border">	
	<form name="frmadmin" action="?do=intros&act=<? if ($act=='add') echo "addsm"; else echo "editsm";?>" method="post" enctype="multipart/form-data">	
	<tr>
		<td align="right"><strong>Thông tin (Việt) :</strong></td>
		<td><input type="text" name="title_vn" value="<?=stripslashes($intros["title_vn"])?>" maxlength="255" size=90></td>
	</tr>	
	<tr>
		<td align="right"><strong>Thông tin (Anh) :</strong></td>
		<td><input type="text" name="title_en" value="<?=stripslashes($intros["title_en"])?>" maxlength="255" size=90></td>
	</tr>
  <tr>
		<td align="right"><strong>Thông tin (Nga) :</strong></td>
		<td><input type="text" name="title_ru" value="<?=stripslashes($intros["title_ru"])?>" maxlength="255" size=90></td>
	</tr>	
	<? include("./ADMeditor/fckeditor.php");?>	
	<tr>
		<td align="right"><strong>Nội dung (Việt) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_vn');	
			$oFCKeditor->Value	= stripslashes($intros["content_vn"]);
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
	<tr>
		<td align="right"><strong>Nội dung (Anh) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_en');	
			$oFCKeditor->Value	= stripslashes($intros["content_en"]);
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
  <tr>
		<td align="right"><strong>Nội dung (Nga) :</strong></td>
		<td>
		<?				
			$oFCKeditor = new FCKeditor('content_ru');	
			$oFCKeditor->Value	= stripslashes($intros["content_ru"]);
			$oFCKeditor->Create() ;	
		?>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="hidden" name="id" value="<?=$intros['id']?>">
			<input type="hidden" name="do" value="intros">
			<input type="submit" value=" Lưu " class="button">
		</td>
	</tr>
	</form>
</table>