<form name="frmdel" action="?do=intros&act=delselect" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th width="10" align="center" class="style2">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Thông tin</th>
		<th width="80" class="style2">Hành động</th>		
	</tr>
<? 
if ($intros) {
for ($i=0;$i<count($intros);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$intros[$i]['id']?>" /></td>		
		<td><a href="?do=intros&act=edit&id=<?=$intros[$i]['id']?>"><?=stripslashes($intros[$i]["title_vn"])?></a></td>
		<td align="center">
			<a href="?do=intros&act=edit&id=<?=$intros[$i]['id']?>" class="link_admin">Cập nhật</a> | <a href="?do=intros&act=del&id=<?=$intros[$i]['id']?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các thông tin được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
</table>
</form>