<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Nhà đất Văn Minh</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />	
</head>
<body>
<div id="intro_section">
	<div id="intro_top_section"></div>
	<div id="intro_middle_section"></div>
	<div id="intro_footer_section">
		<table cellpadding="0" cellspacing="5" width="763px" align="center">
		<tr>
			<td width="50%">
				Nhadatvanminh.com 2008 (C) Powered by <a href="http://www.nhadatvanminh.com" target="_blank">Nhà đất Văn Minh</a>
			</td>
			<td align="right">
				
			</td>
		</tr>
		</table>
	</div>
</div>
</body>
</html>
