a.more {
    color: #b93d00;
    display: inline-block;
    padding-right: 11px;
    background: url(../images/arrow-red.gif) right 5px no-repeat
}

.left {
    margin-right: 0.875em !important;
}

.right {
    margin-left: 0.875em;
}

.acenter {
    text-align: center;
}

.aright {
    text-align: right;
}

.aleft {
    text-align: left;
}

.m-bottom {
    margin-bottom: 1em;
}

img.s-border {
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 4px;
}

hr {
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    margin: 0 0 1.45em;
    border: none;
}

hr.space {
    background: #fff;
    color: #fff;
}

/* Form */
.input {
    border: 1px solid #dcdcdc;
    color: #808080;
    padding: 2px 0;
}

.button, .button-2 {
    padding: 2px 6px 1px;
    cursor: pointer;
}

.button {
    border: 1px solid #3d4d5b;
    background: #4f6170 url(../images/button-bg.png) 0 0 repeat-x;
    color: #fff;
}

.button-2 {
    border: 1px solid #d8d8d8;
    background: #4f6170 url(../images/tab-g.png) 0 0 repeat-x;
    color: #414f5b;
}

/* Style */
body {
    background: #3e4c58 url(../images/background.png);
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 75%;
    line-height: 1.4;
}

.wrapper {
    width: 950px;
    border: 10px solid #d8d8d8;
    margin: 20px auto 0;
    background: #fff;
}

/* Top bar */
.topbar {
    border-bottom: 2px solid #f2f2f2;
}

.topbar .top {
    border-bottom: 1px solid #d8d8d8;
    background: #fff;
    padding: 6px 5px 4px;
}

ul.module-menu {
    margin: 3px 0 0 0;
}

ul.module-menu li {
    display: inline;
}

ul.module-menu li a {
    margin: 0 5px;
    color: #737373;
    text-decoration: none;
}

ul.module-menu li a:hover {
    color: #414f5b;
}

ul.module-menu li a.current {
    color: #b93d00;
}

.q-search {
    border: 1px solid #bfbfbf;
    background: url(../images/search-icon.png) right center no-repeat;
    margin: 0 5px;
    padding: 0;
    height: 18px;
    overflow: hidden;
}

.txt-qs {
    border: 0;
    color: #8e8e8e;
    padding: 0 5px;
}

.submit-qs {
    border: 0;
    width: 20px;
    background: none;
    text-indent: -9999em;
    cursor: pointer;
}

a.rss {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
    background: url(../images/rss.png) 0 0 no-repeat;
    margin: 2px 5px 0 0;
}

/*Logo Adv */
.header {
    height: 100px;
    position: relative;
}

.logo {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 400px;
}

.logo h1 {
    line-height: 70px;
    font-size: 28px;
    font-weight: normal;
    color: #414f5b;
    white-space: nowrap;
}

.logo img {
    vertical-align: middle;
}

.topadv {
    position: absolute;
    width: 510px;
    height: 70px;
    overflow: hidden;
    right: 40px;
    top: 15px;
}

.nav {
    margin: 0 10px;
}

.nav .update {
    position: relative;
    right: 10px;
    bottom: 24px;
}

.main {
    margin: 0 10px 10px;
}

/* Colum, box, block */
.col-a1, .col-a2, .col-b1, .col-b2, .col-b3 {
    float: left;
    margin-right: 10px;
}

.col-a1 {
    width: 620px;
}

.col-a2 {
    width: 300px;
}

.col-b1 {
    width: 500px;
}

.col-b2 {
    width: 230px;
}

.col-b3 {
    width: 180px;
}

.content-box {
    padding: 10px;
}

.box, .box-border, .box-border-shadow, .content-box {
    display: block;
}

.box {
    width: 100%;
    margin-bottom: 1em;
}

.box50 {
    width: 49%;
}

.box2 {
    width: 100%;
    height: 1%;
}

.box-border {
    border: 1px solid #dadada;
}

.box-border-shadow {
    border: 1px solid #dadada;
    border-bottom: 2px solid #f1f1f1;
    background: url(../images/dot.png) 0 bottom repeat-x;
    height: 1%;
}

.box-inside {
    border: 1px solid #fff;
    background: #ededed;
    padding: 8px;
}

.box-inside .box-border {
    background: #fff;
}

.box50 h4 {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.box50 p {
    margin-bottom: 0.5em;
}

.box50 ul.other-news {
    list-style-type: none;
    margin: 0;
}

.box50 ul.other-news li {
    padding: 6px 0 6px 10px;
    border-top: 1px solid #d8d8d8;
    background: url(../images/bullet-orange.png) 2px 13px no-repeat;
}

/* Hot news block */
#hot-news {
    padding-bottom: 19px;
    background: #fff url(../images/hot-news-shadow.png) 50% bottom no-repeat;
}

#hot-news .box-border {
    background: url(../images/hot-news-g.png) bottom repeat-x;
}

#hot-news h3 {
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.2;
}

#hot-news p {
    margin-bottom: 0;
}

#hot-news ul.other-news {
    border-top: 1px solid #dadada;
    margin: 0;
    list-style-type: none;
    background: url(../images/dot.png) left 2px repeat-x;
}

#hot-news ul.other-news li {
    float: left;
    width: 33%;
}

#hot-news ul.other-news h5 {
    line-height: 1.2;
    margin-bottom: 0.5em;
}

/* Box news cat*/
.cat-box-header {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 2px;
}

.cat-nav {
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 30px 5px 10px;
    position: relative;
    background: #fff url(../images/cat-header-bg.png) bottom repeat-x;
}

.cat-nav a {
    margin: 0 5px;
    line-height: 22px;
}

.cat-nav a.current-cat {
    font-size: 1.1em;
    font-weight: bold;
    color: #b93d00;
    padding-right: 20px;
    background: url(../images/arrow-red2.gif) right 3px no-repeat;
}

.cat-nav a.rss {
    position: absolute;
    right: 5px;
    top: 9px;
    background: url(../images/rss2.png) 0 0 no-repeat;
}

.cat-news {
    width: 100%;
}

.bg {
    background: url(../images/dd-v2.png) 62% 0 repeat-y;
}

.bg_l {
    background: url(../images/dd-v2.png) 38% 0 repeat-y;
}

.cat-news .lt-news {
    width: 62%;
}

.cat-news .news-full {
    width: 100%;
}

.cat-news .lt-news h4, .cat-news .news-full h4 {
    font-weight: bold;
    margin-bottom: 0;
}

.cat-news .lt-news p, .cat-news .news-full p {
    margin-bottom: 0;
}

.cat-news .ot-news {
    width: 38%;
}

.cat-news .ot-news ul, .cat-news .ot-news-full ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

.cat-news .ot-news ul li, .cat-news .ot-news-full ul li {
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 0 5px 12px;
    background: url(../images/bullet-orange.png) 2px 13px no-repeat;
}

.cat-news .ot-news-full ul li {
    border-top: 1px solid #d8d8d8;
    border-bottom: 0;
}

.cat-news .ot-news ul li.last {
    border-bottom: 0;
}

/* Block */
.header-block1 {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 2px;
    background: #fff;
}

.header-block1 h3 {
    border: 1px solid #fff;
    border-bottom: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 9px 0;
    background: #f4f4f4 url(../images/block-header-g1.png) bottom repeat-x;
    margin-bottom: 0;
}

.header-block1 h3 span {
    padding: 8px 8px 6px 8px;
    display: inline-block;
    background: #fff url(../images/tab-g.png) top repeat-x;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
}

.block-signed p, .block-vote p {
    margin-bottom: 0.3em;
}

.block-signed p {
    font-size: 14px;
}

.block-signed a {
    display: block;
}

.block-signed img {
    margin: 0 10px 0 0;
}

.block-login .input {
    width: 48%;
}

.block-login img {
    vertical-align: middle;
    margin-left: 10px;
}

.block-login img.captcha {
    width: 100px;
    height: 22px;
}

.block-login img.refresh {
    margin-top: 4px;
}

.block-login .openid {
    margin-top: 6px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.block-login .openid a {
    color: #666;
}

.block-login .openid img {
    padding: 0 10px 0 0;
}

.block-stat ul {
    list-style-type: none;
    margin: 0;
}

.block-stat ul li {
    padding: 4px 0 4px 26px;
}

.block-stat ul li.online {
    background: url(../images/icons/online.png) 0 50% no-repeat;
}

.block-stat ul li.guest {
    background: url(../images/icons/guest.png) 0 50% no-repeat;
}

.block-stat ul li.user {
    background: url(../images/icons/user.png) 0 50% no-repeat;
}

.block-stat ul li.bot {
    background: url(../images/icons/bot.png) 0 50% no-repeat;
}

.block-stat ul li.today {
    background: url(../images/icons/time.png) 0 50% no-repeat;
}

.block-stat ul li.month {
    background: url(../images/icons/month.png) 0 50% no-repeat;
}

.block-stat ul li.statistics {
    background: url(../images/icons/statistics.png) 0 50% no-repeat;
}

.block-about h3 {
    font-size: 1.2em;
    color: #9b2200;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.block-about p {
    margin-bottom: 0.5em;
}

ul.list-number {
    margin: 0 0 8px;
    padding: 0;
    list-style-type: none;
    color: #a62c00;
}

ul.list-number li {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e8e8e8;
}

ul.list-number li.bg {
    background: #F3F3F3;
}

ul.list-tab {
    margin: 0 0 8px 0;
    list-style-type: none;
}

ul.list-tab li {
    float: left;
    margin-right: 5px;
    display: block;
}

ul.list-tab li a {
    display: block;
    float: left;
    padding: 3px 8px 2px;
    border: 1px solid #d9d9d9;
    color: #646464;
    font-size: 0.8em;
    text-transform: uppercase;
    background: #fff url(../images/tab-g.png) 0 0 repeat-x;
}

ul.list-tab li.ui-tabs-selected a {
    border: 1px solid #a63700;
    background: #982100 url(../images/tab-g-current.png) 0 0 repeat-x;
    color: #fff;
}

.f-action, .openid {
    border-top: 1px solid #d8d8d8;
    padding-top: 8px;
}

/*-- Details news --*/
.breakcoup {
    padding: 5px 0;
    border-bottom: 1px solid #dadada;
}

.breakcoup .spector {
    width: 11px;
    background: url(../images/arrow-red.gif) 0 50% no-repeat;
    display: inline-block;
    margin: 0 2px;
}

.header-details {
    padding: 8px 0;
    border-bottom: 1px solid #dadada;
}

.header-details .action {
    border-left: 1px solid #dcdcdc;
    padding: 2px 3px 2px 10px;
    display: block;
}

.header-details a.email, .header-details a.print, .header-details a.save {
    display: inline-block;
    padding-left: 22px;
    color: #5f5f5f;
    margin: 2px 5px;
}

.header-details a.email {
    background: url(../images/email.png) 0 50% no-repeat;
}

.header-details a.print {
    background: url(../images/print.png) 0 50% no-repeat;
}

.header-details a.save {
    background: url(../images/save.png) 0 50% no-repeat;
}

.header-details .title h1 {
    font-size: 1.6em;
    line-height: 1.2;
    color: #414f5b;
    margin-bottom: 0;
    font-weight: bold;
}

.short-desc {
    padding: 8px 0;
    border-bottom: 1px solid #dcdcdc;
    color: #4d4d4d;
    font-weight: bolder;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.short-desc em {
    font-weight: normal;
    font-size: 11px;
}

.details-content {
    padding: 8px 0;
}

.source {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/*-- Share, Tag, Rate --*/
.oop {
    padding: 5px 0;
    width: 49%;
}

.oop .header-oop {
    font-size: 0.8em;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2em;
}

.oop .bookmark {
    background: url(../images/bookmark.png) 0 50% no-repeat;
}

.oop .icon-rating {
    background: url(../images/rating.png) 0 50% no-repeat;
}

.oop .tag {
    background: url(../images/tag.png) 0 50% no-repeat;
}

.oop p {
    margin-bottom: 0;
}

.oop .star {
    padding: 5px;
    font-size: 11px;
    color: #666;
}

/*-- Other news --*/
.other-news p {
    text-align: right;
    margin: 0;
    padding: 0;
}

.other-news h4 {
    margin-bottom: 0.5em;
    color: #b93d00;
    border-bottom: 1px solid #b93d00;
}

.other-news ul {
    margin: 0;
    list-style-type: none;
    margin-bottom: 0.5em;
}

.other-news ul li {
    background: url(../images/bullet-orange.png) 3px 10px no-repeat;
    padding: 3px 0 3px 12px;
}

/*-- Comments --*/
#idcomment {
    border-top: 2px solid #b93d00;
    padding: 8px 0;
}

#idcomment .header-comment {
    padding-bottom: 0.5em;
    line-height: 2;
}

#idcomment .header-comment h3 {
    padding-left: 30px;
    margin-bottom: 0;
    line-height: 1.2;
    background: url(../images/com.png) 0 50% no-repeat;
}

#idcomment .comment-form {
    padding: 8px 0;
}

#idcomment .comment-form img {
    vertical-align: middle;
    margin-left: 10px;
}

#idcomment .comment-form .box-border {
    background: url(../images/hot-news-g.png) 0 bottom repeat-x;
}

#idcomment .comment-form p {
    margin-bottom: 0.5em;
}

#idcomment .comment-form .capcha {
    width: 100px;
}

#idcomment .comment-form .input-c {
    width: 49%;
}

#idcomment .comment-form .typer {
    height: 40px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#idcomment .list-comments {
    padding: 8px 0;
}

#idcomment .list-comments .alt {
    background: #f6f6f6;
}

#idcomment .list-comments h4 {
    margin-bottom: 0.5em;
    color: #b93d00;
}

#idcomment .list-comments .ava {
    width: 60px;
    float: left;
}

#idcomment .list-comments .ava img {
    width: 40px;
    vertical-align: middle;
}

#idcomment .list-comments .comment-content {
    margin-left: 60px;
}

#footer {
    width: 970px;
    margin: 0 auto;
    padding: 10px 0;
    color: #728a9f;
}

#footer a, #footer a:hover {
    color: #fff;
}

#footer .spector {
    border-left: 1px solid #000;
    margin: 0 3px 0 5px;
    width: 3px;
}

#footer .div2 {
    width: 49%;
}

/* Page */
.page-header {
    padding: 8px 10px 6px;
}

.page-header h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0;
}

.content-page {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.page-z {
    padding-top: 4px;
}

.page-z a.email, .page-z a.print, .page-z a.save {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    text-indent: -9999em;
    float: left;
}

.page-z a.email {
    background: url(../images/email.png) 0 0 no-repeat;
}

.page-z a.print {
    background: url(../images/print.png) 0 0 no-repeat;
}

.page-z a.save {
    background: url(../images/save.png) 0 0 no-repeat;
}

.refresh {
    cursor: pointer;
}

/*Contact*/
ul.info-z {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 8px;
}

ul.info-z li {
    margin-bottom: 10px;
    padding-left: 30px;
}

ul.info-z li.email {
    background: url(../images/icons/email.png) 0 1px no-repeat;
}

ul.info-z li.phone {
    background: url(../images/icons/phone.png) 0 1px no-repeat;
}

ul.info-z li.fax {
    background: url(../images/icons/fax.png) 0 1px no-repeat;
}

ul.info-z li.address {
    background: url(../images/icons/home.png) 0 1px no-repeat;
}

/*--Page nav--*/
.page-nav a {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #d8d8d8;
    background: #fff url("../images/tab-g.png") repeat-x scroll 0 0;
    color: #647685;
    font-size: 1em;
}

.page-nav a:focus {
    border: 1px solid #b1b1b1;
}

.page-nav .current {
    border: 1px solid #b93d00;
    color: #b93d00;
    background: #fff;
}

.page-nav .left {
    margin-left: 0;
}

.page-nav .right {
    margin-right: 0;
}

/*--ui tab default--*/
.ui-tabs .ui-tabs-hide {
    display: none !important;
}

.small {
    font-size: .875em;
    color: #979797;
}

.large {
    font-size: 1.2em;
}

.hide {
    display: none;
}

.quiet {
    color: #666;
}

.loud {
    color: #000;
}

.highlight {
    color: #c32b00;
}

a.highlight, a.highlight:hover {
    color: #c32b00;
}

.added {
    background: #060;
    color: #fff;
}

.removed {
    background: #900;
    color: #fff;
}

.first {
    margin-left: 0;
    padding-left: 0;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.top {
    margin-top: 0;
    padding-top: 0;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clearfix, .container {
    display: block;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#floatleft {
    position: relative;
}

#floatleft ul {
    margin: 0;
}

#floatleft a, #floatleft ul li {
    display: block;
    width: 13px;
    height: 13px;
    line-height: 10px;
}

#floatleft a.red {
    background: #C32B00;
}

#floatleft a.blue {
    background: #00688B;
}

.sideoff {
    display: none;
}

.sideon {
    display: block;
}

.keyword {
    background: #FF3;
}

.title-search {
    font-size: 18px;
    color: #414F5B;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #d7d7d7;
}

/*Choose color*/
#choose-color-lang {
    position: relative;
    padding: 0 10px;
}

#choose-color-lang a.red, #choose-color-lang a.blue {
    width: 15px;
    height: 15px;
    text-indent: -9999em;
    display: block;
    float: left;
}

#choose-color-lang a.red {
    background: #d83300;
}

#choose-color-lang a.blue {
    background: #098de1;
}

#choose-color-lang .cl {
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
}

#choose-color-lang select {
    border: 1px solid #d8d8d8;
    padding: 1px;
}

form.select_lang {
    margin: 0;
    padding: 0;
    float: right;
    margin-left: 10px;
}

ul.list_item {
    margin: 0 0 8px;
    padding: 0;
    list-style: none;
}

ul.list_item li {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e8e8e8;
}

ul.list_item li.second {
    background: #fcfcfc;
}

.tabs_view {
    padding: 5px 0;
}