body {
	margin: 0px;
	OVERFLOW-X: auto;
	background-color: #05bc03;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	
    
}
td {
	font-family: Tahoma;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	text-decoration: none;
}
.text_ti {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.link_new {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.tab_left1 {
	background-image: url(../images/bg_left1.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
}


.margin_image_center {
	padding-right: 30px;
	padding-left: 20px;
	border-bottom-color: #999999;
}
.line_bottom_center {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.border_image {
	padding: 2px;
	border: 1px dotted #D1D1D1;
}


.text_menu_left {
	font-size:11px;
	color: #333333;
	text-decoration: none;
}


#top {
	height: 29px;
	background-image: url(../images/top_2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.margin_bottom {
	padding-bottom: 4px;
}
.bg_right {
	background-image: url(../images/ti_1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 26px;
}


.line_menu_left {
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #AEFFD7;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	padding-left: 10px;
}
.tab_center {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #01A63E;
	background-image: url(../images/tab_center.jpg);
	background-repeat: no-repeat;
	background-position: 75px center;
	text-align: center;
	height: 86px;
}


#menu {
	height: 20px;
}
#content {
	background-color: #FFFFFF;
	background-image: url(../images/bg_left.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.bg_content{
 border: 0px solid #FFFFFF;
	background-image: url(../images/tab_sp.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.line_bottom {
	background-image: url(../images/line_bottom.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.submit {
	background-image: url(../images/icon_bottom.jpg);
	background-repeat: no-repeat;
	height: 19px;
	width: 77px;
	border: 0px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
.bg_field_1 {
	background-image: url(../images/field_2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 22px;
}
.field_1 {
	color: #333333;
	background-color: #D4E192;
	border: 0px solid #D4E094;
	height: 14px;
}


#left {
	background-image: url(../images/bg_left.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
#center {
	background-image: url(../images/line_content.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
#right {
	padding-top: 5px;
	padding-right: 5px;
	background-image: url(../images/line_right1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.text_bottom {
	color: #333333;
}
.magin_text {
	padding: 10px;
}


#bottom {
	height: 54px;
	background-image: url(../images/bottom_2.jpg);
	color: #333333;
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #43D81E;
}
.line_right {

	background-image: url(../images/line_right.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
.bg_field_2 {

	background-image: url(../images/bg_field_search_2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 22px;
}
.field_2 {

	color: #333333;
	background-color: #FFFFFF;
	border: 0px solid #D4E094;
	height: 14px;
}
.submit1 {
	background-image: url(../images/botton_search.jpg);
	background-repeat: repeat-x;
	height: 21px;
	width: 77px;
	border: 0px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	background-position: left top;
}
.text_ti:hover {
	font-size: 12px;
	font-weight: bold;
	color: #CE412F;
	text-decoration: none;
}
.text_top {
	color: #FFFFFF;
}
.text_menu_left:hover {

	color: #D63334;
	text-decoration: none;
}
.line_content {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}
.link_new:hover {
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.link5:link {



	color:#444;



	font-family:Tahoma;



	font-size:11px;



}



.link5:active {



	color:#444;



	font-family:Tahoma;



	font-size:11px;



}



.link5:visited {



	color:#444;



	font-family:Tahoma;



	font-size:11px;



}



.link5:hover {



	color:#d11414;



	font-family:Tahoma;



	font-size:11px;



}
 .line_bottom_left {
background-image: url(../images/line_bottom.jpg);
background-repeat: repeat-y;
background-position: left top;
}
.line_bottom_right {

background-image: url(../images/line_bottom.jpg);
background-repeat: repeat-y;
background-position: right top;
}
.line_right_bottom {
background-image: url(../images/line_right_bottom.jpg);
background-repeat: no-repeat;
background-position: right bottom;
}
