.jv_ahovermenu_wrap ul.jv_maccordion ul{
	margin: 0;
	padding: 0 0 0 20px;
}
.jv_ahovermenu_wrap li {
	list-style-type:none;
}
.jv_ahovermenu_wrap a{	
	color:#646464 !important;
}
.jv_ahovermenu_wrap div.wrap_link a{
	display: block;
	float:left;	
	height:25px;
}
.jv_ahovermenu_wrap li.last-child{
  display:block;
  height:25px;
}

.jv_ahovermenu_wrap div.clear{clear: both;}
.jv_ahovermenu_wrap a.trigger{
	height:25px;
	color:#646464;
  background:url(../images/down_arrow.gif) no-repeat right;
}
.jv_ahovermenu_wrap a.active{
}
.jv_ahovermenu_wrap a.open{
	height:25px;	
	display: block;
	background:url(../images/up_arrow.gif) no-repeat right;	
}
.jv_ahovermenu_wrap .last-child a.trigger{
  background:none;
}
