    <!-- BEGIN: mainblock -->
    <div class="box silver">
        <h3 class="header"><strong>::</strong>{BLOCK_TITLE}</h3>
		<div class=" header-hong_bg1 header-hong" >
       {BLOCK_CONTENT}
	   	<div class=" header-hong_bg1 header-hong" >
	</div>
	</div>
	</div>
    <!--  END: mainblock -->