﻿	<div class="clear"></div>
	<div id="footer" class="clearfix">
	    <div>
	        [FOOTER_SITE]
			<span style="color:#ff0000;">Thiết kể bởi Phạm Bá Tuấn Chung cựu học sinh lớp 12A4 niên khóa 2008-2011</span>
	    </div>
	    <div class="clear">
	    </div>
	    <!-- BEGIN: for_admin -->
		<p class="show_query">
	    {CLICK_SHOW_QUERIES}
		</p>
	    <div id="div_hide" style="visibility: hidden; display: none;">
	        {SHOW_QUERIES_FOR_ADMIN}
	    </div>
	    <!-- END: for_admin -->
	    <div id="run_cronjobs" style="visibility: hidden; display: none;">
	        <img alt="" title="" src="{THEME_IMG_CRONJOBS}" width="1" height="1" />
	    </div>
	</div>
</div>
{THEME_ADMIN_MENU}
{THEME_MY_FOOTER}
{THEME_FOOTER_JS}
</body>
</html>