<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="style3">	
			Loại phòng &rsaquo;&rsaquo; <a href="?do=roomtypes" class="link_admin"><b>Danh sách</b></a> | <a href="?do=roomtypes&act=add" class="link_admin"><b>Thêm mới</b></a>
		</td>
	</tr>
	<tr>
		<td class="line"></td>
	</tr>	
</table>
<br />