/*
Design by Gaucer
ICQ 6981278
*/
body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10pt;
  margin: auto;
  max-width: 480px;
  background-image: url(images/bg.jpg);
}

form {
  font-size: small;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px solid #05abe1;
  margin: 0;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  width: 99%;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #8DA906;
  color: #686868;
  padding: 3px;
  margin: 1px;
  -moz-border-radius:5px;
  border-radius:5px;
  max-width: 90%;
}

select:hover, input:hover, textarea:hover {
  border: 1px solid #c7db4a;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background-color: #FF0000;
  border: 1px solid white;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 0px 0px 0px 10px;
}

.bmenu {
  background-color: #f3fafb;
  border: 1px solid #fff;
  margin: 0;
  padding: 2px 4px 4px 4px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.end {
  text-align: center;
  color: #fff
}

.fmenu {
  background-color: #737f83;
  background-repeat: repeat-x;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 1px 5px 5px;
}

.header {
  background-color: #8DA906;
  background-image: url(images/head.png);
  background-position: bottom;
  color: #313C52;
  padding: 4px 0 5px 4px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

.footer {
  background-color: #737f83;
  background-image: url(images/foot.png);
  background-position: top;
  color: #fff;
  padding: 6px 0 5px 0;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.tmn {
  background-color: #8DA906;
  color: #ffffff;
  padding: 7px 0 10px 4px;
}

.func {
  border-left: 3px solid #b3d454;
  color: #757575;
  font-size: x-small;
  margin-left: 2px;
  margin-top: 4px;
  padding-left: 5px;
}

.gmenu {
  background-color: #e8eeef;
  border: 1px solid #fff;
  margin: 1px 0;
  padding: 3px 4px 3px 4px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gray {
  color: #586776;
}

.greply {
  border-left: 4px solid #009900;
  color: #009900;
  padding: 2px 0 2px 4px;
}

.hdr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #595959;
  font-weight: bold;
  padding-left: 2px;
}

.left {
  float: left;
}

.list1 {
  background-color: #fff;
  border: 1px solid #8DA906;
  margin: 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.list2 {
  background-color: #f7f7f7;
  border: 1px solid #8DA906;
  margin:1px 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.maintxt {
  font-weight: normal;
  padding: 4px;
  background-color: #737f83;
}

.menu {
  background-color: #FBFBFB;
  border: 1px solid #8DA906;
  color: #626262;
  margin: 2px 0;
  padding: 5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.news {
  color: #313C52;
  background-color: #fff;
  font-size: small;
  padding: 4px;
  margin:0 4px 3px 4px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  border-left: 1px solid #8DA906;
  border-bottom: 1px solid #8DA906;
  border-right: 1px solid #8DA906;
}

.phdr {
  color: #fff;
  background-color: #8DA906;
  background-image: url(images/head.png);
  background-repeat: repeat-x;
  border: 1px solid #fff;
  padding: 5px;
  margin: 1px 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.phpcode {
  background-color: #e4e9e0;
  border: 1px dotted #8DA906;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #c0c0c0;
  color: #878787;
  font-size: x-small;
  margin-left: 2px;
  padding: 2px 0 2px 4px;
}

.reply {
  border-left: 4px solid #8DA906;
  color: #8DA906;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background-color: #e9ccd2;
  padding: 3px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin: 2px 0;
}

.sitemap {
  background-color: #a4a5a4;
  color: #fff;
  padding: 1px 4px 7px 4px;
  font-size: 8pt;
  height: 43px;
  overflow: auto;
  -moz-border-radius:5px;
  border-radius:5px;
  text-shadow: 0 0 20px #000;
}

.status {
  color: #00649d;
  font-size: small;
  font-weight: bold;
}

.sub {
  border-top: 1px dotted #8DA906;
  font-size: x-small;
  margin-top: 4px;
}

.topmenu {
  font-size: 9pt;
  padding: 4px;
  margin-bottom: 1px;
  background-color: #7e878c;
  -moz-border-radius:5px;
  border-radius:5px;
}

.topmenu input{
  font-size: x-small
}

.user {
  background-color: #d6d6d5;
  border: 1px solid #fff;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin: 1px 0;
}

.greply a:link, .greply a:visited {
  color: #008800;
}

.reply a:link, .reply a:visited {
  color: #DD0000;
}

.fmenu a:link, .fmenu a:visited {
  color: #333;
  text-decoration: none;
}

.fmenu a:hover, .footer a:hover {
  color: #ccc;
  text-decoration: none;
}

.footer a:link, .footer a:visited {
  background-color: #93B403;
  padding: 3px 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px solid #fff;
  color: #fff;
}

.footer a:hover {
  border: 1px solid #05abe1;
}

.tmn a:link, .tmn a:visited {
  color: #fff;
  text-shadow: 0 0 30px #000;
}

.tmn a:hover {
	color:#ccc; 
}

.phdr a:link, .phdr a:visited {
	color: #1a1a1a;
	border-bottom: 1px dotted #fff;
}

.phdr a:hover {
	color: #fff;
}

a:active, a:link, a:visited {
  color: #9BBA17;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

.currentpage {
    color: #59ab28;
    background-color: #edebeb;
    border: 1px solid #ccc;
    padding: 0px 5px 0px 5px;
}

a.pagenav {
    border: 1px solid #fff;
    padding: 0px 3px 0px 3px;
}

a.pagenav:hover {
    background-color: #fff;
    border: 1px solid #dedede;
}
img {border: none; vertical-align: middle;}

.green, .green a:link, .green a:visited {
  color: #008000;
}

.red, .red a:link, .red a:visited {
  color: #FF0000;
}

.alarm a:link, .alarm a:visited {
  color: #FFFFFF;
  font-size: x-small;
}

.clip a:link, .clip a:visited {
  color: #424e59;
}
