<div align="center" style="padding-bottom:10px;">
<form name="frmsearch" action="" method="get" style="margin:0px;">
	<input type="hidden" name="do" value="gallery" />
	<b>Tìm ảnh : </b>	
	<input type="text" name="key" value="<?=$_GET['key']?>" size="30">		
	<input type="submit" value="Tìm" class="button" style="width:65px;">
</form>
</div>

<form name="frmdel" action="?do=gallery&act=delselect&page=<?=$page?>" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th class="style2" width="10">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Ảnh</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="80">Hành động</th>
	</tr>
<? 
if ($gallery) {
for ($i=0;$i<count($gallery);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$gallery[$i]['id']?>" /></td>
		<td style="line-height:17px;">
			<? if ($gallery[$i]['img']) { ?>
			<a href="?do=gallery&act=edit&id=<?=$gallery[$i]['id']?>&page=<?=$page?>"><img src="upload/gallery/<?=$gallery[$i]['img']?>" width="100" height="75" border="0" align="left" vspace="3" style="margin-right:8px;" class="imgbor"></a>
			<? } ?>		
			<a href="?do=gallery&act=edit&id=<?=$gallery[$i]['id']?>&page=<?=$page?>"><b><?=stripslashes($gallery[$i]["title_vn"])?></b></a><? if ($gallery[$i]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($gallery[$i]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?>
		</td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=gallery&act=move&id1=<?=$gallery[$i]['id']?>&pos1=<?=$gallery[$i-1]['order']?>&id2=<?=$gallery[$i-1]['id']?>&pos2=<?=$gallery[$i]['order']?>&page=<?=$page?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($gallery)-1) { ?>
			<a href="?do=gallery&act=move&id1=<?=$gallery[$i]['id']?>&pos1=<?=$gallery[$i+1]['order']?>&id2=<?=$gallery[$i+1]['id']?>&pos2=<?=$gallery[$i]['order']?>&page=<?=$page?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>		
		<td align="center">
			<a href="?do=gallery&act=edit&id=<?=$gallery[$i]['id']?>&page=<?=$page?>" class="link_admin">Cập nhật</a> | <a href="?do=gallery&act=del&id=<?=$gallery[$i]['id']?>&page=<?=$page?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các ảnh được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
<? if ($plpage) { ?>
	<tr>
		<td colspan="5" align="center"><?=$plpage?></td>
	</tr>
<? } ?>
</table>
</form>