@charset "utf-8";
.loto-menu{text-align:center;margin:0 auto;margin-top:0;overflow:hidden;width:980px;margin-bottom:6px;_margin-bottom:3px;display:block;margin-left:10px}
.loto-menu span{display:block;float:left}
.loto-link:hover,.loto-link:active{color:#fc0;font-size:11px;font-weight:bold;text-decoration:none}
.loto-link{color:#fff;font-size:11px;font-weight:bold;text-decoration:none;margin-top:5px;float:left}
.row1{background-color:#caced2;text-align:center;padding:5px 0}
.row2{background-color:#d9dcdf;text-align:center;padding:5px 0}
.loto-li{background:url(../skins/li.jpg) top center no-repeat;width:10px;height:22px}
.loto-time{color:#900;text-decoration:none;font-weight:bold}
.contain{float:left;margin-right:4px;_margin-right:-4px}
.item{width:250px;margin-left:10px;margin-top:5px;float:left}
.loto-box{width:248px;border:1px solid #e16c02;border-bottom:none;float:left}
.bg-header1{background:url(../skins/box_center_center.gif) repeat-x;width:100%;height:26px;line-height:26px;color:#fff;font-weight:bolder;text-indent:10px;border-bottom:1px solid #e16c02}
.loto-box-header{text-align:center;font-weight:bold}
.loto-box-btm{background:url(../skins/bg-button.jpg) top left no-repeat;height:18px;width:250px;text-align:center;color:#fff;float:left;font-weight:bold;padding-top:12px}
.loto-white{color:#fff;text-decoration:none;cursor:pointer}
.popup_betting_table{width:100%;border-collapse:collapse;border-spacing:none}
.popup_betting_table td{text-align:center;padding:5px 0;border-bottom:1px solid #dfdfdf}
.popup_betting_table input[type="text"]{width:100px;height:20px}
.popup_betting_table input[type="submit"]{cursor:pointer;height:20px}
#content_loader .input_3,#content_loader .input_4,#content_loader .input_5{display:none}
#content_loader .show{display:block}
#betting_comfirm_buttom{background-image:url(../skins/ok.gif);width:60px;height:30px;border:none;margin:0 auto}