body {background:url(../images/bg.png) repeat-x left top #8b0105;color:#222;font-family:Tahoma, Geneva, sans-serif;line-height:1.5;margin:0;padding:0;font-size:12px;word-wrap: break-word;}
h1, h2, h3 {font-weight:normal;}
h1 {font-size:48px; margin:0 0 0.5em;}
h2 {font-size:36px; margin:0 0 0.75em; }
h3 {font-size:24px; margin:0 0 1em; }
h4 {font-size:18px;margin:0 0 1em; }
h5 {font-size:16px;font-weight:bold;margin:0 0 0.5em;}
h6 {font-size:14px;font-weight:bold;margin:0 0 0.5em;}
p {margin:0 0 10px;}
.pad10 {padding:10px !important}
a {color:#0072bc;text-decoration:none;outline:none;}
a:hover {color:#0055cc;text-decoration:underline;outline:none;}
.fl {float:left;}
.fr {float:right;}
.clred {color:#c00;}
.no_pad {padding:0 !important}
.bottom {margin-bottom:0 !important}
.bottom3 {margin-bottom:3px !important}
.bottom17 {margin-bottom:17px !important}
.bottom5 {margin-bottom:5px !important}
.s14 {font-size:14px}
.s16 {font-size:16px}
.s18 {font-size:18px}
.no_bor_bottom {border-bottom:none !important}
li ul, li ol {margin:0;}
ul, ol {margin:0 0 1.5em;padding-left:3.333em;}
table {border-collapse:separate;border-spacing:0;vertical-align:middle;width:100%;}
td, th {vertical-align:middle;text-align:left;font-weight:normal;}
a img {border:none;}
select {border:1px solid #ccc; height:22px}
label {font-weight:bold;}
input, input.text, input.title, textarea {
	background-color:#fff;border:1px solid #D8DFEA;padding-left:5px;height:18px;
}
*html input, *html textarea {border:1px solid #D8DFEA;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#f00;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.18em; margin:0}
input[type=submit] {cursor:pointer;}
.bottom10 { margin-bottom:10px !important}
/* layout.css ------------------------------------------------------------------------------------------------*/
.main {width:996px;margin:0 auto;}
div.col-200, div.col-575, div.col-320, div.col-220, div.col-130, div.col-335, div.col-780, div.col-425, div.col-120 {float:left;margin-right:5px;}
div.center {float:left;margin-right:20px;}
.col-200 {width:200px;}
div.col-575 {width:575px;}
.col-220 {width:220px;}
div.col-780 {width:780px;}
.col-130 {width:140px;}
div.col-335 {width:335px;}
div.col-320 {width:320px;}
div.col-425 { width:405px;}
div.col-120 { width:140px;}
.col-50 {width:45px; float:left; margin-left:10px}
.step-double {width:86px; float:left; margin-left:10px}
.col-50 .bottom3 strong, .step-double .bottom3 strong {color:#c00}
.center {width:495px;}
.lasts .box1 {margin-top:2px }
div.rights {float:left;margin-right:10px;}
div.rights {width:760px;}
.last, div.last, div.lasts {margin-right:0 !important;}
/* Clearing ------------------------------------------------------------ */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */
.clear {clear:both;}
.no_bg {background:none !important}
/* END Clearing ------------------------------------------------------------ */
ul.mainlevel, ul.item-main, ul.list_col, ul.list_col2, ul.list_col2 li ul,ul.list_col li ul, ul.list_col3, .Tabs ul, ul.form, ul.form1, ul.form2, ul.paging, ul.list_left, ul {list-style:none;margin:0;padding:0;}
.top_banner { margin-bottom:5px; height:65px}
/* BEGIN CSS Paging */
ul.paging li {float:left;padding:0 0 0 3px;}
ul.paging li a {display:block;padding:1px 5px 0 5px;color:#333;}
ul.paging li a:hover, ul.paging li a.paging-active {color:#f00;text-decoration:none;}
ul.paging li a.paging-active { font-weight:bold}
.nomal {font-weight:normal;}
.fillters {padding:5px 0;}
.tabedit .fillters ul.paging { margin-left:320px}
.hint {color:gray;font-size:11px;}
.nontop {padding-top:0 !important}
/* End paging */
/*all btn*/
a.btn-orange:hover {text-decoration:none;}
a.btn-orange, button.btn-orange span {background:url(../images/bg_title.png) no-repeat 0 -135px;padding-left:14px;display:inline-block; color:#000}
a.btn-orange span, button.btn-orange span b {background:url(../images/bg_title.png) no-repeat right -212px;line-height: 27px;padding:0 14px 0 0; display:inline-block; font-weight:bold}
a.btn-dark-orange {background:url(../images/bg_title.png) no-repeat 0 -176px;padding-left:14px;display:inline-block; color:#262626}
a.btn-dark-orange span {background:url(../images/bg_title.png) no-repeat right -253px;line-height: 27px;padding:0 14px 0 0; display:inline-block; font-weight:bold}
a.btn-orange1 {background:url(../images/bg_title.png) no-repeat 0 -289px;padding-left:14px;display:inline-block; color:#000}
a.btn-orange1 span {background:url(../images/bg_title.png) no-repeat right -318px;line-height: 27px;padding:0 14px 0 0; display:inline-block; font-weight:bold}
a.btn-brown {background:url(../images/bg_title.png) no-repeat 0 -355px;padding-left:14px;display:inline-block; color:#000}
a.btn-brown span {background:url(../images/bg_title.png) no-repeat right -391px;line-height: 27px;padding:0 14px 0 0; display:inline-block; font-weight:bold}
button {background:none;border:none;padding:0;cursor:pointer;font-family:Arial, Helvetica, sans-serif;white-space:nowrap;}
/* -------------------------------------------- Begin Header ----------------------------------------- */
/* Logo */
#header .main { position:relative}
#header h1.logo { margin:0}
#header h1.logo a {background:url(../images/logo.png) no-repeat top left;display:block;width:388px;height:140px;position:absolute; left:0; top:0}
#header h1.logo a span {display:none;}
.r-head { float:right; height:105px}
.login {margin:10px 0; float:right}
.l_login, .r_login { padding: 10px;}
.r_login, .r_login a {color:#d31919}
.r-head .txt_input, .r-head .password { background:#fde2e3; color:#640104; float:left; width: 150px; margin-right:5px; border:1px solid #250002}
.submit-btn{ width: 70px; cursor:pointer; background:#fbc50b; color: #a10404; font-weight:bold; height:20px; margin:5px;}
.r-head .btn_find{background:url(../images/dot.png) repeat-x 0 -35px; padding:0 8px 2px; border-left:1px solid #707070; border-right:1px solid #707070; font-size:12px; float:left; margin-top:1px; border:none}
/* -------------------------------------------- End Header ----------------------------------------- */
/* -------------------------------------------- Menu Navigation ----------------------------------------- */
#menu-navi .main {background:url(../images/title.png) no-repeat 0 0;height:30px;}
ul.item-main { margin-left:110px}
ul.item-main li {background:url(../images/dot.png) no-repeat right -1px;float:left;position:relative; margin-left:5px}
ul.item-main li a {padding:6px 4px;display:inline-block;color:#4d2c01; margin-right:7px}
ul.item-main li a strong {background:url(../images/icon.png) no-repeat 0 0;padding-left:15px;}
ul.item-main li a:hover, ul.item-main li a.active { text-decoration:none; color:#c00}


/*--------------------------END CSS Header-------------------------- */
#container .main { background:#fff; padding:0 5px 5px; width:986px}
.ad {margin-top:6px;}
/* box */
.box {padding-bottom:5px;-moz-box-shadow: 0 0 6px #ccc;-webkit-box-shadow: 0 0 6px #ccc; margin-top:6px }
.boxwhite {margin:6px 0 10px }
.box {background:url(../images/bottom.png) no-repeat 0 bottom;}
.top_white, .bottom_white {height:7px; width:575px; display:block}
.bottom_white {background:url(../images/bg1.png) no-repeat 0 -21px;}
.boxwhite_cont {background:url(../images/bg-center.png) repeat-y 0 0;padding:10px;}
.top_white {background:url(../images/bg1.png) no-repeat 0 -1px;}
.box_cont {border-left:1px solid #999797;border-right:1px solid #999797;}
.title {background:url(../images/bg_title.png) no-repeat 0 0;padding:0 8px;position:relative; height:29px}
.title h3 {margin:0;}
.title h3 span{line-height:30px;font-weight:bold;color:#067be3;font-size:12px; color:#fff; text-transform:uppercase}

.title-big-orange {background:url(../images/title-big-orange.png) no-repeat 0 0;padding-left:30px;position:relative; height:40px; top:-8px; display:inline-block}
.title-big-orange h3 {background:url(../images/title-big-orange.png) no-repeat right 0;padding-right:30px;line-height:40px;color:#067be3;font-size:16px; color:#fff; display:inline-block }
/*end*/
ul.list_col li a.active span, ul.list_col2 li a.active span {font-weight:bold}
ul.list_col2 li ul {border-bottom:1px solid #cccbcb;}
ul.list_col2 li ul li a, ul.list_col li ul li a { background:none}
ul.list_col li ul {background:#cce9f7}
ul.list_col2 li a span em { color:#777; font-size:11px; font-weight:normal}
.today {padding:5px; background:#fef3ce; color:#144993;}
ul.list_col2 li a:hover, ul.list_col2 li a.active, ul.list_col3 li a:hover {color:#d31919;}
ul.list_col2 li a{background:url(../images/icon.png) no-repeat 1px -85px;padding:4px 5px 4px 14px;display:block; color:#313030 }
ul.list_col li a {background:url(../images/icon.png) no-repeat 2px -20px;padding:4px 5px 4px 18px;display:block; color:#313030}
ul.list_col li a:hover, ul.list_col li a.active { color:#d31919;}
*html ul.list_col li, *html ul.list_col3 li, *html ul.list_col2 li {height:20px}
.cm .box_cont {background:url(../images/cau_may.png) no-repeat right bottom; padding-bottom:50px}
.ic_soicau {background:url(../images/icon.png) no-repeat 0 -143px; padding:4px 0 5px 25px}
.regulor {background:url(../images/regulor.png) no-repeat center top; width:200px; height:141px;}
ul.list_col3 li a {padding:5px 5px 6px 2px; display:block; color:#313030}
.ic_regulor1,.ic_regulor2, .ic_regulor3, .ic_regulor4 {background:url(../images/icon.png) no-repeat; padding-left:14px}
.ic_regulor1 {background-position:0 -182px;}
.ic_regulor2 {background-position:0 -207px;}
.ic_regulor3 {background-position:0 -230px;}
.ic_regulor4 {background-position:0 -254px;}
/*===============tab=================*/
.box_tab { background:url(../images/center-tab.png) repeat-y 0 0;}
.tab_inner { background:url(../images/top-tab.png) no-repeat center top;}
.tab_cont { background:url(../images/bottom-tab.png) no-repeat 0 bottom; padding:10px 3px}
.inner_tab_cont { background:url(../images/inner-tab.png) repeat-x 0 top #f5a422; padding:3px 5px 0}
.Tabs {position:relative; top:6px;}
.Tabs ul li {float:left; margin-left:3px}
.Tabs ul li a { background:url(../images/bg_title.png) no-repeat 0 -32px;padding-left:5px;color:#7b6702; font-size:14px;display:block; position:relative}
.Tabs ul li a span { background:url(../images/bg_title.png) no-repeat right -32px;padding:5px 13px 5px 11px;display:inline-block}
.Tabs ul li a.active, .Tabs ul li a:hover {background:url(../images/bg_title.png) no-repeat 0 -66px;color:#a10404;text-decoration:none; top:1px}
.Tabs ul li a.active span, .Tabs ul li a:hover span {background:url(../images/bg_title.png) no-repeat right -66px; top:1px}
/*===============end tab=================*/
.box_white { background:#fff; border:1px solid #cda308; -moz-border-radius:5px;-webkit-border-radius:5px; margin-bottom:5px; padding:5px}
.title_nomal { margin:5px 0 10px;font-size:16px; color:#3f3f3f}
.ic_mb {background:url(../images/icon.png) no-repeat 0 -281px; padding:4px 0 2px 27px; }
.cl_blue {color:#033c8b;}
/*table*/
.table1 table td {border-bottom:1px solid #fff;border-left:1px solid #fff;background:#e0e4e4;padding:4.4px 5px; font-size:14px; text-align:center}
.bg_pink td {background:#cb2592 !important; color:#fff}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-center {text-align:center !important;}
.table2 {padding:1px 1px 1px 0; border:1px solid #cb2592;}
.table2 table td { background:#dcbed4;border-bottom:1px solid #fff;border-left:1px solid #fff;padding:4.4px 5px; text-align:center}
.table3 {border-top:1px solid #727272;border-right:1px solid #727272;}
.table3 table td {border-bottom:1px solid #abadb3;border-left:1px solid #abadb3;padding:4.4px 5px; text-align:center; position:relative}
.table4 {border-top:1px solid #31c1dc;border-right:1px solid #31c1dc; background:#31c1dc; padding:3px}
.table4 table td { background:#fff;border-bottom:1px solid #31c1dc;border-left:1px solid #31c1dc;padding:2px; text-align:center; position:relative}
.table5 {border-top:1px solid #fbb000;border-right:1px solid #fbb000; background:#fbb000; padding:2px}
.table5 table td { background:#f7f0d0;border-bottom:1px solid #fbb000;border-left:1px solid #fbb000;padding:5px;}
.table6 table td {border-left:1px solid #d2d2d2;padding:2.75px 5px; text-align:center}
.table6 table {border:1px solid #e4932b; height:260px}
.table6 .bg_gray td {padding:5.6px 5px}
.table5 table td .clred { color:#dc1904;}
.table3 table td .logogame1, .table3 table td .logogame2 { margin: -10px 0 5px;}
.table7, .table8 {border-top:1px solid #c5c8cb;border-right:1px solid #c5c8cb;}
.table8 {display:inline-block}
.table8 table { width:53px; float:left}
.table8 table:hover { background:#fde5e6;}
.table7 table td, .table8 table td {border-bottom:1px solid #c5c8cb;border-left:1px solid #c5c8cb;padding:4.4px 5px; text-align:center; position:relative}
.bg_yellow td {background:#feeb9b !important}
.bg-orange td, .bg-orange {background:#eb9a24 !important; border:none !important; color:#fff;}
.title-name {width:auto !important}
.title-name .bg-orange {border-bottom:1px solid #bb6f00 !important;}
.bg_green td {background:#c1ecf4 !important; }
.table1 .bg_green td { font-size:12px }
.bg_gray td {background:#727272; color:#fff }
.table4 table .bg_yellow td { background:#feab1f !important; color:#fff;}
/*end*/
.ic_kq {background:url(../images/icon.png) no-repeat 0 -314px; padding:2px 0 2px 25px; font-size:14px; margin-bottom:5px; color:#c00}
.ic_kq a {color:#c00}
.box_sms {background:#cbcdcd; padding:3px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.box_sms .clyellow {color:#9e0b0f;}
.ic_arrow {background:url(../images/icon.png) no-repeat 0 -335px; padding:0 0 0 15px; font-size:14px; margin-bottom:2px; }
.clyellow {color:#ffd20d}
#footer .main {background:#fff}
.top_footer {color:#484848; margin-bottom:2px; padding:5px}
.top_footer a strong { font-weight:normal; color:#666}
.bottom_footer { background:url(../images/title.png) no-repeat 0 -40px; padding:38px 0 15px 50px;}
.bottom_footer, .bottom_footer a {color:#fff}
.find {margin-bottom:5px}
.input1 input {width:80px}
.select select {width:130px; height:22px}
.name {color:#555}
/*logogame*/
.logogame {background:url(../images/logogame.png) no-repeat 150px 0; width:430px; height:270px;}
.title-logo {background:url(../images/logogame.png) no-repeat 0 -350px; width:372px; height:32px;margin:0 0 10px 100px;}
.title-logo1 {background:url(../images/logogame.png) no-repeat 0 -385px; width:538px; height:32px;margin:0 0 10px 8px;}
.title-logo a span, .title-logo1 a span {display:none}
.huongdan, .luatchoi, .giaithuong {display:inline-block; height:32px; width:80px;}
.huongdan {margin-left:20px}
.luatchoi {margin-left:50px}
.giaithuong {margin-left:40px}
.dstrung {margin-left:30px;display:inline-block; height:32px; width:140px;}
.box_gray, .box_green {-moz-border-radius:8px;-webkit-border-radius:8px; padding:5px;}
.box_gray {background:#e0e4e4; margin-bottom:10px}
.box_green {background:#cff4fe;}
.logogame1 {background:url(../images/logogame.png) no-repeat 0 -292px; width:164px; height:50px;}
.logogame2 {background:url(../images/logogame.png) no-repeat -180px -292px; width:164px; height:50px;}
.logogame3 {background:url(../images/logogame.png) no-repeat -350px -288px; width:164px; height:50px;}
.padtop0 { padding-top:0 !important}
.title-lodogame {margin-bottom:15px}
.title-lodogame .logogame1, .title-lodogame .logogame2 { float:left}
.select-city {float:left; margin:15px 0 0 10px}
/*end*/
.require { padding:15px}
.require h3 {color:#cd3397; font-size:16px; margin-bottom:5px}
.require p { margin-bottom:1.5em}
ul.form li, ul.form1 li {margin-bottom:10px;}
ul.form li label {float: left;
    margin: 0 20px 0 110px;
    width: 120px;}
.s11 {font-size:11px !important;}
ul.form li .filltext { float:left;width:270px;}
ul.form li .filltext p, ul.form1 li .filltext p {margin-bottom:5px;}
ul.form2 li label {float: left; margin: 0 5% 0 0; width: 15%;}
ul.form2 li .filltext { float:left;width:80%;}

ul.form3 li label {float: left; margin: 0 3% 0 0; width: 27%; text-align:right}
ul.form3 li .filltext { float:left;width:70%;}
ul.form4 li label {float: left; margin: 0 3% 0 0; width: 35%; text-align:right}
ul.form4 li .filltext { float:left;width:62%;}
/*.statistic {padding:0 0 0 30px}*/
.statistic h3 {text-align:center;}
.number-statistic {margin:0 0 10px 0; width:auto !important}
.number-statistic .col-200 {margin-right:20px}
.number-statistic table td { font-size:12px}
.box-style { background:#e8e9b8;-moz-border-radius: 5px;-webkit-border-radius: 5px; padding:5px}
.w70 { width:70%}
.statistic .box-style {margin-left:15%}
.no_pad ul.form li label { width:170px; text-align:right; margin-left:80px; font-weight:normal}
.hint {color:#777; font-size:11px}
.choose p {margin:0 0 5px 140px}
.ic_soicau1 {background:url(../images/logogame.png) no-repeat -298px 0; padding:0 0 5px 24px}
.top10 {margin-top:10px}
.title-red {background:url(../images/long-title.png) no-repeat 0 0;padding-left:10px;height:33px;position:relative;}
.title-red h3 {background:url(../images/long-title.png) no-repeat right 0;padding-right:10px;margin:0;}
.title-red h3 span {line-height:33px;font-weight:bold;color:#fff;font-size:13px;}
.bottom-box1 {background:url(../images/long-title.png) no-repeat 0 -38px;padding-left:10px;height:9px;}
.bottom-box1 span {background:url(../images/long-title.png) no-repeat right -38px;padding-right:10px; display:block}
.box-cont1 {background:url(../images/long-title-center.png) repeat-y 0 0; padding-left:12px}
.box-cont1 div.cont-box {background:url(../images/long-title-center.png) repeat-y right 0; padding:12px 12px 12px 0}
ul.form1 li label {float: left; margin: 0 5% 0 0; width: 40%; font-weight:normal}
ul.form1 li .filltext { float:left;width:55%;}
.ic_forget {background: url(../images/icon.png) no-repeat 1px -91px;color: #c00; padding-left:15px}
ul.list-dot li {margin-bottom:5px;}
ul.list-dot li a { color:#444}
ul.list-dot { padding:0 0 0 17px;}
.loading {background:url(../images/ajax-loader.gif) no-repeat 0 0; width:16px; height:19.5px; display:inline-block}
.items {padding:10px 0 10px 250px}
.box1 {margin-bottom:15px}
.items .clred{ color:#b31a17}

.code1 {border:1px solid #ccc; width:60px;}
.code1, .img-code, .refress {float:left; margin-right:8px;color:#777; font-size:11px;}
.refress {background:url(../images/refessok.png) no-repeat 0 0; width:16px; height:18px; cursor:pointer; margin-top:2px}

/*end*/
.lucky-number {background:#df0423; color:#fff; font-size:24px; padding:5px; width:140px; margin:0 0 30px 200px}
.anser-ask {margin-left:40px}
.box2 {padding:10px;}
.scroll {width:960px; overflow:scroll; margin:0 0 15px 3px}
.title-blue td {background:url(../images/title-blue.png) repeat-x 0 0 !important}
.title-orange td {background:url(../images/title-orange.png) repeat-x 0 0 !important}
.tool {margin-bottom:10px; text-align:center}
.tool a {margin-right:5px}
.ic_yahoo {background:url(../images/icon.png) no-repeat 0 -354px; padding:2px 0 2px 20px}
.ic_print {background:url(../images/icon.png) no-repeat 0 -381px; padding:2px 0 2px 20px}
.ic_guice {background:url(../images/icon.png) no-repeat 0 -413px; padding:2px 0 2px 20px}
.ad ul.list_left {margin-left:2px}
ul.list_left li {float:left; margin-right:6px}
/*popup*/
.popup{position:fixed;background:#7a2122; display:none;-moz-border-radius:8px;-webkit-border-radius:8px;z-index:99; padding-bottom:3px; -moz-box-shadow: 0 0 0 10px rgba(15, 15, 15, 0.4); -webkit-box-shadow: 0 0 0 6px rgba(15, 15, 15, 0.4);}
.popup-cont { background:#fff; padding:10px; margin:0 6px 3px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.bottom-popup {padding:10px;background:#eff6fc;}
.popup h3{ margin-bottom:0; position:relative; padding:8px 8px 9px 8px;font-size:14px; color:#fff; font-weight:bold}
.close {background:url(../images/icon.png) no-repeat 0 -438px; display:block; width:27px; height:27px; position:absolute; right:0; top:0; }
.ic_done {background:url(../images/done.gif) no-repeat 0 2px; padding:0 0 2px 28px; font-size:16px; color:#007608 }
.under {text-decoration:underline !important}
.relative { position: relative; display:inline-block;}
.relative:hover .popup { display:block}
/* nang cap */
.img-left {float:left; margin-right:10px}
.img-right {float:right; margin-left:10px}
.box_cont_style {padding:5px;border-left: 1px solid #999797;
    border-right: 1px solid #999797;}
.guarentee .box_cont_style {background:#fff9cd;}
.img-user {margin-bottom:5px}
.box-date { position:relative;padding-top: 45px;}
.title-date {background:url(../images/title-date.png) no-repeat;color: #000000;
    font-weight: bold;
    height: 43px;
    left: 0;
    padding-top: 7px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 200px;
	z-index:2;
}
.title_logo {background:#8b0105; padding:8px 18px; -moz-border-radius:15px; -webkit-border-radius:15px; color:#fff}
.title_logo a { background:url(../images/ic_star.png) no-repeat 0 2px; padding-left:25px;float:left; margin-right:35px; color:#fff; display:block}
.use-get {background:url(../images/title-orange1.png) no-repeat 0 0; display:inline-block; color:#fff;padding-left: 20px;
    text-align: center;
}
.use-get a,.use-get strong {background:url(../images/title-orange1.png) no-repeat right 0; display:inline-block;
    padding:5px 20px 5px 0;
}
.title-top, .use-other {margin-bottom:15px}
.title-top {text-align:center}
.title-style, .title-style1 { padding:8px 0 6px 35px; color:#8b0105; font-size:16px}
.title-style {background:url(../images/icon_daigia.png) no-repeat 0 2px;}
.title-style1 {background:url(../images/icon1.png) no-repeat 0 -41px;}
.use-other p { margin-bottom:5px}
.use-other p a { color:#eb8b24;}
.readmore { text-align:right; font-size:11px}
.info_acount, .box-orange {background:#ffffe9; border:1px solid #f8f8a2; margin-bottom:15px; padding:5px}
.box-orange {padding:10px}
input.txt {background:#7a446c;}
.bg_dark_gray {background:#cfcfcf; -moz-border-radius:8px; padding:5px; margin-bottom:10px}
.box_green .bg_dark_gray {background:#69929d;}
.box_green .bg_dark_gray b, .box_orange .bg_dark_gray b { color:#fff !important}
.box_orange {background:#fdecc1; padding:5px; -moz-border-radius:8px; -webkit-border-radius:8px}
.box_green {margin-bottom:15px}
.box_orange .bg_dark_gray {background:#c9ba93; display:inline-block}
.box_orange.padtop0 {text-align:center; }
.box_orange.padtop0 .bg_dark_gray { padding:5px 20px}
.box_orange.padtop0 .table2, .box_orange.padtop0 .box1 { margin:0 60px 15px}
.box_orange.padtop0 .select-city, .box-quay-thuong .select-city { float:none; margin-bottom:15px}
.box-quay-thuong {margin:15px 0; text-align:center}
.box-quay-thuong .title_logo { display:inline-block}
.quaythuong { margin: 20px 0 15px 50px;}
.box-quay-thuong .title_logo {padding:8px 30px; margin-left:10px}
.img-user img {float:left; margin-right:10px;}
.img-user .box1 {float:left; text-align:center}
.view-user {background:url(../images/icon1.png) no-repeat 0 -2px; padding:6px 0 4px 25px; color:#000; text-decoration:underline}
.text-top {vertical-align:top !important}
.clorange {color:#cb2592;}
.clblue {color:#144993;}
.clgreen {color:#00aa4f;}
.box-du-doan {background:url(../images/bg-du-doan.png) no-repeat 0 0;}
.box-du-doan .box-date { padding:20px 0 80px 300px}
/*end */
#itemt {padding:10px 0}
ul.list-col4 li {float:left; width:24%; margin-right:1%; height:25px}
ul.list-col4 li a { background:url(../images/icon1.png) no-repeat 0 -84px; padding-left:28px; font-weight:bold; color:#f89f1b}
.bottom25 {margin-bottom:25px !important}
.ic-date{ background:url(../images/icon1.png) no-repeat 0 -107px; padding:3px 0 3px 18px; font-weight:bold; color:#f89f1b}
.cont-statistic { padding:30px 180px}
.use-get a span { background:url(../images/drop.png) no-repeat right 5px;color:#fff; display:block; padding:0 20px 0 0; font-weight:bold}
.bg-style {background:#fffcb9; margin-bottom:5px;}
.bg-red, .bg-red td {background:#8b0105; color:#fff}
.title-gray {background:url(../images/bg-gray.png) repeat-x 0 0; text-align:center; margin-bottom:15px}
.box-rate { max-height:200px;}
.rate { background:#e80108; width:10px; display:inline-block}
.view-style {margin-bottom:10px}
.viewshow {float:left; margin-right:10px}
ul.form3 li .view-style, ul.form3 li .viewshow, ul.form3 li .view-style select {color:#999;}
ul.form3 li .view-style.active, ul.form3 li .view-style.active select, ul.form3 li .viewshow.active {color:#222;}
.key {background:#; color:#c00; font-size:14px; position:relative}
.bg-gray, .bg-gray td {background:#d8d8d8;}
.table8 table td {height:24px; display:block}
.summery {display: table-cell !important;
    height: 100px !important;
    text-align: center !important;
    vertical-align: bottom !important;
    width: 42px !important;}
.table8 .bg-orange { display:table-cell !important}
.sub-sx {display:none; background:#333; padding:1px 3px; position:absolute; left:15px; z-index:999; top:15px; font-size:11px; color:#fff}
a.key:hover .sub-sx {display:block}
.scroll-style, .scroll-small-style { max-height:530px; width:100%; overflow:auto; text-align:center;}
.scroll-cont { width:22000px; background:#fff;}
.scroll-cont .table8 { float:left}
.scroll-style .table8, .scroll-style1 .table8 {margin-right:10px}
.scroll-cont .table8 table td { height:55px; vertical-align:middle; display:table-cell }
.scroll-small-style .scroll-cont .table8 table td { height:30px}
.scroll-small-style .scroll-cont .table8 table { width:30px}
.bg td { background:#fffee9;}
.bottom25.Tabs ul li a {top:0 !important}
.text-right {text-align: right !important}
.box-charmap {position:relative;margin-left: 45px;border-left:2px solid #575757;
    padding: 10px 25px 10px 0;}
.charmap {border-bottom:2px solid #575757;height: 300px;
    position: relative;margin-bottom: 10px; }
.goc-x {background:url(../images/goc-x.png) no-repeat 0 0; position:absolute; right:0; bottom:30px; width:32px; height:32px}
.goc-y {background:url(../images/goc-y.png) no-repeat 0 0; height: 67px;
    left: -35px;
    position: absolute;
    top: -57px;
    width: 42px;}
.item-charmap { float:left; height:500px;
    margin: 0 10px;
    max-height: 100px;
    width: 15px;}
.line-white {bottom: 0;
    height: 55px;
    left: -2px;
    position: absolute;
    width: 2px; background:#fff}
.rate-charmap {background:#ea9518; width:15px}
.statistic-number {font-weight:bold; color:#c00}
.bottom-charmap .statistic-number {color:#222}
.bottom-charmap .item-charmap { height:auto}
.box-rate-charmap {bottom: 0;
    position: absolute;
    top: auto;
    width: 15px;}
.date {position:relative; margin-bottom:10px}
.btn-back, .btn-next {height:33px; width:22px; float:left; cursor:pointer; position:absolute; top:0}
.btn-back {background:url(../images/bg-date.png) no-repeat 0 0; left:0}
.btn-next {background:url(../images/bg-date.png) no-repeat 0 -35px; right:0}
.bg-title-date {background:url(../images/bg-date.png) repeat-x 0 -71px; height:33px;line-height:33px; color:#fff; font-size:16px;text-align:center; width:100%}
.sum-bottom {width:auto !important; float:none !important}
.sum-bottom td { width:42px;display: table-cell !important; height: 100px !important; vertical-align:bottom !important}
.sumadd {width:83px !important}
table .w1 {width:42px !important}
.table-date table td {text-align:center; border-bottom:1px solid #d7d7d7; border-left:1px solid #d7d7d7;}
.table-date table {border-right:1px solid #d7d7d7;}
.bg-title-style td {color:#777; font-size:11px}
.table-date table a {color:#333; display:block; padding:2px}
.table-date table a.active {color:#fff; background:#c72f0d}
table tr.tk-number td {height:auto !important; width:19px !important }
table tr.tk-sum td {width:auto !important; }
table tr.tk-number td.sumadd, table tr.tk-sum .sumadd {width:68px !important }
/*-------------------------- CSS lien-------------------------- */
.box_cont ul.list_col li ul{background:none;}
.content{
color:#3c00e1;
text-align:center;
font-weight:bold;
padding:17px 23px 8px;	
}
.lodoGame{background: url(../images/lode.jpg) no-repeat scroll center top transparent;height:141px;width:165px;}
.caumay{background: url(../images/cau_may.png) no-repeat scroll center center transparent;height:141px;width:165px;}
.kqsx{background: url(../images/kqsx.jpg) no-repeat scroll center top transparent;height:141px;width:165px;}
.thantai{background: url(../images/du_doan_KQSX.png) no-repeat scroll center center transparent;height:141px;width:165px;}
.quaythuongvs{background: url(../images/quaythuong.jpg) no-repeat scroll center center transparent;height:141px;width:165px;}
.box_qc {
	border:1px solid #999797;
    -moz-box-shadow: 0 0 10px #CCCCCC;
    margin-top: 6px;
	padding:0 12px 5px 8px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.detail{text-align:right;padding-right:8px;}
.qc{background:url(../images/qc.jpg) no-repeat scroll 0 0;width:204px;height:275px;}
.box_qcBanner{margin-top: 6px;
    padding-bottom: 5px;}
.bg_tinh{background:#04548f}
/*-------------------------- CSS lien-------------------------- */

/*------------------------css thêm -----------------------------------------*/
.table-date table a:hover {background:#fbfa8f; text-decoration:none}
.table-date table a.active {
    background:#C72F0D;
    color: #fff;
}
.ic_arrow1 {background:url("../images/icon.png") no-repeat scroll 0 -335px; padding:0 0 0 15px; font-size:13px; margin-bottom:2px; }

.scroll-style, .scroll-small-style {overflow:auto;
		clear:left;
		position:relative;
		width:auto;
		height:532px;
}
.scroll-cont {width:11000px}
.scroll-style .table8 { float:left}
ul.list-col4 li {position:relative}
.sms  {margin-bottom:5px}
.sms h3 {background:url(../images/icon.png) no-repeat 0 -337px; padding:0 0 0 15px; font-size:13px; margin-bottom:5px; color:#222 }
.sms p {padding:0 0 0 15px; margin-bottom:0}
div.col-188{float: left;
    margin-left: 1px;
    margin-right: 2px;
    width: 188px;
}
.box_sms {
    background:#EAEAEA;
}
.img-user {float:left; width:40px}
.guarentee p {float:left; width:145px; margin-bottom:0}
.r-head {
    height: 115px;
}
/*end ------------------------css thêm----------------------------------------- */
/*chat */
ul.list-chat {list-style:none; margin:0; padding:0}
ul.list-chat li { margin-bottom:10px}
.user-curent, .conten-chat {float:left;}
.user-curent { text-align:right; width:110px}
.user-curent.active { color:#777}
.conten-chat { width:426px; margin-left:10px}
.l-chat { width:368px; margin-right:10px; float:left}
.r-chat { color:#777}
ul.list-chat li .fr {width:60px; text-align:center}
.title-chat {background:#B1DCF2;color: #003D88; margin-bottom:10px}
.title-chat .fr { margin-right:5px;}
.bg-l-chat, .bg-c-chat, .bg-r-chat {float:left;height:116px;}
.bg-l-chat {background:url(../images/bg-l-chat.png) no-repeat 0 0; width:5px; }
.bg-c-chat {background:url(../images/bg-c-chat.png) repeat-x 0 0; width:537px; position:relative}
.bg-r-chat {background:url(../images/bg-r-chat.png) no-repeat 0 0; width:5px;}
.box-emotion {position:absolute; left:0; top:4px}
.icon-emotion {background:url(../images/icon-emotion.png) no-repeat 0 0; width:22px; height:11px; display:inline-block}
.enter-chat { position:absolute; bottom:7px; right:3px}
.enter {background:url(../images/enter.png) no-repeat 0 0; width:82px; height:26px; display:inline-block;}
.boxtxt .text-chat {border:none; width:527px; margin-top:24px; height:84px}
.support-chat { position:absolute; top:2px; right:3px}
.list-emotion { border: 1px solid #DBDBDB;
    height: 100px; display:none;
    left: -5px;
    padding: 10px 10px 10px 5px;
    position: absolute;
    top: -125px;
    width: 330px; overflow:auto;
    z-index: 999; -moz-border-radius:4px; background:#fff}
.list-emotion img { float:left; margin:0 0 5px 5px}
.box-emotion.active .list-emotion{display:block}
/*-------------------------- CSS lien mới-------------------------- */
.bg_1 .box_cont{background:url(../images/bg_member.png) no-repeat 0 0 scroll;}
ul.list_col4, ul.list_col4 li ul{list-style:none;margin:0;padding:0;}
ul.list_col4 li a:hover{ color:#d31919;}
.ic1{background:url(../images/start.png) no-repeat 3px -1px;padding:4px 0px 6px 29px;display:block; color:#313030}
.ic2{background:url(../images/start.png) no-repeat 3px -36px;padding:4px 0px 6px 29px;display:block; color:#313030}
.ic3{background:url(../images/start.png) no-repeat 3px -69px;padding:4px 0px 6px 29px;display:block; color:#313030}
.bg_2 .box_cont{background:url(../images/bg_soicau.png) no-repeat 0 0 scroll;}
.bg_3 .box_cont{background:url(../images/bg_tk.png) no-repeat 0 4px scroll;}
.box_sms {margin-top: 6px;}


a.btn-while:hover {text-decoration:none;}
a.btn-while, button.btn-while span {background:url(../images/bg_title1.png) no-repeat 0 -6px;padding-left:14px;display:inline-block; color:#000}
a.btn-while, button.btn-while span:hover {background:url(../images/bg_title.png) no-repeat 0 -6px;padding-left:14px;display:inline-block; color:#000}
a.btn-while span, button.btn-while span b {background:url(../images/bg_title1.png) no-repeat right -59px;line-height: 27px;padding:0 14px 0 0; display:inline-block; font-weight:bold}
.ic_next{background:url(../images/ic_next.png) no-repeat 1px 3px scroll;
padding:1px 12px 2px 21px;}


.Tabs1 {position:relative; top:2px;}
.Tabs1 ul li {float:left; margin-left:3px}
.Tabs1 ul li a { background:url(../images/bg_title1.png) no-repeat 0 -4px;padding-left:5px;color:#000; font-size:14px;display:block; position:relative}
.Tabs1 ul li a span { background:url(../images/bg_title1.png) no-repeat right -57px;padding:5px 13px 5px 11px;display:inline-block}
.Tabs1 ul li a.active, .Tabs1 ul li a:hover {background:url(../images/bg_title1.png) no-repeat 0 -125px;color:#000;text-decoration:none; top:1px}
.Tabs1 ul li a.active span, .Tabs1 ul li a:hover span {background:url(../images/bg_title1.png) no-repeat right -184px; top:1px}
.Tabs1 ul{list-style:none;margin:0;padding:0;}
.table10{border-top:1px solid #c5c8cb;border-right:2px solid #ea9518;;border-left:2px solid #ea9518;border-bottom:2px solid #ea9518}
.table10 table td{border-bottom:1px solid #c5c8cb;border-left:1px solid #c5c8cb;padding:4.4px 5px; text-align:center; position:relative}


/*tab menu khuyến mại*/
.Tabs_menu ul li {
	background: url("../images/dot.png") no-repeat scroll right -62px transparent;
    float: left;
    font-weight: bold;
    line-height: 28px;
    margin-right: 0px;
}
.Tabs_menu ul li.last{background:none;}
.Tabs_menu{background: url("../images/tab_menu.png") no-repeat scroll 0 -19px transparent;
    -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 0 1px 6px #CCCCCC;
  height: 30px;
    width: 580px;

}
.Tabs_menu ul li a.active, .Tabs_menu ul li a:hover {
    background: url("../images/tab_menu.png") no-repeat scroll 0 -146px transparent;
    color: #FFFFFF;
    text-decoration: none;
}
.Tabs_menu ul li a {
    background:none;
    color: #000000;
    display: block;
    padding-left:24px;
	height:29px;
}
.Tabs_menu ul li a.active span{
    background: url("../images/tab_menu.png") no-repeat scroll right -146px transparent;
	height:26px;
}
.Tabs_menu ul li a span {
    display: block;
    padding: 0 30px 0 0;
    text-transform: uppercase;
	font-size:11px;
}
.title-gray1{background:url(../images/bg_giaithuong.png) repeat-x 0 0 scroll;
     height:60px;
}
.title-gray1 h3 strong{ color: #D6171C;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;}
.title-gray1 h3{text-align:center;}

.date1 .btn-txt {
    background: url("../images/btn.png") no-repeat scroll 0 0px transparent;
    border: medium none;
    color: #ED0F69;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 142px;
}
ul.date1 li label {
    float: left;
    margin:3px 3% 0 0;
    text-align: right;
    width:9%;
}
.xemthem{margin-bottom:50px;}
.xemthem a{text-decoration:underline;}
.date1{margin-left: 80px;
    padding: 30px 110px 0;
    width: 700px;}

.box-statistic{margin: 1px 25px;}
a.btn-orange-a, button.btn-orange-a span {
    background: url("../images/bg_title.png") no-repeat scroll 0 -486px transparent;
    color: #000000;
    display: inline-block;
    padding-left: 14px;
}
a.btn-orange-a span, button.btn-orange-a span b {
   background: url("../images/bg_title.png") no-repeat scroll right -486px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 26px;
    padding: 0 14px 0 0;
}
.box-both{
	border:1px solid #ccc;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.left_contact{
	border-right:1px solid #ccc;
	width:230px;
	margin:5px 8px;
	height:500px;
}
.rights_contact{
	width:780px;
	float:right;	
}
.title_contact{
	background:url(../images/bg_title.png) no-repeat right -552px scroll;
	height: 17px;
    padding:8px 11px;
    position: relative;
}
.title_contact h3{
	font-size:13px;
	color:#fff;
	font-weight:bold;
}

.categories li a {
    background:none;
    color: #000;
    display: block;
    padding: 3px 10px 3px 4px;
}
.categories li .sub li a.active{
    font-weight: bold;
}
.categories li .sub {
    margin-left: 10px;
}

.categories li .sub li a {
    background: url("../images/dot_sub.png") no-repeat scroll 0 9px transparent;
    color: #000;
    padding: 3px 10px 3px 12px;
}
.active1 span{color:#cc0000;text-decoration:underline;}

.box-both table td, th {vertical-align: top;}

#flash .main {position:relative;}
#flash .main .left-flash {position:absolute;left: -140px;top: 80px;}
#flash .main object, #flash .main img {position:fixed;display:block}
.flash1 embed, .flash2 embed, .flash3 embed, #flash img {display:block;}
.flash1 object, .flash1 img {top:40px}
.flash2 object, .flash2 img {top:280px}
.flash3 object, .flash3 img {top:373px}
#flash .main .right-flash {position:absolute;right: -20px;top: 80px;}
#divSlideResultRight, #divSlideResultRight2, #divSlideResultRight3 {height:173px !important;left:1183px !important}
*html #divSlideResultRight object {position:absolute;left:1203px;top:80px}
*html #divSlideResultRight2 object {position:absolute;left:1203px;top:200px}
*html #divSlideResultRight3 object {position:absolute;left:1203px;top:80px}


/*tooltip*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	cursor:pointer;
}
#tooltip h3, #tooltip div { margin: 0; }
#iDContents tr:hover{
	background-color:#FECBC8;
}
#dhtmltooltip {
	position: absolute;
	width: 30px;
	border: 1px solid #CCCCCC;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#ff0000;
	font-size:12px;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135);
}

#TkRows{
}
#TkRows tr:hover{
	background-color:#F39C25;
}
#TkRows tr.non_hover:hover{
	background:none;
}
#TkRows {
	border-collapse:collapse;
    border:1px solid black;
}


.Report_title_left {
	margin-top:1px; 
	margin-left:1px;
	text-align:center; 
	width:39px; 
	line-height:18px; 
	height:46px; 
	font-weight:bold; 
	font-size:12px; 
	border:1px solid #666666;
	color:#ffffff
}
.DayArrays {
	border:1px solid #666666;
	margin-top:1px; 
	margin-left:1px;
	text-align:center; 
	width:39px; 
	line-height:18px; 
	height:18px; 
	font-weight:bold;
	font-size:14px;
	font-family:Tahoma, Verdana, Arial, Helvetica;
}
.Report_Having {
	border:1px solid #666666;
	margin-top:1px; 
	margin-left:1px;  
	text-align:center; 
	width:18px; 
	line-height:18px; 
	height:18px; 
	font-weight:bold; 
	color:#ff0000; 
	font-size:11px;
	cursor:pointer;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.Report_None {
	border:1px solid #666666;
	margin-top:1px; 
	margin-left:1px;
	text-align:center; 
	width:18px; 
	line-height:18px; 
	height:18px; 
	font-weight:bold; 
	color:#666666; 
	background:#CCCCCC; 
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	cursor:pointer;
	
}
#tooltip h3, #tooltip div { margin: 0; }
#iDContents tr:hover{
	background-color:#FECBC8;
}
#dhtmltooltip {
	position: absolute;
	width: 30px;
	border: 1px solid #CCCCCC;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#ff0000;
	font-size:12px;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135);
}

/*------------Pagination-----------*/
.linepagination{
    margin-top:0px;
}

.pagination{
padding: 2px;
}

.pagination ul{
text-align: center; /*Set to "right" to right align pagination interface*/
font-size: 11px;
}

.pagination li{
list-style-type: none;
display: inline;
padding: 1px;
}

.pagination a, .pagination a:visited{
padding: 3px 8px;
border: 1px solid #f58c1f;
text-decoration: none;
color: #FF0000;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #f58c1f;
color: #FFF;
background-color: #f58c1f;
}

.pagination a.currentpage{
background-color: #f58c1f;
color: #FFF !important;
border-color: #f58c1f;
font-weight: bold;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}
.loto-menu {
		background:#f39325;
        text-align: center;
        margin: 0 auto;
        margin-top: 0;
        overflow: hidden;
        width: 980px;
        _margin-bottom: 3px;
        display: block;
}
.loto-menu span {
        display: block;
        float: left
}
.loto-link:hover,.loto-link:active {
        color: #fc0;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none
}
.loto-link {
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 5px;
        float: left
}
.loto-li {
       
        width: 10px;
        height: 22px
}
.loto-time {
        color: #900;
        text-decoration: none;
        font-weight: bold
}

.result table td {
	padding: 5px;
	font-size: 13.5px;
}
.input_register{
	width:220px;
}

.textForm {
	border: 1px solid #999999;
	width:220px;
	float:left;
}
.textForm_Hover {
	border: 1px solid #5A9B20;
	width:220px;
	float:left;
}
.textForm_Error {
	border: 1px solid #CC0000;
	background-color:#F9E1DF;
	width:220px;
	float:left;
}
.textForm_Accept {
	border: 1px solid #5B95EC;
	background-color:#BFD9F2;
	width:220px;
	float:left;
}

/* soi cau */
.csBorderDetec {
	border:1px solid #333333;
	margin:2px;
	cursor:pointer;
}
.csOnceBgDetecter, .csOnceBgDetecter a, .csOnceBgDetecter a:hover {
	background:#E5E5E5;
	font-size:14px;
	color:#8D1508;
	font-weight:bold;
	text-decoration:none;
}
.csTowBgDetecter, .csTowBgDetecter a:link, .csTowBgDetecter a:hover {
	background:#D1D1D1;
	font-size:14px;
	color:#8D1508;
	font-weight:bold;
	text-decoration:none;
}
.KQTableCss {
	font-family:Times, Arial, Helvetica, sans-serif; 
	font-size:22px; 
	color:#413F3F;
	background:#FAF9F9;
	border: none;
	margin:5px;
}
.KqtitleCss {
	font-size:14px;
	font-family:Tahoma;
	color:#666666;
	text-align:right;
	border-bottom:1px #666666 dotted; 
	border-right:1px #666666 dotted;	
}
.KqValueCss {
	font-size:18px;
	font-weight:bold;
	color:#413F3F;
	text-align:center;
	border-bottom:1px #666666 dotted;
}
.csDetecterPost {
	font-size:24px;
	color:#9A170A;
}
.Report_loto_Title {
	border-bottom:1px #666666 dotted; 
	font-size:14px; 
	font-weight:bold; 
	height:26px;
	text-align:left;
}
.Report_loto_number {
	border-bottom:1px #666666 dotted; 
	font-size:14px; 
	font-weight:bold;
	vertical-align:bottom;
	text-align:left;
	padding:3px 0px;
}
.red_16_color {
	color:#FF0000; 
	font-size:14px;
}
/* box thanh vien */
.quicklystatis{
	width:100%;
	float:left;
}
.quicklystatis h1{
	font-size:12px;
	height:32px;
	line-height:34px;
	color:#FFFFFF;
	text-indent:40px;
}
.quicklystatis .contain{
	width:96%;
	float:left;
	padding:10px;
}
.quicklystatis b{color:#ad0000}
.quicklystatis .curve{
	border:#92cae4 1px solid;
	background-color:#d5edf8;
	width:97%;
	margin:10px 0px;
	padding:8px;
	margin-top:3px;
}
/* ---------------------------
POP-UP ---> IE FIXED POSITION FIX
----------------------------*/

#fixed{
  z-index:100;
  margin:0;padding:0;
}

* html #fixed { /*\*/position: absolute; 
	                   top: expression((50 + (ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px');/**/ }

body > #fixed { position: fixed; top: 50px;} 

#shade{
	display:none;
	width:480px;
	padding:10px;
	background-image:url(../skins/trans_png.png);
}

#betting_popup{
	width:480px;
  z-index:101;
  background-color:white;
}
#betting_popup_header{
	width:100%;
	border-bottom:1px solid gray;
	float:left;
}
#betting_popup_header img{
  float:right;
  margin:2px;
  cursor:pointer;
}
/* ---------------------------
HET-POP-UP
----------------------------*/