div.nav {
    position: relative;
    background:url(../images/menu.png) repeat-x scroll 0 0 transparent;
    height: 27px;
    line-height: 27px;
    z-index: 990;
}

ul.nav li {
    float: left;
    position: relative;
}

ul.nav li a {
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 0;
    font-weight: 700;
}

ul.nav li a:hover, ul.nav li.current a {
    background: url(../images/space2.jpg) repeat-x;
}

ul.nav li.hover a, ul.nav li.hover a:hover {
    background: url(../images/space2.jpg) repeat-x;
}

ul.nav li.hover a span, ul.nav a:hover span, ul.nav li.current a:hover span {
    background: url(../images/space2.jpg) repeat-x;
}

ul.nav li.current a span {
    background: url(../images/space2.jpg) repeat-x;
	
    color: #fff;
}

ul.nav span {
    padding: 0 0 0 10px;
    font-weight: 700;
    font-size: 12px;
    display: block;
    float: left;
    color: #fff;
    cursor: pointer;
}

ul.nav strong {
    color: #0F0;
    padding: 0 4px 0 0;
}



ul.nav li.home a, ul.nav li.home a:hover {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 27px;
    background:url(../images/menu.png) repeat-x scroll 0 0 transparent;
    padding-right: 18px;
}

ul.nav li.home a:hover span {
    color: #fff;
}

ul.nav li.home span, ul.nav li.home a:hover span {
    background:url(../images/menu.png) repeat-x scroll 0 0 transparent;
    padding-left: 27px;
}

ul.nav li ul.subnav {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background:url(../images/menu.png) repeat-x;
    border: 1px solid url(../images/menu.png) repeat-x scroll 0 0 transparent;
    border-top: 0;
}

ul.nav ul.subnav li {
    border: 1px solid url(../images/menu.png) repeat-x scroll 0 0 transparent;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    margin: 0;
}

ul.nav ul.subnav li a {
    background: url(../images/space2.jpg) repeat-x;
    font-weight: normal;
    border: 1px solid url(../images/menu.png) repeat-x scroll 0 0 transparent;
    border-top: 0;
    border-bottom: 1px solid url(../images/menu.png) repeat-x scroll 0 0 transparent;
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 201px;
    text-indent: 10px;
    display: inline-block;
}

ul.nav ul.subnav li a:hover {
    background: url(../images/menu.png) repeat-x scroll 0 0 transparent;
}

/*
 LEVEL THREE
 */
ul.nav ul ul {
    left: 100%;
    top: 0;
}

ul.nav li:hover > ul {
    visibility: visible;
}

div.nav div.rss a {
    background: url(../images/rss_button.jpg) no-repeat top right;
    height: 27px;
    width: 66px;
    display: block;
}