body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

	background:url(../images/repeat-x.jpg) top center fixed repeat-x;	line-height: 1.4;
}


#wrapper {
    width: 1130px;
    border: 10px solid #d8d8d8;
    margin: 20px auto 0;
    background: #fff;
    }



a:link, a:active, a:visited {
    color: #097eaf;
    text-decoration: none;
}

a:hover {
    color: #4491b2;
}

#container {
    width: 1160px;
    margin: 0 auto;
    background-color: #fff;
}

#header {
    background: #A2D8FA url(../images/header.jpg) no-repeat;
    height: 182px;
    position: relative;
}

#header #logo {
    width: 203px;
    float: left;
}

#header #logo img {
    height: 91px;
    vertical-align: middle;
}

#header .sitename {
    color: #0842ae;
    font-size: 22px;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 30px;
    float: left;
}

#header .language {
    position: absolute;
    top: 10px;
    right: 10px;
}


#message {
	height: 30px;
    line-height: 25px;
    background: #d7d7d7 url(../images/nc-tinnoibat.png) repeat-x;
    padding: 0 0 0 10px;
}

#message form.search input {
}

#message form.search input.txt {
    margin: 0 0 0 40px;
    width: 184px;
}

#message form.search input.submit {
    margin: 0 0 0 4px;
    text-transform: uppercase;
    padding: 0;
    width: 40px;
}

.submitt{
	background: url(../img/search_bottom.jpg) no-repeat;	
	border: 0px;
	width:34px;
	height:22px;
	float: right;}

div.contentwrapper {
    padding: 10px 0;
}

div.contentcolumn p {
    padding: 4px 0;
}

div.box form.login {
    padding: 0 10px 10px 10px;
}

div.box form.login input.txt {
    border: 1px solid #b2b0b1;
    padding: 3px;
    width: 160px;
}

div.box form.login label {
    display: block;
    font-weight: 700;
    padding: 5px 0 4px 0;
}

div.box form.login img {
    vertical-align: middle;
}

div.box div.signed img {
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 4px;
    width: 80px;
}

div.box div.signed a {
    display: block;
    color: #333;
}

div.online p {
    margin: 0 0 4px 0;
}

div.online img {
    vertical-align: middle;
    margin-right: 2px;
}

div.online span.item {
    padding: 0 0 0 20px;
}

div.online span.item strong {
    padding-right: 4px;
}

div.box p.about {
    text-indent: 20px;
    text-align: justify;
    padding: 10px 4px;
}

div.box div.ads {
    padding: 10px 4px;
}

form.newsletter {
    padding: 4px;
}

form.newsletter input.txt {
    font-size: 11px;
    color: #999;
    padding: 4px;
    width: 150px;
    margin-right: 4px;
}

#footer {  text-align: center; 
    border-top: 8px solid #0f45a8;  color: #000;
    background: url(../images/footer_bg.jpg) repeat-x;
    padding: 5px 0;
	}
#footer p.footer, p.show_query {
    padding: 0 10px;
    margin: 0;
    font-size: 11px;
    color: #9c9c9c;
}

#footer ul.bottom_nav, #footer ul.bottom-toolbar {
    font-size: 11px;
    text-align: right;
}

#footer ul.bottom_nav li, #footer ul.bottom-toolbar li {
    display: inline;
}

#footer ul.bottom_nav li span {
    padding: 0 0 0 4px;
}

#footer ul.bottom-toolbar {
    margin-top: 0px;
}

#footer ul.bottom-toolbar img {
    vertical-align: middle;
    padding: 0 4px;
}

/*Voting*/
div.box form.voting {
    padding: 10px;
}

/*Breakcolumn*/
h3.breakcolumn {
    line-height: 27px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

h3.breakcolumn span.breakcolumn {
    font-size: 14px;
    font-weight: 700;
    padding: 0 4px;
}

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25 {
    float: left;
    margin-right: 10px;
}

.last {
    margin-right: 0 !important;
}

.span-4 {
    width: 150px;
}

.span-5 {
    width: 230px;
}

.span-6 {
    width: 240px;
}

.span-7 {
    width: 290px;
}

.span-8 {
    width: 460px;
}

.span-9 {
    width: 350px;
}

.span-10 {
    width: 390px;
}

.span-11 {
    width: 430px;
}

.span-12 {
    width: 470px;
}

.span-13 {
    width: 670px;
}

.span-16 {
    width: 630px;
}

.span-19 {
    width: 750px;
}

.span-25 {
    width: 370px;
}

hr {
    background: #ccc;
    color: #ccc;
    clear: both;
    float: none;
    width: 100%;
    height: .08em;
    margin: 0;
    border: none;
}

/*Captcha*/
img.refresh {
    cursor: pointer;
    padding-left: 10px;
}

/*Boxed*/
div.box {
    margin-bottom: 15px;
    width: 100%;
}

div.content {
    padding: 8px;
}

div.silver {
    border: 1px solid #ECEDE8;
}

div.box h3.header {
    height: 35px;
    line-height: 28px;
    color: #fff;
    text-indent: 10px;
    background:  url(../images/menu.png) repeat-x;
}
.header-hong_bg{
  padding: 4px 0 0;
   margin-left:5px;
 display: block;
 border-left:1px solid #d8d8d8;
  border-right:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
      background: #ffffff url(../images/hong.jpg) top left repeat-x ;
}
.header-hong_bg1{
  padding: 4px 0 0;
  
 display: block;
      background: #ffffff url(../images/hong.jpg) top left repeat-x ;
}
div.box h3.header a {
    color: #ECEDE8;
}

div.box h3.header strong {
    padding-right: 4px;
    color: #ECEDE8;
}

.box_silver {
	background: #f2f2f2;
	border:1px solid #EBEBEB;
}
.box_silver .header{
	background:url(../images/cat-header-bg.png) repeat-x center;
    height: 28px;
    line-height: 28px;
    color:#000000;
    text-indent: 10px;
}
.box_silver strong {
    padding-right: 4px;
    color: #00ff00;
}
.box_orange {
	background:#FFCC33;
	border:1px solid #EBEBEB;
}
.box_orange .header{
	background:#FFCC33;
    height: 28px;
    line-height: 28px;
    color:#000000;
    text-indent: 10px;
}
.box_orange strong {
    padding-right: 4px;
    color: #00ff00;
}
/*Button*/
form div.submit {
    background: url(../images/button01_r.png) top right no-repeat;
    padding: 0 2px 0 0;
    float: left;
}

form div.submit input {
    border: 0;
    color: #333;
    height: 22px;
    line-height: 22px;
    display: block;
    background: url(../images/button01_l.png) top left no-repeat;
    cursor: pointer;
}

a.forgot {
    display: block;
    line-height: 22px;
    height: 22px;
    white-space: nowrap;
    color: #0674f1;
    font-size: 11px;
    padding-left: 4px;
}

a:hover.forgot {
    color: #333;
}

/*background*/
.bggreen {
    background: #e9ffd4;
}

#ver_menu {
    padding-bottom: 6px;
    text-indent: 24px;
}

#ver_menu a {
    background: #e4e4e4 url('../images/vertical_menu_bg.jpg') no-repeat left top;
    color: #333;
    display: block;
    font: bold 11px / 24px tahoma, arial, sans-serif;
    height: 25px;
    text-decoration: none;
}

#ver_menu a.current {
    background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left -25px;
    color: #333;
}

#ver_menu a.sub_normal {
    background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left -75px;
    color: #333;
    padding-right: 5px;
    text-align: right
}

#ver_menu a.sub_current {
    background: #f5fbfe url('../images/vertical_menu_bg.jpg') no-repeat left -75px;
    color: #cb0000;
    padding-right: 5px;
    text-align: right
}

#ver_menu a.current:hover {
    background: #ffd9d9 url('../images/vertical_menu_bg.jpg') no-repeat left -25px;
    color: #0943ae;
}

#ver_menu a:hover {
    background: #d9e5ff url('../images/vertical_menu_bg.jpg') no-repeat left -50px;
    color: #cb0000;
}

ul.list_item {
    padding: 0 2px 10px;
}

ul.list_item li {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    clear: both;
}

ul.list_item li.second {
    background: #fff;
}