[LOOP temp]
	<div class="item">
    	<div class="title">
        	{title}
        </div>
        {content}
    </div>
[/LOOP temp]

[LOOP table]
	<table align="center" border="1px" width="100%" cellpadding="4" cellspacing="0">
    	{table}
    </table>
[/LOOP table]

[LOOP select]
	<select name="{name}" style="width:80%">
    	{value}
    </select>
[/LOOP select]

[LOOP option]
	<option {select} value="{value}">{title}</option>
[/LOOP option]

[LOOP form]
	<form name="upload" action="{action}" method="post" ENCTYPE="multipart/form-data">
    	{form}
    </form>
[/LOOP form]

[LOOP two]
	<tr>
    	<td width="{one}">
        	{left}
        </td>
        <td width="{two}">
        	{right}
        </td>
    </tr>
[/LOOP two]

[LOOP three]
	<tr>
    	<td width="{one}">
        	{onecontent}
        </td>
        <td width="{two}">
        	{twocontent}
        </td>
        <td width="{three}">
        	{threecontent}
        </td>
    </tr>
[/LOOP three]

[LOOP one]
	<tr>
    	<td colspan="{col}" align="center" style="text-align:center">{value}</td>
    </tr>
[/LOOP one]

[loop a]
	<a href="{url}" title="{title}">{title}</a>
[/LOOP a]

[LOOP x]
	<td>
    	<a href="{url}" style="color:#0FF; display:block; font-weight:bold; text-align:center; font-size:17px; text-decoration:none;" title="{title}">{value}</a>
    </td>
[/LOOP x]

[LOOP v]
	<td>
    	<a href="{url}" style="color:#FF0; display:block; font-weight:bold; text-align:center; font-size:17px; text-decoration:none;" title="{title}">{value}</a>
    </td>
[/LOOP v]

[LOOP text]
	<input type="text" value="{value}" name="{name}" style="width:80%">
[/LOOP text]

[LOOP password]
	<input type="password" value="{value}" name="{name}" style="width:80%">
[/LOOP password]

[LOOP file]
	<input type="file" name="{name}" />
[/LOOP file]

[LOOP area]
	<textarea name="{name}" cols="56" rows="5" id="{name}">{value}</textarea>
[/LOOP area]

[LOOP submit]
	<input type="submit" value="{value}">
[/LOOP submit]

[LOOP img]
	<img src="{url}" />
[/LOOP img]