body { background:#d0d1bf}
#upper, #breadcrumbs { background: #98482f}
#breadcrumbs {color:#d3a78a;}

a, a:visited {color:#ee7551;}
a:hover, a:active {color:#c56042}
h1, a#logo {	color:#FFF;	}
h2#description {color:#ffd284;}
a#logo:hover, a#logo:active {	color:#FFF}	
#masthead { background: #240b06 url(images/bg_masthead.jpg); }

	
hr { background:#bab3b9; color:#bab3b9; }
small { background:#eee1f5;	}
h2 { border-color:#eae4e9; }
h4 { color:#312832; }
#more-menu h4 { color:#4a4a4e; }

#lead { background:#762614;color:#eac7a8; }	
#lead a, #lead a:visited { color:#FFF; }
#lead img {border-color:#98482f;}
#lead .commentcount {color:#FFF;}
.catnews img { border-color:#51806f; }
#lead .date {color:#ffd284}

.bluebox { background:#f2f3ee; border-color:#dadbd7; }	
.bluebox a, .bluebox a:visited { color:#2e2e2e; }
#sidebar .bluebox a, #sidebar .bluebox a:visited {	color:#595952;	}
	
#breadcrumbs a, #breadcrumbs a:visited { color:#FFF; }
#author img { border-color:#dadbd7; }
#author span { border-color:#dadbd7; }
.cat-excerpt img, .gallery { border-color:#51806f; }
.entry blockquote, .entry pre, .entry code { color:#767a76; }
select { background:#edfff7; border-color:#33cc99; }
#s { background:#ab5f44; }
#submit { color:#e3d2cd; background: #583831 url(images/bg_button.gif) repeat-x }
.field:focus { background:#f9f4f8 !important; }
li.my_comment cite strong {	color:#312832; }
.gravatar { border-color:#938891; }

#meta { background: #583831; }
#meta a, #meta a:visited { color:#FFF; }
#meta li { color:#f5cba9; }
#meta span { color:#f5cba9; }
#footer { color:#595952 }
#footer a, #footer a:visited { color:#000; text-decoration:underline }
#meta h5 { border-color:#6e524c; color:#ffffff; }

#navbar { background:#762614; border-top:1px solid #762614; }
#nav a, #nav a:visited { color: #f7dcd2; background:url( images/pipe.gif) right no-repeat; }
#nav a:hover, #nav a:active { background:#691d0e; }	
#nav .current-cat a, #nav .current-cat a:visited  { background-color:#98482f; }
#nav li li { background: #027d54; }
#nav li li a, #nav li li a:visited { background:#691d0e; }
#nav li li a:hover, #nav li li a:active { background:#46160c; }
#nav li li.current-cat a, #nav li li.current-cat a:visited,
#nav .current-cat .children a, #nav .current-cat .children a:visited  { background:#691d0e; }
#nav li li.current-cat a:hover, #nav li li.current-cat a:active,
#nav .current-cat .children a:hover, #nav .current-cat .children a:active { background:#46160c; }

#more-menu { background:#efefef; color:#353535; font-size:1em; }
#more-menu li { border-color:#d5d5d5; }
#more-menu a, #more-menu a:visited { color:#929292; }
.entry #more-menu {font-size:0.9em;}


#recent { background: url( images/bg_recent.jpg ) repeat-x; }
#recent h3 {color:#ffd284;}
#recent li { border-color:#8f3b22; 	background:url(images/icon_page_home.gif) no-repeat 0 9px;
}
#recent a, #recent a:visited { color:#efc598; }



#sidebar h3 {	color:#583831;	}
h3.green {background:url(images/cat_green.jpg)}



/*Page Nav*/

.sidenav, .widget_pages ul {
	border-color: #6a514b;
	}

.sidenav li, .widget_pages li {
	border-color: #6a514b;
	}

.sidenav li a, .sidenav li a:visited, .widget_pages li a, .widget_pages li a:visited {
	background:#583831;
	color:#c6ad92;
	}
		
.sidenav li a:hover, .sidenav li a:active, 
.sidenav li.current_page_item a, .sidenav li.current_page_item a:visited,
.sidenav li.current_page_parent a, .sidenav li.current_page_parent a:visited {
	background:#6a433b;
	color: #FFF;
	}

.sidenav li.current_page_item li a, .sidenav li.current_page_item li a:visited {
	background:#6a433b
	}