			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div>
            <div id="left" style="width:395px; padding:0px 10px;">
            	<div><?=stripslashes($welcome['content']);?></div>
              <div><img src="images/icon4.gif" />&nbsp; <a href="?do=intro&id=2" class="red11"><b><?=$lang['detail']?></b></a></div>
            </div>
            <div id="right" style="width:262px; padding:10px 10px;">
            	<? if ($gallery) { ?>
              <div class="pikachoose">
                <ul id="pikame" class="jcarousel-skin-pika">
                	<? for ($i=0;$i<count($gallery);$i++) { ?>
                  <li><img src="phpthumb.php?gd=2&src=upload/gallery/<?=$gallery[$i]['img']?>&w=252&h=168"><span><?=stripslashes($gallery[$i]["title"])?></span></li>
                 	<? } ?>
                </ul>
              </div>
              <? } ?>
            </div>
        	</div> 
          
          <div id="line1"><img src="images/spacer.gif" /></div>
          
          <div id="khung"><?=stripslashes($introser['content']);?></div>       
        </div>
			</div>