	            		<table width="257" height="186" border="0" cellpadding="0" cellspacing="0" background="frontend/images/bg_search.jpg">
	              		<tr>
	                		<td valign="top">
	                		{if $memberData.member_user eq ''}
	                			<form name="frmlogin" id="frmlogin" action="index.php" method="post">
	                			<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                  			
	                  			<tr>
	                    			<td height="35" align="left" class="text_white">Đăng nhập</td>
	                  			</tr>
	                  			<tr>
	                    			<td align="center">
	                    				<table border="0" cellpadding="0" cellspacing="0">
					                      	<tr>
				                  				<td>
				                  					{if $loginfalse}
				                  						<font style="color:red;display:inline;">
				                  							Tên đăng nhập hoặc mật khẩu không đúng!
				                  						</font>
				                  					{/if}
				                  				</td>
				                  			</tr>
					                      	<tr>
					                       		<td height="" align="left">Tên đăng nhập:&nbsp;</td>
					                      	</tr>
					                      	<tr>
					                        	<td><input name="username" type="text" class="form_search1" value="{$username}" /></td>
					                      	</tr>
	                    				</table>
	                      				<table border="0" cellpadding="0" cellspacing="0">
		                        			<tr>
		                          				<td height="" align="left">Mật khẩu:&nbsp;</td>
		                        			</tr>
		                        			<tr>
		                          				<td><input name="passname" type="password" class="form_search1" value="{$passname}" />
		                          				</td>
		                        			</tr>
	                      				</table>
                      				</td>
                  				</tr>
                  				<tr>
                    				<td valign="middle" height="" align="center">
                    					<div style="width: 20px; float: left;">&nbsp;</div>
                    				<!--
                    					<div class="bnt_dn" align="center">
                    				-->
                    						<input type="submit" name="submit" value="Đăng nhập"/>
                    				<!--
                    						<a onclick="document.frmlogin.submit();"></a>
                    					</div>
                    				-->
                    					<input type="hidden" name="logined" id="logined" value="TRUE" />
                    				</td>
                  				</tr>
                				</table>
                				</form>
                			{else}
	                			<table width="100%" border="0" cellpadding="0" cellspacing="0">
	                  			<tr>
	                    			<td height="35" align="left" valign="middle" class="text_white">Xin chào:&nbsp;{$memberData.member_user}</td>
	                  			</tr>
	                  			<tr>
	                    			<td height="130" align="left" valign="middle">
	                    				<table border="0" cellpadding="0" cellspacing="0">
				                      	<tr>
				                       		<td colspan="2" height="25" align="left" style="padding-left: 15px; font-weight: bold;">
				                       			<a href="?hdl=member/index" style="color: #0286AF;">BẤM VÀO ĐÂY ĐỂ QUẢN LÝ THÔNG TIN</a>
				                       		</td>
				                      	</tr>
				                      	<tr>
				                       		<td height="18" align="left" style="padding-left: 15px; font-weight: bold;">Tên đăng nhập</td>
				                       		<td align="left">:&nbsp;{$memberData.member_user}</td>
				                      	</tr>
				                      	<tr>
				                        	<td height="18" align="left" style="padding-left: 15px; font-weight: bold;">Họ và tên</td>
				                        	<td align="left">:&nbsp;{$memberData.member_name}</td>
				                      	</tr>
				                      	<tr>
				                        	<td height="18" align="left" style="padding-left: 15px; font-weight: bold;">Địa chỉ email</td>
				                        	<td align="left">:&nbsp;{$memberData.member_mail}</td>
				                      	</tr>
				                      	<tr>
				                        	<td height="18" align="left" style="padding-left: 15px; font-weight: bold;">Số điện thoại</td>
				                        	<td align="left">:&nbsp;{$memberData.member_phone}</td>
				                      	</tr>
	                    				</table>
                      				</td>
                  				</tr>
                				</table>
                			{/if}
                			</td>
              			</tr>
              			<tr>
                			<td height="19" align="center" valign="top">
                			{if $memberData.member_user eq ''}
                				<table width="90%" border="0" cellpadding="0" cellspacing="0">
			                    <tr>
			                      	<td align="left"><a href="?hdl=auth/forgot" class="text_blue">Quên mật khẩu?</a> </td>
			                      	<td align="right"><a href="?hdl=auth/regist" class="text_blue">Đăng ký thành viên?</a></td>
			                    </tr>
                  				</table>
                  			{else}
                				<table width="90%" border="0" cellpadding="0" cellspacing="0">
			                    <tr>
			                      	<td align="left"></td>
			                      	<td align="right"><a href="?hdl=index&logined=FALSE" class="text_blue">Thoát khỏi hệ thống</a></td>
			                    </tr>
                  				</table>
                  			{/if}
                  			</td>
              			</tr>
           				</table>
