<script language="JavaScript" src="http://vnexpress.net/Library/Library.js"></script>
<Script language="JavaScript" src="http://vnexpress.net/Service/Forex_Content.js">
</Script><Script language="JavaScript" src="http://vnexpress.net/Service/Forex.js"></Script>