.menusys_moo {
	padding-top:3px;
}

#menusys_moo {
cursor: pointer;
    float: left;
    margin: 0;
    padding: 5px 0 0 0;
    position: relative;
    z-index: 120;
}

#menusys_moo ul {	margin: 0; 	padding: 0;
}
#menusys_moo li {
	display: block;
    float: left;
    font-weight: bold;
    margin: 0 1px;
    padding: 0;
	background:none;
}
#menusys_moo li ul {
	width: 15.4em;
	w\idth: 14.9em;
	/*margin-left: -1px;*/
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
}

#menusys_moo li ul ul {
	margin: -1.5em 0 0 14em; 
}
#menusys_moo li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
    height:24px;
	width: 14.9em;
}
#menusys_moo ul a {
	width: 14.9em;
}
#menusys_moo li:hover ul ul, #menusys_moo li:hover ul ul ul,
#menusys_moo li.hover ul ul, #menusys_moo li.havechildhover ul ul, #menusys_moo li.havechild-activehover ul ul, #menusys_moo li.activehover ul ul,
#menusys_moo li.hover ul ul ul, #menusys_moo li.havechildhover ul ul ul, #menusys_moo li.havechild-activehover ul ul ul, #menusys_moo li.activehover ul ul ul {
	left: -999em;
}

#menusys_moo li:hover ul, #menusys_moo li li:hover ul, #menusys_moo li li li:hover ul,
#menusys_moo li.hover ul, #menusys_moo li.havechildhover ul, #menusys_moo li.havechild-activehover ul, #menusys_moo li.activehover ul,
#menusys_moo li li.hover ul, #menusys_moo li li.havesubchildhover ul, #menusys_moo li li.havesubchild-activehover ul, #menusys_moo li li.activehover ul,
#menusys_moo li li li.hover ul, #menusys_moo li li li.havesubchildhover ul, #menusys_moo li li li.havesubchild-activehover ul, #menusys_moo li li li.activehover ul {
	left: auto;
}

/* Menu styling begin */
#menusys_moo li a {
	display: block;
    height: 30px;
    line-height: 30px;
    position: relative;
	color:#DFDFDF;
}
#menusys_moo li a span {
	_padding: 0 11px;
    padding: 0 11px;
	display: block;	text-align: center;
	border: none;	
	font-weight: bold;
	font-size: 100%;
    text-transform: uppercase;
}


#menusys_moo li a:hover,
#menusys_moo li a:active,
#menusys_moo li a:focus {
	/*background: #37a100; 
    border-radius: 7px 7px 0 0;
    margin-top: 5px;    */
    color:#FFF;
}
* html #menusys_moo li a:hover,
* html #menusys_moo li a:active,
* html #menusys_moo li a:focus,
* html #menusys_moo li.hover a,
* html #menusys_moo li a.active {
	/*background: #37a100; 
    border-radius: 7px 7px 0 0;
    margin-top: 5px;    */
}
#menusys_moo li:hover a,
#menusys_moo li.hover a,
#menusys_moo li.havechildhover a,
#menusys_moo li.havechild-activehover a {
	/*background: url("../../images/bg-menu-rightt.png") no-repeat scroll 100% 0 transparent;*/
    color: #FDFDFD;
}

#menusys_moo li:hover a.active span,
#menusys_moo li a:hover span,
#menusys_moo li a:active span,
#menusys_moo li a:focus span,
#menusys_moo li a.active:hover span,
#menusys_moo li a.active:active span,
#menusys_moo li a.active:focus span,
#menusys_moo li:hover a span,
#menusys_moo li.hover a span,
#menusys_moo li.havechildhover a span,
#menusys_moo li.havechild-activehover a span {
	/*background: url("../../images/bg-menu-left.png") no-repeat scroll 0 0 transparent*/

}

#menusys_moo li a.active {
	/*background: #37a13c;
    border-radius: 7px 7px 0 0;
    margin-top: 4px;  */
}
#menusys_moo li a.active span {
    color: #FFF;
    border-bottom: 2px solid #FFF;

	/*background: url("../../images/bg-menu-left.png") no-repeat scroll 0 0 transparent*/
}

}
* html #menusys_moo li a:hover span,
* html #menusys_moo li a:active span,
* html #menusys_moo li a:focus span,
* html #menusys_moo li a.active:hover span,
* html #menusys_moo li a.active:active span,
* html #menusys_moo li a.active:focus span,
* html #menusys_moo li:hover a span,
* html #menusys_moo li.hover a span,
* html #menusys_moo li a.active span {
	/*background: #37a13c;
    border-radius: 7px;  */
     color: #341000;
    
}
#menusys_moo li ul {
	border: dotted 2px #341000;
	background: #42BFF5;
	border-radius:4px;
}

#menusys_moo li ul ul {
}
#menusys_moo li ul li {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: transparent none repeat scroll 0 0;
	border-bottom:1px solid #6292B3;
}

#menusys_moo li ul a,
#menusys_moo li ul a:hover,
#menusys_moo li ul a:active {
	margin: 0;
	padding: 0;
	line-height: normal;
	height: auto;	text-align: left;
	background: none !important;
	border: none !important;
}

#menusys_moo li ul a span {
	background:none repeat scroll 0 0 transparent !important;	color:#FFFFFF !important;	font-weight:normal;	
    padding:0 0 0 10px;	text-transform:none;	width:150px;	text-align:left;	
}

#menusys_moo li.havesubchild,
#menusys_moo li.havesubchild-active {
}

#menusys_moo li ul a:hover,
#menusys_moo li ul a:active,
#menusys_moo li ul a:focus,
#menusys_moo ul li:hover,
#menusys_moo ul li.hover,
#menusys_moo ul li.havesubchildhover,
#menusys_moo ul li.havesubchild-activehover,
#menusys_moo ul ul li:hover,
#menusys_moo ul ul li.hover,
#menusys_moo ul ul li.havesubchildhover,
#menusys_moo ul ul li.havesubchild-activehover {
	color: #ffffff !important;
	background: #0286e4 !important;
}
#menusys_moo li ul a.active span,
#menusys_moo li ul a:hover span,
#menusys_moo li ul a:active span,
#menusys_moo li ul a:focus span {
	color: #ffffff !important;
}
#menusys_moo ul li a.active {
	background: none !important;
	color: #ffffff !important;
}

#menusys_moo ul li a.active:hover,
#menusys_moo ul li a.active:active,
#menusys_moo ul li a.active:focus {
	color: #FFFFFF !important;
}