body { background:#d8ebf0 url(images/bg.jpg) repeat-x}

#logo:hover, #logo:active {color:#FFF;}
hr { background:#bab3b9; color:#bab3b9; }
small { background:#eee1f5;	}
h2 { border-color:#eae4e9; }
#masthead { background: #000 url(images/bg_masthead.jpg);  }
h4 { color:#312832; }
#more-menu h4 { color:#4a4a4e; }

#lead { background:#2b8b5d url(images/bg_lead.jpg) repeat-x bottom; color:#b7f8d8; }	
#lead a, #lead a:visited { color:#f8f7a0; }
#lead img {border-color:#42ae7a;}
#lead .commentcount {color:#FFF;}
.catnews img { border-color:#51806f; }
#lead .date {color:#53d898}

#home #lead {border-top:1px solid #369567; }


.bluebox { background:#f2f3ee; border-color:#dadbd7; }	
.bluebox a, .bluebox a:visited { color:#2e2e2e; }
#sidebar .bluebox a, #sidebar .bluebox a:visited {	color:#595952;	}
	
#breadcrumbs {color:#71c19b;}	
#breadcrumbs a, #breadcrumbs a:visited { color:#FFF; }
#author img { border-color:#dadbd7; }
#author span { border-color:#dadbd7; }
.cat-excerpt img, .gallery { border-color:#51806f; }
.entry blockquote, .entry pre, .entry code { color:#767a76; }
select { background:#edfff7; border-color:#33cc99; }
#s { background:#308f61; }
#submit { color:#a4ffe1; background: #1a805d url(images/bg_button.gif) repeat-x }
.field:focus { background:#f9f4f8 !important; }
li.my_comment cite strong {	color:#312832; }
.gravatar { border-color:#938891; }

#meta { background: #1d1d1d; }
#meta a, #meta a:visited { color:#FFF; }
#meta li { color:#308f61; }
#meta span { color:#308f61; }
#footer { color:#4e6065 }
#footer a, #footer a:visited { color:#3f92a8; text-decoration:underline }
#meta h5 { border-color:#4c4c4c; color:#ffffff; }

#navbar { background:#005727; border-top:1px solid #005727; }
#nav a, #nav a:visited { color: #e9fef4; background:url( images/pipe.gif) right no-repeat; }
#nav a:hover, #nav a:active { background:#00421e; }	
#nav .current-cat a, #nav .current-cat a:visited  { background-color:#177c4b; }
#nav li li { background: #027d54; }
#nav li li a, #nav li li a:visited { background:#027d54; }
#nav li li a:hover, #nav li li a:active { background:#00421e; }
#nav li li.current-cat a, #nav li li.current-cat a:visited,
#nav .current-cat .children a, #nav .current-cat .children a:visited  { background:#027d54; }
#nav li li.current-cat a:hover, #nav li li.current-cat a:active,
#nav .current-cat .children a:hover, #nav .current-cat .children a:active { background:#00421e; }

#more-menu { background:#efefef; color:#353535; font-size:1em; }
#more-menu li { border-color:#d5d5d5; }
#more-menu a, #more-menu a:visited { color:#929292; }
.entry #more-menu {font-size:0.9em;}

#upper { background: #177c4b}

#recent { background: url( images/bg_recent.jpg ) no-repeat; }
#recent h3 { color:#11412f; }
#recent h3 {color:#FFF;}
#recent li { border-color:#3a9668; 	background:url(images/icon_page_home.gif) no-repeat 0 9px;
}
#recent a, #recent a:visited { color:#57df9d; }



#breadcrumbs { background:#177c4b; }
h2#description {color:#faa739;}

