.newsticker-jcarousellite { }
.newsticker-jcarousellite .sendcontent {
    background: #efefef;
    padding: 3px;
    text-align: justify;
}
.newsticker-jcarousellite .answercontent {
    background: none;
    text-align: justify;
    padding: 3px;
}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite ul li a{ line-height: 17px !important; font-weight: bold; font-size: 90%; }
.clear { clear: both; }
