.pagination li a {
    display:block;
    width:12px !important;
    height:0 !important;
    padding-top:12px;
    background-image:url(pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
    border: none;
    padding: 12px 0 0 0 !important;
}

.pagination li.current a {
    background-position:0 -12px;
    border: none;
    width:12px !important;
}

/*
    Caption
*/


