a:link, a:visited{ color: #FF4751; text-decoration: underline; }

a:hover{ color: red; text-decoration: none; }

a:active{ color: #666600; text-decoration: underline; }

body{ 
background-color: white;
color: black;
font-size: small;
margin: auto;
max-width: 600px;
}

form{ font-size: small; margin: 0px; padding: 0px; }

h3{ margin: 0; padding: 0; padding-bottom: 2px; }

hr{ border: 0; border-top: 1px solid gray; margin: 0; }

p{ margin-top: 6px; margin-bottom: 6px; }

ul{ margin: 0; padding-left: 20px; }

.alarm{
	background-color: red;
	border: 1px solid white;
	color: #ffffff;
	font-weight: bold;
	padding: 3px 0px 3px 4px;
}

.alarm a:link,.alarm a:visited{ color: #FFFFFF; font-size: x-small; }

.b{ background-color: #e8e8e8; margin: 0px; padding: 2px; }

.bmenu{
	background-color: #F7FDFF;
	margin: 0px;
	padding: 2px 4px 4px 4px;
	color:#800000;
}

.c{ background-color: #ffffff; margin: 0px; padding: 2px; }

.clip{
	color: #4a5663;
	border: 1px solid white;
	font-size: x-small;
	background-color: #bfc6cf;
	padding: 4px 4px 8px 4px;
}

.clip a:link, .clip a:visited{ color: #424e59; }

.vn{  
border: 1px solid #FF4751;
text-align: center;
}

.end{
text-align: center;
}

.fmenu{
	background-color: #FF7C83;
	border: 1px solid #FF4751;
	color: #FFFFFF;
	margin: 1px 0px 1px 0px;
	padding: 2px 0px 3px 3px;
}

.footer{
	background-color: #4682B4;
	background-image: url(images/bg.gif);
	color: white;
	margin: 1px 0px 1px 0px;
	padding: 2px 0px 3px 3px;
}

.footer a:link,.footer a:visited{ color: white; text-decoration: none; }

.func{
	border-left: 4px solid #9acd32;
	color: #757575;
	font-size: x-small;
	margin-top: 4px;
	margin-left: 2px;
	padding-left: 4px;
}

.gmenu{
	background-color: #c7e8d5;
	border: 1px solid #B1CFBE;
	margin: 1px;
	padding: 3px 4px 3px 4px;
}

.gray{ color: #586776; }

.green, .green a:link, .green a:visited{ color: green; }

.hdr{
	background-color: #f1f1f1;
	border-bottom: 1px solid #595959;
	font-weight: bold;
	padding-left: 2px;
}

.header{
	background-color: #4682B4;
	background-image: url(images/bg.gif);
	color: white;
	margin: 1px 1px 1px 0px;
    padding: 2px 0px 3px 3px;
}

.left{ float: left; }

.list1{
	background-color: #eeecd9;
	border: 1px solid white;
	margin: 0px;
	padding: 3px 4px 4px 4px;
}

.list2{
	background-color: #f5f5f5;
	border: 1px solid white;
	margin: 0px;
	padding: 3px 4px 4px 4px;
}

.maintxt{
    background-color: #A5DAFB;
	border: 1px solid #A5DAFB;
	font-weight: normal;
	margin: 0px;
}

.menu{
	background-color: #A5DAFB;
	border-left: 3px solid #87CEFA;
	margin-top: 2px;
	margin-left: 2px;
	padding: 1px 4px 1px 6px;
}

.news{
	background-color: #EEEEEE;
	border: 1px solid white;
	color: #333333;
	font-size: x-small;
	padding: 3px 4px 4px 4px;
}

.phdr{
 background-color: #87CEFA;
 border: 1px solid #65BBFF;
 padding: 4px 2px 4px 2px;
 color: #FFFFE0;
margin: 1px;
}

.phpcode{
	background-color: #E0E6E9;
	border: 1px dotted #9FAEBB;
	margin-top: 4px;
	padding: 0px 2px 0px 2px;
}

.quote{
	border-left: 4px solid #c0c0c0;
	color: #878787;
	font-size: x-small;
	padding: 2px 0px 2px 4px;
	margin-left: 2px;
}

.red, .red a:link, .red a:visited{ color: #FF0000; }

.reply{
	border-left: 4px solid red;
	color: #FF0000;
	padding: 2px 0px 2px 4px;
}

.rmenu{
	background-color: #DFDFBF;
	border: 1px solid #B3B39A;
	margin: 1px;
	padding: 2px 0px 3px 4px;
}

.status{ color: #CD853F; font-weight: bold; font-size: x-small; padding-left: 0px }

.sub{
	border-top: 1px dotted #c6c17f;
	font-size: x-small;
	margin-top: 4px;
}

.sub a:link,.sub a:visited{ text-decoration: none; }

.tmn{
	background-color: #FF7C83;
	border: 1px solid #FF4751;
	color: #FFFFFF;
	margin: 1px 1px 1px 0px;
	padding: 2px 0px 4px 3px;
}

.tmn a:link,.tmn a:visited,.fmenu a:link,.fmenu a:visited,.phdr a:link,.phdr a:visited  { color: #FFFFFF; text-decoration: none; }

.tmn a:hover,.fmenu a:hover{ text-decoration: underline; }