<HTML>
<HEAD>
<TITLE>Please stand by ...</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="REFRESH" content="0; url=<?=$page_transfer?>">
</HEAD>
<BODY>
<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
</BODY>
</HTML>