<!-- BEGIN: step -->
<div id="license" style="height:300px;overflow:auto;margin-bottom:10px">
		{CONTENT_LICENSE}
</div>
<ul class="control_t fr">
	<li><span class="back_step"><a href="{BASE_SITEURL}install/index.php?{LANG_VARIABLE}={CURRENTLANG}&amp;step=1">{LANG.previous}</a></span></li>
	<li><span class="next_step"><a href="{BASE_SITEURL}install/index.php?{LANG_VARIABLE}={CURRENTLANG}&amp;step=3">{LANG.next_step}</a></span></li>
</ul>
<!-- END: step -->