<div align="center" style="padding-bottom:10px;">
<form name="frmsearch" action="" method="get" style="margin:0px;">
	<input type="hidden" name="do" value="news" />
	<b>Tìm tin : </b>
	<input type="text" name="key" value="<?=$_GET['key']?>" size="30"/>		
	<INPUT type="submit" value="Tìm" class="button" style="width:65px;">
</form>
</div>

<form name="frmdel" action="?do=news&act=delselect&page=<?=$page?>" method="post" style="margin:0px;">
<table align="center" width="100%" border="1" cellpadding="4" cellspacing="0" class="border1">    
	<tr>
		<th class="style2" align="center" width="10">
		<input type="checkbox" name="checkall" id="checkall" title="Select or deselect all items" onClick="checkAll(this)" value="checkall">
		</th>
		<th class="style2">Tin tức</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="16">&nbsp;</th>
		<th class="style2" width="80">Hành động</th>		
	</tr>
<? 
if ($news) {
for ($i=0;$i<count($news);$i++) {
?> 
  <tr>
		<td align="center"><input type="checkbox" name="checkid[]" onClick="checkboxClicked(this.form)" value="<?=$news[$i]['id']?>" /></td>
		<td style="line-height:17px;">
			<? if ($news[$i]['img']) { ?>
			<a href="?do=news&act=edit&id=<?=$news[$i]['id']?>&page=<?=$page?>"><img src="upload/news/<?=$news[$i]['img']?>" width="100" height="75" border="0" align="left" vspace="3" style="margin-right:8px;" class="imgbor"></a>
			<? } ?>		
			<a href="?do=news&act=edit&id=<?=$news[$i]['id']?>&page=<?=$page?>"><b><?=stripslashes($news[$i]["title_vn"])?></b></a><? if ($news[$i]["special"]) echo ' <img src="images/hot.gif" border="0" align="absmiddle">';?><? if ($news[$i]["new"]) echo ' <img src="images/new.gif" border="0" align="absmiddle">';?> <span class="black11"><em>(<?=date($DATE_FORMAT,strtotime($news[$i]["date"]))?>)</em></span>
			<br /><?=stripslashes($news[$i]["desc_vn"])?>
		</td>
		<td align="center">
		<? if ($i>0) { ?>
			<a href="?do=news&act=move&id1=<?=$news[$i]['id']?>&pos1=<?=$news[$i-1]['order']?>&id2=<?=$news[$i-1]['id']?>&pos2=<?=$news[$i]['order']?>&page=<?=$page?>"><img src="images/up.gif" border="0"/></a>
		<? } ?>
		</td>
		<td align="center">
		<? if ($i<count($news)-1) { ?>
			<a href="?do=news&act=move&id1=<?=$news[$i]['id']?>&pos1=<?=$news[$i+1]['order']?>&id2=<?=$news[$i+1]['id']?>&pos2=<?=$news[$i]['order']?>&page=<?=$page?>"><img src="images/down.gif" border="0"/></a>
		<? } ?>
		</td>		
		<td align="center">
			<a href="?do=news&act=edit&id=<?=$news[$i]['id']?>&page=<?=$page?>" class="link_admin">Cập nhật</a> | <a href="?do=news&act=del&id=<?=$news[$i]['id']?>&page=<?=$page?>" onClick="return check();" class="link_admin">Xóa</a>
		</td>
  </tr>
<? } } ?>
	<tr>
		<td colspan="5"><input type="submit" value="Xóa các tin tức được chọn" class="button" onClick="return check();" style="width:200px;"/></td>
 	</tr>
<? if ($plpage) { ?>
	<tr>
		<td colspan="5" align="center"><?=$plpage?></td>
	</tr>
<? } ?>
</table>
</form>