﻿</td>	
<td style="width: 10px" valign="top">&nbsp;</td>
						<td style="width: 20%" valign="top">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
						<td style="height:5px"></td>
						</tr>
							<tr>
							<td style="height: 25px">								
								<table style="width: 100%" cellspacing="0" cellpadding="0">
									<tr>
										<td>
										<img alt="sim so dep" src="images/ms1.jpg" style="width: 17px; height: 25px" /></td>
										<td style="width: 373px; height: 22px; background-image: url('images/ms2.jpg'); font-family: Arial, Helvetica, sans-serif; font-size: 12px;" class="bgc">
										{$dates}</td>
										<td>
										<img alt="" src="images/ms3.jpg" style="width: 18px; height: 25px" /></td>
									</tr>
								</table>
</td>
								
							</tr>
							<tr >
								<td style="border: 1px #ccccff solid" align="center">
								<div id="img">
								<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="150" height="250" id="sim2.swf" align="middle">
	<param name="allowScriptAccess" value="sameDomain">
	<param name="movie" value="sim2.swf">
	<param name="quality" value="high">
	<param name="bgcolor" value="#ffffff">
	<param name="play" value="false">
	<embed src="sim2.swf" quality="high" bgcolor="#ffffff" width="150" height="250" name="sim2.swf" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</object>

								
								</div><span style="color: #FF0000"><br>
								</span>
								<p class="dv">
								<div id="yahoo">
							<span style="color: #FF3300">
							<span style="font-size: medium">
							
						<script type="text/javascript">moi();</script>
							</span></span></div><strong>
								<span style="font-size: small">
								<span style="color: #FF00FF">
								Hotline1</span><span style="color: #FF3300">:</span></span><span style="color: #FF3300"><span style="font-size: medium">
								0937.666.886</span></span></strong><span style="color: #FF3300"><br />
								</span><strong>
								<span style="font-size: small; color: #FF00FF;">
								Hotline2:</span><span style="color: #FF3300"><span style="font-size: medium"> 
								0986.77.8668</span></span><span style="font-weight: normal; font-size: x-small; color: #FF3300"><em>
								</em></span><span style="color: #FF3300">
								<span style="font-size: medium"><br>
								</span></span>
								<span style="font-size: small; color: #FF00FF;">
								Hotline3:</span><span style="color: #FF3300"><span style="font-size: medium">
								0914.77.9999</span></span></strong><p class="dv">
</td>
							</tr>
							<tr >
								<td style="text-align: center">
								<strong><a href="dat-mua-sim-so-dep.html">&#272;&#7862;T MUA SIM</a></strong><p>
								<a title="Hình thức thanh toán tạm giữ, sau khi khách hàng nhận được sim lúc đó chúng tôi mới nhận được tiền" href="http://nganhangsimsodep.com/?act=nganluong-pay">
								<img border="0" src="images/CertifiedLogo14.gif" width="128" height="122"></a></td>
							</tr>
						</table>
						<br />
												<table style="width: 100%" cellspacing="0" cellpadding="0">
					

							<tr>
<td>								
								<table style="width: 100%" cellspacing="0" cellpadding="0">
									<tr>
										<td>
										<img alt="sim so dep" src="images/ms1.jpg" style="width: 17px; height: 25px" /></td>
										<td style="width: 373px; height: 22px; background-image: url('images/ms2.jpg'); font-family: Arial, Helvetica, sans-serif; font-size: 12px;" class="bgc">
										TIN TỨC SỐ ĐẸP</td>
										<td>
										<img alt="" src="images/ms3.jpg" style="width: 18px; height: 25px" /></td>
									</tr>
								</table>
</td>							</tr>
							<tr>
								<td class="bo4" style="padding-left:0px;padding-top:10px;padding-right:0px; height: 300px; border: 1px #ccccff solid">
								<div style=" width: 100%; height: 300px; overflow:auto" id="layer1">
							<table style="width: 95%" cellspacing="0" cellpadding="0">
									{section name = a loop = $dn}
									<tr>
										<td style="width: 97%; padding-left:2px; " valign="baseline" align="left">
										&nbsp;
										<img alt="" src="images/bullet.gif" style="width: 13px; height: 13px"> <a href="tin-{$dn[a].nid}-{$dn[a].tieude}.html">{$dn[a].ntieude}</a></td>
									</tr>
																		<tr>
										<td style="width: 97%; padding-left:2px; height:8px" valign="baseline">
										</td>
									</tr>

									{/section}
																			
						
																												
						
								</table>
								</div>
								</td>
							</tr>
						</table>
						<br/>

						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td>								
								<table style="width: 100%" cellspacing="0" cellpadding="0">
									<tr>
										<td>
										<img alt="sim so dep" src="images/ms1.jpg" style="width: 17px; height: 25px" /></td>
										<td style="width: 373px; height: 22px; background-image: url('images/ms2.jpg'); font-family: Arial, Helvetica, sans-serif; font-size: 12px;" class="bgc">
										DOWNLOAD BẢNG SỐ</td>
										<td>
										<img alt="" src="images/ms3.jpg" style="width: 18px; height: 25px" /></td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td style="border: 1px #ccccff solid">
								<div align="center">
								<form method="post" action="sim-so-dep-taibangso.htm">
																<br />
									<span class="dv">
									<select name="Select1" style="width: 85%" onchange="window.location.href='taibangso-'+this.options[selectedIndex].value+'.html';">
									<option selected="selected" value="0">Ch&#7885;n th&#7875; lo&#7841;i</option>
									{section name = k loop = $linkf}
									<option value="{$linkf[k]}"> - {$linknamef[k]}</option>
									{/section}
									</select><input name="Button1" type="button" value="T&#7843;i" class="go" style="height: 21px" /></span>
								<br />
							</form>
							</div>
							<br /></td>
							</tr>
						</table>
						<br />
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td>								
								<table style="width: 100%" cellspacing="0" cellpadding="0">
									<tr>
										<td>
										<img alt="sim so dep" src="images/ms1.jpg" style="width: 17px; height: 25px" /></td>
										<td style="width: 373px; height: 22px; background-image: url('images/ms2.jpg'); font-family: Arial, Helvetica, sans-serif; font-size: 12px;" class="bgc">
										QUẢNG CÁO</td>
										<td>
										<img alt="" src="images/ms3.jpg" style="width: 18px; height: 25px" /></td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td style="border: 1px #ccccff solid">
								<div align="center">
								<form method="post" action="sim-so-dep-taibangso.htm">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="180" height="120">
  <param name="movie" value="sd123.swf" />
  <param name="quality" value="High" />
  <param name="allowScriptAccess" value="always" />
  <param name="wmode" value="transparent" />
     <param name="loop" value="false">
	<param name="menu" value="false">
     <embed src="sd123.swf"
      quality="High"
      type="application/x-shockwave-flash"
      WMODE="transparent"
      width="180"
      height="120"
      pluginspage="http://www.macromedia.com/go/getflashplayer"
      allowScriptAccess="always" loop="false" menu="false" />
</object>
																<br>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="180" height="120">
  <param name="movie" value="simsodephn.swf" />
  <param name="quality" value="High" />
  <param name="allowScriptAccess" value="always" />
  <param name="wmode" value="transparent" />
     <param name="loop" value="false">
	<param name="menu" value="false">
     <embed src="simsodephn.swf"
      quality="High"
      type="application/x-shockwave-flash"
      WMODE="transparent"
      width="180"
      height="120"
      pluginspage="http://www.macromedia.com/go/getflashplayer"
      allowScriptAccess="always" loop="false" menu="false" />
</object>
																<p>
																<a target="_blank" href="http://nganluong.vn">
																<img border="0" src="nganluong%20v2.JPG" width="184" height="45"></a><br>
<a title="sim so dep ha noi" href="http://simsodep.hn">sim so dep ha noi</a></p>
<p>
<a title="sim so dep" href="http://nganhangsimsodep.com">sim so dep</a><br>
</a><a title="so dep 123" href="http://sodep123.com">&nbsp;so dep 123</a></p>
</p>
																<p style="line-height: 150%; margin-top: 0; margin-bottom: 0">
																&nbsp;</p>

								</form>
							</div>
								</td>
							</tr>
							<tr>
							<td style="height: 8px; background-image: url('images/bgms.gif')">
							</td>
							</tr>
						</table>

						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td style="height:3px;background-color:#dbe0ef"></td>
			</tr>
			<tr>
				<td style="height: 30px">
				<table style="width: 100%; height: 100%" cellspacing="0" cellpadding="0">
					<tr>
						<td style="width: 60%; height: 13px;" valign="top">&nbsp;&nbsp;&nbsp;
						<br>
						<a title="Ngân Hàng Sim Số Đẹp - Trang ch&#7911;" href="http://nganhangsimsodep.com" class="style16">Trang ch&#7911;</a><span class="style16"> | 
						</span> 
						<a title="Ngân Hàng Sim Số Đẹp - Gi&#7899;i thi&#7879;u" href="sim-so-dep-gioithieu.html" class="style16">Gi&#7899;i thi&#7879;u</a><span class="style16">&nbsp; | 
						</span> 
						<a title="Ngân Hàng Sim Số Đẹp - Khách Hàng" href="index.php?act=khachhang" class="style16">Khách hàng</a><span class="style16"> | 
						</span> 
						<a title="Ngân Hàng Sim Số Đẹp - H&#7895; Tr&#7907;" href="sim-so-dep-hotro.html" class="style16">H&#7895; tr&#7907;</a><span class="style16"> | 
						</span> 
						<a title="Ngân Hàng Sim Số Đẹp - Thanh Toán" href="sim-so-dep-thanhtoan.html" class="style16">Thanh toán</a><span class="style16"> | 
						</span> 
						<a title="Ngân Hàng Sim Số Đẹp - Liên H&#7879;" href="sim-so-dep-lienhe.html" class="style16">Liên h&#7879;</a></td>
						<td valign="top" style="height: 13px; text-align: center">
						<br><span class="s11">
						Copyright © 2008 
								<a title="Ngân Hàng Sim số đẹp" href="http://www.nganhangsimsodep.com">
								<span class="style25">www.nganhangsimsodep.com</span></a></span></td>
					</tr>
					<tr>
						<td style="text-align: center; height: 26px;" valign="top" colspan="2">
						<a href="sim-so-dep-thanhtoan.html">
						<img alt="Ngân Hàng Áp D&#7909;ng Thanh Toán" src="images/banks.jpg" style="width: 678px; height: 75px; border-width: 0px"></a></td>
					</tr>
					<tr>
						<td style="height: 13px;" valign="top" colspan="2">
								<a title="sim so dep - Sim L&#7909;c Quý" href="sim-so-dep--sim-luc-quy.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim L&#7909;c Quý</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim Ng&#361; Quý" href="sim-so-dep--sim-ngu-quy.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Ng&#361; Quý</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim T&#7913; Quý" href="sim-so-dep--sim-tu-quy.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim T&#7913; Quý</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim Taxi" href="sim-so-dep--sim-ta-xi.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Taxi</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim L&#7897;c Phát" href="sim-so-dep--sim-loc-phat.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim L&#7897;c Phát</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim Th&#7847;n Tài" href="sim-so-dep--sim-than-tai.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Th&#7847;n Tài</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 								
								</span> 								<a title="sim so dep - Sim Kép" href="sim-so-dep--sim-kep.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Kép</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim N&#259;m Sinh" href="sim-so-dep--sim-nam-sinh.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim N&#259;m Sinh</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim Gánh &#272;&#7843;o" href="sim-so-dep--sim-ganh-dao.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Gánh &#272;&#7843;o</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim L&#7863;p" href="sim-so-dep--sim-lap.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim L&#7863;p</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - Sim Tam Hoa" href="sim-so-dep--tam-hoa.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">Sim Tam Hoa</span></a><span style="color: #EEEEEE; font-size: xx-small;">, 
								</span> <a title="sim so dep - &#272;&#7847;u s&#7889; c&#7893;" href="sim-so-dep--dau-so-co.html" class="style9">
								<span style="color: #EEEEEE; font-size: xx-small;">&#272;&#7847;u s&#7889; c&#7893;</span></a><span style="color: #EEEEEE; font-size: xx-small;">, Sim so dep | so dep | sim dep | sim vip | sim so | sim tu quy | sim taxi | sim than tai | sim loc phat | sim nam sinh ban sim, ban sim dien thoai, dau so, sim dep, sim nam sinh, sim so, sim so dep, sim s&#7889;, sim s&#7889; &#273;&#7865;p, sim viettel, sim vip, sim &#273;&#7865;p, so dep, s&#7889; &#273;&#7865;p</span></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
</td>
<td style="width:33px;background-image:url('images/sr.gif')"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>