		</td></tr>
	</table></td></tr>
  <tr><td height="8"></td></tr>
	<tr>
		<td style="padding:0px 10px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td height="2" bgcolor="#830300"></td></tr>	
			<tr><td class="style1">Copyright &copy; 2011 SaiGon NinhChu Hotel. All Rights Reserved. Designed by <a href="http://tccomputervn.com" class="black11" target="_blank">Tccomputer</a></td>
		</table>
		</td>
	</tr>
	<tr>
		<td><img src="images/admin_bg_03.gif"></td>
	</tr>
</table>
</body>
</html>