	<tr>
		<td height="300"><table cellpadding="0" cellspacing="0" border="0" align="center">
		<tr><td>
			<form name="frmlogin" action="?do=login&act=loginsm" method="post" onSubmit="return  nospace(username, 'Vui lòng nhập tên đăng nhập.') && nospace(password, 'Vui lòng nhập mật khẩu.');" style="margin:0px;">
			<table width="280" border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td class="style2" align="center">Đăng nhập</td>
				</tr>
			</table>
			<table width="280" border="0" cellpadding="0" cellspacing="0" align="center" class="border">
				<tr><td height="10"></td></tr>
				<tr>
					<td align="right"><strong>Tên đăng nhập :</strong></td>
					<td align="right"><input type="text" name="username" class="box"></td>
				</tr>
				<tr><td height="10"></td>
				</tr>
				<tr>
					<td align="right"><strong>Mật khẩu :</strong></td>
					<td align="right"><input type="password" name="password" class="box"></td>
				</tr>
				<tr><td height="10"></td></tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="Đăng nhập" class="button"></td>		
				</tr>
				<tr><td height="10"></td></tr>
			 </table>
			 </form>