/*TOGGLE*/

h4.toggle { font:16px 'Ubuntu', sans-serif; color:#444; background:#FFF; border:1px solid #E1E1E1; margin-bottom:6px; }
h4.toggle a { color: #41494F; text-decoration: none; display: block; padding:15px 25px; }
h4.toggle a:after { 
	content: "\f067"; font-family: FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; 
	color:#AAA; font-size:14px; float:right; position:relative; top:4px; 
}
h4.active.toggle { border:0 !important; }
h4.active a { color:#FFF; background:#19B1DD; }
h4.active a:after { content: "\f068"; font-family: FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; color:#FFF; }

.toggle_container { 
	overflow:hidden; background:#F8F8F8; border:1px solid #E1E1E1;
	padding:22px 22px 7px 22px; padding-bottom:20px; margin-bottom:6px; margin-top:-6px;
}