/*TABS*/
.tabs {
	height:auto!important;	
	position:relative;
	border-top:0 !important;
}
.tab-menu {
	margin-left:1px;
	padding: 0;
	list-style: none;
	width: 100%;
}
.tab-menu li {
	float: left;
	margin-left:-1px;
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #E1E1E1;	
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background:#F8F8F8;
	list-style: none;
}
.tab-menu li a {
	text-decoration: none;
	color: #AAA;
	display: block;
	font:16px 'Ubuntu', sans-serif;
	padding:15px 20px;
	outline: none;	
}
.tab-menu li a:hover {
	background: #FFF;
}
html .tab-menu li.active  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background:#FFF;
	padding-right:2px; padding-left:2px;
	border-bottom: 1px solid #FFF; /*--Makes the active tab look like it's connected with its content--*/
	color:#444;
}

.tab-menu li.active a { color:#8e9199 !important; }


/*TAB CONTAINER*/
.tab-container {
	overflow: hidden;
	clear:both;
	width:99.9%;
	background:#FFF;	
	margin:0 !important;
	margin-bottom:30px !important;
}
.tab-content { position:relative; padding:20px; }
.tab-content ul li { overflow:hidden; margin-bottom:20px; }
.tab-content h6 a:link, .tab-content h6 a:visited { font:12px 'Ubuntu', sans-serif; color:#4e535e; }
.tab-content a:hover { color:#333 !important; }
.tab-content { margin:0 !important; }
.tab-content ul li.last { border-bottom:0 !important; padding-bottom:2px !important; }
.tab-content span.details, .tab-content span.details a { color:#9f9f9f; font-size:10px; margin:0 !important; text-transform:uppercase; }
.tab-content h6 { margin-bottom:4px; line-height:16px; }
.img-tail { position:relative; display:block; float:left; margin-right:12px; margin-bottom:0 !important; }
.widget-tab span.tail { position:absolute; bottom:-12px; left:0; width:69px;  }
#tabComments ul li:last-child, #tabcomments ul li:last-child { padding:0 !important; } 
#tabComments a:link, #tabComments a:visited { font-weight:bold; }

.tab-container { border:1px solid #D9D9D9; }
.left-container .tab-container { width:100%; }
.fullwidth .tab-container { width:100%; }