<tr>
			<td align="left" valign="top"><img src="images/bar1.gif" height="11" width="785"></td>
		</tr>
		<tr>
			<td align="left" background="images/bg_bar1.gif" valign="top">
				<table id="Table4" border="0" cellpadding="0" cellspacing="0" width="785">
					<!-- Main table starts here -->
					<tbody>
					<tr>   
						<td align="left" valign="top" width="152">
						<!-- Left menu starts here -->
						<table id="Table5" border="0" cellpadding="0" cellspacing="0" width="152">
						<tbody>
						<!--
						<tr>
							<td align="left" valign="top" width="16"><img src="images/L_menu1.gif" height="22" width="16"></td>
							<td class="menu_selected" align="left" width="3">&nbsp;</td>
							<td class="menu_selected" align="left" bgcolor="#ced5d6" valign="middle" width="134">Trang chủ</td>
						</tr>						
						<tr>
							<td colspan="3" align="left" valign="top"><img src="images/line_menu1.gif" height="1" width="152"></td>
						</tr>
						-->
						<!-- BEGIN MENU -->						
						<tr>
							<td align="left" valign="top" width="16" background="images/L_menu1.gif"></td>
							<td align="left" bgcolor="#ced5d6" width="3">&nbsp;</td>
							<td align="left" bgcolor="#ced5d6" valign="middle" width="134" class="menu">{MENU.name}</td>
						</tr>
						<tr>
							<td colspan="3" align="left" valign="top"><img src="images/line_menu1.gif" height="1" width="152"></td>
						</tr>
						<!-- BEGIN SUB -->
						<tr>
							<td align="left" valign="top" width="16" background="images/L_menu1.gif"></td>
							<td align="left" bgcolor="#ced5d6" width="3">&nbsp;</td>
							<td align="left" bgcolor="#ced5d6" valign="middle" width="134" class="menu"><a href="{MENU.SUB.sub_link}" class="submenu">- {MENU.SUB.name}</a></td>
						</tr>
						<tr>
							<td colspan="3" align="left" valign="top"><img src="images/line_menu1.gif" height="1" width="152"></td>
						</tr>
						<!-- END SUB -->
						<!-- END MENU -->
						<!-- BEGIN L_ADVERTISING -->
						<tr>
							<td colspan="3" align="right" valign="top"><a href="{L_ADVERTISING.link}" target="_blank"><img src="{L_ADVERTISING.logo}" border="0" alt="{L_ADVERTISING.company}" width="140"></a></td>
						</tr>
						<tr>
							<td colspan="3" align="right" valign="top"><img src="images/bar_6.gif" height="6" width="152"></td>
						</tr>
						<!-- END L_ADVERTISING -->
						<tr>
							<td height="30"></td>
						</tr>
						<!-- Leftpane banners end here -->
						</tbody>
					</table> 
				</td> 
<!-----------------------------------------------------------Leftpane ends here --------------------------------------------->