<td></td>
<td align="left" valign="top" width="474">
<!-- td rowspan='2' width='474' align='left' valign='top' -->
	<!-- Main area table starts here -->
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="474">
		<tbody>
		<tr>
			<td class="style6" style="padding-left:6px"><b>{txt_browsing} {function} {functioncon}</b></td>
		</tr>	
		<tr>
			<td style="padding-left:6px" height="16"><img src="images/vachngang.gif"/></td>
		</tr>
		<tr>
		<td colspan="3" align="center" valign="top">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				{nodata}
				<!-- BEGIN CAT_NEWS -->   
				<!-- BEGIN NEWS -->
				<tr>
					<td style="padding-left:6px;padding-right:6px"><a class="art_title" href="./?act=info&id={CAT_NEWS.NEWS.id}&menuid={menuid}"><strong>{CAT_NEWS.NEWS.title}</strong></a></td>
				</tr>
				<tr>
					<td class="style6" style="padding-left:6px;padding-right:6px">&nbsp;{txt_capnhat}:&nbsp;{CAT_NEWS.NEWS.date}</td>
				</tr>
				<tr>
					<td style="padding-left:6px;padding-right:6px">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<!-- BEGIN SMALL_IMAGE -->
								<td valign="top" style="padding-top:5px;padding-bottom:5px">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><img src="{CAT_NEWS.NEWS.SMALL_IMAGE.img}" class="anh"/></td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td class="xs_orange" width="154" align="center">{CAT_NEWS.NEWS.SMALL_IMAGE.img_desc}</td>
										</tr>
									</table>								
								</td>
								<!-- END SMALL_IMAGE -->
								<td valign="top" class="style6" style="padding-left:6px;padding-top:5px"><p align="justify"><strong>{CAT_NEWS.NEWS.subject}</strong></td>
							</tr>
							<tr>					
								<td  colspan="2" align="right" style="padding-bottom:10px">
									<table align="right" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td><a class="art_link" href="./?act=info&id={CAT_NEWS.NEWS.id}&menuid={menuid}"><strong>{CAT_NEWS.NEWS.detail}</strong></a></td>
											<td width="5" style="padding-top:0px;padding-right:2px;padding-left:3px">{CAT_NEWS.NEWS.img_anh}</td>
										</tr>
									</table>
								</td>											
							</tr>
						</table>
					</td>
				</tr>
				<!-- END NEWS -->
				 <!-- END CAT_NEWS -->
			</table>
		</td>
	</tr>
</tbody>
</table>
</td>
<!----------------------------------------------HOME -------------------------------------- -->