<link href="../images/bongdaso.css" rel="stylesheet" type="text/css" />
<td></td>
<td align="left" valign="top" width="474" style="padding-left:5px;padding-right:5px">
	<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td class="style6" style="padding-left:6px"><b>{txt_browsing} {function} {functioncon}</b></td>
		</tr>	
		<tr>
			<td style="padding-left:6px" height="16"><img src="images/vachngang.gif"/></td>
		</tr>
		<tr>
			<td>
			<table border="0" width="100%" id="table83" cellspacing="0" cellpadding="2">
			<form name="frm_search" method="post" action="./?act=search">
				<tr>
					<td colspan="3" style="padding-top:5px;"><p align="center" class="subtitle">{txt_helpsearch}</td>
				</tr>
				<tr>
					<td width="38%" align="right" class="subtitle" style="padding-left: 20px">
						{txt_keyword}:&nbsp;																	  </td>
					<td width="33%">
						<input class=Subject  maxlength=50 size=45 name="txt_keyword" value="{keyword}" style="width: 150; height: 18" /></td>
					<td width="25%">&nbsp;</td>
					<td width="4%">&nbsp;</td>
				</tr>
				<tr>
				  <td align="right" class="Subject" style="padding-left: 20px">&nbsp;</td>
				  <td style="padding-bottom:10px;"><select id="cbnews" size="1" name="cbNewsType" class="Subject" style="width: 150; display:{cbnewstypedisplay};">
					  <option value="">{txt_catnews}</option>
					  <!-- BEGIN CATNEWS -->
					  <option value="{CATNEWS.id}" {CATNEWS._selected}>{CATNEWS.name}</option>
					  <!-- END CATNEWS -->
					</select></td>
				  <td><input type="image" name="submit" border="0" src="images/{img_search}" /></td>
				  <td>&nbsp;</td>
			  </tr>
				</form>
				</table>
			</td>
		</tr>
		<tr>
			<td background="images/bg_red.gif" class="MainMenu">
			<table border="0" width="100%" id="table84" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10" height="20"><img border="0" src="images/arrow.gif" width="4" height="5"></td>
					<td class="style6" align="left"><b>{txt_result}</b></td>
				</tr>
				<tr>
					<td class="style6" colspan="2" align="center"><b>{search_msg}</b></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table border="0" width="100%" id="table85" cellspacing="1" cellpadding="0" >
				<tr class="style6" align="center">
					<td height="22" width="30" background="images/bgdanhmuc3.gif"><b>{txt_order}</b></td>
					<td background="images/bgdanhmuc3.gif"><b>{txt_name}</b></td>
					<td width="80" background="images/bgdanhmuc3.gif"><b>{txt_update}</b></td>
				</tr>
				<!-- BEGIN DOC -->
				<tr>
					<td class="style6" height="22" bgcolor="#E4F9E3"><p align="center">{DOC.order}</td>
					<td bgcolor="#E4F9E3">
					<p align="left" style="margin-left: 3px; margin-right: 3px">
					<a class="style6" href="{DOC.act}">{DOC.doc_name}</a></td>
					<td bgcolor="#E4F9E3" class="style6"><p align="center">{DOC.date}</td>
				</tr>
				<!-- END DOC -->
			  </table>
			</td>
		</tr>
		<tr>
			<td class="title" height="27">
			<p align="right">{txt_page}</td>
		</tr>
</tbody>
</table>
</td>
<!----------------------------------------------HOME -------------------------------------- -->