/* MagenThemes Products List*/
.mt-products-list
	{
		float:left;
		width:100%;
		background:#fff;
		-moz-box-shadow:0 0 5px  #ccc;-webkit-box-shadow: 0 0 5px  #ccc;box-shadow: 0 0 5px  #ccc;
		padding:0 0 20px;
	}
.mt-prolist-title{background:url(../../images/border-title.png) repeat; height:auto;text-align:center;}	
.mt-prolist-title h2{line-height:35px;font-weight: normal;color:#fff;padding:0 10px;margin:0;text-shadow: 0px 2px 0px #C5354A; font-size: 160%;font-family:HamburgerHeavenRegular;}
.mt-category-products{padding:0 30px;}
.item {}
.item a{text-decoration:none;}
.item  .item-inner{margin: 20px 0;border:1px solid #eaeaea;background:#fff;padding:4px; -moz-box-shadow:0 0 10px  #eaeaea;-webkit-box-shadow: 0 0 10px  #eaeaea;box-shadow: 0 0 10px  #eaeaea;}
.item  .product-image:hover{}
.last{}
#mtcontainer
	{
		width:100%;
		float:left;
		margin:20px 0 0;
	}
#mtcontainer .price-box{
    padding:0 ;
    line-height:25px;
	background:url(../../images/tick-actions.png) 100% 50% no-repeat;
}	
#mtcontainer .mt-actions{
    width:100%;
	float:left;
	
}
#mtcontainer .mt-actions li{display:inline;background:url(../../images/tick-add.png) 100% 4px no-repeat;float:left;width:50%; }
#mtcontainer  .mt-actions li.last{background:none;}
#mtcontainer  .mt-actions li a{color:#6c6c6c;}
#mtcontainer .mt-actions li a:hover{text-decoration:underline;}
#mtcontainer .top-actions{background:url(../../images/bg-footer1.png) 0 0 repeat; height: auto; text-align:center;width:100%;float:left;margin:0 0 5px;}
#mtcontainer  .top-actions-inner {background:url(../../images/border-ft.png) 0 100% repeat-x; width:100%;float:left;}
.mt-prolist-title .top-actions-inner{background:url(../../images/border-ft.png) 0 100% repeat-x; width:100%;float:left;height:auto;}
#mtcontainer  .top-actions .mt-price {text-align:center;float:left; width:50%;}
#mtcontainer  .top-actions .mt-button {float:left; width:50%;}
#mtcontainer  .top-actions button{margin:5px 0;}
#mtcontainer .top-actions button span{background:none;line-height:25px;text-shadow: 0 2px 0 #C5354A;}
#mtcontainer  .top-actions button:hover span{background:none;}
#mtcontainer .top-actions .regular-price .price {text-shadow: 0 2px 0 #C5354A;}
#mtcontainer  li.item
	{
		float:left;
		padding:15px 4px;
		overflow:hidden;
	}
#mtcontainer  .product-name 
	{
		padding-top:28px;
		
	}
#mtcontainer #products-name {
        text-align:center;
		background:url(../../images/tick-product-name.png) 50% 0 no-repeat;
		height:auto;
	
   }
#mtcontainer  #products-name span{
    background: url("../../images/bg-product-name.png") no-repeat scroll 0 0 transparent;
    color: #838383;
    display: block;
    font-size: 110%;
    height: 36px;
    line-height: 35px;
    padding: 0 0 0 9px;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
	
}   
#mtcontainer  #products-name:hover span{color:#cf4155;}
#mtcontainer  #products-name span span{
    background-position: 100% -37px;
    border: 0 none;
    padding: 0 20px 0 5px;
   }
div.cat-fillter {float: right;}
div.order-fillter { 
    float: right;
    margin-left: 15px;
	margin-right:10px;
    padding-left: 15px;
    width: 220px;
}
div.product-title {
    float: left;
    font-size: 110%;
    padding: 0 0 10px 10px;
}
/**** Isotope CSS3 transitions ****/ 
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


#mtcontainer { 
  padding: 0;
  margin-bottom: 20px;
  overflow: visible !important;
}

.element { 
  margin: 0 0 20px 21px;
  float: left; 
  position: relative;
  color: #222;
  text-align: center;
  padding: 10px 0;
}

.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.element * {
  margin: 0;
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.element.large .symbol {
  font-size: 4.5em;
}

.element.fake .symbol {
  color: #000;
}

.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}
/**** Example Options ****/

#options {
  padding-bottom: 0;
  padding-top: 8px;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  
  color: #fff;
  font-weight: bold;
}

#options li a:hover {
 
}

#options li a:active {
  
}

#options li a {
     margin: 0 2px;
	border:1px solid #db6a7a;
	background:url("../../images/filters-active.png") repeat scroll 0 100% transparent;
}
#options li a:hover{text-decoration:none;background:url("../../images/filters.png") repeat scroll 0 100% transparent;}
#options li a.selected {
   border:1px solid #db6a7a;
   background:url("../../images/filters.png") repeat scroll 0 100% transparent;
  margin: 0 2px;
}
#options li:first-child a {
  
}

#options li:last-child a {
}



/* Combination filter options*/

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 940px) and (max-width: 1170px) {
    #mtcontainer .element {
		width: 201px !important;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#mtcontainer .element {
		width: 202px !important;
	}
}
@media (max-width: 767px) {
	#mtcontainer .element {
		width: 202px !important;
	}
}
@media (max-width: 480px) {
	#mtcontainer .element {
		width: 110px !important;
	}
    .main-inner {
        padding: 5px !important;
    }
    div.order-fillter {
        float: left !important;
        margin-left: 5px !important;
        padding-left: 5px !important;
		padding-bottom: 5px !important;
        width: 220px;
    }
    div.cat-fillter {
		float: left !important;
		margin-left:10px !important;
	}
}