.btn
{
	border:solid 1px #666;
	background-color:#FFCC33;
	padding:0px;margin:0px;cursor:hand; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #DEAE08; TEXT-DECORATION: underline;
}
.menu
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}	
.menu:hover 
{
	COLOR: #FFFFFF; TEXT-DECORATION: none; background-color: #F87F03;
}	
.menu_selected
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	COLOR: #000000; TEXT-DECORATION: none; background-color: #FFE500;
}	
.submenu 
{
	COLOR: #666666;	font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: bold;
}
.submenu:hover
{
	COLOR: #FFFFFF;	TEXT-DECORATION: none; background-color: #537FA1;
}
.submenu_selected
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	COLOR: #000000; TEXT-DECORATION: none; background-color: #FFE500;
}	
.cm_pick
{
	color: #000080; font-weight:bold; font-family: Arial, Helvetica, sans-serif;
}
.cm_pick:hover
{
	color: #FFE500; font-weight:bold; font-family: Arial, Helvetica, sans-serif;
}
.up_pick
{
	font-weight:bold;color: #ffa906;font-family: Arial, Helvetica, sans-serif;
}
.art_link
{
	font-size: 10px; color: #F87F03; font-style: italic; font-family: Arial, Helvetica, sans-serif;
}
.art_title 
{
	font-size: 12px; color: #0A50A1; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
}
.art_title_big 
{
	font-size: 16px; color: #0A50A1; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
}
.art_lead 
{
	font-size: 12px; color: #666666; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
}
.art_source {font-size: 12px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif;}
.art_time {font-size: 12px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif;}
.art_tbltitle {FONT-SIZE: 16px; COLOR: #003399; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.art_list {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.art_list:visited {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.art_list:visited:hover {FONT-SIZE: 8pt; COLOR: #DEAE08; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.art_selected {FONT-SIZE: 8pt; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}

.xsmall {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xsmall:hover {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xsmall:visited {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xsmallorange {FONT-SIZE: 8pt; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xsmallorange:hover {FONT-SIZE: 8pt; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xsmallorange:visited {FONT-SIZE: 8pt; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}

.xs7 {FONT-SIZE: 7pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xs_orange {FONT-SIZE: 7pt; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.xxsmall {FONT-SIZE: 6pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.ajax {FONT-SIZE: 6pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.ajaxloading {FONT-SIZE: 16pt; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.score {font-size:36pt;font-weight:bold;color:Yellow;FONT-FAMILY: Arial, Helvetica, sans-serif;}
.score2 {font-size:30pt;font-weight:bold;color:Yellow;FONT-FAMILY: Arial, Helvetica, sans-serif;}
.sscore {font-size:24pt;font-weight:bold;color:Yellow;FONT-FAMILY: Arial, Helvetica, sans-serif;}

.title_bold {font-size: 14px; font-weight:bold; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.focus {color: #F87F03;}
.style_bold {font-weight: bold;}
.style_italic {font-style: italic;}
.style_underline { text-decoration: underline;}
.style_instr { line-height: 17px;}
.style_raised { font-size: 10px; vertical-align:text-top;}
.style_invalid {font-style: italic; color: Gray;}
.style_invalid2 {color: Gray;}

.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.style4 {
	font-size: 12px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
.style5 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #666666; }
.style6 {font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style61 {font-size: 12px; color: #ffffff; font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.style7 {font-size: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style8 {font-size: 11px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style9 {color: #e90f46; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.style92 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.style93 {color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.style94 {color: #003399; font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.style10 {font-size: 9px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style11 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
.style14 {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #0a50a1; }
.style15 {font-size: 10px;font-style: italic;color: #0078ac; }
.style16 {color: #666666}
.style18 {color: #00427a;font-weight: bold;}
.style20 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #00427a; }
.style21 {font-size: 12px; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; }
.style23 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0a50a1; }
.style24 {font-size: 10px; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-style: italic; }
.style29 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; }
.style30 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; }
.style32 {font-size: 11px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif;}
.style33 {font-size: 11px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style39 {color: #F87F03;}
.style40 {font-size: 10px; color: #F87F03; font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style41 {color: #006699; font-style: italic; font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.style44 {font-size: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style101 {font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.style102 {font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.style103 {font-size: 16px; font-weight: bold;}
.style104 {font-size: 12px; font-weight: bold; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.style105 {font-size: 12px; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif;}
.style106 {font-size: 10px; color: #006699; font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style107 {font-size: 12px; color: #537FA1; font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.style108 {font-size: 12px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif;}
.style109 {font-size: 12px; color: #0A50A1; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.style110 {font-size: 12px; color: #537FA1; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.style111 {font-size: 12px; color: #0A50A1; font-family: Arial, Helvetica, sans-serif;}
.style112 {font-size: 10px; font-weight: bold; color: #000000; font-family: Arial, Helvetica, sans-serif;}

.tblborder
{
    border: 1px #666666 solid; font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;
}
.tblborder2
{
    border: 1px #D0D0D0 solid; font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;
}
.tblborder3
{
    border: 1px #DD740B solid; font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;
}
.tblborder4
{
    border: 1px #003399 solid; font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;
}

.binh {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial}
.binh:visited {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial}
.binh:visited:hover {FONT-SIZE: 8pt; COLOR: #DEAE08; FONT-FAMILY: Arial}

.binh1 {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial; font-style: italic }
.binh1:visited {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial}
.binh1:visited:hover {FONT-SIZE: 8pt; COLOR: #DEAE08; FONT-FAMILY: Arial}

.binh2 {FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial; font-style: italic }
.binh2:visited {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial}
.binh2:visited:hover {FONT-SIZE: 8pt; COLOR: #DEAE08; FONT-FAMILY: Arial}

.liveTVProg {background-image: url(ball.gif); background-repeat: no-repeat; background-position: top center }
.ITVScreen {background-image: url(itvbg.gif); background-repeat: no-repeat; background-position: center center }
.tbox { font-family: Arial, Helvetica, sans-serif; font-size: smaller; }

.style_confirmed {COLOR: #0A50A1;font-weight: bold;}
.style_intalk {font-style: italic;}

.adm_feature {
	FONT-SIZE: 8pt;COLOR: #0000FF; TEXT-DECORATION: none;font-weight:normal;
}
.adm_feature:hover {
	FONT-SIZE: 8pt;COLOR: #F87F03; TEXT-DECORATION: underline;font-weight:normal;
}
.chat_l {FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial;}
.chat_l_self {FONT-SIZE: 11px; COLOR: #F87F03; FONT-FAMILY: Arial;font-weight: bold;}
.chat_l_suspended {FONT-SIZE: 11px; COLOR: Red; FONT-FAMILY: Arial;font-weight: bold;font-style: italic;}
.chat_r_n {font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;word-wrap:break-word;width:342px;}
.chat_r_w {font-size: 12px; color: #FF0000; font-family: Arial, Helvetica, sans-serif;font-weight: bold;word-wrap:break-word;width:342px;}
.chat_r_a {font-size: 12px; color: #0000FF; font-family: Arial, Helvetica, sans-serif;font-style: italic;word-wrap:break-word;width:342px;}
.chat_r_suspended {font-size: 12px; color: #666666; font-family: Arial, Helvetica, sans-serif;font-style: italic;word-wrap:break-word;width:342px;}
.chat_postdate {font-size: 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-style: italic;}
.chatmode_l {FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Arial}
.chatmode_l_self {FONT-SIZE: 11px; COLOR: #F87F03; FONT-FAMILY: Arial;font-weight: bold;}
.chatmode_l_suspended {FONT-SIZE: 11px; COLOR: Red; FONT-FAMILY: Arial;font-style: italic;}
.chatmode_r_n {font-size: 11px; color: #000000; font-family: Arial, Helvetica, sans-serif;word-wrap:break-word;width:365px;}
.chatmode_r_w {font-size: 11px; color: #FF0000; font-family: Arial, Helvetica, sans-serif;font-weight: bold;word-wrap:break-word;width:365px;}
.chatmode_r_a {font-size: 11px; color: #0000FF; font-family: Arial, Helvetica, sans-serif;font-style: italic;word-wrap:break-word;width:365px;}
.chatmode_r_suspended {font-size: 11px; color: #666666; font-family: Arial, Helvetica, sans-serif;word-wrap:break-word;width:365px;}

.textarea {font-size: 12px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
bgimg {background-repeat: no-repeat; background-position: top center }

.xstooltiptbl
{	
    font: normal 7pt Arial, Helvetica, sans-serif; 
}

.xstooltip 
{    
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2;
    font: normal 8pt Arial, Helvetica, sans-serif; 
}

.xstooltip2 
{
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2;
    background-color: #DFFFFF;
    font: normal 8pt Arial, Helvetica, sans-serif; 
    padding: 3px; 
    border: dashed 1px;
}
.xstooltip3 
{
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2;
    background-color: #FFFFC0;
    font: normal 7pt Arial, Helvetica, sans-serif; 
    padding: 2px; 
    border: dashed 1px;
}
.online1 {FONT-SIZE: 12px; font-weight: bold; COLOR: #ffa906; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.online2 {FONT-SIZE: 12px; font-weight: bold; COLOR: #0A50A1; FONT-FAMILY: Arial, Helvetica, sans-serif;}

.votenormal {font-size: 12px; color: #0A50A1; font-family: Arial, Helvetica, sans-serif;}
.votesmall {FONT-SIZE: 8pt; color: #0A50A1; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.votexsmall {FONT-SIZE: 7pt; color: #0A50A1; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.votexxsmall {FONT-SIZE: 7pt; color: #0A50A1; FONT-FAMILY: Times New Roman,sans-serif,Arial, Helvetica;}

TABLE.quote {
	MARGIN: 3px 0px; BACKGROUND-COLOR: #c0c0c0
}
TD.quote_user {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(bg_nav.gif); PADDING-BOTTOM: 2px; COLOR: #555; PADDING-TOP: 2px; BACKGROUND-COLOR: #f2f2f2
}
TD.quote {
	BACKGROUND-COLOR: #fafafa; word-wrap: break-word;
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif;font-style: italic;
}
TD.quote_chatmode {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(bg_nav.gif); PADDING-BOTTOM: 2px; COLOR: #555; PADDING-TOP: 2px; BACKGROUND-COLOR: #f2f2f2
}
.btn2
{
	border:solid 1px #666;
	color:#FFFFFF;
	background-color:#FFA906;
	padding:2px;margin:2px;cursor:hand; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 10px;
}
.mbrlist
{
	color:#FFFFFF;
}	
.mbrlist:hover
{
	color:#FFFFFF;
}	

/*-- Styling for the rounded boxes --*/
.rd_top {
	margin: 0; padding: 0 5px 0 0;
	background: transparent url(shadow.gif) repeat-y right top;
}
.rd_top h1 {
	margin: 0; padding: 5px 0 0 5px;
	background: transparent url(shadow.gif) no-repeat left top;
	font-size: 120%;
}
.rd_bottom {
	margin: 0; padding: 0 5px 0 0;
	background: transparent url(shadow.gif) repeat-y right bottom;
}
.rd_bottom p {
	margin: 0; padding: 2px 0 5px 5px;
	background: transparent url(shadow.gif) no-repeat left bottom;
}

.rd_p p {
	margin: 0; padding: 2px 0 0 5px;
	background: transparent url(shadow-repeat.gif) repeat-y 0 0;
}
.rd_p {
	margin: 0; padding: 0 5px 0 0;
	background: transparent url(shadow-repeat.gif) repeat-y 100% 0;
}
input.input_text 
{
	FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
#balloon 
{
	width:460px;
	BORDER-RIGHT: black 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: black 0px solid
}
#balloonBody {
	CLEAR: both; Z-INDEX: 25; BACKGROUND:url(corners_topleft.gif) no-repeat left top; FLOAT: left; PADDING-TOP: 34px; POSITION: relative
}
#balloonBody H4 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; Z-INDEX: 28; RIGHT: 0px; BACKGROUND: url(corners_topright.gif) no-repeat right top; PADDING-BOTTOM: 20px; MARGIN: 0px -16px 0px 0px; PADDING-TOP: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 30px
}
#balloonBody DIV.box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px
}
#balloonBody .boxBody {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; Z-INDEX: 30; BACKGROUND: url(corners_rightborder.gif) repeat-y right top; LEFT: 16px; PADDING-BOTTOM: 0px; MARGIN: -2em 0px 0px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: left
}
#balloonBody DIV.boxFooter {
	Z-INDEX: 35; BACKGROUND: url(corners_bottomleft.gif) no-repeat left bottom; WIDTH: 100%; POSITION: absolute; HEIGHT: 20px
}
#balloonBody DIV.boxFooter P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 40; RIGHT: 0px; BACKGROUND: url(corners_bottomright.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px -16px 0px 0px; WIDTH: 20px; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 50px
}
.toparrow {
	CLEAR: both; DISPLAY: inline; Z-INDEX: 21; FLOAT: left; WIDTH: 96px; POSITION: relative; HEIGHT: 36px
}
.toparrow {
	BACKGROUND: url(blue_arrow.gif) no-repeat 50% top; MARGIN: 0px 0px -6px 5px
}
.bottomarrow {
	CLEAR: both; DISPLAY: inline; Z-INDEX: 21; FLOAT: left; WIDTH: 96px; POSITION: relative; HEIGHT: 36px
}
.bottomarrow {
	BACKGROUND: url(bottom_blue_arrow.gif) no-repeat 50% bottom; MARGIN: 10px 0px -25px 5px
}
.frimage IMG {width:expression(this.width > 330 ? "330px" : this.width);max-width:330px;}

#arttabs {
    float:left;
    width:100%;
    background:#FFFFFF;
    font-size:93%;
    line-height:normal;
}
#arttabs ul {
	margin:0;
	padding:0px 10px 0px 0px;
	list-style:none;
}
#arttabs li {
    display:inline;
    margin:0;
    padding:0;
}
#arttabs a {
    float:left;
    background:url("tableft.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 5px;
    text-decoration:none;
}
#arttabs a span {
    float:left;
    display:block;
    background:url("tabright.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#arttabs a span {float:none;}
/* End IE5-Mac hack */
#arttabs a:hover span {
    color:#FFF;
}
#arttabs a:hover {
    background-position:0% -42px;
}
#arttabs a:hover span {
    background-position:100% -42px;
}
#arttabs #current a {
	background-position:0% -42px;
}
#arttabs #current span {
    background-position:100% -42px;
}
.popupWindow
{
	position:absolute;
    border: solid 1px black;
    margin: 0px 0px 0px 20px;
    background-color:white;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color=#D0D0D0); 
    display:none;
}
.textoff {
	DISPLAY: none
}
.texton {
	DISPLAY: block
}
.list_infocus 
{
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight:bold;
	PADDING-LEFT: 3px; PADDING-RIGHT: 2px; PADDING-TOP: 3px; BACKGROUND-POSITION: left top; DISPLAY: block; BACKGROUND-IMAGE: url(list_infocus_bg.gif); COLOR: BACKGROUND-REPEAT: no-repeat; WIDTH: 151px; HEIGHT: 37px;
}
.list_infocus:hover {
	COLOR: #000000; TEXT-DECORATION: none;
}
.list_infocus:visited {
	COLOR: #666666; TEXT-DECORATION: none;
}
.list_infocus:visited:hover {
	COLOR: #666666; TEXT-DECORATION: none;
}
.panel {
	WIDTH: 300px; POSITION: absolute; HEIGHT: 292px
}
.div_art_infocus {
	CLEAR: right; Z-INDEX: 1; WIDTH: 300px; POSITION: absolute; HEIGHT: 292px
}
.div_art_infocus DIV.container {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 300px; HEIGHT: 225px; BORDER-RIGHT-WIDTH: 0px
}
.container IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 300px; HEIGHT: 225px; BORDER-RIGHT-WIDTH: 0px
}
.div_art_infocus_text {
	Z-INDEX: 2; BACKGROUND-IMAGE: url(infocus_bg.png); WIDTH: 300px; POSITION: absolute; TOP: 163px; HEIGHT: 130px; vertical-align:bottom;
}
.div_art_infocus_text DIV {
	COLOR: #FFFFFF; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-FAMILY:Arial, Helvetica, sans-serif; FONT-SIZE: 14pt; font-weight:bold; PADDING-BOTTOM: 5px; LINE-HEIGHT: 18px; PADDING-TOP: 25px
}
.div_art_infocus_text DIV.content {
	COLOR: #FFFFFF; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 13px; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

