BODY {
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	background-color: #f3f9f1;
}
TABLE{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
TR{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
.item {
 	border-top:1px #ccc solid;
 	border-left:1px #ccc solid;
 	border-right:1px #ccc solid;
 	padding:5px;
 	cursor:pointer;
 	font-weight:bold;
 	background:#ffff url(itembg.gif);
}
.item2 {
   	border-top:4px #FFCC00 solid;
 	padding-top:8px;
 	padding-bottom:5px;
 	padding-right:5px;
 	padding-left:5px;
 	cursor:pointer;
	font-weight:bold;
	color: yellow;
	background:#1c7114;
}

.bcbody{border:1px solid #AEAEAE;padding:1px;}
.bcbody .title{border:1px solid #AEAEAE;border-bottom:0;background:url(ccat_bg.gif) repeat-x left top;height:23px;padding-top:1px;}
.bcbody .title h2{background:url(ccat_left.gif) no-repeat left top;float:left;margin-left:5px;}
.bcbody .title h2 span{background:url(ccat_right.gif) no-repeat right top;padding:4px 10px 3px;font-size:12px;display:block;margin-left:5px;}
.bcbody .tabcon{margin:0px 0;clear:both;}

.copyright { font: 9px Arial; color: #333333; text-decoration: none;}
.hotText{
	text-decoration:blink;
}
.freetip { 
    FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
.nicetip { 
    FONT-SIZE: 8pt; COLOR: #FF6600; FONT-FAMILY: Tahoma, Verdana; FONT-WEIGHT:bold
}
.snicetip { 
    FONT-SIZE: 8pt; COLOR: green; FONT-FAMILY: Tahoma, Verdana; FONT-WEIGHT:bold
}
.viptip { 
    FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Tahoma, Verdana; FONT-WEIGHT:bold
}
.pastrecord { 
    FONT-SIZE: 8pt; COLOR: #C6CFD9; FONT-FAMILY: Tahoma, Verdana; FONT-WEIGHT:bold
}
.smallblack {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
.smallwhite {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana
}
.smallgrey {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana
}
.smallorange {
	FONT-SIZE: 8pt; COLOR: #FF6600; FONT-FAMILY: Tahoma, Verdana
}
.smallwhitewhite {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.smallwhitebrown {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; BACKGROUND-COLOR: brown;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.smallwhiteorange {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; BACKGROUND-COLOR: orange;FONT-FAMILY: Tahoma, Verdana;
}
.smallwhiteorangeb {
	FONT-SIZE: 8pt; COLOR: #FFFFFF; BACKGROUND-COLOR: orange;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumgrey {
	FONT-SIZE: 8.5pt; COLOR: #666666; FONT-FAMILY: Tahoma, Verdana;
}
.mediumgreyb {
	FONT-SIZE: 8.5pt; COLOR: #666666; FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumblack {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana;
}
.mediumblackb {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumwhite {
	FONT-SIZE: 8.5pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana; 
}
.mediumwhiteb {
	FONT-SIZE: 8.5pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumgreen {
	FONT-SIZE: 8.5pt; COLOR: Green;FONT-FAMILY: Tahoma, Verdana;
}
.mediumgreenb {
	FONT-SIZE: 8.5pt; COLOR: Green;FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumorange {
	FONT-SIZE: 8.5pt; COLOR: #FF6600;FONT-FAMILY: Tahoma, Verdana;
}
.mediumorangeb {
	FONT-SIZE: 8.5pt; COLOR: #FF6600;FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumred {
	FONT-SIZE: 8.5pt; COLOR: red;FONT-FAMILY: Tahoma, Verdana;
}
.mediumredb {
	FONT-SIZE: 8.5pt; COLOR: red;FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumbrown {
	FONT-SIZE: 8.5pt; COLOR: Brown;FONT-FAMILY: Tahoma, Verdana;
}
.mediumbrownb {
	FONT-SIZE: 8.5pt; COLOR: Brown;FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumblue {
	FONT-SIZE: 8.5pt; COLOR: #0034CD;FONT-FAMILY: Tahoma, Verdana;
}
.mediumwhiteorange {
	FONT-SIZE: 8.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: orange;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumwhitegreen {
	FONT-SIZE: 8.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: green;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.mediumwhitered {
	FONT-SIZE: 8.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: red;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}

.highorange {
	FONT-SIZE: 9.5pt; COLOR: orange;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhite {
	FONT-SIZE: 9.5pt; COLOR: white;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highblack {
	FONT-SIZE: 9.5pt; COLOR: black;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highred {
	FONT-SIZE: 9.5pt; COLOR: red;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highblue {
	FONT-SIZE: 9.5pt; COLOR: #59C1FD;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhiteorange {
	FONT-SIZE: 9.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: orange;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhiteblue {
	FONT-SIZE: 9.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: #59C1FD;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhiteblue2 {
	FONT-SIZE: 9.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: #6c9fcf;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhitegreen {
	FONT-SIZE: 9.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: green;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highwhitered {
	FONT-SIZE: 9.5pt; COLOR: #FFFFFF; BACKGROUND-COLOR: #F05373;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.highblackyellow {
	FONT-SIZE: 12px; COLOR: #666666; BACKGROUND-COLOR: #eeeccc;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
.titlebar {
	color: #000000; font-size: 12px; font-weight: bold;
}

.titlebar2 {
	color: #FFFFFF; font-size: 12px; font-weight: bold;
}

.input {
  filter: alpha(opacity=40);
  color: #000;
  font-family:Tahoma;
  font-size: 8pt;
}
.input2 {
  filter: alpha(opacity=40);
  color: #FF0000;
  font-family:Tahoma;
  font-size: 8pt;
}
.leftblock {
	padding-left:15;
	padding-right:15;
}
TD.fontheader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY:  Tahoma, Verdana
}
.normalboldblack {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY:  Tahoma, Verdana
}
.normalwhitebold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY:  Tahoma, Verdana
}

TD.pdaybg {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana;
	background-image: url(pday.gif);
	background-position : center;
	background-repeat : no-repeat
}

TD.ndaybg {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana;
	background-image: url(nday.gif);
}
.clock  {
	font-size : 8pt;
	color : #000000;
	font-family : Arial, Verdana;
	background-color : #ffffff;
	border-width : 0;
}

.butstyle  {
    cursor:pointer;
    border:outset 1px #ccc;
    color:#000000;
    font-weight:bold;
    padding: 1px 1px;
	font-size : 8pt;
	color : #000000;
	font-family : Tahoma, Verdana;
	background:#999 url(butbg.gif) repeat-x left top;
}


.txtstyle  {
	font-size : 8pt;
	font-family : Tahoma, Verdana;
	background-color : #eeeeee;
	color : #000000;
	font-weight : normal;
	border-width : 1;
	border-color : #B6B6B6
}

.p {
	border-left: 10 solid #eeeeee;
}

.messages {
	line-height: 100%; text-indent: 20; border-bottom: 1 dotted #C0C0C0;
}

a.whitelink:link {color: #FFFFFF; text-decoration: none}
a.whitelink:visited {color: #FFFFFF; text-decoration: none}
a.whitelink:active { color: #FFFFFF; text-decoration: none}
a.whitelink:hover {color: #FFFFFF; text-decoration: underline}

.blacklink {
	FONT-SIZE: 8.5pt;
	FONT-FAMILY: Tahoma, Verdana; font-weight : bold;
}
a.blacklink:link {color: #000000; text-decoration: none}
a.blacklink:visited {color: #000000; text-decoration: none}
a.blacklink:active { color: #000000; text-decoration: none}
a.blacklink:hover {color: #000000; text-decoration: underline}

a.lightblue:link {color: #0045B9; text-decoration: none}
a.lightblue:visited {color: #0045B9; text-decoration: none}
a.lightblue:active { color: #0099FF; text-decoration: none}
a.lightblue:hover {color: #0099FF; text-decoration: underline}

A:visited {text-decoration: none; color: brown}
A:active{text-decoration: none; color: #FF3300}
A:link {text-decoration:none; color: brown}
A:hover {text-decoration: underline; color: #FF6600}
