body{
	background: url('../images/background-01.png') center ;
	background-attachment: fixed;
}

#main-container{
	width:980px;
	margin: 0 auto;
}
#header{
	text-align:center;
	padding:10px 0px 0px 0px;
}
.logo img{
	width:375px;
}
#top_menu{
	background:#f6f4e5;
	width:100%;
	height:32px;
	margin-top:10px;
}

#top_menu ul {
	width: 100%;
	float:right;
	padding:0px;
	margin:0px;
	list-style:none;
	display:block;
}
#top_menu ul li{
	float:right;
	padding: 0px 15px;
	position: relative;
}
#top_menu ul li:Hover{
background:#3a2313;
}
#top_menu ul li.current{
background:#3a2313;
}
#top_menu ul li.current a{
color:#ffffff;
}
#top_menu ul li:first-child{
background:#91c73e;
width:237px;

}
#top_menu ul li a{
	color:#3a2313;
	text-decoration:none;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: bold;
}
#top_menu ul li:Hover a{
color:#FFFFFF;
}
#top_menu ul li:Hover ul li a{
color:#3A2313;
}
#top_menu ul li:Hover ul{
display:block;
}

#top_menu ul li:first-child a{
text-transform: none;
cursor: default;

}

#top_menu ul li ul {
	width: 170%;
	float:right;
	padding:0px;
	margin:0px;
	list-style:none;
	display:none;
	position:absolute;
	top:32px;
	background:#F6F4E5;
	margin-left: -15px;
	z-index: 20;
	text-align:left;
}
#top_menu ul li ul li:first-child{
	background:#F6F4E5;
	width:100%;
	cursor:pointer;
}
#top_menu ul li ul li:first-child a{
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	display: block;
    font-size: 13px;
    width: 100%;
	}
#top_menu ul li ul li a{
	display: block;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
	}
#top_menu ul li ul li{
	padding:0px 10px 0px 20px;
	float:left;
	width:100%;
	background: none repeat scroll 0 0 #F6F4E5;
	cursor:pointer;

}
#top_menu ul li ul li:hover{
	background:#91C73E;
}
#top_menu ul li ul li:hover a{
	color:#FFFFFF;
}
#top_banner{
	width:100%;
	height:420px;
	margin-top:10px;
	overflow: hidden;
	position: relative;
	 background: none repeat scroll 0 0 #F6F4E5;
}

.contact-banner p{
	padding:0px;
	margin:0px;
}
#top_banner p {
	margin:0px;
}

#top_content{
	width:100%;
	float:left;
}
#top_content div{
	float:left;
	padding-right:10px;
}
#top_content div:last-child{
	padding-right:0px;

}
#top_content p{margin:0px;}
#content_wap{
	margin-top:15px;
	
}

#footer{width:100%;float:left;color:#754d29;background:#F6F4E5;margin: 15px 1px 0;}
#footer .custom{
	width:auto;
	float:left;
	padding-right: 25px;
	padding-left:13px; 
	border-left:dotted 1px #754d29;
	text-align:center;
	margin-top: 15px;
	height: 105px;
	margin-bottom: 15px;
	}
#footer .custom img{width:50px;}
#footer .custom p{margin:0px;}
#footer .custom h3{margin:10px;}
#category-hsanpham-content{
	width:743px;
}
.sanpham{
	width:210px;
	height:225px;
	padding:10px 12px 10px 15px;
	background:#f6f4e5;
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
}
.no-margin-left{margin-left:0px;}
.sanpham p{margin:0px;padding:0px;}
.sanpham img{width:210px;height:135px;}
.pro-pagination{
	height:30px;
	background: url('../images/arrow.png') no-repeat right;
}
.page-button{
	display:block;
	height:30px;
	width:50px;
	float:right;
	margin-right:15px;
}
.pro-left{
	width:743px;
	float:left;
}
.pro-right{
	width:237px;
	float:left;
	background:#f6f4e5;
	height:530px;
}
.pro-right .title{
	background:#056839;
	margin:0px;
	padding:5px;
	text-align:center;
	color:#FFFFFF;
}
.pro-name{
	color:#3b2414;
	font-size:16px;
	font-weight: bold;
	height:39px;
	display:block;
}

.pro-short-desc{
	color:#3b2414;
	font-size:14px;
	height:25px;
}
.pro-price-container{
	height:30px;
}

.price-value{
	height:24px;
	float:right;
	width:90px;
	text-align:center;
	background:#3a2313;
	color:#FFFFFF;
	font-size:13px;
	font-weight: bold;
	line-height: 24px;
}

.time-value{
	height:24px;
	float:left;
	width:110px;
	text-align:left;
	color:#3a2313;
	font-size:13px;
	font-weight: bold;
	line-height: 24px;
}

.mpro-container{
	border:#8f6a4d solid 1px;
	height: 94%;
    padding:0% 5%;
    width: 90%;
    overflow: hidden;
    position:relative;

	
}

.mpro-container .sanpham{
	padding:0px;
	height:175px;
	text-align: center;
}

.mpro-container .sanpham img {
    height: 105px;
    width: 165px;
}
.mpro-container .pro-name{text-align:center;}
.mpro-container .pro-price-container{position:relative;}
.mpro-container .price-value{left: 50%;
    margin: 0 auto 0 -60px;
    position: absolute;
    width: 120px;}
    
#slider{
	position:absolute;
	top:11px;
	left:0;    	
}
.contact-banner{
	width:100%;
	text-align:center;
	background:#f6f4e5;
	padding:13px 0px;
}

.contact-box{
	width:485px;
	height:300px;
	float:left;
	background:#f6f4e5;
	margin-top:10px;
}
.map-box{
	width:485px;
	height:290px;
	padding-top:10px;
	float:left;
	background:#f6f4e5;
	margin-left:10px;
	margin-top:10px;
	text-align:center;
}
.bank-acc-box {
    background: none repeat scroll 0 0 #F6F4E5;
    height:80px;
    width:100%;
    float:left;
    margin-top:15px;
    }
  .acc-name-box{
  	text-align:center;
    height:70px;
    width:200px;
    margin:5px;
    float:left;
     border-right: 1px dotted #754D29;
  }
  .acc-name-box p{margin:10px;}
 .acc-detail-box{
  	text-align:center;
    height:70px;
    width:768px;
    float:left;
    margin-top:5px;
     border-right: 1px dotted #754D29;
     font-size:14px;
  }
   .acc-detail-box p{margin:0px;}
   .acc-detail-box table{
   	width:100%;
   }
   .fancy img{
   	width:600px;
   }
   #system-message{
   background:	none repeat scroll 0 0 #F6F4E5;
   }