{include file=$include_header}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="150" valign="top">
						{include file=$include_left}
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
					                        <td width="100%" align="left" class="text_red">CHI TIẾT TIN</td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="center" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Loại tin rao&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.category_name}{$categoryName}
					                               	</td>
					                               	<td rowspan="5">
					                					{if $estate.estate_video neq ''}
															<object classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" 
																	codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715" 
																	standby="Loading Microsoft Windows Media Player components..." type="application/x-oleobject"
																	viewastext="" width="190" height="190"
																>
																<param name="FileName" value="{#AUD_ESTATE_DIR#}{$estate.estate_video}">
																<param name="TransparentAtStart" value="true">
																<param name="AutoStart" value="true">
																<param name="AnimationatStart" value="false">
																<param name="ShowControls" value="true">
																<param name="ShowDisplay" value="false">
																<param name="playCount" value="999">
																<param name="displaySize" value="0">
																<param name="Volume" value="100">
																<embed 	type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" 
																		src="{#AUD_ESTATE_DIR#}{$estate.estate_video}" name="MediaPlayer" transparentatstart="0" 
																		autostart="1" playcount="999" volume="100animationAtStart=0" displaysize="0" width="220" height="220">
															</object>
														{else}
															{if $estate.estate_image1 ne ''}
				                                          		<img src="{#IMG_ESTATE_DIR#}thumb_{$estate.estate_image1}" width="150" class="border_img_white" />
				                                          	{else}
				                                          		<img src="{#IMG_ESTATE_DIR#}spacer.gif" width="150" class="border_img_white" />
				                                          	{/if}
					                					{/if}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Tiêu đề&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_title}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Vị trí&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_address} - {$estate.district_name} - {$estate.province_name}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Diện tích&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_area}
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Giá&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;
					                               		<strong>
						                               		<font color='red'>
						                               			{if $estate.estate_price > 0}
							                               			{$estate.estate_price|money_format:"."}&nbsp;
							                               			{if $estate.estate_price_type == 0}VNĐ 
							                               			{elseif $estate.estate_price_type==1} Lượng vàng SJC 
							                               			{else} USD 
							                               			{/if}
							                               			{if $estate.is_price_in_m2 eq "1"}
								                           			/m2
								                           			{/if}
							                               			{if $estate.is_price_negotiable eq '1'}
							                               				(Có thể thỏa thuận)
							                               			{/if}
							                               		{else}
							                               			(Thỏa thuận)
							                               		{/if}
						                               		</font>
					                               		</strong>
					                               	</td>
	                            				</tr>
					          					</table>
	                          					
	                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
	                          					<tr>
					                              	<td width="20%" align="left" valign="top" style="font-weight: bold;">
					                              		Mô tả chi tiết
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$estate.estate_note}
					                               	</td>
	                          					</tr>
	                          					</table>
	                          					<br />
								<!--
	                          					< ! -- Thong tin lien he -- >
	                          					{if ($estate.member_name neq $estate.contact_person) && ($estate.member_mail neq $estate.member_mail)}
	                          					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Thông tin liên hệ</legend>
		                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Họ và tên</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_person}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_mail}
		                          						</td>
		                          					</tr>
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Tên công ty</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_company}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_phone}
		                          						</td>
		                          					</tr>
		                          					<tr>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_address}
		                          						</td>
		                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Website</td>
		                          						<td align="left">
		                          							:&nbsp;{$estate.contact_website}
		                          						</td>
		                          					</tr>
		                          					</table>
	                          					</fieldset>
	                          					<br />
	                          					{/if}
								-->
	                          					<!-- Thong tin lien he -->
	                          					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Thông tin người đăng&nbsp;</legend>
		                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						<td style="padding-right: 5px;">
	                          							{if $memberData.member_genre eq 1}
		                          							{if $memberLogo neq ""}
		                          							<img src="{#LOGO_DIR#}{$memberData.member_id}.jpg" class="border_img" width="132px" height="102px"/>
		                          							{else}
		                          								<img src="frontend/images/logo.jpg" class="border_img" />
		                          							{/if}
		                          						{else}
		                          							<img src="frontend/images/freeuser.jpg" class="border_img" />
		                          						{/if}
		                          						</td>
		                          						<td width="100%" align="left">
		                          							<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                          					<tr>
				                          						<td height="19" width="30%" align="left" valign="middle" style="font-weight: bold;">Công ty / Cá nhân</td>
				                          						<td align="left">
				                          							:&nbsp;{$memberData.member_name}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email</td>
				                          						<td align="left">
				                          							:&nbsp;<a href="mailto:{$estate.member_mail}" style="color: #D70B2E;">{$memberData.member_mail}</a>
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại</td>
				                          						<td align="left">
				                          							:&nbsp;{$memberData.member_phone}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc</td>
				                          						<td align="left">
				                          							:&nbsp;{$memberData.member_address}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Website</td>
				                          						<td align="left">
				                          							:&nbsp;<a href="{$estate.member_website}" target="_blank" style="color: #0000FF;">{$memberData.member_website}</a>
				                          						</td>
				                          					</tr>
		                          							</table>
		                          						</td>
		                          					</tr>
		                          					</table>
	                          					</fieldset>
	                          					
	                          					<!-- Button post -->
	                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
	                          					<tr>
	                          						<td align="center" style="padding-top: 15px;">
	                          							<form action="" name="frmdetail" id="frmdetail" method="post">
	                          								{if $estate.deleted_date eq ''}
	                          								<input type="button" id="delete" name="delete" value="Xóa bỏ" onclick="window.location=('?hdl=member/list&state=4&delete={$estate.estate_id}');" />
	                          								{else}
	                          								<input type="button" id="restore" name="restore" value="Đăng lại" onclick="window.location=('?hdl=member/detail&restore=1&estateid={$estate.estate_id}');" />
	                          								{/if}
	                          								<input type="button" id="edit" name="edit" value="Sửa đổi" onclick="window.location=('?hdl=member/post&estateid={$estate.estate_id}');" />
	                          								<input type="hidden" name="estateid" id="estateid" value="{$estate.estate_id}" />
	                          							</form>
	                          						</td>
	                          					</tr>
	                          					</table>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
		
{include file=$include_footer}