{include file=$include_header}
	{literal}
	<script language="javascript" type="text/javascript">
		var ajaxObj = new XMLHTTP("services.php");
		function select_parent(val){
			ajaxObj.call('action=Category&act=SelectParent&category_id='+val, select_parent_resp);
		}
		function select_parent_resp(resp) {
			if(resp.result == '1') {
				var model = document.getElementById("estate[child_id]");
				ClearOption("estate[child_id]");
				var modelOption1 = document.createElement('option');
				modelOption1.text = "Lựa chọn";
	  			modelOption1.value = '';
	  			try {
	    			model.add(modelOption1, null); // standards compliant; doesn't work in IE
	  			}
	  			catch(ex) {
	    			model.add(modelOption1); // IE only
	  			}
				if(resp.data){
				var id = resp.data.id;
				for(var i = 0; i < id.length; i++){
					var modelOption = document.createElement('option');
	  				modelOption.text = resp.data.title[i];
	  				modelOption.value = id[i];
	
	  				try {
	    				model.add(modelOption, null); 
	  				}
	  				catch(ex) {
	    				model.add(modelOption); 
	  				}
				}
				}
			} else {
				alert(resp.result);
			}
		}
		function select_province(val){
			ajaxObj.call('action=Province&act=SelectProvince&province_id='+val, select_province_resp);
		}
		function select_province_resp(resp) {
			ClearOption("estate[district_id]");
			if(resp.result == '1') {
				var model = document.getElementById("estate[district_id]");
				var modelOption1 = document.createElement('option');
				modelOption1.text = "Lựa chọn huyện";
	  			modelOption1.value = '';
	  			try {
	    			model.add(modelOption1, null); // standards compliant; doesn't work in IE
	  			}
	  			catch(ex) {
	    			model.add(modelOption1); // IE only
	  			}
				if(resp.data){
					var id = resp.data.id;
					for(var i = 0; i < id.length; i++){
						var modelOption = document.createElement('option');
		  				modelOption.text = resp.data.title[i];
		  				modelOption.value = id[i];
		
		  				try {
		    				model.add(modelOption, null); 
		  				}
		  				catch(ex) {
		    				model.add(modelOption); 
		  				}

		  				document.getElementById('estate_validate_district').value="1";
					}
				}
			} else {
				alert(resp.result);
			}
		}
		function ClearOption(id){
			document.getElementById('estate_validate_district').value="0";
			var list = document.getElementById(id);
			for(var i=list.length-1;i>=0;i--){
				list.remove(i);
			}
		}
	</script>
	{/literal}
		<!-- Begin center area -->
     	<tr>
       		<td>
       			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- Begin left area -->
		            <td width="150" valign="top">
						{include file=$include_left}
						<form action=""></form>
	            	</td>
					<!-- End left area -->
					
					<!-- Begin right area -->
	            	<td align="right" valign="top">
		            	<table width="99%" border="0" cellpadding="0" cellspacing="0">
		              	<tr>
		                	<td valign="top">
		                		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			                  	<tr>
				                    <td>
					                    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c3.jpg">
					                    <tr>
					                       	<td><img src="frontend/images/c1.jpg" width="7" height="32" /></td>
				                          	<td width="100%" align="left" class="text_red">
				                          		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                              	<tr>
					                				<td align="left" name="{$items.value}_hdl" dir="ltr" style="color: #CF242C;">
					                					ĐĂNG TIN
					                				</td>
				                              	</tr>
				                            	</table>
				                            </td>
					                        <td><img src="frontend/images/c2.jpg" width="7" height="32" /></td>
					                    </tr>
					                    </table>
				                    </td>
			                  	</tr>
			                  	<tr>
			                    	<td>
			                    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                        <tr>
				                          	<td width="3" background="frontend/images/c4.jpg"></td>
				                          	<td align="left" bgcolor="#F5F9FD" style="padding-top: 20px; padding-bottom: 20px;">
				                          		<form action="" name="frmpost" id="frmpost" method="post" enctype="multipart/form-data">
				                          		
				                          		<input type="hidden" name="estate[needValidate]" id="estate_validate_district" value="{$estate.needValidate}">
				                          		<table width="98%" border="0" cellpadding="0" cellspacing="0">
				                          	{if $messageSuccess neq ''}
	                        					<tr>
					                              	<td colspan="2" height="25" align="left" valign="middle" style="color: #FF0000;">
														<fieldset style="text-align:left;">
															<legend accesskey="Q" style="font-weight: bold;">Thông báo hệ thống</legend>
															{$messageSuccess}
														</fieldset>
					                                </td>
		                        				</tr>
		                        			{else}
					                            {if $message ne ''}
					                            <tr>
					                              	<td colspan="2" height="25" align="left" valign="middle" style="color: #FF0000;">
														<fieldset style="text-align:left;">
															<legend accesskey="Q" style="font-weight: bold;">Thông báo hệ thống</legend>
															{$message}
														</fieldset>
					                                </td>
	                            				</tr>
	                            				{/if}
	                            				
					                            <tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Tiêu đề&nbsp;
					                                </td>
					                               	<td width="100%" align="left" valign="middle">
					                               		:&nbsp;<input type="text" name="estate[estate_title]" id="estate[estate_title]" class="form_search" value="{$estate.estate_title}" style="width: 365px;" />
					                               	</td>
	                            				</tr>
	                            				
	                            				 <tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Mô tả ngắn&nbsp;
					                                </td>
					                               	<td width="100%" align="left" valign="middle">
					                               		:&nbsp;<input type="text" name="estate[estate_intro]" id="estate[estate_intro]" class="form_search" value="{$estate.estate_intro}" style="width: 365px;" />
					                               	</td>
	                            				</tr>
	                            				
	                            				 <tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Tên liên hệ&nbsp;
					                                </td>
					                               	<td width="100%" align="left" valign="middle">
					                               		:&nbsp;<input type="text" name="estate[estate_name_contact]" id="estate[estate_name_contact]" class="form_search" value="{$estate.estate_name_contact}" style="width: 365px;" />
					                               	</td>
	                            				</tr>
	                            				
	                            				<tr>
					                              	<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">
					                              		Điện thoại Liên hệ&nbsp;
					                                </td>
					                               	<td width="100%" align="left" valign="middle">
					                               		:&nbsp;<input type="text" name="estate[estate_phone_contact]" id="estate[estate_phone_contact]" class="form_search" value="{$estate.estate_phone_contact}" style="width: 365px;" />
					                               	</td>
	                            				</tr>
	                            				
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Loại tin rao&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:
														<select name="estate[category_id]" 
														id="estate[category_id]" class="dropdown" 
														onChange="select_parent(this.options[selectedIndex].value)">
															<option value=""> Lựa chọn
															{foreach item=items from=$CategoryList}
															<option value="{$items.category_id}" {if $estate.category_id
															 eq $items.category_id && $estate.category_id
															 ne ''}selected="selected"{/if}>
															{$items.category_name}
															</option>
															{/foreach}
														</select>
														<select name="estate[child_id]" id="estate[child_id]" 
														class="dropdown" >
															<option value=""> Lựa chọn
															{if $estate.category_id neq ""}
																{foreach item=items from=$ChildList}
																<option value="{$items.child_id}" {if $estate.child_id
																 eq $items.child_id && $estate.child_id 
																 ne ''}selected="selected"{/if}>
																 {$items.child_name}
																 </option>
																{/foreach}
															{/if}
														</select>
					                               	</td>
	                            				</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		<br />
					                              		Vị trí&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		<table cellpadding="0" cellspacing="0">
					                               		<tr>
					                               			<td valign="bottom">
					                               			<br />
					                               			&nbsp;&nbsp;(VD: số 120 Lạch tray)<br />
					                               			:&nbsp;<input type="text" name="estate[estate_address]" id="estate[estate_address]" value="{$estate.estate_address}" class="form_search" style="width: 250px;" />
					                               			
					                               			</td>
					                               			<td style="padding-left: 5px;" valign="bottom">
									                          	<select name="estate[province_id]" id="estate[province_id]" class="dropdown" onChange="select_province(this.options[selectedIndex].value)">
									                            	<option value="">Lựa chọn tỉnh</option>
									                            	{foreach item=provinces from=$ProvinceList}
									                            	<option value="{$provinces.province_id}" {if $estate.province_id eq $provinces.province_id && $estate.province_id ne ''} selected="selected" {/if}>{$provinces.province_name}</option>
									                            	{/foreach}
									                          	</select>
					                               			</td>
					                               			<td style="padding-left: 5px;" valign="bottom">
								                          		<select name="estate[district_id]" id="estate[district_id]" class="dropdown">
								                              		<option value="">Lựa chọn huyện</option>
									                            	{foreach item=districts from=$DistrictList}
									                            	<option value="{$districts.district_id}" {if $estate.district_id eq $districts.district_id && $estate.district_id ne ''} selected="selected" {/if}>{$districts.district_name}</option>
									                            	{/foreach}
								                          		</select>
					                               			</td>
					                               		</tr>
					                               		</table>
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		<br />
					                              		Giá&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		<br />
					                               		&nbsp;&nbsp;(Bạn chỉ có thể gõ giá theo 2 cách: VD: <b>1.000.000</b> hoặc <b>1000000</b>, không được gõ <b>1 triệu</b> hoặc <b>1,000,000</b>)
					                               		<br />
					                               		:&nbsp;<input type="text" name="estate[estate_price]" id="estate[estate_price]" value="{$estate.estate_price}" class="form_search" style="width: 100px;" />
					                               		&nbsp;<select name="estate[estate_price_type]">
															  	<option value="0" {if $estate.estate_price_type==0} selected="selected" {/if}>VNĐ</option>
																<option value="1" {if $estate.estate_price_type==1} selected="selected" {/if}>Lượng vàng SJC</option>
																<option value="2" {if $estate.estate_price_type==2} selected="selected" {/if}>USD</option>									
															  </select>
														<br />
														<input type="checkbox" name="estate[is_price_in_m2]" {if $estate.is_price_in_m2 eq '1'} checked {/if} id="is_price_in_m2_">
															Giá trên 1m2
														<br />
														<input type="checkbox" name="estate[is_price_in_month]" {if $estate.is_price_in_month eq '1'} checked {/if} id="is_price_in_month_">
															Giá trên tháng 
														<br />
														<input type="checkbox" name="estate[is_price_negotiable]" {if $estate.is_price_negotiable eq '1'} checked {/if} id="is_price_negotiable_">
														<label for="is_price_negotiable_">Có thể thỏa thuận 
														(Trong trường hợp chưa có giá thì tích vào "Có thể thoả thuận")
					                               	</td>
	                            				</tr>
	                            				
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		<br />
					                              		Diện tích mặt bằng&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		<br />
					                               		:&nbsp;<input type="text" name="estate[estate_area]" id="estate[estate_area]" value="{$estate.estate_area}" class="form_search" />
					                               	</td>
	                            				</tr>
	                            				
	                            				<tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		<br />
					                              		Diện tích sử dụng&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		<br />
					                               		:&nbsp;<input type="text" name="estate[estate_area_use]" id="estate[estate_area_use]" value="{$estate.estate_area_use}" class="form_search" />
					                               	</td>
	                            				</tr>
	                            				
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		File video&nbsp;
					                                </td>
					                               	<td align="center" valign="middle">
					                               		<input type="file" name="estate_video" id="estate_video" class="inputfield" />({$smarty.const.VIDEO_FORMAT})
					                               		<input type="hidden" name="estate[estate_video]" id="estate[estate_video]" value="{$estate.estate_video}" />
					                               		<br />
					                               		{if $estate.estate_video neq ''}
															<object classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" 
																	codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715" 
																	standby="Loading Microsoft Windows Media Player components..." type="application/x-oleobject"
																	viewastext="" width="190" height="190"
																>
																<param name="FileName" value="{#AUD_ESTATE_DIR#}{$estate.estate_video}">
																<param name="TransparentAtStart" value="true">
																<param name="AutoStart" value="true">
																<param name="AnimationatStart" value="false">
																<param name="ShowControls" value="true">
																<param name="ShowDisplay" value="false">
																<param name="playCount" value="999">
																<param name="displaySize" value="0">
																<param name="Volume" value="100">
																<embed 	type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" 
																		src="{#AUD_ESTATE_DIR#}{$estate.estate_video}" name="MediaPlayer" transparentatstart="0" 
																		autostart="1" playcount="999" volume="100animationAtStart=0" displaysize="0" width="220" height="220">
															</object>
					                               			<input type="checkbox" name="delete[0]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ảnh mô tả lớn&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;<input type="file" name="estate_image1" id="estate_image1" class="inputfield" />
					                               		<input type="hidden" name="estate_image[1]" id="estate_image[1]" value="{$estate_image[1]}" />
														
					                               		{if $estate_image[1] neq ''}
					                               			<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image[1]}" width="90" height="70" class="border_img" />
					                               			<input type="checkbox" name="delete[1]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ảnh mô tả một&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;<input type="file" name="estate_image2" id="estate_image2" class="inputfield" />
					                               		<input type="hidden" name="estate_image[2]" id="estate_image[2]" value="{$estate_image[2]}" />
					                               		{if $estate_image[2] neq ''}
					                               			<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image[2]}" width="90" height="70" class="border_img" />
					                               			<input type="checkbox" name="delete[2]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ảnh mô tả hai&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;<input type="file" name="estate_image3" id="estate_image3" class="inputfield" />
					                               		<input type="hidden" name="estate_image[3]" id="estate_image[3]" value="{$estate_image[3]}" />
					                               		{if $estate_image[3] neq ''}
					                               			<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image[3]}" width="90" height="70" class="border_img" />
					                               			<input type="checkbox" name="delete[3]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ảnh mô tả ba&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;<input type="file" name="estate_image4" id="estate_image4" class="inputfield" />
					                               		<input type="hidden" name="estate_image[4]" id="estate_image[4]" value="{$estate_image[4]}" />
					                               		{if $estate_image[4] neq ''}
					                               			<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image[4]}" width="90" height="70" class="border_img" />
					                               			<input type="checkbox" name="delete[4]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ảnh mô tả bốn&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;<input type="file" name="estate_image5" id="estate_image5" class="inputfield" />
					                               		<input type="hidden" name="estate_image[5]" id="estate_image[5]" value="{$estate_image[5]}" />
					                               		{if $estate_image[5] neq ''}
					                               			<img src="{#IMG_ESTATE_DIR#}thumb_{$estate_image[5]}" width="90" height="70" class="border_img" />
					                               			<input type="checkbox" name="delete[5]" value="1" /> Xóa
					                               		{/if}
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Hướng&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:
														<select name="estate[estate_direction]" id="estate[estate_direction]" class="dropdown">
															<option value="">Chọn Hướng
															{foreach item=items from=$Direction}
															<option value="{$items.value}" {if isset($estate.estate_direction) && ($estate.estate_direction==$items.value)} selected {/if}>{$items.text}</option>
															{/foreach}
														</select>
													</td>
												</tr>
					                            <tr>
					                              	<td height="25" align="left" valign="middle" style="font-weight: bold;">
					                              		Ngày ngừng rao tin&nbsp;
					                                </td>
					                               	<td align="left" valign="middle">
					                               		:&nbsp;{$duration}&nbsp; (Ngày/tháng/Năm)
													</td>
												</tr>
												
												
												
	                          					<tr>
	                          						<td height="25" width="20%" align="left" valign="middle" style="font-weight: bold;">Mô tả</td>
	                          						<td align="left" style="padding-top: 15px;">
	                          							<!-- textarea name="estate[estate_note]" id="estate[estate_note]" class="textarea">{$estate.estate_note}</textarea -->
	                          							{$estate_note}
	                          						</td>
	                          					</tr>
	                          					
	                          					</table>
	                          					
	                          					<br />
	                          					
	                          					<script language="javascript">
	                          					{literal}
	                          						function showHideForm(formId){
	                          							var object = document.getElementById(formId);
														var displayStyle = object.style.display==""?"none":(object.style.display=="block"?"none":"block");
														document.getElementById("displayStyle").value = displayStyle;
														object.style.display=displayStyle;
	                          						}
	                          					{/literal}
	                          					</script>
	                          					<!--<input type="hidden" name="displayStyle" id="displayStyle" value="{$displayStyle}" />
	                          					<input type="checkbox" {if $displayStyle eq "none"}checked{/if} onClick="showHideForm('contactForm');" id="temp"><label for="temp">Liên hệ qua thông tin người đăng</label>
	                          					<br />
	                          					<span id="contactForm" style="display:{$displayStyle};">
		                          					<br />
		                          					< ! -- Thong tin lien he -- >
		                          					<fieldset style="text-align:left;">
		                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Thông tin liên hệ</legend>
			                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
			                          					<tr>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Họ và tên</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_person]" id="estate[contact_person]" class="form_search" value="{$estate.contact_person}" style="width: 200px;" />
			                          						</td>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_mail]" id="estate[contact_mail]" class="form_search" value="{$estate.contact_mail}" style="width: 200px;" />
			                          						</td>
			                          					</tr>
			                          					<tr>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Tên công ty</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_company]" id="estate[contact_company]" class="form_search" value="{$estate.contact_company}" style="width: 200px;" />
			                          						</td>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_phone]" id="estate[contact_phone]" class="form_search" value="{$estate.contact_phone}" style="width: 200px;" />
			                          						</td>
			                          					</tr>
			                          					<tr>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_address]" id="estate[contact_address]" class="form_search" value="{$estate.contact_address}" style="width: 200px;" />
			                          						</td>
			                          						<td height="20" width="15%" align="left" valign="middle" style="font-weight: bold;">Website</td>
			                          						<td align="left">
			                          							:&nbsp;<input type="text" name="estate[contact_website]" id="estate[contact_website]" class="form_search" value="{$estate.contact_website}" style="width: 200px;" />
			                          						</td>
			                          					</tr>
			                          					</table>
		                          					</fieldset>
		                          				</span>
												<br />
												-->
	                          					<!-- Thong tin lien he -->
	                          					<!--Contact info-->
	                          					<input type="hidden" name="contact_person_auto" value="{$memberData.member_name}" />
	                          					<input type="hidden" name="contact_mail_auto" value="{$memberData.member_mail}" />
	                          					<input type="hidden" name="contact_company_auto" value="" />
	                          					<input type="hidden" name="contact_phone_auto" value="{$memberData.member_phone}" />
	                          					<input type="hidden" name="contact_address_auto" value="{$memberData.member_address}" />
	                          					<input type="hidden" name="contact_website_auto" value="{$memberData.member_website}" />
	                          					<!--Contact info-->
	                          					<fieldset style="text-align:left;">
	                          						<legend accesskey="Q" style="font-weight: bold; color: #135A97;">Thông tin người đăng&nbsp;</legend>
		                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
		                          					<tr>
		                          						<td style="padding-right: 5px;">
	                          							{if $memberData.member_genre eq 1}
		                          							{if $memberLogo neq ""}
		                          							<img src="{#LOGO_DIR#}{$memberData.member_id}.jpg" class="border_img" width="132px" height="102px"/>
		                          							{else}
		                          								<img src="frontend/images/logo.jpg" class="border_img" />
		                          							{/if}
		                          						{else}
		                          							<img src="frontend/images/freeuser.jpg" class="border_img" />
		                          						{/if}
		                          						</td>
		                          						<td width="100%" align="left">
		                          							<table width="100%" border="0" cellpadding="0" cellspacing="0">
				                          					<tr>
				                          						<td height="19" width="30%" align="left" valign="middle" style="font-weight: bold;">Công ty / Cá nhân:&nbsp;</td>
				                          						<td align="left">
				                          							{$memberData.member_name}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ email:&nbsp;</td>
				                          						<td align="left">
				                          							<a href="mailto:{$memberData.member_mail}" style="color: #D70B2E;">{$memberData.member_mail}</a>
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Số điện thoại:&nbsp;</td>
				                          						<td align="left">
				                          							{$memberData.member_phone}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Địa chỉ liên lạc:&nbsp;</td>
				                          						<td align="left">
				                          							{$memberData.member_address}
				                          						</td>
				                          					</tr>
				                          					<tr>
				                          						<td height="19" width="15%" align="left" valign="middle" style="font-weight: bold;">Website:&nbsp;</td>
				                          						<td align="left">
				                          							<a href="{$estate.member_website}" target="_blank" style="color: #0000FF;">{$memberData.member_website}</a>
				                          						</td>
				                          					</tr>
		                          							</table>
		                          						</td>
		                          					</tr>
		                          					</table>
	                          					</fieldset>
	                          					<!-- Button post -->
	                          					<table width="98%" border="0" cellpadding="0" cellspacing="0">
	                          					<tr>
	                          						<td align="center" style="padding-top: 15px;">
	                          							<input type="submit" id="save" name="save" value="Lưu lại" />
	                          							<input type="submit" id="post" name="post" value="Đăng tin" />
	                          						</td>
	                          					</tr>
	                          					{/if}
	                          					</table>
	                          					</form>
	                          				</td>
	                          				<td width="4" background="frontend/images/c5.jpg"></td>
	                        			</tr>
	                    				</table>
	                    			</td>
	                  			</tr>
	                  			<tr>
	                    			<td>
	                    				<table width="100%" border="0" cellpadding="0" cellspacing="0" background="frontend/images/c8.jpg">
				                        <tr>
				                          	<td><img src="frontend/images/c6.jpg" width="8" height="8" /></td>
				                          	<td width="100%"></td>
				                          	<td><img src="frontend/images/c7.jpg" width="7" height="8" /></td>
				                        </tr>
	                    				</table>
	                    			</td>
				                </tr>
				                </table>
							</td>
						</tr>
						</table>
					</td>
					<!-- End right area -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- End center area -->
{if $messageSuccess neq ''}
	<script language="javascript">
		window.location.assign('index.php?hdl=member/index');
	</script>
{/if}		
{include file=$include_footer}