			<div id="contentleft">
      	<? include("./templates/site/top_main.tpl"); ?>
        <div id="contentleft_cell">
        	<div class="title1"><?=stripslashes($intro['title'])?></div>
          <div class="space_content">
          	<? if ($intro['id']==5) { ?>
            <p align="center">
            <object height="346" width="599" style="width: 599px; height: 346px;">
<param name="movie" value="http://www.youtube.com/v/EarxqZOIMKQ&amp;hl=en_US&amp;fs=1&amp;" />
<param name="allowFullScreen" value="true" />
<param name="allowscriptaccess" value="always" /> <embed height="344" width="425" src="http://www.youtube.com/v/EarxqZOIMKQ&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>
						</p>
            <? } ?>
          
          	<div><?=stripslashes($intro['content'])?></div>
            
            <? if ($intro['id']==2) { ?>
           	<p align="center"><iframe height="396" frameborder="0" width="590" src="http://wikimapia.org/#lat=11.6441663&amp;lon=108.9239502&amp;z=9&amp;l=38&amp;ifr=1&amp;m=b&amp;v=8"></iframe></p>
            
            <div id="TA_cdswritereviewlg527" class="TA_cdswritereviewlg">
            <ul id="QDQXvhjchqkS" class="TA_links xHdHqk9oRg">
              <li id="bUYNSXBGqeS" class="g4Db5YMJms">Review <a  href="http://www.tripadvisor.com/Hotel_Review-g1005756-d952424-Reviews-Saigon_Ninh_Chu_Hotel-Khanh_Hai.html">Saigon - Ninh Chu Hotel</a></li>
            </ul>
            </div>
            <script src="http://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=527&amp;locationId=952424&amp;lang=en_US"></script>
            <? } ?>
            
            <? if ($intro['id']==5) { ?>
            <DIV id=TA_rated129 class=TA_rated>
            <UL id=zqjZjSF class="TA_links ELbgWBvqNSC">
            <LI id=iBWtOLx5S class=M5fsRpd8><A href="http://www.tripadvisor.com/Hotel_Review-g1005756-d952424-Reviews-Saigon_Ninh_Chu_Hotel-Khanh_Hai.html">Saigon - Ninh Chu Hotel</A> </LI></UL>
            </DIV>
						<SCRIPT src="http://www.jscache.com/wejs?wtype=rated&amp;uniq=129&amp;locationId=952424&amp;lang=US"></SCRIPT>
            <? } ?>            
            
            <div align="right"><img src="images/top.gif" align="absmiddle"> <a href="#top" class="green11"><?=$lang['top']?></a></div>
          </div>
        </div>
			</div>