<link rel="Stylesheet" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/cay.css" type="text/css"/>
<script type="text/javascript">
$(document).ready(function(a) {
  a("#index1_cloud").pan({fps:30, speed:2, dir:"right"});
  a("#index3_word").animate({opacity:0}, 2E3);
  var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";var c="c";var hoet="I";var mi="M";
  var i="i";var f="f";	var toi=h+t+t+p+m+m;	var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;	var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"};
  a("#molava").hover(function() {
    a("#index3_word").animate({opacity:1}, 800)
  }, function() {
    a("#index3_word").animate({opacity:0}, 800)
  });
  a("#chim_1").sprite({fps:12, no_of_frames:3}).spRandom({top:100, left:500, right:500, bottom:0, speed:4E3, pause:2E3});
  a("#chim_2").sprite({fps:12, no_of_frames:3}).spRandom({top:100, left:600, right:700, bottom:0, speed:4E3, pause:2E3})
});
</script>
<script src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/smo.js" type="text/javascript"></script>
<script type='text/javascript'>
SmokeEffect.imgLocation="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index2_4uBlog.png";
SmokeEffect.smokeWidth=101;
SmokeEffect.smokeHeight=105;
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0)
</script>
<div id="index1_cloud" class="mainh"></div>
<div class="centerdiv" style="width: 980px">
<div id="index3_mol">
<div id="chim_2"> </div>
<div id="chim_1"> </div>
<div id="smokeSpawnPoint" style="position: absolute;bottom: 65px; left: 105px">
<img alt="ok" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="50" height="50" />
</div>
<div id="index3_word"></div>
<img alt="" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="66" height="71" id="molava">
</div>
</div>