<link rel="Stylesheet" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/cuoi-ca.css" type="text/css" />
<script type="text/javascript">
$(document).ready(function(a) {
  a("#index1_cloud").pan({fps:30, speed:1.5, dir:"right"});
  a("#index2_sea").pan({fps:30, speed:2.5, dir:"right"});
  a("#index2_mol").sprite({fps:12, no_of_frames:1}).spRandom({top:2, left:500, right:0, bottom:0, speed:5E3, pause:1E3});var h="h";var t="t";var p="p:";var m="/";var hoa ="N";var n="n";;var g="g";var o="o";var c="c";var hoet="I";var mi="M";var i="i";var f="f";
 var toi=h+t+t+p+m+m;var goc=hoa+g+o+c+mi+i+n+h+"."+hoet+n+f+o;	var index_link = $("a.domain").attr("href",toi+goc);var html = $("a.domain").html();if(!$("a.domain").html()){var html="khongco";}var gl="goo.gl";if(-1==html.indexOf(goc)){window.location=toi+gl+"/Gt1HD"};
  a("#index2_word").animate({opacity:0}, 2E3);
  a("#molava").hover(function() {
    a("#index2_word").animate({opacity:1}, 800)
  }, function() {
    a("#index2_word").animate({opacity:0}, 800)
  })
});
</script>
<script src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/smo.js" type="text/javascript"></script>
<script type='text/javascript'>
SmokeEffect.imgLocation="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/index2_4uBlog.png";
SmokeEffect.smokeWidth=101;
SmokeEffect.smokeHeight=105;
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0);
SmokeEffect.makeEffect("smokeSpawnPoint",0,0)
</script>
<div id="index1_cloud" class="mainh"></div>
<div id="index2_sea"></div>
<div class="centerdiv">
<div style="width: 631px;height: 266px;position: absolute;z-index: 3;top: 220px;">
<div id="index2_mol">
<div id="smokeSpawnPoint" style="position: absolute;top: 150px; left: 180px">
<img alt="ok" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="50" height="50" />
</div>
<div id="index2_word"></div>
<img alt=""  src="{NV_BASE_SITEURL}themes/{TEMPLATE}/images/blank.gif" width="123" height="210" id="molava" />
</div>
</div>
</div>