/*Тело*/
body{color : #515151; font-size: 12px; font-family: Tahoma; background-color: #fff; margin: 0; padding: 0;}
a:link, a:visited{color: #298629; text-decoration: none;}
a:hover{color: #ce7e06; text-decoration: none;}
/*Поля ввода и кнопки*/
input, textarea, select{color: #6d6d6d; background-color: #fff; background-image: url(images/menu.gif); background-repeat: repeat-x; background-position: 50% top; margin-right: 1px; margin-bottom: 1px; padding: 1px 4px; border: 1px solid #cecece;}
input:hover, textarea:hover, select:hover{color: #ce7e06; background-color: #fff; background-image: url(images/menu.gif); background-repeat: repeat-x; background-position: 50% bottom; margin-right: 1px; padding: 1px 4px; border: 1px solid #cecece;}
input:focus, textarea:focus, select:focus{color: #003000; background-color: #c6ff94; background-image: url(images/menu.gif); background-repeat: repeat-x; background-position: 50% top; margin-right: 1px;
padding: 1px 4px; border: 1px solid #cecece;}

form{margin: 0; padding: 0;}
h3{margin: 0; padding: 0; padding-bottom: 2px;}
hr{margin-top: 2px; margin-bottom: 2px; border-top: 1px solid #e3e3e3; border-right-style: none; border-right-width: 0; border-bottom-style: none; border-bottom-width: 0; border-left-style: none; border-left-width: 0;}
p{margin-top: 6px; margin-bottom: 6px;}
ul{margin: 0; padding-left: 20px;}

.header, .footer{background-image: url(images/header.gif); color: #fffaee; background-color: #006100; background-repeat: repeat-x; background-position: 50% top; margin-bottom: 1px; padding: 3px; border-top: 1px solid #003000; border-bottom: 1px solid #003000;}
.footer a{color: #fffaee; text-decoration: none; border-bottom: 1px dotted #fff;}
.footer a:hover{text-decoration: none; color: #fffaee; border-bottom: 1px dotted #d7ccb4;}
.tmn, .fmenu{color: #52462b; background-color: #e28b08; background-image: url(images/tmn.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 3px; border-top: 1px solid #787878; border-bottom: 1px solid #787878;}
.tmn a:link, .tmn a:visited, .fmenu a:link, .fmenu a:visited{color: #52462b; text-decoration: none; border-bottom: 1px dotted #fff;}
.tmn a:hover, .fmenu a:hover{color: #ce7e06; border-bottom: 1px dotted #ce7e06;}
.bmenu, .phdr, .hdr{color: #fffaee; text-shadow: #4f4f4f 1px 1px 1px;
background-color: #4c494e; background-image: url(images/bmenu.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #666666;}
.bmenu a, .phdr a, .hdr a{color: #fffaee; border-bottom: 1px dotted #b1a485;}
.bmenu a:hover, .phdr a:hover, .hdr a:hover{color: #fffaee; border-bottom: 1px dotted #d7ccb4;}
.gmenu{color: #d68a08; background-color: #ffdb73; background-image: url(images/gmenu.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #ffdb73;}
.maintxt{background-color: #fff; margin: 1px; padding-right: 1px; padding-left: 1px; border: 1px solid #cecece;}
.menu, .news{background-color: #fff;
background-image: url(images/menu.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #cecece;}
.rmenu, .alarm{color: #ff6163; background-color: #ffe3e7; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #f7b6bd;}
.end{text-align: center;}
.list1, .b{background-color: #f7ffe7;
margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #cecece;}
.list2, .c{background-color: #efffde; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #cecece;}
/*Первое сообщение форума*/
.clip{color: #217d21; border: 1px solid #cecece; font-size: x-small; background-color: #fff; padding: 4px 4px 8px;}

/*Цитата*/
.quote{border-left: 4px solid #c1c1c1;
color: #878787; font-size: x-small;
padding: 2px 0 2px 4px; margin-left: 2px;}
/*Ответ админа*/
.reply {border-left: 4px solid #ef9610; color: #217d21; padding: 2px 0 2px 4px;}
/*Описание ниже сообщения*/
.sub{border-top: 1px dotted #298a29; font-size: x-small; margin-top: 4px;}
.sub a:link, .sub a:visited{text-decoration: none;}
.status{color: #ef9610; font-weight: bold; font-size: x-small; padding-left: 0;}
.func{border-left: 4px solid #e8930d;
color: #757575; font-size: x-small;
margin-top: 4px; margin-left: 2px;
padding-left: 4px;}

.gray{color: #848484;}
.green{color: #66bd00;}
.red, .red a:link, .red a:visited{color: #ff3031;}

.phpcode{color: #848484; background-color: #fff; border: 1px dotted #298a29; margin-top: 4px;
padding: 0 2px;}
.left{float: left;}

/*Design by Savab
http://savab.org.ru
Icq: 206-13-15*/
