		<tr>
			<td height="5"></td>
		</tr>
		</table>
		<!-- Begin footer area -->
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
       	<tr>
			<td height="27" align="center" bgcolor="#D3DDF1">
         		<table width="60%" border="0" cellpadding="0" cellspacing="0">
           		<tr>
			        <td align="center" width="15%"><a href="index.php" class="text_blue"><strong>Trang chủ</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
			        <td align="center" width="15%"><a href="index.php?hdl=index&news=0" class="text_blue"><strong>Tin tức</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		{foreach item=cates from=$CategoryFoo}
	              	<td align="center"><a href="?hdl=inform&cateid={$cates.category_id}" class="text_blue"><strong>{$cates.category_name}</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		{/foreach}
	              	<td align="center" width="15%"><a href="index.php?hdl=index&news=1" class="text_blue"><strong>Phong thủy</strong></a></td>
	              	<td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
	              	<td align="center" width="15%"><a href="index.php?hdl=inform&cateid=0" class="text_blue"><strong>Dự án</strong></a></td>
	              	<td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
               			<tr>
                 			<td></td>
               			</tr>
             			</table>
             		</td>
			        <td align="center" width="15%"><a href="index.php?hdl=interior" class="text_blue"><strong>Mẫu nội thất</strong></a></td>
			        <td align="center">
			            <table width="1" height="11" border="0" cellpadding="0" cellspacing="0" bgcolor="#135A97">
		                <tr>
							<td></td>
		                </tr>
             			</table>
             		</td>
             		<td align="left">
             			<a href="?hdl=contact" class="text_blue">
             				&nbsp;&nbsp;&nbsp;<strong>Liên hệ</strong>
             			</a>
             		</td>
           		</tr>
         		</table>
          	</td>
        </tr>
        <tr>
          	<td height="1" bgcolor="#C1D0EC"></td>
        </tr>
        <tr>
          	<td height="44" align="center" bgcolor="#E5EBF7">
          		Văn phòng 36 Văn Cao - Hải Phòng – ĐT: 031 384 7979 – Email: <a href="mailto:nhadatvanminh@gmail.com">nhadatvanminh@gmail.com</a>
          		<br />
          		Giấy phép ICP số 180/GP-TTĐT do Cục Quản lý phát thanh, Truyền hình và Thông tin điện tử cấp ngày 30/09/2008
          		<br />
          		© Nhadatvanminh.com.vn,   All Rights Reserved,  Designed by <a href="http://www.thefocusco.com" target="_blank">Focus Software</a>.
            </td>
        </tr>
      	</table>
	  	<!-- End footer area -->
	</td>
	<td width="4" background="frontend/images/bg_right.jpg"></td>
</tr>
</table>
</body>
{literal}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6610690-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
try {
_uacct = "UA-6610690-1";
urchinTracker();
} catch(err) {}
</script>
{/literal}
</center>
</html>