/*TP Jobs Style*/
/*http://www.templateplazza.com*/

fieldset.tpj_fieldset {
	border:1px solid #CCCCCC;
	padding:10px;}
.tpj_fieldset  legend{
	font-size:140%;
	padding:10px;
	font-weight:700;}
ul#tpj_topmenuglobal {
	padding:0;
	margin:0;

	}
ul#tpj_topmenuglobal li {

	display:block;
	padding:4px 7px;
background:url(../images/bgmenu1.gif) #F08F1D repeat-x;
	margin:0;
	text-align:left;
	color:#FFFFFF;
	line-height:normal;
	float:left;
	}
ul#tpj_topmenuglobal li:hover {
	background: #d67b10;
}
ul#tpj_topmenuglobal li a:link,
ul#tpj_topmenuglobal li a:visited {
	color:#FFFFFF;
	}
ul#tpj_topmenuglobal li a:hover {
	text-decoration:none;}

/*usermenu + suckerfish*/

#tpj_topmenu {
	margin:0;
	padding:0;

	}
#tpj_topmenu li {
	display:block;
	padding:4px 7px;
	background:url(../images/bgmenu2.gif) #2B2B2B repeat-x;
	margin:0;
	text-align:left;
	color:#FFFFFF;
	line-height:normal;
	float:left;
	height:1%;
	}
#tpj_topmenu li:hover {
	background: #111111;
}
#tpj_topmenu li a {
	color:#FFFFFF;
	display:block;
	}
#tpj_topmenu li li {
	background-image:none;
	background:#111111;}
#tpj_topmenu li li:hover {
	background:#000000;}
#tpj_topmenu li a:hover {
	text-decoration:none;
	}

#tpj_topmenu li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	margin:0.2em 0 0 -0.6em;
	padding:0;
}

#tpj_topmenu li:hover ul,
#tpj_topmenu li.tpjsfish ul {
	left: auto;
}

#tpj_topmenu li li a {
	display:block;
	width:10em;
	}
.tpj_h3title {
	background:url(../images/bgtpjh3title.gif) #D2D0D0 bottom repeat-x;
	display:block;
	color:#FFFFFF;
	padding:10px;
	font-size:14px;
	font-weight:400;
	line-height:normal;
	margin:10px 0;
}

.tpj_rowhead th{
	background:#B5B3B3;
	padding:5px 10px;
	text-align: left;
	color:#FFFFFF;}
.tpj_row0 td{
	text-align: left;
	border-bottom:1px solid #ccc;
	padding:3px 10px;
}
.tpj_row1 td {
	text-align: left;
	border-bottom:1px solid #ccc;
	padding:3px 10px;
		background:#f0f0f0;}
.tpj_row3   {
	padding:5px 10px;
	background:#f0f0f0;
	border-bottom:3px solid #ccc;}
.tpj_row3 select {
	margin-left:10px;}
.tpj_footer {
	font-size:10px;
	padding-top:10px;
	}
#editor-xtd-buttons {
	display:none;
}
.shortdesc {
	background:#FEF092;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #FED173;}
.tpj_frontdesc1 {
	padding:10px;
	background:url(../images/bgfrontdesc1.jpg) no-repeat #fff left bottom;
}
.tpj_frontdesc1 h1 {
		color:#333;
		font-weight:700;}
.tpj_frontdesc1 h3 {
		color:#333;
		font-weight:700;}
.tpj_frontdesc2  {
	padding:10px;
	background:url(../images/bgfrontdesc2.jpg)no-repeat #fff top right;
}
.tpj_frontdesc2 h1 {
		color:#333;
		font-weight:700;}
.tpj_frontdesc2 h3 {
		color:#333;
		font-weight:700;}
.tpj_frontlist li {

/*	margin-left:40px;*/
	padding:0;
	}
a.tpj_regemployer {
	background:url(../images/regemployer.gif) no-repeat;
	
	display:block;
	width:170px;
	height:30px;
	text-indent:-5000px;}
a.tpj_regemployer:hover {
	background:url(../images/regemployer.gif) 0 -30px no-repeat;
}

a.tpj_regjobseeker {
	background:url(../images/regjseeker.gif) no-repeat;
	display:block;
	width:170px;
	height:30px;
	text-indent:-5000px;}
a.tpj_regjobseeker:hover {
	
	background:url(../images/regjseeker.gif) 0 -30px no-repeat;
}
.tpj_welcomeh3 {
	background:#ACDE9B;
	color:#fff;
	padding:10px;
	margin:10px 0;
	font-weight:400;}
.tpj_tblborder td {
			border:1px solid #dddbdb;}
.limit {
margin-bottom:5px;
}
.counter {
	padding-top:5px;}