/*
Design by Gaucer
ICQ 6981278
*/
body {
  background-color: #f2f9fa;
  color: #253032;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 11pt;
  margin: auto;
  max-width: 500px;
  background-image: url(images/bgus.gif);
}

form {
  font-size: small;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0 0 2px 0;
}

hr {
  border: 0;
  border-top: 1px solid orange;
  margin: 0;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  width: 99%;
}

input, textarea, select {
  background: #fff;
  border: 1px solid #2F8D9C;
  color: #686868;
  padding: 3px;
  margin: 1px;
  -moz-border-radius:5px;
  border-radius:5px;
  max-width: 90%;
}

select:focus {
  border: 2px solid #05abe1;
}

input:hover {
border: 1px solid #05abe1;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.alarm {
  background-color: #FF0000;
  border: 1px solid white;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0 3px 4px;
}

.bblist {
  color: #4A5663;
  background: transparent url(../../images/dot.gif) no-repeat left;
  padding: 0px 0px 0px 10px;
}

.bmenu {
  background-color: #f3fafb;
  border: 1px solid #ccc;
  margin: 0;
  padding: 2px 4px 4px 4px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.end {
  text-align: center;
}

.fmenu {
  background-color: #5DD1F6;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 1px 5px 3px;
  -moz-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
}

.header {
  background-color: #5DD1F6;
  background-repeat: repeat-x;
  background-image: url(images/hd.png);
  background-position: top;
  color: #fff;
  padding: 4px 0 5px 4px;
  -moz-border-radius: 10px 10px 0 0;
  border-radius:10px 10px 0 0;
}

.footer {
  background-color: #5DD1F6;
  background-image: url(images/ft.png);
  background-repeat: repeat-x;
  background-position: bottom;
  color: #fff;
  padding: 6px 0 5px 0;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.func {
  border-left: 3px solid #5DD1F6;
  color: #757575;
  font-size: x-small;
  margin-left: 2px;
  margin-top: 4px;
  padding-left: 4px;
}

.gmenu {
  background-color: #c9e9ee;
  border: 1px solid #ccc;
  margin: 1px 0;
  padding: 3px 4px 3px 4px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gray {
  color: #586776;
}

.greply {
  border-left: 4px solid #009900;
  color: #009900;
  padding: 2px 0 2px 4px;
}

.hdr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #595959;
  font-weight: bold;
  padding-left: 2px;
}

.left {
  float: left;
}

.list1 {
  background-color: white;
  border: 1px solid #ccc;
  margin: 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.list2 {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  margin:1px 0;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.maintxt {
  font-weight: normal;
  padding: 4px;
}

.menu {
  background-color: #FBFBFB;
  border: 1px solid #ccc;
  color: #626262;
  margin: 2px 0;
  padding: 5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.news {
  background-color: #d4e7f7;
  color: #38757F;
  font-size: small;
  padding: 4px;
  margin:0 4px 3px 4px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 30px #DCDDDE;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.phdr {
  color: #05ABE1;
  background-color: #c7c9cb;
  background-image: url(images/phdr.png);
  background-repeat: repeat-x;
  padding: 5px;
  margin: 1px 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.phpcode {
  background-color: #e4e9e0;
  border: 1px dotted #d3e0c7;
  margin-top: 4px;
  padding: 0 2px 0 2px;
  overflow: auto;
}

.quote {
  border-left: 4px solid #c0c0c0;
  color: #878787;
  font-size: x-small;
  margin-left: 2px;
  padding: 2px 0 2px 4px;
}

.reply {
  border-left: 4px solid #EE0000;
  color: #EE0000;
  padding: 2px 0 2px 4px;
}

.rmenu {
  background-color: #e9ccd2;
  padding: 3px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin: 2px 0;
}

.sitemap {
  background-color: #d4e7f7;
  padding: 2px 4px 6px 4px;
  font-size: x-small;
  height: 40px;
  overflow: auto;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px solid #fff;
}

.status {
  color: #FF8E30;
  font-size: x-small;
  font-weight: bold;
  padding-left: 0;
}

.sub {
  border-top: 1px dotted #dfead7;
  font-size: x-small;
  margin-top: 4px;
}

.tmn {
  background-color: #5DD1F6;
  background-repeat: repeat-x;
  color: #ffffff;
  padding: 7px 0 10px 4px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.topmenu {
  font-size: 9pt;
  padding: 4px;
  margin-bottom: 1px;
  background-color: #5DD1F6;
  background-image: url(images/ft.png);
  background-repeat: repeat-x;
  background-position: bottom;
  -moz-border-radius:5px;
  border-radius:5px;
}

.topmenu input{
  font-size: x-small
}

.user {
  background-color: #ecece6;
  border: 1px solid #ccc;
  padding: 4px;
  -moz-border-radius:5px;
  border-radius:5px;
   margin: 1px 0;
}

.greply a:link, .greply a:visited {
  color: #008800;
}

.reply a:link, .reply a:visited {
  color: #DD0000;
}

.fmenu a:link, .fmenu a:visited {
  color: #fff;
  text-decoration: none;
}

.fmenu a:hover, .footer a:hover {
  color: #000;
  text-decoration: none;
}

.footer a:link, .footer a:visited {
  background-color: #05abe1;
  padding: 3px 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px solid #fff;
  color: #fff;
}

.footer a:hover {
  color: #38757F;
  background-color: #5dd1f6;
  border: 1px solid #05abe1;
}

.tmn a:link, .tmn a:visited {
  color: #fff;
  background-color: #05abe1;
  padding: 4px 6px;
  border: 1px solid #fff;
  -moz-border-radius:5px;
  border-radius:5px;
}

.tmn a:hover {
	color:#fff; 
	background-color: #5dd1f6;
	border: 1px solid #05abe1;
}

.topmenu a:visited, .topmenu a:link {
	color: #fff
}

.topmenu a:hover {
	color: #ccc
}

.phdr a:link, .phdr a:visited {
	color: #1a1a1a;
}

.phdr a:hover {
	color: #05abe1;
}

a:active, a:link, a:visited {
  color: #00869e;
  text-decoration: none;
}

a:hover {
  color: #73ADD2;
  text-decoration: none;
}

.currentpage {
    color: #59ab28;
    background-color: #edebeb;
    border: 1px solid #ccc;
    padding: 0px 5px 0px 5px;
}

a.pagenav {
    border: 1px solid #fff;
    padding: 0px 3px 0px 3px;
}

a.pagenav:hover {
    background-color: #fff;
    border: 1px solid #dedede;
}
img {border: none; vertical-align: middle;}

.green, .green a:link, .green a:visited {
  color: #008000;
}

.red, .red a:link, .red a:visited {
  color: #FF0000;
}

.alarm a:link, .alarm a:visited {
  color: #FFFFFF;
  font-size: x-small;
}

.clip a:link, .clip a:visited {
  color: #424e59;
}
