*{margin:0;padding:0}
body{background:#001941;color:#bebebe;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px;margin:0}
a{text-decoration:none}
a:hover{text-decoration:underline}h1,h2,h3,h4{font-family:Arial,sans-serif;color:#444}
button,.button{
	background:#de4438; color:#fff;cursor:pointer;display:inline-block;font:600 12px Tahoma,Arial,sans-serif;margin-right:10px;padding:10px 20px;position:relative;text-decoration:none;
}
.forget{background:#e5e5e5; color:#555}
button:hover,.button:hover{border-bottom-color:#999;border-left-color:#999;border-right-color:#999;border-top-color:#999;text-decoration:none}.wrap{margin:0 auto;width:400px}#content{margin:120px 0 10px 0}#content .b1{background:#fff}#content .b2{background:#eaeaea}
#content #main{float:right;margin:0 0 12px 0;width:450px; padding-bottom:20px;}
#main form  .gyc{background:#2675ec; border:none}
#main .full_w{
	background:#fff;color:#848484;margin:0 0 5px 0;overflow:hidden;
}
#main .full_w .h_title{background:url(img/bg_box_head.jpg) repeat-x;color:#bebebe;font-size:11px;font-weight:normal;height:22px;padding:7px 0 0 15px;text-shadow:#0E0E0E 0px 1px 1px}.left{float:left;width:230px}.right{float:right;width:215px}.right h3{margin:0 0 8px 0}.right p{margin:0 0 8px 0}#main form{margin:25px}#main form .element{clear:both;border-bottom:1px dashed #ededed;display:block;margin:0;padding:10px 10px}#main form label{color:#000;display:block;font-size:12px;font-weight:bold;margin:0 0 8px 0;padding:0 0 0 3px}#main form label span{color:#b8b8b8;font-size:11px;font-weight:normal}#main form input,#main form select,#main form textarea{
	background:#FFF;border:1px solid #DDD;font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;padding:8px 5px
}
#main form input:focus,#main form select:focus,#main form textarea:focus{border:1px solid #b3b3b3}#main form select{border:1px solid #DDD;border-radius:3px}#main form .text{margin:0 0 12px 0;width:98%}
#main form .ok{
	background:#de4438; border:none;
}
#main .footer{margin:0 15px;text-align:center;text-shadow:1px 1px 0px #fff}#main .footer a{color:#bebebe}
#main .n_warning{background:#FFF7CE;border:1px solid #D9C65B;border-radius:3px;margin:20px 15px;padding:1px}#main .n_warning p{background:#FDF0B1 url(img/i_warning.png) no-repeat 4px center;color:#756B30;padding:7px 25px}#main .n_warning a{color:#756B30;font-weight:bold}#main .n_ok{background:#F6FFEC;border:1px solid #89B755;border-radius:3px;margin:20px 15px;padding:1px}#main .n_ok p{background:#DFF6C5 url(img/i_ok.png) no-repeat 4px center;color:#496528;padding:7px 25px}#main .n_ok a{color:#756B30;font-weight:bold}#main .n_error{background:#FDE4E1;border:1px solid #B16A6C;border-radius:3px;margin:20px 15px;padding:1px}#main .n_error p{background:#F4CAC6 url(img/i_error.png) no-repeat 4px center;color:#630E18;padding:7px 25px}#main .n_error a{color:#756B30;font-weight:bold}.entry{color:#444;margin:5px 0;padding:5px 15px;text-shadow:0px 1px #fff}.sep{border-bottom:1px dashed #DDD;margin:10px 0}.clear{clear:both}.align-left{text-align:left}.align-right{text-align:right}
div.warning{background:none repeat scroll 0 0 #FDE4E1; border:1px solid #B16A6C; color:#FF5252; margin-bottom:10px; padding:7px; text-align:center}
.forget_box{margin: auto;background: #0486a0;padding: 15px;}
.forget_box .sep{margin:5px 0px}
.forget_box .forget_h2 h2{padding-bottom:0px; color:#fff; font-weight:600}
.forget_box p{font-size:11px; line-height:1.5}

#main .full_w label.user-icon{
	background:url(img/user-icon.png) no-repeat left center; padding-left:22px;	font-size:13px;
}
#main .full_w label.pass-icon{
	background:url(img/pass-icon.png) no-repeat left center; padding-left:22px;	font-size:13px;
}
#main .full_w label.email-icon{
	background:url(img/i_contact.png) no-repeat left center; padding-left:22px; font-size:13px;	
}