#header #nav{
	height: 27px;
	margin:0;
	padding: 5px 0px 0px;
	position: relative;
}

#header #nav ul{
	list-style: none;
}
#header #nav ul li.upp{
	display: inline;
	float: left;
	position: relative;
	margin: 0;
	text-align: center;
}
#header #nav ul li.upp:first-child a{
	padding:0px 17px 11px 0px;
}
#header #nav ul li.upp a{
	color: #fff;
	display: block;
	padding: 0px 20px 11px 10px;
	text-align: center;
}
#header #nav ul li.upp:last-child a{
	padding-right:0px;	
}
#header #nav ul li.upp a:hover{
	color: #f07e01;
	text-decoration:none;
	background:#f88529 ;
}
#header #nav ul li.upp a .active{
	color: #f07e01;
}

#header #nav ul li.upp ul{
	display: none;
}
#header #nav ul li.upp:hover ul{
	background: #17181c;
	border: 1px solid #58585a;
	border-top: none;
	display: block;
	position: absolute;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 9999;
}
#header #nav ul li.upp ul li{
	color: #fff;
	display: block;
	padding: 0 0 0 8px;	
	text-align: left;
	width: 208px;
}
#header #nav ul li.upp ul li a{
	background: none;
	display: inline-block;
	padding: 6px 25px 6px 4px;
}
#header #nav ul li.upp ul li a:hover{
}

ul.navi{
	background:#131313;	
	margin-bottom:20px;
}
#sidebar ul.navi li a{
	height:50px;
	line-height:50px;
	display:block;
	border-bottom: 1px solid #222;
	color:#fff;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
}
ul.navi li a.sidebarhover{
	padding-left:45px;
	cursor:pointer;
}
ul.navi li.active{
	background:#1171a3;
}
ul.navi li a.sidebarhover:hover{
	padding-left:45px;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
	text-decoration:none;
}
ul.navi li a.bangdieukhien{	background:url(img/Data-Information.png) no-repeat 15px center;}
ul.navi li a.bangdieukhien:hover{background: url(img/Data-Information.png) no-repeat 15px center #1171a3;}
ul.navi li a.taikhoan{background:url(img/Customer.png) no-repeat 15px center;}
ul.navi li a.taikhoan:hover{background: url(img/Customer.png) no-repeat 15px center #1171a3;}
ul.navi li a.taikhoan:after{content:url(img/Navigation-Right.png); float:right; margin-right:20px; margin-top:17px}

ul.navi li a.menu{background:url(img/Navigation-Pane.png) no-repeat 15px center;}
ul.navi li a.menu:hover{background: url(img/Navigation-Pane.png) no-repeat 15px center #1171a3;}
ul.navi li a.sanpham{background:url(img/Product.png) no-repeat 15px center;}
ul.navi li a.sanpham:hover{background: url(img/Product.png) no-repeat 15px center #1171a3;}
ul.navi li a.sanpham:after{content:url(img/Navigation-Right.png); float:right; margin-right:20px; margin-top:17px}

ul.navi li a.slider{background:url(img/Slider.png) no-repeat 15px center;}
ul.navi li a.slider:hover{background: url(img/Slider.png) no-repeat 15px center #1171a3;}
ul.navi li a.slider:after{content:url(img/Navigation-Right.png); float:right; margin-right:20px; margin-top:17px}

ul.navi li a.cauhinh{background:url(img/Settings-01.png) no-repeat 15px center;}
ul.navi li a.cauhinh:hover{background: url(img/Settings-01.png) no-repeat 15px center #1171a3;}
ul.navi li a.dichvu{background:url(img/Device-Walkie-Talkie.png) no-repeat 15px center;}
ul.navi li a.dichvu:hover{background: url(img/Device-Walkie-Talkie.png) no-repeat 15px center #1171a3;}
ul.navi li a.mausac{background:url(img/Display-Contrast.png) no-repeat 15px center;}
ul.navi li a.mausac:hover{background: url(img/Display-Contrast.png) no-repeat 15px center #1171a3;}

ul.navi li a.lienhe{background:url(img/Message-Mail.png) no-repeat 15px center;}
ul.navi li a.lienhe:hover{background: url(img/Message-Mail.png) no-repeat 15px center #1171a3;}


#sidebar ul.navi ul{display:none}
#sidebar ul.navi ul li a{padding-left:40px;font-size: 16px; color:#999; background:#181818}
#sidebar ul.navi ul li a:hover{text-decoration:none; background:#131313}

