*{margin:0;padding:0;}
body{
	color:#fff;
	font-family: 'Open Sans', sans-serif; font-size:15px;margin:0
}
h1,h2,h3,h4{
	font-family: 'Open Sans', sans-serif ;color:#444}a{text-decoration:none}a:hover{text-decoration:underline
}
img{border:none}
button,.button,a.cancel{
	background:#F3F3F3;
	font-weight:300;
	color:#fff;cursor:pointer;
	display:inline-block; font-size:15px; margin-right:10px;
	padding:10px 15px;
	position:relative;text-decoration:none;
}
button:hover,.button:hover{
	border-bottom-color:#999;border-left-color:#999;border-right-color:#999;border-top-color:#999;color:#fff;text-decoration:none}
.wrap{margin:0 auto;width:100%}
#header #top{height: 45px;line-height: 45px;padding: 0px 10px;background:#131313}
#header #top p{text-shadow:#000 0px 1px 1px}
#top .left .sitename>a{font-size:18px; font-weight:600; font-family:Verdana, Geneva, sans-serif}
#header #top a{color:#fff; font-family:'Open Sans', sans-serif;}

#top .right .user-top{float:right;background:url(img/Profile.png) no-repeat left center;
	padding-left:25px; margin-right:20px;}
#top .right .logout-top{
	float:right; background:url(img/Logout.png) no-repeat left center;
	padding-left:20px;	
}
.align-right a:hover{text-decoration:none}

#content{margin:30px 0 0px 0}#content .b1{background:#fff}#content .b2{background:#f7f7f7}#content tr:nth-child(even){background:#fff}#content tr:nth-child(odd){background:#f7f7f7}#content #sidebar{float:left; width:17%}#sidebar a{color:#656565}#sidebar .box{border:1px solid #DCDDE1;margin:0 0 12px 0}
#sidebar .box .h_title{background:url(img/bg_box_head.jpg) repeat-x;color:#bebebe;cursor:pointer;font-size:11px;font-weight:normal;height:22px;padding:7px 0 0 15px;text-shadow:#0E0E0E 0px 1px 1px}#sidebar .box ul{list-style:none}#sidebar .box ul li{padding:8px 0 8px 5px}.box ul li .icon{padding:2px 0 2px 22px}.box ul li .page{background:url(img/i_page.png) no-repeat center left}.box ul li .view_page{background:url(img/i_view_page.png) no-repeat center left}.box ul li .category{background:url(img/i_category.png) no-repeat center left}.box ul li .contact{background:url(img/i_contact.png) no-repeat center left}.box ul li .report{background:url(img/i_report.png) no-repeat center left}.box ul li .add_page{background:url(img/i_add_page.png) no-repeat center left}.box ul li .photo{background:url(img/i_photo.png) no-repeat center left}.box ul li .config{background:url(img/i_config.png) no-repeat center left}.box ul li .users{background:url(img/i_users.png) no-repeat center left}.box ul li .add_user{background:url(img/i_add_user.png) no-repeat center left}.box ul li .block_users{background:url(img/i_block_users.png) no-repeat center left}#content #main{float:right;margin:0 0 12px 0;width:81%}#content #main ul,#content #main ol{list-style-position:inside;margin:0 0 0 35px}#main .full_w{background:#fff;border:1px solid #DCDDE1;color:#848484;margin:0 0 20px 0;overflow:hidden;}
#main .full_w .h_title,#main .half_w .h_title{
	background:#131313; color:#fff;font-size:16px;height:46px;line-height:46px;padding-left:40px;
	font-weight:600; font-family:Verdana, Geneva, sans-serif;
}
#main .full_w .h_product{background:url(img/Product.png) no-repeat 12px center #a2c139;}
#main .full_w .h_bdk{background:url(img/Data-Information.png) no-repeat 12px center #131313;}
#main .full_w .h_menu{background:url(img/Navigation-Pane.png) no-repeat 12px center #a05000;}
#main .full_w .h_service{background:url(img/Device-Walkie-Talkie.png) no-repeat 12px center #f3d240;}
#main .full_w .h_color{background:url(img/Display-Contrast.png) no-repeat 12px center #f09609;}
#main .full_w .h_setting{background:url(img/Settings-01.png) no-repeat 12px center #a51400;}
#main .full_w .h_thongke{background:url(img/Data-Defragmentation.png) no-repeat 12px center #131313;}
#main .full_w .h_account{background:url(img/Customer.png) no-repeat 12px center #1ba1e2;}
#main .full_w .h_slider{background:url(img/Slider.png) no-repeat 12px center #d80073;}
#main .full_w .h_contact{background:url(img/Message-Mail.png) no-repeat 12px center #00aba9;}

#main .full_w .list{list-style:none}
#main .full_w h1,#main .full_w h2,#main .full_w h3{margin:15px 15px 5px 15px}
#main .full_w p{line-height:16px;margin:5px 15px}#main .full_w .success{}#main .half_w{background:#fff;border:1px solid #DCDDE1;color:#848484;margin:0 0 20px 0;width:330px;float:left}#main .half_left{margin-right:10px}#main .half_right{margin-left:4px}#main .stats .today{float:left;margin:0px auto 10px;text-align:center;text-shadow:#fff 1px 1px 0px;width:100%}#main .stats h3{color:#797777;font-size:12px;margin-bottom:5px;text-transform:uppercase}#main .stats .count{color:#444;font-size:20px;font-weight:bold}#main .stats .type{font-size:10px;margin-bottom:5px;text-transform:uppercase}#main form{margin:15px}#main form .element{clear:both;border-bottom:1px dashed #ededed;display:block;margin:0px;padding:10px 10px}
#main form label{color:#444;display:block; font-size:16px;font-weight:400;margin:0 0 5px 0;padding:0 0 0 3px; font-family:Verdana, Geneva, sans-serif}
#main form label span{color:#b8b8b8;font-size:14px;font-weight:normal}
#main form input,#main form select,#main form textarea{
	background:#FFF; border:1px solid #DDD; font-size:13px; font-family:Tahoma,Arial,Helvetica,sans-serif;
	padding: 8px 12px;
}
#main form input:focus,#main form select:focus,#main form textarea:focus{border:1px solid #b3b3b3}
#main form select{border:1px solid #DDD;border-radius:3px;width:160px}
#main form .text, #main form textarea{width: 98%}
#main form .textarea{width:100%}#main form .err{border:1px solid #FF5252}#main form .red{color:#FF5252}#main form label.error{color:#ff5252;margin-top:3px;margin-left:-2px;font-weight:500}

#main .n_warning{background: #F6E37A; margin: 20px 18px -5px 25px; padding: 1px; border: 1px solid #fbeed5;}
#main .n_warning p{color: #B1863A; margin: 0; padding: 15px; background: url(img/i_warning.png) no-repeat 15px center; padding-left: 40px;}

#main .n_ok{background: #F6FFEC;margin: 20px 18px -5px 25px; padding: 1px; border:1px solid #d6e9c6}
#main .n_ok p{color: #468847;margin: 0;padding: 15px; background: url(img/i_ok.png) no-repeat 15px center; padding-left: 40px;}

#main .n_error{background:#FDE4E1; border:1px solid #DAA8A9; margin:20px 18px -5px 25px;padding:1px}
#main .n_error p{background:#F4CAC6 url(img/i_error.png) no-repeat 15px center; color:#630E18;margin:0;padding: 15px;padding-left: 40px;}

table{border-collapse:collapse;margin:15px;width:650px}
table th{background: #3e95ae;color:#DACDCD;border-left:1px solid #fff;border-right:1px solid #fff;font-size:11px;font-weight:bold;padding:7px;}
table tr{border-left:1px solid #fff;border-right:1px solid #fff}
table td{border-bottom:1px solid #fff;border-top:1px solid ffffff;color:#565656;padding:8px}table tr:hover td{background:#fff8cf;color:#000}table .chb{width:20px}.table-icon{width: 30px;height: 30px;display:block;float:left;margin-right:5px}.edit.table-icon{background:url(img/Data-Edit.png) no-repeat center center #3e95ae}.delete.table-icon{background:url(img/Garbage-Closed.png) center center no-repeat #3e95ae}.archive.table-icon{background:url(img/i_archive.png) no-repeat}.pagination{margin:5px auto;padding:12px 0;text-align:center}.pagination a{border:solid 1px #d2d2d2;color:#444; margin-right:2px}.pagination span{border:solid 1px #ddd;margin-right:2px}.pagination .active{border:solid 1px #e0e0e0;color:#000;font-weight:bold}.pagination a:link,.pagination a:visited{padding:6px 10px;text-decoration:none}.pagination span{color:#b6b6b6;padding:6px 10px;text-decoration:none}.pagination a:hover{border:solid 1px #b2b2b2}
#footer{
	background:#131313; color:#fff; float:left; margin:0 auto; 
	width:100%;height:50px;line-height:50px;}
#footer a{color:#ccc;font-weight:bold}
#footer .left p{margin-left:20px;}
.entry{color:#444;margin-bottom:5px;padding:0px 10px 5px;text-shadow:0px 1px #fff}

.add{background:#d38e2c url(img/Add-New.png) no-repeat 8px center;padding-left:30px; text-shadow: none;border:none}
.update{background:#d38e2c url(img/i_update.png) no-repeat 8px center;padding-left:30px;border:none;text-shadow: none}
.btnUpdate{background:#d38e2c url(img/i_del.png) no-repeat 8px center;padding-left:30px; border:none;text-shadow: none}
.cancel{background:#d38e2c url(img/i_delete.png) no-repeat 8px center;padding-left:30px;border:none;text-shadow: none}
.sep{border-bottom:1px dashed #DDD;margin:10px 0}.clear{clear:both}.left{float:left}.right{float:right}.align-left{text-align:left}.align-right{text-align:right}.align-center{text-align:center}.exist{padding:15px;text-align:center;font-size:16px}
#top .sitename a{
	font-size:16px;
}
#top .sitename a:hover{text-decoration:none}

.statics{
	width: 10%; height: 83px; margin-right: 1%;float: left;padding-left: 10%;
	padding-top: 17px;
}
.statics img {
	margin-top:5px; float:left; margin-right:5px;	
}
.statics .statics-number{
	text-align:center; width:100%; color:#fff; float:left;
}
.full_w .sub_tab{
	background-color: #d9edf7;padding: 12px 12px;margin-bottom: 20px;
	border: 1px solid #bce8f1; width:96%; margin-left:10px
}
#content #main .full_w .sub_tab .tabs{list-style:none; overflow:hidden; margin-left:2px}
.full_w .sub_tab .tabs a{color: #3a87ad;}
.full_w .sub_tab .tabs li{
	float:left;	
}
.full_w .sub_tab .tabs li a{
	padding:5px 20px; border:1px solid #41CC41; margin-right:15px; display:block
}
.full_w .sub_tab .tabs li a:hover,.full_w .sub_tab .tabs li a.active{text-decoration:none; background:#62c462; color:#fff; border:1px soloid #063}

#main .no-entry{text-align:center; padding:15px}